<div ng-app="whApp">
	<div class="content pageup">
		<div id="project-dashboard" class="page-layout simple  tabbed">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<nav class="breadcrumb">
					<button>
						<a class="breadcrumb-item" ui-sref="WarehouseInventoryCheck"><b>Click
								here to Go Back</b></a>
					</button>
					<!-- <span
                  class="breadcrumb-item active">Quality Check</span> -->
				</nav>
			</ul>
			<!-- content stats here  -->
			<div class="page-content ">
				<div class="tab-content">
					<div class="tab-pane fade show active" id="home-tab-pane"
						role="tabpanel" aria-labelledby="home-tab">
						<!-- add user form -->
						<div class="tab-pane fade show active" id="home-tab-pane"
							role="tabpanel" aria-labelledby="home-tab">
							<!-- add user form -->
							<div class=" widget widget-7 card ">
							
							 <div class="description bg-purble-custom-100  ">
                        <div class="container">
                           <div class="row">
                              <div class="col-md-6">
                                 <div class="description-text ">
                                    <h5 class="text-white-500">
                                       <span class="text-white-500  icon-search-web"></span>
                                   Inventory Check
                                    </h5>
                                 </div>
                              </div>
                              <div class="col-md-5"></div>
                              <div class="col-md-1 right">
                                 <!--
                                    <button type="button" class="btn btn-icon fuse-ripple-ready filter" data-placement="right" data-toggle="modal" data-target="#exampleModalLive" title="Send the remarks in here ">
                                    
                                    <i class="text-white-500 icon-email-alert" alt="remarks">  </i>
                                    
                                    </button> -->
                              </div>
                           </div>
                        </div>
                     </div>
								<!-- filter button -->
								<div class="widget-content p-4">
									<div class="row">
										<div class="col-md-8 p-4">
											<h5>Process order No:
												{{processOrderForQualityAssurance[0].processorderProdNumber}}</h5>
										</div>
									</div>
									<div class="row">
										<table class="table table-responsive optable">

											<script> 

   window.toggleChevron = function(button) { 

    $(button).find('span').toggleClass('icon-arrow-up icon-arrow-down'); 

} 

</script>

											<thead class="thead-inverse">
												<tr>
													<!--  <th class="text-white-500">Date <i class="icon s-4 text-white-500 icon-sort-ascending">  </i></th> -->
													<th></th>
													<th>Material Code</th>
													<th>Material Description</th>
													<th>Quantity</th>
													<th>Batch Number</th>
													<th>Batch Date</th>
													<th>Remarks by Q/A </th>
												</tr>
											</thead>
											<tbody class="table-border "
												ng-repeat="processOrderlist in processOrderForQualityAssurance">
												<tr class="result-item user thead-white table-border ">
													<td>
														<button type="button" id="exploder"
															class="btn btn-icon fuse-ripple-ready">
															<i class=" text-red-A700 icon-barcode-scan"></i>
														</button>
													</td>
													<!-- <td>
                                          <button type="button"
                                          	class="btn btn-icon fuse-ripple-ready ">
                                          	<a
                                          		href="/suez/file/fileDownload?productNumber={{processOrderlist.productTable.productNumber}}&productType=product"
                                          		target="_blank" data-toggle="tooltip"
                                          		data-placement="left" title=""
                                          		data-original-title="Find the Order PDF"> <i
                                          		class=" text-red-A700 icon-file-pdf"> </i>
                                          	</a>
                                          </button>
                                          </td>
                                          -->
													<td>{{processOrderlist.productTable.productNumber}}</td>
													<td>{{processOrderlist.productTable.productDescription}}
													</td>
													<td>{{processOrderlist.totalQuantity}}</td>
													<td>{{processOrderlist.batchNumber}}</td>
													<td>{{processOrderlist.batchDate}}</td>
													<td>{{processOrderlist.remarks}}</td>
												</tr>






												<tr class="explode hide">
													<td colspan="2"><span class="barcode-des">Process
															Order</span> <img class="img-fluid"
														src=" http://10.174.84.35:8080/static/{{processOrderlist.processorderProdNumber}}.png">
														<!-- <img class="img-fluid"
                                             src=" http://10.174.84.35:8080/static/5947.png">-->
													</td>
													<td colspan="2"><span class="barcode-des">Product
															No</span> <img class="img-fluid"
														src=" http://10.174.84.35:8080/static/{{processOrderlist.productTable.productNumber}}.png">
														<!-- <img class="img-fluid"
                                             src="http://10.174.84.35:8080/static/5947.png"> -->
													</td>
													<td colspan="2"><span class="barcode-des">Batch
															No</span> <img class="img-fluid"
														src=" http://10.174.84.35:8080/static/{{processOrderlist.batchNumber}}.png">
														<!-- <img class="img-fluid"
                                             src="http://10.174.84.35:8080/static/5947.png"> -->
													</td>
												</tr>




											</tbody>
										</table>
									</div>
								</div>
								<div class="row">
									<div class="container">
										<div class="col-md-8 p-2">
											<h5>
												<span class="text-white-500 icon-format-page-break"></span>Packaging
												Orders
											</h5>
										</div>
									</div>
								</div>
								<!-- content starts here -->
								<table class="table table-responsive ">
									<thead class="thead-inverse">
										<tr>
											<th class="text-white-500"></th>
											<th class="text-white-500">Batch Date</th>
											<th>ProcessOrder Number</th>
											<th>Material Code</th>
											<th>Material Description</th>
											<th>Total Quantity</th>
											<th>Weight/Package</th>
											<th>Batch No</th>
											<th>Location Stored</th>
											<th>Container Quantity</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody class="table-border"
										ng-repeat="packingdetail in associatedOrders">
										<tr class="result-item user thead-white table-border">
											<td>
												<button type="button" id="explo"
													class="btn btn-icon fuse-ripple-ready">
													<i class=" text-red-A700 icon-barcode-scan"></i>
												</button>
											</td>
											<!-- <td>
                                    <button type="button"
                                    	class="btn btn-icon fuse-ripple-ready ">
                                    	<a
                                    		href="/suez/file/fileDownload?productNumber={{packingdetail.sixmlNumber}}&productType=pack"
                                    		target="_blank" data-toggle="tooltip"
                                    		data-placement="left" title=""
                                    		data-original-title="Find the Order PDF"> <i
                                    		class=" text-red-A700 icon-file-pdf"> </i>
                                    	</a>
                                    </button>
                                    </td> -->
											<td>{{packingdetail.batchDate}}</td>
											<td>{{packingdetail.processorderPckgNumber}}</td>
											<td>{{packingdetail.sixmlNumber}}</td>
											<td>{{packingdetail.materialMemo}}</td>
											<td>{{packingdetail.totalQuantity}}</td>
											<td>{{packingdetail.wghtPckg}}</td>
											<td>{{packingdetail.batchNumber}}
											<td>
												<div class="form-group">
													<input class="form-control" type="text"
														ng-modal="locationPlaced"
														id="locationPlaced{{packingdetail.processorderPckgNumber}}"
														style="width: 80px;">
												</div>
											</td>
											<td>
												<div class="form-group">
													<input class="form-control" type="number"
														ng-modal="containerQuantity"
														id="containerQuantity{{packingdetail.processorderPckgNumber}}"
														style="width: 80px;">
												</div>
											</td>
											<td><input ng-click="CheckQuality(packingdetail)"
												class="btn btn-secondary right fuse-ripple-ready"
												type="button" value="Inventory Check"
												id="myButton1{{packingdetail.processorderPckgNumber}}"
												style="float: left" /> <!-- <button type="button"
                                       class="btn bg-purble-custom-100 text-white-500 fuse-ripple-ready"
                                       ng-click="CheckQuality(packingdetail)">Check
                                       Quality</button> --></td>
										</tr>



										<tr class="explo hide">
										
										
											<td colspan="5"><span class="barcode-des">Process
													Order</span> <img class="img-fluid"
												src="http://10.174.84.35:8080/static/{{packingdetail.processorderPckgNumber}}.png">
												<!-- <img class="img-fluid"
                                       src="http://10.174.84.35:8080/static/6090976.png"> -->
                                       
                                       
                                       <div class="space1x"></div>
                                       
                                       
                                       	<span class="barcode-des ng-binding"><b>
											Description</b><br>
													{{packingdetail.productNumber}}<br>{{packingdetail.productName}}
											</span> <img class="img-fluid"
												src="http://10.174.84.35:8080/static/{{packingdetail.productNumber}}.png"><br>
											<hr>
												<br> <span class="barcode-des ng-binding">{{packingdetail.containerTable.containerNumber}}<br>
                                    {{packingdetail.containerTable.containerDescription}}
											</span> <img class="img-fluid"
												src="http://10.174.84.35:8080/static/{{packingdetail.containerTable.containerNumber}}.png"> </br>
												<div class="space1x"></div>
												
                                       
                                       
											</td>
											<td colspan="4"><span class="barcode-des">
													Product No</span> <img class="img-fluid"
												src="http://10.174.84.35:8080/static/{{packingdetail.productNumber}}.png">
												<!-- <img class="img-fluid"
                                       src="http://10.174.84.35:8080/static/6090976.png"> -->
                                       
                                       <div class="space1x"></div>
                                       
                                       <span class="barcode-des ng-binding"><b>Quantity</b></br>{{packingdetail.processQuant}}
											</span> <img class="img-fluid"
												src="http://10.174.84.35:8080/static/{{packingdetail.processQuant}}.png"><br>
											<hr> </br>
												
												
												<hr> <span class="barcode-des ng-binding">{{packingdetail.totalQuantity}}</span> <img
												class="img-fluid" src="http://10.174.84.35:8080/static/{{packingdetail.totalQuantity}}.png"> </br>

												<div class="space1x"></div>
												</td>

                                       
                                       
                                       
                                       
											</td>
											<td colspan="2"><span class="barcode-des" style="margin-top:-208px"><br>Batch
													No</span> <img class="img-fluid"
												src="http://10.174.84.35:8080/static/{{packingdetail.batchNumber}}.png">
												<!-- 	<img class="img-fluid"
                                       src="http://10.174.84.35:8080/static/6090976.png"> -->
                                       
                                       	<div class="space1x"></div>
                                       
											</td>


										</tr>

									


									</tbody>


									<tbody>








										<script> 

                            function displayResult() 

        { 

            document.getElementById("sample-data-table").insertRow(-1).innerHTML = '<td>1</td><td>2</td>'; 

        } 

 

                             

                        </script>



										<script>
  
$(document).on('click', '#explo', function() {

    $(this).closest("tr").next("tr").toggleClass("hide");

    if ($(this).closest("tr").next("tr").hasClass("hide")) {
      $(this).closest("tr").next("tr").children("td").slideUp();
    } else {
      $(this).closest("tr").next("tr").children("td").slideDown(350);
    }

  });

</script>





										<tr>
											<td colspan="10"></td>
											<td colspan="1"><button id="showDone" type="button"
													data-toggle="modal"
													class="btn btn-secondary right fuse-ripple-ready"
													ng-show="showDone" ng-click="inventoryDone()">Inventory
													Complete</button></td>
										</tr>
									</tbody>
								</table>
								<!-- content ends here -->
							</div>
						</div>
					</div>
					<!-- add user form ends here -->
				</div>
			</div>
		</div>
		<!-- content ends here -->
	</div>
</div>
</div>