<div class="content" ng-app="whApp">
   <div id="project-dashboard" class="page-layout simple  tabbed">
      <div class="page-content">
         <div class="tab-content">
            <div class="tab-pane fade show active" id="home-tab-pane"
               role="tabpanel" aria-labelledby="home-tab">
               <!-- add user form -->
            </div>
            <!-- widget row ends here -->
            <div class="space1x"></div>
            <div class="tab-pane fade show active" id="home-tab-pane"
               role="tabpanel" aria-labelledby="home-tab">
               <ul class="nav nav-tabs" role="tablist">
                  <nav class="breadcrumb">
                     <a     class="breadcrumb-item white_button " ui-sref="history" style="text-decoration: none; text-transform: none;">
                     <span class="icon-arrow-left s-4
                        " style="padding-right: 7px;">
                     </span><span class="Back">Back</span>
                     </a>
                  </nav>
               </ul>
               <div class=" widget widget-7 card " ng-app="whApp">
                  <div class="description bg-purble-custom-100  ">
                     <div class="container">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="description-text ">
                                 <h5 class="text-white-500">
                                    <span class="text-white-500 icon-bitbucket"></span>
                                    Container History Details
                                 </h5>
                              </div>
                           </div>
                           <div class="col-md-5"></div>
                           <div class="col-md-1 right">
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- filter button -->
                  <div class="widget-content p-4">
                  <div class="row ">
                     <div class="col-md-8 p-4">
                        <span class="title font-weight-bold h5 mr-2">Order</span> <span class="result-count text-muted"> <span class="ng-binding"> </span> {{getContainerDetailsForProcessOrder.length}}<span>Results</span>
                        </span>
                     </div>
                     <div class="col-md-4 p-4">
                        <div id="sample-data-table_filter" class="dataTables_filter ">
                           <label>Search:<input type="search" ng-model="Search" class="search-border ng-pristine ng-untouched ng-valid ng-empty" placeholder="Search" aria-controls="sample-data-table"></label>
                        </div>
                     </div>
                    </div>
                    </div>
                     <table class="table table-responsive optable">
                        <thead class="thead-inverse">
                           <tr>
                              <th>#</th>
                              <th>Batch Date </th>
                              <th>Process Order Number </th>
                              <th>Package Order Number</th>
                              <th>Inventory check date </th>
                              <th>Container Number</th>
                              <th>Container Description</th>
                              <th>Quantity </th>
                              <th>Location stored </th>
                              <th>Inventory Done By</th>
                           </tr>
                        </thead>
                        <tbody class="table-border ">
                           <tr class="result-item user thead-white table-border " dir-paginate="ContainerDetailsForProcessOrder in getContainerDetailsForProcessOrder | filter : Search | itemsPerPage:10" >
                              <td>{{$index+1}}</td>
                              <td>{{ContainerDetailsForProcessOrder.batchDate}}</td>
                              <td>{{ContainerDetailsForProcessOrder.processorderProd.processorderProdNumber}}</td>
                              <td>{{ContainerDetailsForProcessOrder.processorderPckg.processorderPckgNumber}}</td>
                              <td>{{ContainerDetailsForProcessOrder.inventoryCheckDate}}</td>
                              <td>{{ContainerDetailsForProcessOrder.containerTable.containerNumber}}</td>
                              <td>{{ContainerDetailsForProcessOrder.containerTable.containerDescription}}</td>
                              <td>{{ContainerDetailsForProcessOrder.containerQuantity}}</td>
                              <td>{{ContainerDetailsForProcessOrder.location_stored}}</td>
                              <td>{{ContainerDetailsForProcessOrder.user.userName}}</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
                  <nav aria-label="pagination" class="my-8">
                     <dir-pagination-controls max-size="10" direction-links="true"
                        boundary-links="true"> </dir-pagination-controls>
                     <style>
                        .pagination>li>a, .pagination>li>span {
                        position: relative;
                        float: right;
                        padding: 6px 12px;
                        margin-left: 1px;
                        line-height: 1.42857143;
                        color: #428bca;
                        text-decoration: none;
                        background-color: #fff;
                        border: 1px solid #ddd;
                        }
                        .pagination>li>a:hover {
                        color: white;
                        text-decoration: none;
                        background-color: blue;
                        }
                     </style>
                  </nav>
                  <!-- end ngIf: length != 0 -->
                  <!-- end ngIf: length != 0 -->
               </div>
            </div>
         </div>
      </div>
   </div>
</div>