<div class="content" ng-app="whApp">
	<div id="project-dashboard" class="page-layout simple  tabbed">

		<div class="page-content">
			<div class="tab-content">
				<div class="tab-pane fade show active" id="home-tab-pane"
					role="tabpanel" aria-labelledby="home-tab">
					<!-- add user form -->
				</div>
				<!-- widget row ends here -->
				<div class="space1x"></div>
				<div class="tab-pane fade show active" id="home-tab-pane"
					role="tabpanel" aria-labelledby="home-tab">
					<!-- add user form -->
					<div class=" widget widget-7 card pageup">
						<div class="description bg-purble-custom-100  ">

							<div class="container">
								<div class="row">
									<div class="col-md-6">
										<div class="description-text ">
											<h5 class="text-white-500">
												<span class="text-white-500 icon-bitbucket"></span>
												RepackagingOrder Container History
											</h5>
										</div>

									</div>
									<div class="col-md-5"></div>
									<div class="col-md-1 right">
										<!--
                                                            <button type="button" class="btn btn-icon fuse-ripple-ready filter" data-placement="right" data-toggle="modal" data-target="#exampleModalLive" title="Send the remarks in here ">
                                                            
                                                            <i class="text-white-500 icon-email-alert" alt="remarks">  </i>
                                                            
                                                            </button> -->
									</div>

								</div>

							</div>


						</div>
						<!-- filter button -->


						<div class="widget-content p-4">
							
							<div class="row  ">
								<div class="col-md-8 p-4">

									<span class="title font-weight-bold h5 mr-2">Order</span> <span
										class="result-count text-muted"> <span
										class="ng-binding"> {{ContainerDetailsForRepackProcessOrders.length}}</span> <span>Results</span>
									</span>

								</div>
								<div class="col-md-4 p-4">

									<div id="sample-data-table_filter" class="dataTables_filter ">
										<label>Search:<input type="search" ng-model="Search"
											class="search-border ng-pristine ng-untouched ng-valid ng-empty"
											placeholder="Search" aria-controls="sample-data-table"></label>
									</div>
								</div>
								</div>
								</div>
								<div class="row" ng-if="ContainerDetailsForRepackProcessOrders.length == 0">
										<div class="col-12">
											<div id="exampleAccordion" data-children=".item">
												<div class="item">
													<div class="linkshow" style="color: white !important;">
														<a class="nav-link ripple fuse-ripple-ready collapsed">
															<b>No Data Found....Try After Inventory Check</b>
														</a>
													</div>
												</div>
												<div class="space2x"></div>
											</div>
										</div>
									</div>
								

								<table class="table table-responsive optable" ng-if="ContainerDetailsForRepackProcessOrders.length != 0">
									<thead class="thead-inverse">
										<tr>

											<!--  <th class="text-white-500">Date <i class="icon s-4 text-white-500 icon-sort-ascending">  </i></th> -->



											<th>ProcessOrder Number</th>
											<th>Product Name</th>
											<th>Batch Date</th>
											
											<th>Batch Number</th>
											<th>Total Quantity</th>
											<th></th>

										</tr>
									</thead>
									<tbody class="table-border" >

										<tr class="result-item user thead-white table-border " dir-paginate="ContainerDetailsForProcessOrder in ContainerDetailsForRepackProcessOrders | filter : Search | itemsPerPage:5">

											<td>{{ContainerDetailsForProcessOrder.processorderPckgNumber}}</td>
											<td>{{ContainerDetailsForProcessOrder.materialMemo}}</td>
											<td>{{ContainerDetailsForProcessOrder.batchDate}}</td>
											
											<td>{{ContainerDetailsForProcessOrder.batchNumber}}</td>
											<td>{{ContainerDetailsForProcessOrder.processQuant}}</td>

											<td>
												<button type="button"
													class="btn btn-secondary fuse-ripple-ready" ng-click="repackviewDetails(ContainerDetailsForProcessOrder.processorderPckgNumber)">View
													Details</button>
											</td>

										</tr>


									</tbody>
									<!-- end ngRepeat: processOrderlist in processOrdersForQuality | filter : Search -->
									
								</table>
								<nav aria-label="pagination" class="my-8">
										<dir-pagination-controls max-size="5" direction-links="true"
											boundary-links="true"> </dir-pagination-controls>

										<style>
.pagination>li>a, .pagination>li>span {
	position: relative;
	float: right;
	padding: 6px 12px;
	margin-left: 1px;
	line-height: 1.42857143;
	color: #428bca;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
}

.pagination>li>a:hover {
	color: white;
	text-decoration: none;
	background-color: blue;
}
</style>
									</nav>
								






							</div>
							<!-- end ngIf: length != 0 -->
						</div>
					</div>
	
					
				</div>
				
			</div>
			<!-- content ends here -->
						
		</div>