<div class="content" ng-app="whApp">
   <div id="project-dashboard" class="page-layout simple  tabbed">
      <!-- content stats here  -->
      <div class="page-content">
         <ul class="nav nav-tabs" id="myTab" role="tablist">
            <nav class="breadcrumb">
               <a class="breadcrumb-item" href="warehouse.html">Orders</a>
               <span class="breadcrumb-item active">Raw Materials </span>
            </nav>
         </ul>
         <div class="tab-content">
            <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab">
               <!-- add user form -->
               <div class="widget widget-7 card">
                  <div class="description bg-purble-custom-100">
                     <div class="description-text " >
                        <h5 class="text-white-500" ng-model="processOrderDetails" >  <span class="text-white-500 icon-format-page-break"></span> Order Number  :<b> {{processOrderDetails[0].processOrder.processOrder}}</b></h5>
                     </div>
                  </div>
                  <div class="widget-content p-4">
                     <!-- the real content inside widger -->
                     <h5 class="subheading" ng-model="processOrderDetails" >Material Memo :<b>{{processOrderDetails[0].processOrder.product.productName}}</b></h5>
                     <!-- table starts here  -->
                     <table class="table table table-responsive optable">
                        <thead class="table-header-grey  ">
                           <tr>
                              <th>#</th>
                              <th>Item</th>
                              <th>Description</th>
                              <th>Type</th>
                              <th>Phase</th>
                              <th>Batch number</th>
                              <th>Quantity</th>
                              <th>UofM</th>
                              <th></th>
                           </tr>
                        </thead>
                        <tbody class="rawborder table-border " ng-repeat="processSequenceList in processOrderDetails">
                           <tr class="">
                              <th scope="row">{{processSequenceList.processSequenceNumber}}</th>
                              <td>{{processSequenceList.rawmaterial.rawmaterialNumber}}</td>
                              <td>{{processSequenceList.rawmaterial.rawmaterialDescription}}</td>
                              <td>L</td>
                              <td>1100</td>
                              <td>{{processSequenceList.batch.batchNumber}}</td>
                              <td>{{processSequenceList.rawmaterialQuantity}}</td>
                              <td>Kg</td>
                              <td>
                                 <div class="input-group">
                                    <span class="input-group-addon">
                                    <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" aria-label="Checkbox for following text input" >
                                    <span class="checkbox-icon fuse-ripple-ready"></span>
                                    </label>
                                    </span>
                                 </div>
                              </td>
                           </tr>
                           <tr>
                              <th scope="row"></th>
                              <td></td>
                              <td>
                                 <img src="../assets/images/img/001002136214-01.jpg">
                                 <br> 
                                 <p> material </p>
                              </td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td>
                                 <img src="../assets/images/img/001002136214-02.jpg">
                                 <br>
                                 <p> Quantity</p>
                              </td>
                              <td></td>
                              <td></td>
                           </tr>
                        </tbody>
                     </table>
                     <!-- table ends here -->
                     <button id="action-on-bottom-snackbar" class="btn btn-secondary right fuse-ripple-ready" ng-click="done(processOrderDetails[0].processOrder.processOrder)">Done</button>
                     <!-- the real content ends here  -->
                  </div>
               </div>
               <!-- add user form ends here -->
            </div>
         </div>
      </div>
      <!-- content ends here -->
   </div>
   <script type="text/javascript" src="../../resources/assets/js/apps/dashboard/project.js"></script>
</div>