<div ng-app="whApp">
	<div class="content pageup">
		<div id="project-dashboard" class="page-layout simple  tabbed">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<nav class="breadcrumb">
					<button>
						<a class="breadcrumb-item" ui-sref="WarehouseInventoryPosting"><b>Click
								here to Go Back</b></a>
					</button>
					<!-- <span
                  class="breadcrumb-item active">Quality Check</span> -->
				</nav>
				
			</ul>
			
  
			    <style>
    
     .fixmetab > tr {
    display : none;
       border-bottom: 1px solid #dfdfdf;
    }
    .fixmetab > tr.parent {
    display : table-row;
        border-bottom: 1px solid #dfdfdf;
    }
   .fixmetab > tr.open {
       display: table-row;
    background: #3e4684;
    color: white;
    }
    </style>
					
			<!-- content stats here  -->
			<div class="page-content ">
				<div class="tab-content">
					<div class="tab-pane fade show active" id="home-tab-pane"
						role="tabpanel" aria-labelledby="home-tab">
						<!-- add user form -->
						<div class="tab-pane fade show active" id="home-tab-pane"
							role="tabpanel" aria-labelledby="home-tab">
							<!-- add user form -->
							<div class=" widget widget-7 card ">
							
							
							 <div class="description bg-purble-custom-100  ">
                        <div class="container">
                           <div class="row">
                              <div class="col-md-6">
                                 <div class="description-text ">
                                    <h5 class="text-white-500">
                                       <span class="text-white-500  icon-search-web"></span>
                                   Inventory Posting 
                                    </h5>
                                 </div>
                              </div>
                              <div class="col-md-5"></div>
                              <div class="col-md-1 right">
                                 <!--
                                    <button type="button" class="btn btn-icon fuse-ripple-ready filter" data-placement="right" data-toggle="modal" data-target="#exampleModalLive" title="Send the remarks in here ">
                                    
                                    <i class="text-white-500 icon-email-alert" alt="remarks">  </i>
                                    
                                    </button> -->
                              </div>
                           </div>
                        </div>
                     </div>
                     
                     
								<!-- filter button -->
								<div class="widget-content p-4">
									<div class="row">
										<div class="col-md-6 p-4">
											<h6>ProcessOrder Number:
												{{processOrderForQualityAssurance[0].processorderProdNumber}}</h6>
												<h6>Material Number :
												{{processOrderForQualityAssurance[0].productTable.productNumber}}</h6>
												<h6>Material Description :
								                  {{processOrderForQualityAssurance[0].productTable.productDescription}}</h6>

											<div class="col-md-12">
												<h6
													style="color: #3e4684; background: #f1f0f0; padding: 10px; border-radius: 8px;">Extra
													RM Used</h6>
											</div>
											<div class="col-md-12 labelextra extracf"
												ng-if="processOrderForQualityAssurance[0].extraRm !=null">
												<label for="exampleFormControlSelect1">
													<h6>{{processOrderForQualityAssurance[0].extraRm}}</h6>
												</label>
											</div>
											<div class="col-md-12 labelextra extracf"
												ng-if="processOrderForQualityAssurance[0].extraRm ==null">
												<label for="exampleFormControlSelect1">
													<h6>No Extra RM is used</h6>
												</label>
											</div>
										</div>
										<div class="col-md-6 p-4">
											<h6>Quantity : {{processOrderForQualityAssurance[0].totalQuantity}}</h6>
											<h6>Produced Quantity : {{processOrderForQualityAssurance[0].producedQuantity}}</h6>
												<h6>Batch Number : {{processOrderForQualityAssurance[0].batchNumber}}</h6>
												<h6>Remarks by Q/A : {{processOrderForQualityAssurance[0].remarks}}</h6>
										</div>
										
										
									</div>
									<div class="row">
									    
				
									
									<table id="products" class="table table-responsive optable">
								<thead class="thead-inverse">
									<tr>
				

										<th class="secondary-text">
											<div class="">
												<span class="column-title">R.M. Number</span>
											</div>
										</th>



										<th class="secondary-text">
											<div class="">
												<span class="column-title">R.M Name</span>
											</div>
										</th>
										
										<th class="secondary-text">
											<div class="">
												<span class="column-title">Quantity</span>
											</div>
										</th>




										<th>Location Details</th>


									</tr>
								</thead>
								<tbody  class="fixmetab " ng-repeat="processorderRec in processOrderForQualityAssurance">
									<tr class="parent">
										
										<td><span class="">{{processorderRec.rawmaterialTable.rawmaterialNumber}}</span></br>
										    
										    <span><img class="img-fluid"
											style="display: block;"
											src="http://10.174.84.35:8080/static/{{processorderRec.rawmaterialTable.rawmaterialNumber}}.png" /><span></td>
										
										<td><span class="barcode-des">{{processorderRec.rawmaterialTable.rawmaterialDescription}}</span>
										    <!-- <span><img class="img-fluid"
											style="display: block;"
											src="http://10.174.84.35:8080/static/{{processorderRec.rawmaterialTable.rawmaterialNumber}}.png" /><span> -->
											</td>
										
										<td><span class="barcode-des">{{processorderRec.processOrderRm.quantity}}</span>
										    <span><img class="img-fluid"
											style="display: block;"
											src="http://10.174.84.35:8080/static/{{processorderRec.processOrderRm.quantity}}.png" /><span></td>

										<td>
											<button type="button" onclick="toggleChevron(this)"
												class="btn btn-icon  fuse-ripple-ready exploder">
												<span class=" text-purble-custom-100   icon-chevron-down"></span>
											</button>
										</td>

									</tr>
									<tr class="table-primary" ng-if="processorderRec.rawmaterialTable.rawmaterialNumber !=5947  && processorderRec.rawmaterialTable.rawmaterialNumber !=9570 && processorderRec.rawmaterialTable.rawmaterialNumber !=9527 " >

										<th>Location</th>
										<th>Batch Number</th>
										<th>Quantity</th>
										<th colspan="6"></th>
									</tr>


									<tr ng-repeat="loc in processorderRec.locationRm" ng-if="processorderRec.rawmaterialTable.rawmaterialNumber !=5947  && processorderRec.rawmaterialTable.rawmaterialNumber !=9570 && processorderRec.rawmaterialTable.rawmaterialNumber !=9527 ">


										<td>{{loc.location}}<img class="img-fluid"
											style="display: block;"
											src="http://10.174.84.35:8080/static/{{loc.location}}.png" />
											
										</td>

										<td>{{loc.batchNumber}}<img class="img-fluid"
											style="display: block;"
												src="http://10.174.84.35:8080/static/{{loc.batchNumber}}.png" /></td>

										<td>{{loc.quantityTaken}}<img class="img-fluid"
											style="display: block;"
											src="http://10.174.84.35:8080/static/{{loc.quantityTaken}}.png" /></td>


										<td colspan="5"></td>


									</tr>
								</tbody>
							</table>
							
							
										
									</div>
								</div>
								
								
								<div class="description bg-purble-custom-100  ">
                        <div class="container">
                           <div class="row">
                              <div class="col-md-6">
                                 <div class="description-text ">
                                    <h5 class="text-white-500">
                                 Packaging Orders
                                    </h5>
                                 </div>
                              </div>
                              <div class="col-md-5"></div>
                              <div class="col-md-1 right">
                                 <!--
                                    <button type="button" class="btn btn-icon fuse-ripple-ready filter" data-placement="right" data-toggle="modal" data-target="#exampleModalLive" title="Send the remarks in here ">
                                    
                                    <i class="text-white-500 icon-email-alert" alt="remarks">  </i>
                                    
                                    </button> -->
                              </div>
                           </div>
                        </div>
                     </div>
                           
                           
							
								<!-- content starts here -->
								<table class="table table-responsive">
									<thead class="thead-inverse">
										<tr>
											<th class="text-white-500"></th>
											<th class="text-white-500">Batch Date</th>
											<th>Process Order No</th>
											<th>Material Code</th>
											<th>Material Description</th>
											<th>Total Quantity</th>
											<th>Weight/Package</th>
											<th>Batch No</th>
											<th>Location Stored</th>
											<th >PO used Qty</th>
											<th>Inventory </br>Quantity
											</th>
											<th>Status</th>											
											<th> Remarks</th>
											
										</tr>
									</thead>
									
									
									<tbody class="table-border"
									 ng-repeat="pack in associatedOrders">
										<tr  	 class="result-item user thead-white table-border">
											<td>
												<button type="button" id="explo"
													class="btn btn-icon fuse-ripple-ready">
													<i class=" text-red-A700 icon-barcode-scan"></i>
												</button>
												
												<a href="http://10.174.84.35:8080/static1/{{pack.pdfDate}}/{{pack.processorderPckgNumber}}.pdf" target="_blank" data-toggle="tooltip" data-placement="right" title="" data-original-title="Find the Order PDF" style="float: RIGHT; padding-top: 12px;"><i class="text-red-500 s-9 icon-file-pdf"></i> </a>
											</td>
											
											<td>{{pack.batchDate}}</td>
											<td>{{pack.processorderPckgNumber}}</td>
											<td>{{pack.sixmlNumber}}</td>
											<td>{{pack.materialMemo}}</td>
											<td>{{pack.totalQuantity}}</td>
											<td>{{pack.wghtPckg}}</td>
											<td>{{pack.batchNumber}}
											<td>
												{{pack.locationAfterPacking}}
											</td>
											<td>{{pack.poUsedPails}}</td>
											<td>
												{{pack.quantityAfterPacking}}
											</td>
											<td><span class="badge badge-secondary ">{{pack.status.statusDescription}}
											</span></td>
											<td>
											<textarea cols="80" rows="5" class="form" ng-model="pack.packingRemarks" disabled></textarea>
											</td>
											
											
										</tr>

										<tr class="explo hide">
										
										
											<td colspan="5"><span class="barcode-des">Process
													Order</span> <img class="img-fluid"
												src="http://10.174.84.35:8080/static/{{pack.processorderPckgNumber}}.png">
												<!-- <img class="img-fluid"
                                       src="http://10.174.84.35:8080/static/6090976.png"> -->
                                       
                                       
                                       <div class="space1x"></div>
                                       
                                       
                                       	<span class="barcode-des ng-binding"><b>
											Description</b><br>
													{{pack.productNumber}}<br>{{pack.productName}}
											</span> <img class="img-fluid"
												src="http://10.174.84.35:8080/static/{{pack.productNumber}}.png"><br>
											<hr>
												<br> <span class="barcode-des ng-binding">{{pack.containerTable.containerNumber}}<br>
                                    {{pack.containerTable.containerDescription}}
											</span> <img class="img-fluid"
												src="http://10.174.84.35:8080/static/{{pack.containerTable.containerNumber}}.png"> </br>
												<div class="space1x"></div>
												
                                       
                                       
											</td>
											<td colspan="4"><span class="barcode-des">
													Product No</span> <img class="img-fluid"
												src="http://10.174.84.35:8080/static/{{pack.productNumber}}.png">
												<!-- <img class="img-fluid"
                                       src="http://10.174.84.35:8080/static/6090976.png"> -->
                                       
                                       <div class="space1x"></div>
                                       
                                       <span class="barcode-des ng-binding"><b>Quantity</b></br>{{pack.processQuant}}
											</span> <img class="img-fluid"
												src="http://10.174.84.35:8080/static/{{pack.processQuant}}.png"><br>
											<hr> </br>
												
												
												<hr> <span class="barcode-des ng-binding">{{pack.totalQuantity}}</span> <img
												class="img-fluid" src="http://10.174.84.35:8080/static/{{pack.totalQuantity}}.png"> </br>

												<div class="space1x"></div>
												</td>

											<td colspan="2"><span class="barcode-des" style="margin-top:-208px"><br>Batch
													No</span> <img class="img-fluid"
												src="http://10.174.84.35:8080/static/{{pack.batchNumber}}.png">
												<!-- 	<img class="img-fluid"
                                       src="http://10.174.84.35:8080/static/6090976.png"> -->
                                       
                                       	<div class="space1x"></div>
                                       
											</td>


										</tr>



<tr>
											<td colspan="9"></td>
											<td colspan="1"><button id="showDone" type="button"
													data-toggle="modal"
													class="btn btn-secondary right fuse-ripple-ready"
													 ng-click="Done()">Inventory Posting Complete</button></td>
										</tr>
							
									


									</tbody>

									
								</table>



										<script> 

                            function displayResult() 

        { 

            document.getElementById("sample-data-table").insertRow(-1).innerHTML = '<td>1</td><td>2</td>'; 

        } 
                        </script>




   	<script>
                      $("#products").on("click","button",function(e) {
                      e.preventDefault();
                      $(this).closest("tr").nextUntil(".parent").toggleClass("open");
                      });
                      </script>
							<script>
                      window.toggleChevron = function(button) {
                      $(button).find('span').toggleClass('icon-chevron-down icon-chevron-up');
                      }
                      </script>
                      
                      


										<script>
  
$(document).on('click', '#explo', function() {

    $(this).closest("tr").next("tr").toggleClass("hide");

    if ($(this).closest("tr").next("tr").hasClass("hide")) {
      $(this).closest("tr").next("tr").children("td").slideUp();
    } else {
      $(this).closest("tr").next("tr").children("td").slideDown(350);
    }

  });

</script>
	    
		<script>
                      window.toggleChevron = function(button) {
                      $(button).find('span').toggleClass('icon-chevron-down icon-chevron-up');
                      }
                      </script>
									
								<!-- content ends here -->
							</div>
						</div>
					</div>
					<!-- add user form ends here -->
				</div>
			</div>
		</div>
		<!-- content ends here -->
	</div>
</div>
</div>