<div class="content">
      <div id="project-dashboard" class="page-layout simple tabbed">
        
         <div class="page-content">
            <div class="tab-content">
               <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab">
                 
               </div>
             
               <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab">
                  
                  <div class=" widget widget-7 card pageup">
                     <div class="description bg-purble-custom-100  ">
                        <div class="container">
                           <div class="row">
                              <div class="col-md-6">
                                 <div class="description-text ">
                                    <h5 class="text-white-500">
                                       <span class="text-white-500  icon-delete-forever"></span>
                                      History of Process Orders
                                    </h5>
                                 </div>
                              </div>
                              <div class="col-md-5"></div>
                              <div class="col-md-1 right">
                                 
                                 
                              </div>
                           </div>
                        </div>
                     </div>
                   
                     <div class="widget-content p-4">
                       
                       <div class="row ng-scope" ng-if="length != 0">
                           <div class="col-md-8 p-4">
                              <span class="title font-weight-bold h5 mr-2">Order</span> <span class="result-count text-muted"> <span >
                              {{processDetailsCount}}</span> <span>Results</span>
                              </span>
                           </div>
                           <div class="col-md-4 p-4">
                              <div id="sample-data-table_filter" class="dataTables_filter ">
                                 <label>Search:<input type="search" class="search-border" ng-model="Search" placeholder="Search" aria-controls="sample-data-table"></label>
                              </div>
                           </div>
                           <table class="table table-responsive optable">
                              <thead class="thead-inverse">
                                 <tr>
                                  <th>#</th>                                
                                     <th class="text-white-500">Barcode </th>                        
                                    <th>Batch Date</th>
                                    <th>ProcessOrder Number</th>
                                    <th>Material Code</th>
                                    <th>Material Description</th>
                                    <th>Quantity</th>
                                    <th>Batch No</th>                                    
                                    <th>Status</th>                                    
                                   <th>PDF</th>
                                   <th>Action</th>
                                 </tr>
                              </thead>
                            <tbody class="table-border" dir-paginate="processDetail in processDetails | filter : Search | itemsPerPage:10 track by $index">
                                 <tr class="result-item user thead-white table-border ">
                                 <td>{{$index+1}}</td>
                                    <td>
                                       <button type="button" id="exploder" class="btn btn-icon fuse-ripple-ready">
                                       <i class=" text-red-A700 icon-barcode-scan"></i>
                                       </button>
                                    </td>                                   
                                    <td >{{processDetail.batchDate}}</td>
                                    <td >{{processDetail.processorderProdNumber}}</td>
                                    <td >{{processDetail.productTable.productNumber}}</td>
                                    <td > {{processDetail.productTable.productDescription}}</td>
                                    <td >{{processDetail.totalQuantity}}</td>
                                    <td >{{processDetail.batchNumber}}</td>
                                    
                                    <td><span class="badge badge-secondary ">{{processDetail.status.statusDescription}} 
                                       </span>
                                    </td>
                                    <td>
												<!-- <button type="button" class="btn btn-icon fuse-ripple-ready">
													<i class=" text-red-A700 icon-file-pdf-box
"></i>
												</button> -->
												<a href="http://10.174.84.35:8080/5ML-PDf/{{processDetail.pdfDate}}/{{processDetail.processorderProdNumber}}.pdf"" target="_blank" data-toggle="tooltip" data-placement="right" title="" data-original-title="Find the Order PDF" >	<i class=" text-red-A700  s-4 icon-file-pdf"></i> </a>
											</td>
                                    <td>
                                     <button type="button" class="btn btn-secondary fuse-ripple-ready" ng-click="historyDetails(processDetail.processorderProdNumber)">View</button>
                                    </td>

											



										</tr>
                                 <tr class="explode hide">
                                    <td colspan="4">
                                       <span class="barcode-des">Process
                                       Order</span> 
                                       <img class="img-fluid" src="http://10.174.84.35:8080/static/{{processDetail.processorderProdNumber}}.png"> 
                                       <!-- <img class="img-fluid"
                                          src="http://10.174.84.35:8080/static/5947.png"> -->
                                    </td>
                                    <td colspan="4">
                                       <span class="barcode-des">Product No</span> 
                                       <img class="img-fluid" src="http://10.174.84.35:8080/static/{{processDetail.productTable.productNumber}}.png"> 
                                       <!-- <img class="img-fluid"
                                          src="http://10.174.84.35:8080/static/5947.png"> -->
                                    </td>
                                    <td colspan="4">
                                       <span class="barcode-des">Batch
                                       No</span>  <img class="img-fluid" src="http://10.174.84.35:8080/static/{{processDetail.batchNumber}}.png"> 
                                       <!-- <img class="img-fluid"
                                          src="http://10.174.84.35:8080/static/5947.png"> -->
                                    </td>
                                 </tr>
                              
                           
                              
                              </tbody>
                           </table>
                        </div>
                     </div>
                     <nav aria-label="pagination" class="my-8">
                        <dir-pagination-controls max-size="10" class="paddingme  right" direction-links="true" boundary-links="true" ></dir-pagination-controls>
                        <style>
                           .pagination>li>a, .pagination>li>span {
                           position: relative;
                           float: right;
                           padding: 6px 12px;
                           margin-left: 1px;
                           line-height: 1.42857143;
                           color: #428bca;
                           text-decoration: none;
                           background-color: #fff;
                           border: 1px solid #ddd;
                           }
                           .pagination>li>a:hover {
                           color: white;
                           text-decoration: none;
                           background-color: blue;
                           }
                        </style>
                     </nav>
                  </div>
               </div>
            </div>
        
         </div>
         <script type="text/javascript" src="../assets/js/apps/dashboard/project.js"></script>
      </div>
   </div> 