	
	 <div class="content-wrapper">
        <div class="content ">
          <div id="project-dashboard" class="page-layout simple right-sidebar tabbed">
            <div class="page-content-wrapper">
              <!-- CONTENT -->
              <div class="page-content">
                <div class="tab-content">
	
	
	<div class="widget-content widget widget-7 card pageup" ng-app="whApp">
		<div class="description bg-purble-custom-100  ">

			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="description-text ">
							<h5 class="text-white-500">
								<span class="text-white-500 icon-format-page-break"></span>Today's
								Process Orders History
							</h5>
						</div>

					</div>
					<div class="col-md-5"></div>
					<div class="col-md-1 right">
					</div>

				</div>

			</div>


		</div>

		<div class="widget-content p-4">
			<div class="row" ng-if="length == 0">
				<div class="col-12">
					<div id="exampleAccordion" data-children=".item">
						<div class="item">
							<div class="linkshow" style="color: white !important;">
								<a class="nav-link ripple fuse-ripple-ready collapsed"> <b>No
										Process Order released</b>
								</a>
							</div>
						</div>
						<div class="space2x"></div>
					</div>
				</div>
			</div>
			<div class="row" ng-if="length != 0">
				<div class="col-md-8 p-4">

					<span class="title font-weight-bold h5 mr-2">Order</span> <span
						class="result-count text-muted"> <span> {{TodayprocessOrders.length}}</span> <span>Results</span>
					</span>

				</div>
				<div class="col-md-4 p-4">

					<div id="sample-data-table_filter" class="dataTables_filter ">
						<label>Search:<input type="search" class="search-border "
							ng-model="Search" placeholder="Search"
							aria-controls="sample-data-table"></label>
					</div>
				</div>

				<table class="table table-responsive optable">
					<thead class="thead-inverse">
						<tr>

							<th></th>
							<th></th>
							<th>Process Order No.</th>
							<th>Material Code</th>
							<th>Material Description</th>
							<th>Quantity</th>
							<th>Batch No.</th>
							<th>Batch Date</th>

							<th>Status</th>
							


						</tr>
					</thead>
					<tbody class="table-border "
						ng-repeat="processOrderlist in TodayprocessOrders | filter : Search">

						<tr class="result-item user thead-white table-border ">



							<td>
								<button type="button" id="exploder"
									class="btn btn-icon fuse-ripple-ready">
									<i class=" text-red-A700 icon-barcode-scan"></i>
								</button>
							</td>

							<td>
								<button type="button" class="btn btn-icon fuse-ripple-ready ">
									<a
										href="/suez/file/fileDownload?productNumber={{processOrderlist.productTable.productNumber}}&productType=product"
										target="_blank" data-toggle="tooltip" data-placement="left"
										title="" data-original-title="Find the Order PDF"> <i
										class=" text-red-A700 icon-file-pdf"> </i>
									</a>
								</button>
							</td>
							<td>{{processOrderlist.processorderProdNumber}}</td>
							<td>{{processOrderlist.productTable.productNumber}}</td>
							<td>{{processOrderlist.productTable.productDescription}}</td>
							<td>{{processOrderlist.totalQuantity}}</td>
							<td>{{processOrderlist.batchNumber}}</td>
							<td>{{processOrderlist.batchDate}}</td>
							<td><span class="badge badge-secondary">{{processOrderlist.status.statusDescription}}
							</span></td>

							
						</tr>
						<tr class="explode hide">
							<td colspan="4"><span class="barcode-des">Process
									Order</span> <!-- <img class="img-fluid"
								src="http://10.174.84.35:8080/static/{{processOrderlist.processorderProdNumber}}.png"> -->
								<img class="img-fluid"
								src="http://10.174.84.35:8080/static/6090976.png">
								</td>
							<td colspan="4"><span class="barcode-des">Product No</span>
								<!-- <img class="img-fluid"
								src="http://10.174.84.35:8080/static/{{processOrderlist.productTable.productNumber}}.png"> -->
								<img class="img-fluid"
								src="http://10.174.84.35:8080/static/6090976.png">
								</td>
							<td colspan="4"><span class="barcode-des">Batch No</span> <!-- <img
								class="img-fluid"
								src="http://10.174.84.35:8080/static/{{processOrderlist.batchNumber}}.png"> -->
								<img
								class="img-fluid"
								src="http://10.174.84.35:8080/static/6090976.png">
								</td>
						</tr>

					</tbody>

				</table>
			</div>

		</div>
	</div>
	</div>
	</div>
	</div>
	</div></div>
	</div>
