<div class="content pageup" ng-app="whApp">
   <div id="project-dashboard" class="page-layout simple  tabbed">
      <!-- content stats here  -->
      <div class="page-content">
         <ul class="nav nav-tabs" id="myTab" role="tablist">
            <nav class="breadcrumb">
               <!-- <a class="breadcrumb-item" ui-sref="processOrders">Process Orders</a> --> 
               <button ><a class="breadcrumb-item" ui-sref="processOrders"><b>Click here to Go Back</b></a> </button>
               <!-- <span class="breadcrumb-item active">Raw Materials </span> -->
            </nav>
         </ul>
         <div class="tab-content">
            <div class="tab-pane fade show active" id="home-tab-pane"
               role="tabpanel" aria-labelledby="home-tab">
               <!-- add user form -->
               <div class="widget widget-7 card">
                  <div class="description bg-purble-custom-100">
                     <div class="description-text ">
                        <!-- <div class="alert alert-danger alert-dismissable" ng-show="hasBatchError">
                           <span class="close" data-dismiss="alert" aria-label="close">X</span>
                           <strong>BatchNumber Error </strong> Enter A Valid BatchNumber.
                           </div> -->
                        <!-- <div class="alert alert-danger" id="danger-alert">
                           <button type="button" class="close" data-dismiss="alert">X</button>
                           	 <strong>Batch Number Error! </strong>
                           			 Please Enter valid Batch Number
                           </div>
                           -->
                        <div class="row">
                           <div class="col-md-6">
                              <!-- <a href="../assets/pdf/001002135791.pdf" target="_blank"> -->
                              <h5 class="text-white-500">
                                 <span class="text-white-500 icon-format-page-break"></span>
                                 Order Number :<b> {{processorderProdNumber}} HOSKOTE
                                 PLANT </b>
                              </h5>
                              </a>
                           </div>
                           <!-- <div class="col-md-5 ">
                              <div class="filter1x">
                              	<a href="../assets/pdf/001002135791.pdf" target="_blank"
                              		data-toggle="tooltip" data-placement="left" title=""
                              		data-original-title="Find the Order PDF"><i
                              		class="text-white-500 s-9 icon-file-pdf"></i> </a>
                              </div>
                              </div> -->
                           <div class="col-md-1 "></div>
                        </div>
                     </div>
                  </div>
                  <div class="widget-content p-4">
                     <!-- the real content inside widger -->
                     <h5 class="subheading">Material Memo :
                        {{processOrderDetails[0].productTable.productDescription}}
                     </h5>
                     <!-- table starts here  -->
                     <!-- the real content inside widger -->
                     <!-- add user form ends here -->
                     <table class="table table-striped" id="sample-data-table1">
                        <thead class="thead-dark"
                           style="background-color: #202528; color: white;">
                           <tr>
                              <th class="secondary-text">
                                 <div class="">
                                    <span class="column-title"># </span>
                                 </div>
                              </th>
                              <th class="secondary-text">
                                 <div class="">
                                    <span class="column-title">Raw Material No</span>
                                 </div>
                              </th>
                              <th class="secondary-text">
                                 <div class="">
                                    <span class="column-title">Description</span>
                                 </div>
                              </th>
                              <th class="secondary-text">
                                 <div class="">
                                    <span class="column-title">Type</span>
                                 </div>
                              </th>
                              <th class="secondary-text">
                                 <div class="">
                                    <span class="column-title">Phase</span>
                                 </div>
                              </th>
                              <th class="secondary-text">
                                 <div class="">
                                    <span class="column-title">Quantity</span>
                                 </div>
                              </th>
                              <th class="secondary-text">
                                 <div class="">
                                    <span class=""></span>
                                 </div>
                              </th>
                              <th class="secondary-text">
                                 <div class="">
                                    <span class="column-title">Action</span>
                                 </div>
                              </th>
                           </tr>
                        </thead>
                        <tbody ng-repeat="processOrderDetail in processOrderDetails">
                           <tr>
                              <th scope="row">{{$index+1}}</th>
                              <td>{{processOrderDetail.rawmaterialTable.rawmaterialNumber}}</td>
                              <td>{{processOrderDetail.rawmaterialTable.rawmaterialDescription}}</td>
                              <td>{{processOrderDetail.type}}</td>
                              <td>{{processOrderDetail.phase}}</td>
                              <td class="parentBaba" id="parentQuality{{processOrderDetail.rawmaterialTable.rawmaterialNumber}}{{processOrderDetail.phase}}">{{processOrderDetail.quantity}}</td>
                              <td>
                                 <div
                                    ng-if="processOrderDetail.rawmaterialTable.rawmaterialNumber != '5947' && processOrderDetail.rawmaterialTable.rawmaterialNumber != '9570' && processOrderDetail.rawmaterialTable.rawmaterialNumber !='9527'">
                                    <button type="button" id="addWa{{processOrderDetail.rawmaterialTable.rawmaterialNumber}}{{processOrderDetail.phase}}"
                                       ng-click="displayResult($event,processOrderDetail.rawmaterialTable.rawmaterialNumber,processOrderDetail.phase)"
                                       class="btn btn-icon  fuse-ripple-ready">
                                    <span class=" text-purble-custom-100   icon-plus-circle"></span>Add
                                    </button>
                                 </div>
                              </td>
                              <td>
                                 <input id="release{{processOrderDetail.rawmaterialTable.rawmaterialNumber}}{{processOrderDetail.phase}}" ng-click="release(processOrderDetail)"
                                    class="btn btn-secondary right fuse-ripple-ready"
                                    type="button" value="Release" id="myButton1" /> <!-- <button type="button"
                                    class="btn btn-secondary fuse-ripple-ready"
                                    ng-click="reledisplayResultase(processOrderDetail)"   onclick="this.style.backgroundcolor = '#4caf50!important'; this.style.color='#000000';  this.disabled=true;" >Release</button>
                                    -->
                              </td>
                           </tr>
                           <tr>
                              <td colspan="5">
                                 <span class="barcode-des">Raw Material</span>
                                 <img class="img-fluid" src="http://10.174.84.35:8080/static/{{processOrderDetail.rawmaterialTable.rawmaterialNumber}}.png">
                              </td>
                              <td colspan="5">
                                 <span class="barcode-des">Quantity</span>
                                 <img class="img-fluid" src="http://10.174.84.35:8080/static/{{processOrderDetail.quantity}}.png">
                                 <!-- <img class="img-fluid"
                                    src="http://10.174.84.35:8080/static/5947.png"></td> -->
                           </tr>
                           <tr style= " background-color: #f4ff9c;  border-bottom: 2px solid #ffffff;"  ng-if="processOrderDetail.rawmaterialTable.rawmaterialNumber != '5947' && processOrderDetail.rawmaterialTable.rawmaterialNumber != '9570' && processOrderDetail.rawmaterialTable.rawmaterialNumber !='9527'">
                              <td colspan="2"><label for="inputPassword1" class="label-custom">
                                 Batch Number </label> <input type="number" id="bacthNo{{processOrderDetail.rawmaterialTable.rawmaterialNumber}}{{processOrderDetail.phase}}"
                                    class="bacthNo form-control md-has-value" required>
                              </td>
                              <td colspan="2"><label for="inputPassword1" class="label-custom">Location</label>
                                 <input type="text" id="location{{processOrderDetail.rawmaterialTable.rawmaterialNumber}}{{processOrderDetail.phase}}"
                                    class="location form-control md-has-value" required>
                              </td>
                              <td colspan="2"><label for="inputPassword1" class="label-custom">Qty</label>
                                 <input type="text" id="qty{{processOrderDetail.rawmaterialTable.rawmaterialNumber}}{{processOrderDetail.phase}}"
                                    class="qty form-control md-has-value" required>
                              </td>
                              <td colspan="2"><label style="display: none;" for="inputPassword1"
                                 class="label-custom">Qty</label> <input
                                 style="display: none;" type="text" id="rawMaterialId"
                                 class="rawMaterialId qty form-control md-has-value" required
                                 value="{{processOrderDetail.rawmaterialTable.rawmaterialNumber}}{{processOrderDetail.phase}}"></td>
                              <!--<td><button type="button"
                                 class="btn btn-danger fuse-ripple-ready"
                                 onclick="remove(this);">- remove</button></td> -->
                           </tr>
                        </tbody>
                     </table>
                     <button type="button" data-toggle="modal"
                        class="btn btn-secondary right fuse-ripple-ready"
                        ng-show="showDone"
                        ng-click="done(processOrderDetails[0].processorderProd.processorderProdNumber)">Done</button>
                     <script type="text/javascript">
                        $('#sample-data-table').DataTable({
                        responsive: true
                        });
                     </script>
                  </div>
               </div>
            </div>
            <script>
               function remove(button)
               {
                  //document.getElementById("sample-data-table").deleteRow(-1).innerHTML = '<td>1</td><td>2</td>';
                   $(button).closest("td").parent().remove();
               }
               
                                  
                              
            </script>
            <!-- <script>
               $(document).ready (function(){
                         $("#success-alert").hide();
                        
               	$("#danger-alert").fadeTo(5000, 500).slideUp(600, function(){
               				$("#danger-alert").slideUp(600);
                  			});   
               	});
               
               </script> -->
         </div>
      </div>
   </div>
   <!-- content ends here -->
</div>
<script type="text/javascript"
   src="../assets/js/apps/dashboard/project.js"></script>
</div>