<div ng-app="whApp">
   <div class="content pageup">
      <div id="project-dashboard" class="page-layout simple  tabbed">
         <ul class="nav nav-tabs" id="myTab" role="tablist">
            <nav class="breadcrumb">
              
            </nav>
         </ul>
         <!-- content stats here  -->
         <div class="page-content ">
            <div class="tab-content" style="padding-bottom:100px;">
               <div class="tab-pane fade show active" id="home-tab-pane"
                  role="tabpanel" aria-labelledby="home-tab">
                  <!-- add user form -->
                  <div class="tab-pane fade show active" id="home-tab-pane"
                     role="tabpanel" aria-labelledby="home-tab">
                     <!-- add user form -->
                     <div class=" widget widget-7 card ">
                     
                     
                     
                     
                     <div class="description bg-purble-custom-100  ">

							<div class="container">
								<div class="row">
									<div class="col-md-6">
										<div class="description-text ">
											<h5 class="text-white-500">
												<span class="text-white-500 icon-package-variant"></span>
												Re-packing Inventory Check
											</h5>
										</div>

									</div>
									<div class="col-md-5"></div>
									<div class="col-md-1 right">
										<!--
                                                            <button type="button" class="btn btn-icon fuse-ripple-ready filter" data-placement="right" data-toggle="modal" data-target="#exampleModalLive" title="Send the remarks in here ">
                                                            
                                                            <i class="text-white-500 icon-email-alert" alt="remarks">  </i>
                                                            
                                                            </button> -->
									</div>

								</div>

							</div>


						</div>
                        <!-- filter button -->
                        <div class="widget-content p-4">
                         <div class="row" ng-if="packingOrderForInventory.length == 0">
                              <div class="col-12">
                                 <div id="exampleAccordion" data-children=".item">
                                    <div class="item">
                                       <div class="linkshow" style="color: white !important;">
                                          <a class="nav-link ripple fuse-ripple-ready collapsed">
                                          <b>No Process Order Pending</b>
                                          </a>
                                       </div>
                                    </div>
                                    <div class="space2x"></div>
                                 </div>
                              </div>
                           </div>
                        
                        </div>


<div class="container">
                        <div class="row">
                        
                             <div class="col-md-8 p-4">
                              <span class="title font-weight-bold h5 mr-2">Order</span> <span class="result-count text-muted"> <span class="ng-binding">
                             {{packingOrderForInventory.length }} </span> <span>Results</span>
                              </span>
                           </div>
                           
                           
                           <div class="col-md-4 p-4">
                              <div id="sample-data-table_filter" class="dataTables_filter ">
                                 <label>Search:<input type="search" class="search-border " ng-model="Search" placeholder="Search" aria-controls="sample-data-table"></label>
                              </div>
                           </div>
                            
                           </div>
                        </div>
                        <!-- content starts here -->
                        <table class="table table-responsive " ng-if="packingOrderForInventory.length !=0">
                           <thead class="thead-inverse">
                              <tr>
                                 <th class="text-white-500"></th>
                                 <th class="text-white-500">Batch Date</th>
                                 <th>ProcessOrder Number</th>
                                 <th>Material Code</th>
                                 <th>Material Description</th>
                                 <th>Volume</th>
                                 <th>Weight/Package</th>
                                 <th>Batch No</th>
                                 <th>Action</th>
                              </tr>
                           </thead>
                           <tbody class="table-border" dir-paginate="packingdetail in packingOrderForInventory | filter : Search | itemsPerPage:5">
                              <tr class="result-item user thead-white table-border">
                                 <td>
                                    <button type="button" id="exploder"
                                       class="btn btn-icon fuse-ripple-ready">
                                    <i class=" text-red-A700 icon-barcode-scan"></i>
                                    </button>
                                 </td>
                                 <!-- <td>
                                    <button type="button"
                                    	class="btn btn-icon fuse-ripple-ready ">
                                    	<a
                                    		href="/suez/file/fileDownload?productNumber={{packingdetail.sixmlNumber}}&productType=pack"
                                    		target="_blank" data-toggle="tooltip"
                                    		data-placement="left" title=""
                                    		data-original-title="Find the Order PDF"> <i
                                    		class=" text-red-A700 icon-file-pdf"> </i>
                                    	</a>
                                    </button>
                                    </td> -->
                                 <td>{{packingdetail.batchDate}}</td>
                                 <td>{{packingdetail.processorderPckgNumber}}</td>
                                 <td>{{packingdetail.sixmlNumber}}</td>
                                 <td>{{packingdetail.materialMemo}}</td>
                                 <td>{{packingdetail.volume}}</td>
                                 <td>{{packingdetail.wghtPckg}}</td>
                                 <td>{{packingdetail.batchNumber}}</td>
                                 
                                 <td>
                                    <input ng-click="initiateRepack(packingdetail.processorderPckgNumber)" class="btn btn-secondary right fuse-ripple-ready"
                                       type="button" value="Initiate Inventory" id="myButton1{{packingdetail.processorderPckgNumber}}"  style="float:left" />
                                    
                                 </td>
                              </tr>
                              
                              <tr class="explode hide">
                                 <td colspan="4"><span class="barcode-des">Process
													Order</span> <img class="img-fluid"
												src="http://10.174.84.35:8080/static/{{packingdetail.processorderPckgNumber}}.png">
												<!-- <img class="img-fluid"
                                       src="http://10.174.84.35:8080/static/6090976.png"> -->
                                       
                                       
                                     
                                       
											</td>
									
											<td colspan="3">
											<div class="space1x"></div>
											
											<span class=""><br>Batch
													No</span> <img class="img-fluid"
												src="http://10.174.84.35:8080/static/{{packingdetail.batchNumber}}.png">
												<!-- 	<img class="img-fluid"
                                       src="http://10.174.84.35:8080/static/6090976.png"> -->
                                       
                                       	<div class="space1x"></div>
                                       
											</td >
											
											<td colspan="3">
											
											
												<div style="    padding: 10px 20px;"></div>
										
                                       
                                       
                                       	<span class=" ng-binding">
											
													productNumber
											</span> <img class="img-fluid"
												src="http://10.174.84.35:8080/static/{{packingdetail.productNumber}}.png"><br>
											
											</td>
											
											
											

                              </tr>
                           </tbody>
                           
                        </table>
                        <!-- content ends here -->
                     </div>
                  </div>
               </div>
               <!-- add user form ends here -->
            </div>
            <nav aria-label="pagination" class="my-8">
                     <dir-pagination-controls max-size="10" direction-links="true"
                        boundary-links="true"> </dir-pagination-controls>
                     <style>
                        .pagination>li>a, .pagination>li>span {
                        position: relative;
                        float: right;
                        padding: 6px 12px;
                        margin-left: 1px;
                        line-height: 1.42857143;
                        color: #428bca;
                        text-decoration: none;
                        background-color: #fff;
                        border: 1px solid #ddd;
                        }
                        .pagination>li>a:hover {
                        color: white;
                        text-decoration: none;
                        background-color: blue;
                        }
                     </style>
                  </nav>
            
         </div>
      </div>
      <!-- content ends here -->
   </div>
</div>
</div>