<div id="repacking" class="modal fade" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalPopoversLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header bg-purble-custom-100">
					<h5 class="modal-title text-white" id="exampleModalPopoversLabel ">
						Process Order No:{{vesselHrsProcess}}</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					
				
				<div class="source-preview-wrapper"><div class="preview"><div class="preview-elements">
                <table class="table">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Package Order No :</th>
                            <th>Process Start Time</th>
                            <th>Process End Time</th>
                            <th>Lead Time(minutes)</th>
                          
                        </tr>
                    </thead>
                    <tbody  class="modelme">
                        
                        <tr ng-repeat="packing in packingVesselHrs"><!-- ng-repeat="packing in packingVesselHrs " -->
                            <td scope="row">{{packing.processorderPackageNumber}}</td>
                            <td>{{packing.packingStartTime}}</td>
                            <td>{{packing.packingEndTime}}</td>
                            <td>{{packing.packingLeadTime}}</td>
                        </tr>
                        <!-- <tr>
                          <td>gfgfgfgfg</td>
                          <td>gfgfgfgfg</td>
                          <td>gfgfgfgfg</td>
                          <td>gfgfgfgfg</td>
                        </tr> -->
                        
                    </tbody>
                </table>

              
                </div></div>
               
               
               
                <!-- @formatter:off -->
                <div class="source"></div>
                <!-- @formatter:on --></div>
				
				
				
				
				</div>
				<div ng-show="showButtons" class="modal-footer">

					
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
				</div>
				<div ng-show="showClose" class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

<div ng-app="whApp">
   <div class="content pageup">
      <div id="project-dashboard" class="page-layout simple  tabbed">
         <!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
            <nav class="breadcrumb">
            
					<button>
						<a class="breadcrumb-item" ui-sref="RepackInventoryPosting"><b>Click
								here to Go Back</b></a>
					</button>
            </nav>
         </ul> -->
         <!-- content stats here  -->
         <div class="page-content ">
            <div class="tab-content" style="padding-bottom:100px;">
               <div class="tab-pane fade show active" id="home-tab-pane"
                  role="tabpanel" aria-labelledby="home-tab">
                  <!-- add user form -->
                  <div class="tab-pane fade show active" id="home-tab-pane"
                     role="tabpanel" aria-labelledby="home-tab">
                     <!-- add user form -->
                     <div class=" widget widget-7 card ">
                     <div class="description bg-purble-custom-100  ">

							<div class="container">
								<div class="row">
									<div class="col-md-6">
										<div class="description-text ">
											<h5 class="text-white-500">
												<span class="text-white-500 icon-package-variant"></span>
												Re-packing History Details
											</h5>
										</div>

									</div>
									<div class="col-md-5"></div>
									<div class="col-md-1 right">
										<!--
                                                            <button type="button" class="btn btn-icon fuse-ripple-ready filter" data-placement="right" data-toggle="modal" data-target="#exampleModalLive" title="Send the remarks in here ">
                                                            
                                                            <i class="text-white-500 icon-email-alert" alt="remarks">  </i>
                                                            
                                                            </button> -->
									</div>

								</div>

							</div>


						</div>
                        <!-- filter button -->
                        <div class="widget-content p-4">
                         <div class="row" ng-if="packingOrderForInventory.length == 0">
                              <div class="col-12">
                                 <div id="exampleAccordion" data-children=".item">
                                    <div class="item">
                                       <div class="linkshow" style="color: white !important;">
                                          <a class="nav-link ripple fuse-ripple-ready collapsed">
                                          <b>No Process Order Pending</b>
                                          </a>
                                       </div>
                                    </div>
                                    <div class="space2x"></div>
                                 </div>
                              </div>
                           </div>
                        
                        </div>
                        <div class="row">
                           <div class="container">
                           
                        
                           </div>
                        </div>
                        
                        <div class="row" >

														<div class="">

															<div class="col-md-12">
															<button id="showDone" type="button" data-toggle="modal"
																	data-target="#repacking" ng-click="getVesselHrs()"
																	class="btn btn-secondary fuse-ripple-ready">
																	View Packing Hours</button>
																
															</div>
														</div>

													</div>
                        <!-- content starts here -->
                        <table class="table table-responsive " ng-if="packingOrderForInventory.length !=0">
                           <thead class="thead-inverse">
                              <tr>
                                 <th class="text-white-500"></th>
                                 <th class="text-white-500">Batch Date</th>
                                 <th>ProcessOrder Number</th>
                                 <th>Material Code</th>
                                 <th>Material Description</th>
                                 <th>Total Quantity</th>
                                 <th>Weight/Package</th>
                                 <th>Batch No</th>
                                 <th>Location
                                    Stored
                                 </th>
                                 <th>PO Used
                                    Quantity
                                 </th>
                                 <th>Inventory
                                    Quantity
                                 </th>
                                 <th>Remarks</th>
                              </tr>
                           </thead>
                           <tbody class="table-border" ng-repeat="packingdetail in packingOrderForInventory">
                              <tr class="result-item user thead-white table-border">
                                 <td>
                                    <button type="button" id="exploder"
                                       class="btn btn-icon fuse-ripple-ready">
                                    <i class=" text-red-A700 icon-barcode-scan"></i>
                                    </button>
                                 </td>
                                 <!-- <td>
                                    <button type="button"
                                    	class="btn btn-icon fuse-ripple-ready ">
                                    	<a
                                    		href="/suez/file/fileDownload?productNumber={{packingdetail.sixmlNumber}}&productType=pack"
                                    		target="_blank" data-toggle="tooltip"
                                    		data-placement="left" title=""
                                    		data-original-title="Find the Order PDF"> <i
                                    		class=" text-red-A700 icon-file-pdf"> </i>
                                    	</a>
                                    </button>
                                    </td> -->
                                 <td>{{packingdetail.batchDate}}</td>
                                 <td>{{packingdetail.processorderPckgNumber}}</td>
                                 <td>{{packingdetail.sixmlNumber}}</td>
                                 <td>{{packingdetail.materialMemo}}</td>
                                 <td>{{packingdetail.totalQuantity}}</td>
                                 <td>{{packingdetail.wghtPckg}}</td>
                                 <td>{{packingdetail.batchNumber}}</td>
                                 <td>
                                    {{packingdetail.locationAfterPacking}}
                                 </td>
                                 <td>{{packingdetail.poUsedPails}}</td>
                                 <td>
                                    {{packingdetail.quantityAfterPacking}}
                                 </td>
                                 <td>
									<textarea cols="80" rows="5" class="form" ng-model="packingdetail.packingRemarks" disabled></textarea>
								 </td>
                                 
                              </tr>
                              
                              <tr class="explode hide">
                                 <td colspan="5">
                                       
                                       
                                       <div class="space1x"></div>
                                       
                                       
                                       	<span class="barcode-des ng-binding"><b>
											Description</b><br>
													{{packingdetail.productNumber}}</br>{{packingdetail.productName}}
											</span> <img class="img-fluid"
												src="http://10.174.84.35:8080/static/{{packingdetail.productNumber}}.png"><br>
											<hr>
												<br> <span class="barcode-des ng-binding">{{packingdetail.containerTable.containerNumber}}<br>
                                    {{packingdetail.containerTable.containerDescription}}
											</span> <img class="img-fluid"
												src="http://10.174.84.35:8080/static/{{packingdetail.containerTable.containerNumber}}.png"> </br>
												<div class="space1x"></div>
												
                                       
                                       
											</td>
											<td colspan="5">
                            
                                       
                                       <span class="barcode-des ng-binding"><b>Quantity</b></br>{{packingdetail.processQuant}}
											</span> <img class="img-fluid"
												src="http://10.174.84.35:8080/static/{{packingdetail.processQuant}}.png"><br>
											<hr> </br>
												
												
												<hr> <span class="barcode-des ng-binding">{{packingdetail.totalQuantity}}</span> <img
												class="img-fluid" src="http://10.174.84.35:8080/static/{{packingdetail.totalQuantity}}.png"> </br>

												<div class="space1x"></div>
												</td>

                                       
                                       
                                       
                                       
											</td>
											

                              </tr>
                              <tr class="table-primary"  >

										<th colspan="4">Location</th>
										<th colspan="4">Batch Number</th>
										<th colspan="4">Quantity</th>
										
									</tr>
                              <tr ng-repeat="loc in packingdetail.locationRm">


										<td colspan="4">{{loc.location}}<img class="img-fluid"
											style="display: block;"
											src="http://10.174.84.35:8080/static/{{loc.location}}.png" />
											
										</td>

										<td colspan="4">{{loc.batchNumber}}<img class="img-fluid"
											style="display: block;"
												src="http://10.174.84.35:8080/static/{{loc.batchNumber}}.png" /></td>

										<td colspan="4">{{loc.quantityTaken}}<img class="img-fluid"
											style="display: block;"
											src="http://10.174.84.35:8080/static/{{loc.quantityTaken}}.png" /></td>




									</tr>
                           </tbody>
                           
                        </table>
                        <!-- content ends here -->
                     </div>
                  </div>
               </div>
               <!-- add user form ends here -->
            </div>
         </div>
      </div>
      <!-- content ends here -->
   </div>
</div>
</div>