<div ng-app="whApp">
   <div class="content pageup">
      <div id="project-dashboard" class="page-layout simple  tabbed">
         <ul class="nav nav-tabs" id="myTab" role="tablist">
            <nav class="breadcrumb">
            
					<button>
						<a class="breadcrumb-item" ui-sref="repackInventoryInitiate"><b>Click
								here to Go Back</b></a>
					</button>
            </nav>
         </ul>
         <!-- content stats here  -->
         <div class="page-content ">
            <div class="tab-content" style="padding-bottom:100px;">
               <div class="tab-pane fade show active" id="home-tab-pane"
                  role="tabpanel" aria-labelledby="home-tab">
                  <!-- add user form -->
                  <div class="tab-pane fade show active" id="home-tab-pane"
                     role="tabpanel" aria-labelledby="home-tab">
                     <!-- add user form -->
                     <div class=" widget widget-7 card ">
                     <div class="description bg-purble-custom-100  ">

							<div class="container">
								<div class="row">
									<div class="col-md-6">
										<div class="description-text ">
											<h5 class="text-white-500">
												<span class="text-white-500 icon-package-variant"></span>
												Re-packing Inventory Check
											</h5>
										</div>

									</div>
									<div class="col-md-5"></div>
									<div class="col-md-1 right">
										<!--
                                                            <button type="button" class="btn btn-icon fuse-ripple-ready filter" data-placement="right" data-toggle="modal" data-target="#exampleModalLive" title="Send the remarks in here ">
                                                            
                                                            <i class="text-white-500 icon-email-alert" alt="remarks">  </i>
                                                            
                                                            </button> -->
									</div>

								</div>

							</div>


						</div>
                        <!-- filter button -->
                        <div class="widget-content p-4">
                         <div class="row" ng-if="packingOrderForInventory.length == 0">
                              <div class="col-12">
                                 <div id="exampleAccordion" data-children=".item">
                                    <div class="item">
                                       <div class="linkshow" style="color: white !important;">
                                          <a class="nav-link ripple fuse-ripple-ready collapsed">
                                          <b>No Process Order Pending</b>
                                          </a>
                                       </div>
                                    </div>
                                    <div class="space2x"></div>
                                 </div>
                              </div>
                           </div>
                        
                        </div>
                        <div class="row">
                           <div class="container">
                            
                           </div>
                        </div>
                        <!-- content starts here -->
                        <table class="table table-responsive " ng-if="packingOrderForInventory.length !=0">
                           <thead class="thead-inverse">
                              <tr>
                                 <th class="text-white-500"></th>
                                 <th class="text-white-500">Batch Date</th>
                                 <th>ProcessOrder Number</th>
                                 <th>Material Code</th>
                                 <th>Material Description</th>
                                 <th>Total Quantity</th>
                                 <th>Weight/Package</th>
                                 <th>Batch No</th>
                                 <th>Location
                                    Stored
                                 </th>
                                 <th>Container
                                    Quantity
                                 </th>
                                 <th>Action</th>
                              </tr>
                           </thead>
                           <tbody class="table-border" ng-repeat="packingdetail in packingOrderForInventory">
                              <tr class="result-item user thead-white table-border">
                                 <td>
                                    <button type="button" id="exploder"
                                       class="btn btn-icon fuse-ripple-ready">
                                    <i class=" text-red-A700 icon-barcode-scan"></i>
                                    </button>
                                 </td>
                                 <!-- <td>
                                    <button type="button"
                                    	class="btn btn-icon fuse-ripple-ready ">
                                    	<a
                                    		href="/suez/file/fileDownload?productNumber={{packingdetail.sixmlNumber}}&productType=pack"
                                    		target="_blank" data-toggle="tooltip"
                                    		data-placement="left" title=""
                                    		data-original-title="Find the Order PDF"> <i
                                    		class=" text-red-A700 icon-file-pdf"> </i>
                                    	</a>
                                    </button>
                                    </td> -->
                                 <td>{{packingdetail.batchDate}}</td>
                                 <td>{{packingdetail.processorderPckgNumber}}</td>
                                 <td>{{packingdetail.sixmlNumber}}</td>
                                 <td>{{packingdetail.materialMemo}}</td>
                                 <td>{{packingdetail.totalQuantity}}</td>
                                 <td>{{packingdetail.wghtPckg}}</td>
                                 <td>{{packingdetail.batchNumber}}</td>
                                 <td>
                                    <div class="form-group">
                                       <input class="form-control" type="text"  ng-modal="locationPlaced" id="locationPlaced{{packingdetail.processorderPckgNumber}}" style="width:80px;">
                                    </div>
                                 </td>
                                 <td>
                                    <div class="form-group">
                                       <input class="form-control" type="number" ng-modal="containerQuantity" id="containerQuantity{{packingdetail.processorderPckgNumber}}" style="width:80px;">
                                    </div>
                                 </td>
                                 <td>
                                    <input ng-click="CheckQuality(packingdetail)" class="btn btn-secondary right fuse-ripple-ready"
                                       type="button" value="Inventory Check" id="myButton1{{packingdetail.processorderPckgNumber}}"  style="float:left" />
                                    
                                 </td>
                              </tr>
                              
                              <tr class="explode hide">
                                 <td colspan="5">
                                       
                                       
                                       <div class="space1x"></div>
                                       
                                       
                                       	<span class="barcode-des ng-binding"><b>
											Description</b><br>
													{{packingdetail.productNumber}}</br>{{packingdetail.productName}}
											</span> <img class="img-fluid"
												src="http://10.174.84.35:8080/static/{{packingdetail.productNumber}}.png"><br>
											<hr>
												<br> <span class="barcode-des ng-binding">{{packingdetail.containerTable.containerNumber}}<br>
                                    {{packingdetail.containerTable.containerDescription}}
											</span> <img class="img-fluid"
												src="http://10.174.84.35:8080/static/{{packingdetail.containerTable.containerNumber}}.png"> </br>
												<div class="space1x"></div>
												
                                       
                                       
											</td>
											<td colspan="5">
                            
                                       
                                       <span class="barcode-des ng-binding"><b>Quantity</b></br>{{packingdetail.processQuant}}
											</span> <img class="img-fluid"
												src="http://10.174.84.35:8080/static/{{packingdetail.processQuant}}.png"><br>
											<hr> </br>
												
												
												<hr> <span class="barcode-des ng-binding">{{packingdetail.totalQuantity}}</span> <img
												class="img-fluid" src="http://10.174.84.35:8080/static/{{packingdetail.totalQuantity}}.png"> </br>

												<div class="space1x"></div>
												</td>

                                       
                                       
                                       
                                       
											</td>
											

                              </tr>
                           </tbody>
                           
                        </table>
                        <!-- content ends here -->
                     </div>
                  </div>
               </div>
               <!-- add user form ends here -->
            </div>
         </div>
      </div>
      <!-- content ends here -->
   </div>
</div>
</div>