<div class="content pageup" ng-app="whApp">
	<div id="project-dashboard" class="page-layout simple  tabbed"></div>
	<!-- content stats here  -->
	<div class="page-content">

		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<nav class="breadcrumb">
				<a class="breadcrumb-item" ui-sref="home">Orders</a> <span
					class="breadcrumb-item active">Raw Materials </span>
			</nav>

		</ul>
		<div class="tab-content">
			<div class="tab-pane fade show active" id="home-tab-pane"
				role="tabpanel" aria-labelledby="home-tab">
				<!-- add user form -->
				<div class="widget widget-7 card">
					<div class="description bg-purble-custom-100">
						<div class="description-text ">

							<div class="row">
								<div class="col-md-6">
									<a>
										<h5 class="text-white-500">
											<span class="text-white-500 icon-format-page-break"></span>
											Order Number
											:{{processOrderDetails[0].processorderProd.processorderProdNumber}}<b>
												HOSKOTE PLANT </b>
										</h5>
									</a>



								</div>
								<div class="col-md-5 ">
									<div class="filter1x">
										<a
											href="/suez/file/fileDownload?productNumber={{productNumber}}"
											target="_blank" data-toggle="tooltip" data-placement="left"
											title="" data-original-title="Find the Order PDF"><i
											class="text-white-500 s-9 icon-file-pdf"></i> </a>
									</div>
								</div>
								<div class="col-md-1 "></div>
							</div>
						</div>

					</div>
					<div class="widget-content p-4">

						<!-- the real content inside widger -->

						<h5 class="subheading">Material Memo :
							{{processOrderDetails[0].productTable.productDescription}}</h5>
						<!-- table starts here  -->
						<table class="table table table-responsive optable">
							<thead class="thead-inverse">
								<tr>
									<th>#</th>
									<th>Item</th>
									<th>Description</th>
									<th>Type</th>
									<th>Phase</th>
									<th>Quantity</th>
									<th></th>
								</tr>
							</thead>

							<tbody class="rawborder table-border "
								ng-repeat="processOrderDetail in processOrderDetails">
								<tr class="">

									<th scope="row">{{$index+1}}</th>
									<td>{{processOrderDetail.rawmaterialTable.rawmaterialNumber}}</td>
									<td>{{processOrderDetail.rawmaterialTable.rawmaterialDescription}}</td>
									<td>{{processOrderDetail.type}}</td>
									<td>{{processOrderDetail.phase}}</td>
									<td>{{processOrderDetail.quantity}}</td>

									<td>
										<button type="button"
											class="btn btn-secondary fuse-ripple-ready"
											onclick="$(this).removeClass('btn-secondary');$(this).removeClass('btn-primary');$(this).text('Released');" ng-click="release(processOrderDetail)">Release</button>
									</td>
							</tbody>

						</table>
						<button id="action-on-bottom-snackbar"
							class="btn btn-secondary right fuse-ripple-ready"
							data-toggle="modal" data-target="#doneModal"
							ng-click="done(processOrderDetails[0].processorderProd.processorderProdNumber)">Done</button>
						<!-- table ends here -->




						<script type="text/javascript">
							$(document)
									.ready(
											function() {
												$(
														"tr.statuscheck input, tr.statuscheck select, tr.statuscheck textarea")
														.prop('disabled', true);
											});
						</script>
						<!-- the real content ends here  -->




					</div>
				</div>
				<!-- add user form ends here -->

			</div>


		</div>
	</div>
	<!-- content ends here -->
</div>
<script type="text/javascript"
	src="../assets/js/apps/dashboard/project.js"></script>
</div>