
<div class="content-wrapper " ng-app="ManagementApp">
	<div id="exampleModalLiveme" class="modal fade" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalLiveLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header bg-purble-custom-100 text-white">
					<h5 class="modal-title " id="exampleModalLiveLabel">Process Order
						Number :{{orderNumber}} </h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class=" ">
						<h5 class="text-purble-custom-100">Status <span ng-if="reWorked == 1" class="text-red icon-flag-outline" >  </span>  <span ng-if="reWorked == 1" class="text-red">Reworked   </span> </h5>
					</div>
					<ul class="timeline">
						<li class="timeline-inverted">
							<div class="timeline-badge">


								<a><i class="s-4 icon-circle " ng-class="status.rmIssuedDate || status.rmIssuedTime != null?'text-green':'text-grey'"
								 id=""></i></a>
							</div>
							<div class="">
								<div class="timeline-heading "></div>
								<div class="timeline-body ">
									<label class="col-sm-12 " ng-class="status.rmIssuedDate || status.rmIssuedTime != null?'text-green':'text-grey'"><h6>
											RM Issued</h6>
										<p ng-if="status.rmIssuedDate || status.rmIssuedTime != null"
											class="text-left time">{{status.rmIssuedDate}}
											{{status.rmIssuedTime}}</p>
										<p ng-if="status.rmIssuedDate == null" class="text-left time text-grey"
											class="text-left time">Not Completed</p>
										<p ng-if="status.rmIssuedDate || status.rmIssuedTime != null" class="text-left time text-grey"
											class="text-left time">SSO : {{status.sso}} User Name : {{status.userName}}</p> </label>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<!-- timeline-inverted -->
							<div class="timeline-badge">
								<a><i class="s-4  icon-circle invert" ng-class="chargedStatus.rmChargedDate || chargedStatus.rmChargedTime != null?'text-green':'text-grey'"
								 id=""></i></a>
							</div>
							<div class="">
								<div class="timeline-heading "></div>
								<div class="timeline-body ">
									<label class="col-sm-12 " ng-class="chargedStatus.rmChargedDate || chargedStatus.rmChargedTime != null?'text-green':'text-grey'">
										<h6>RM Charged</h6>
										<p
											ng-if="chargedStatus.rmChargedDate || chargedStatus.rmChargedTime != null"
											class="text-left time">{{chargedStatus.rmChargedDate}}
											{{chargedStatus.rmChargedTime}}</p>
										<p ng-if="chargedStatus.rmChargedDate == null"
											class="text-left time" class="text-left time">Not
											Completed</p>
										<p ng-if="chargedStatus.rmChargedDate || chargedStatus.rmChargedTime != null" class="text-left time text-grey"
											class="text-left time">SSO : {{chargedStatus.sso}} User Name : {{chargedStatus.userName}}</p>
									</label>
								</div>
							</div>
						</li>

						<li class="timeline-inverted">
							<!-- timeline-inverted -->
							<div class="timeline-badge">
								<a><i class="s-4  icon-circle invert" ng-class="qualityCheckStatus.qualityCheckDate || qualityCheckStatus.qualityCheckTime != null?'text-green':'text-grey'"
								></i></a>
							</div>
							<div class="">
								<div class="timeline-heading "></div>
								<div class="timeline-body ">
									<label class="col-sm-12 " ng-class="qualityCheckStatus.qualityCheckDate || qualityCheckStatus.qualityCheckTime != null?'text-green':'text-grey'">
										<h6>Quality Checked  <!-- <span  class="text-red icon-flag-outline" >  </span>  <span class="text-red">Reworked   </span>    <span class="text-yellow-800">Rework in progress</span> -->  </h6>   
										<p
											ng-if="qualityCheckStatus.qualityCheckDate || qualityCheckStatus.qualityCheckTime != null"
											class="text-left time">{{qualityCheckStatus.qualityCheckDate}}
											{{qualityCheckStatus.qualityCheckTime}}</p>
										<p ng-if="qualityCheckStatus.qualityCheckDate == null"
											class="text-left time">Not Completed </p>
										<p ng-if="qualityCheckStatus.qualityCheckDate || qualityCheckStatus.qualityCheckTime != null" class="text-left time text-grey"
											class="text-left time">SSO : {{qualityCheckStatus.sso}} User Name : {{qualityCheckStatus.userName}}</p>
									</label>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<!-- timeline-inverted -->
							<div class="timeline-badge">
								<a><i class="s-4  icon-circle invert" ng-class="packedStatus.packedDate || packedStatus.packedTime != null?'text-green':'text-grey'"></i></a>
							</div>
							<div class="">
								<div class="timeline-heading "></div>
								<div class="timeline-body ">
									<label class="col-sm-12 " ng-class="packedStatus.packedDate || packedStatus.packedTime != null?'text-green':'text-grey'">
										<h6>Product Packed <!-- <span  class="text-red icon-flag-outline" >  </span>  <span class="text-red">Reworked </span>    <span class="text-yellow-800">Rework in progress</span> --></h6>
										<p
											ng-if="packedStatus.packedDate || packedStatus.packedTime != null"
											class="text-left time">{{packedStatus.packedDate}}
											{{packedStatus.packedTime}}</p>
										<p ng-if="packedStatus.packedDate == null"
											class="text-left time" class="text-left time">Not
											Completed</p>
										<p ng-if="packedStatus.packedDate || packedStatus.packedTime != null" class="text-left time text-grey"
											class="text-left time">SSO : {{packedStatus.sso}} User Name : {{packedStatus.userName}}</p>
									</label>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<!-- timeline-inverted -->
							<div class="timeline-badge">
								<a><i class="text-grey s-4  icon-circle invert" ng-class="rmInventoryStatus.inventoryDate || rmInventoryStatus.inventoryTime != null?'text-green':'text-grey'"></i></a>
							</div>
							<div class="">
								<div class="timeline-heading "></div>
								<div class="timeline-body ">
									<label class="col-sm-12" ng-class="rmInventoryStatus.inventoryDate || rmInventoryStatus.inventoryTime != null?'text-green':'text-grey'">
										<h6>Raw Material Inventory <!-- <span  class="text-red icon-flag-outline" >  </span>  <span class="text-red">Reworked   </span>    <span class="text-yellow-800">Rework in progress</span> --></h6>
										<p
											ng-if="rmInventoryStatus.inventoryDate || rmInventoryStatus.inventoryTime != null"
											class="text-left time">{{rmInventoryStatus.inventoryDate}}
											{{rmInventoryStatus.inventoryTime}}</p>
										<p ng-if="rmInventoryStatus.inventoryDate == null"
											class="text-left time" class="text-left time">Not
											Completed</p>
										<p ng-if="rmInventoryStatus.inventoryDate || rmInventoryStatus.inventoryTime != null" class="text-left time text-grey"
											class="text-left time">SSO : {{rmInventoryStatus.sso}} User Name : {{rmInventoryStatus.userName}}</p>
									</label>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<!-- timeline-inverted -->
							<div class="timeline-badge">
								<a><i class="s-4  icon-circle invert" ng-class="qualityInspectionStatus.qualityInspectionDate || qualityInspectionStatus.qulityInspectionTime != null?'text-green':'text-grey'"></i></a>
							</div>
							<div class="">
								<div class="timeline-heading "></div>
								<div class="timeline-body ">
									<label class="col-sm-12" ng-class="qualityInspectionStatus.qualityInspectionDate || qualityInspectionStatus.qulityInspectionTime != null?'text-green':'text-grey'">
										<h6>Quality Inspection <!-- <span  class="text-red icon-flag-outline" >  </span>  <span class="text-red">Reworked   </span>    <span class="text-yellow-800">Rework in progress</span> --></h6>
										<p
											ng-if="qualityInspectionStatus.qualityInspectionDate || qualityInspectionStatus.qulityInspectionTime != null"
											class="text-left time" class="text-left time">{{qualityInspectionStatus.qualityInspectionDate}}
											{{qualityInspectionStatus.qulityInspectionTime}}</p>
										<p
											ng-if="qualityInspectionStatus.qualityInspectionDate == null"
											class="text-left time" class="text-left time">Not
											Completed</p>
										<p ng-if="qualityInspectionStatus.qualityInspectionDate || qualityInspectionStatus.qulityInspectionTime != null" class="text-left time text-grey"
											class="text-left time">SSO : {{qualityInspectionStatus.sso}} User Name : {{qualityInspectionStatus.userName}}</p>
									</label>
								</div>
							</div>
						</li>
						
						<li class="timeline-inverted">
							<!-- timeline-inverted -->
							<div class="timeline-badge">
								<a><i class="s-4  icon-circle invert" ng-class="inventoryStatus.inventoryDate || inventoryStatus.inventoryTime != null?'text-green':'text-grey'"></i></a>
							</div>
							<div class="">
								<div class="timeline-heading "></div>
								<div class="timeline-body ">
									<label class="col-sm-12" ng-class="inventoryStatus.inventoryDate || inventoryStatus.inventoryTime != null?'text-green':'text-grey'">
										<h6>Inventory Checked <!-- <span  class="text-red icon-flag-outline" >  </span>  <span class="text-red">Reworked   </span>    <span class="text-yellow-800">Rework in progress</span> --></h6>
										<p
											ng-if="inventoryStatus.inventoryDate || inventoryStatus.inventoryTime != null"
											class="text-left time">{{inventoryStatus.inventoryDate}}
											{{inventoryStatus.inventoryTime}}</p>
										<p ng-if="inventoryStatus.inventoryDate == null"
											class="text-left time" class="text-left time">Not
											Completed</p>
										<p ng-if="inventoryStatus.inventoryDate || inventoryStatus.inventoryTime != null" class="text-left time text-grey"
											class="text-left time">SSO : {{inventoryStatus.sso}} User Name : {{inventoryStatus.userName}}</p>
									</label>
								</div>
							</div>
						</li>
						<!-- ","Blending","Quality check","packing","Labelling","Quality inspection","Inventory check done"-->
						<li class="clearfix no-float"></li>
					</ul>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
					
				</div>
			</div>
		</div>
	</div>


	<div class="content-wrapper">
		<div class="content ">
			<div id="project-dashboard"
				class="page-layout simple right-sidebar tabbed">
				<div class="page-content-wrapper">
					<!-- CONTENT -->
					<div class="page-content">
						<div class="tab-content">
							<div class="tab-pane fade show active" id="home-tab-pane"
								role="tabpanel" aria-labelledby="home-tab">
								<!-- carousel in here  -->
								<!-- your content will be in here  -->

								<!-- carosel in here  -->
								<!-- first table here  -->

								<div class="widget-group pt-12" id="today">
									<!-- WIDGET GROUP -->
									<div class="description bg-purble-custom-100  ">
										<div class="container">
											<div class="row">
												<div class="col-md-6">
													<div class="description-text ">
														<h5 class="text-white-500">
															<span class="text-white-500 icon-format-page-break"></span>
															Process Orders Status
														</h5>
													</div>
												</div>
												<div class="col-md-5"></div>
											</div>
										</div>
									</div>
									<div class=" ">
										<div class="widget widget1 card p-3">
											<div class="row p-6">
											<div class="col-md-3">
													<span class="p-3"> <i
														class="icon-box-shadow text-purble-custom-100"></i>&nbsp;
														RM To Be Issued
													</span>
												</div>
												<div class="col-md-3">
													<span class="p-3"> <i
														class="icon-box-shadow text-purple-800"></i>&nbsp;
														RM Issued
													</span>
												</div>
												<div class="col-md-3">
													<span class="p-3"> <i
														class="icon-box-shadow text-purple-A700"></i>&nbsp;RM
														Charged
													</span>
												</div>
												<div class="col-md-3">
													<span class="p-3"> <i
														class="icon-box-shadow text-deep-purple-A200"></i>&nbsp;
														Quality Checked
													</span>
												</div>
												<div class="col-md-3">
													<span class="p-3"> <i
														class="icon-box-shadow text-yellow-800"></i>&nbsp; Product
														Packed
													</span>
												</div>
												
												<div class="col-md-3">
													<span class="p-3"> <i
														class="icon-box-shadow text-deep-orange-500"></i>&nbsp; RM
														Posting Done
													</span>
												</div>

												<div class="col-md-3">
													<span class="p-3"> <i
														class="icon-box-shadow text-grey-700"></i>&nbsp;Quality
														Inspection
													</span>
												</div>
												
												<div class="col-md-3">
													<span class="p-3"> <i
														class="icon-box-shadow text-red-900 "></i>&nbsp;
														
														
												<span class="overflowsuez">
														Quality
														Declined/Rejected 
														
														
													</span>
													
													
											</div>
											<script>

$('.overflowsuez').click(function() {
  $('.overflowsuez').css({
        'overflow': 'visible',
     
       
    });
});
</script>

												<div class="col-md-3">
													<span class="p-3"> <i
														class="icon-box-shadow text-green-800 "></i>&nbsp;  
														
														<span class="overflowsuez">Inventory
														Check Completed	</span>			
													</span>
												</div>
												
												<!-- <div class="col-md-2">
													<span class="p-3"> <i
														class="icon-box-shadow text-green-800"></i>&nbsp;Completed
														
													</span>
												</div> -->
											</div>




											<ul class="nav nav-tabs" id="myTab" role="tablist">
												<li class="nav-item"><a
													class="nav-link btn fuse-ripple-ready active" id="home-tab"
													data-toggle="tab" role="tab" ng-click="all()"
													aria-controls="home" aria-expanded="false">All Orders</a></li>
												<li class="nav-item"><a
													class="nav-link btn fuse-ripple-ready " id="profile-tab"
													data-toggle="tab" role="tab" ng-click="todays()"
													aria-controls="profile" aria-expanded="true">Todays
														Orders</a></li>
												<li class="nav-item"><a
													class="nav-link btn fuse-ripple-ready " id="profile-tab"
													data-toggle="tab" role="tab" ng-click="past()"
													aria-controls="profile" aria-expanded="true">Past Order</a>
												</li>
												<li class="nav-item"><a
													class="nav-link btn fuse-ripple-ready " id="profile-future"
													data-toggle="tab" role="tab" ng-click="future()"
													aria-controls="profile" aria-expanded="true">Future
														Order</a>
											   </li>
											   <li class="nav-item"><a
													class="nav-link btn fuse-ripple-ready " id="profile-future"
													data-toggle="tab" role="tab" ng-click="finished()"
													aria-controls="profile" aria-expanded="true">Todays Completed
														Order</a>
											   </li>
											</ul>
											<div class="tab-content" id="myTabContent">
												<div role="tabpanel" class="tab-pane fade active show"
													id="home1" aria-labelledby="home-tab" aria-expanded="false">

													<!-- <p ng-show="showImg">sdnasdjknadsjkasndjkasdn</p> -->
													<img ng-show="showImg" class="img-fluid"
														src="../assets/images/img/img.jpg">
													<div ng-show="showAll" class="container space1x">
														<div class="row ">
															<div id="popover-head" class="hide">
																<div class=" ">
																	<h5 class="text-purble-custom-100">Status</h5>
																</div>
																<ul class="timeline">
																	<li class="timeline-inverted">
																		<div class="timeline-badge">
																			<a><i class="s-4 text-green icon-circle " id=""></i></a>
																		</div>
																		<div class="">
																			<div class="timeline-heading "></div>
																			<div class="timeline-body ">
																				<label class="col-sm-12 text-purble-custom-100"><b>
																						RM to be issued </b>
																					<p class="text-left time">Feb-21-2014 - 12 : 25
																						Pm</p> </label>
																			</div>
																		</div>
																	</li>
																	<li class="timeline-inverted">
																		<!-- timeline-inverted -->
																		<div class="timeline-badge">
																			<a><i class="text-green s-4  icon-circle invert"
																				id=""></i></a>
																		</div>
																		<div class="">
																			<div class="timeline-heading "></div>
																			<div class="timeline-body ">
																				<label class="col-sm-12 text-purble-custom-100 "><b>
																						RM to be issued </b>
																					<p class="text-left time">Feb-21-2014 - 12 : 25
																						Pm</p> </label>
																			</div>
																		</div>
																	</li>
																	<!-- ","Blending","Quality check","packing","Labelling","Quality inspection","Inventory check done"-->
																	<li class="clearfix no-float"></li>
																</ul>
															</div>
															<div ng-repeat="allOrder in allOrders"
																class="col-md-4  p-1">

																<div class=" text-white-500"
																	ng-click=allStatus(allOrder.processorderProdNumber,allOrder.status.statusId)
																	ng-class="{'bg-grey-700 ': allOrder.status.statusId ==17,
																'bg-purble-custom-100': allOrder.status.statusId ==7,'bg-yellow-700':allOrder.status.statusId ==14,
																'bg-red-900': allOrder.status.statusId ==19 || allOrder.status.statusId ==22 || allOrder.status.statusId ==24 ,'bg-red-800': allOrder.status.statusId ==4,'bg-deep-orange-500': allOrder.status.statusId ==16,
																'bg-purple-800': allOrder.status.statusId ==8,'bg-purple-A700': allOrder.status.statusId ==15,
																'bg-deep-purple-A200': allOrder.status.statusId ==18,'bg-red-900': allOrder.status.statusId ==22}"
																	ng-click="allStatus(allOrder.processorderProdNumber,allOrder.isApproved)"
																	data-toggle="modal" data-target="#exampleModalLiveme">

																	<div
																		class=" row no-gutters  align-items-center link-in p-3 ">
																		<div class="col-md-1 col-sm-6 ">
																			<i
																				class="icon-format-page-break mr-2 text-white-500 align-items-center"></i>
																		</div>
																		<div class="col-md-11 col-sm-6">
																			<a class=" ">
																				<p class="ng-binding  box-inside">																

																					<b>Process Order Number :</b>
																					{{allOrder.processorderProdNumber}} <br>
																					<b>Product Number :</b>
																					{{allOrder.productTable.productNumber}} <br> <b>Product
																						Name :</b>
																					{{allOrder.productTable.productDescription}} </br> <label
																						for="Ageing" value="Ageing"><b>Current
																							Status :</b> </label> <label for="Ageing" value="Ageing">{{allOrder.status.statusDescription}}
																					</label></br> <label for="Ageing" value="Ageing"><b>Ageing
																							:</b> </label> <label for="Ageing" value="Ageing">{{allOrder.volume}}
																					</label><span ng-if="allOrder.isApproved == 1" class="text-red icon-flag-outline" >  </span>  <span ng-if="allOrder.isApproved == 1" class="text-red">Reworked   </span></br>
																				</p>

																			</a>
																		</div>
																	</div>
																</div>
															</div>
															<!-- repeat ends here -->
														</div>
													</div>
													<div ng-show="showTodays" class="container space1x">
														<div class="row ">
															<div id="popover-head" class="hide">
																<div class=" ">
																	<h5 class="text-purble-custom-100">Status</h5>
																</div>
																<ul class="timeline">
																	<li class="timeline-inverted">
																		<div class="timeline-badge">
																			<a><i class="s-4 text-green icon-circle " id=""></i></a>
																		</div>
																		<div class="">
																			<div class="timeline-heading "></div>
																			<div class="timeline-body ">
																				<label class="col-sm-12 text-purble-custom-100"><b>
																						RM to be issued </b>
																					<p class="text-left time">Feb-21-2014 - 12 : 25
																						Pm</p> </label>
																			</div>
																		</div>
																	</li>
																	<li class="timeline-inverted">
																		<!-- timeline-inverted -->
																		<div class="timeline-badge">
																			<a><i class="text-green s-4  icon-circle invert"
																				id=""></i></a>
																		</div>
																		<div class="">
																			<div class="timeline-heading "></div>
																			<div class="timeline-body ">
																				<label class="col-sm-12 text-purble-custom-100 "><b>
																						RM to be issued </b>
																					<p class="text-left time">Feb-21-2014 - 12 : 25
																						Pm</p> </label>
																			</div>
																		</div>
																	</li>
																	<!-- ","Blending","Quality check","packing","Labelling","Quality inspection","Inventory check done"-->
																	<li class="clearfix no-float"></li>
																</ul>
															</div>
															<div ng-repeat="todaysOrder in todaysOrders"
																class="col-md-4  p-1">

																<div class=" text-white-500"
																	ng-class="{'bg-grey-700 ': todaysOrder.status.statusId ==17,
																'bg-purble-custom-100': todaysOrder.status.statusId ==7,'bg-yellow-700':todaysOrder.status.statusId ==14,
																'bg-red-900': todaysOrder.status.statusId ==19 || todaysOrder.status.statusId ==22 || todaysOrder.status.statusId ==24,'bg-red-800': todaysOrder.status.statusId ==4,'bg-deep-orange-500': todaysOrder.status.statusId ==16,
																'bg-purple-800': todaysOrder.status.statusId ==8,'bg-purple-A700': todaysOrder.status.statusId ==15,
																'bg-deep-purple-A200': todaysOrder.status.statusId ==18}"
																	ng-click="allStatus(todaysOrder.processorderProdNumber,todaysOrder.isApproved)"
																	data-toggle="modal" data-target="#exampleModalLiveme">

																	<div
																		class=" row no-gutters  align-items-center link-in p-3 ">
																		<div class="col-md-1 col-sm-6 ">
																			<i
																				class="icon-format-page-break mr-2 text-white-500 align-items-center"></i>
																		</div>
																		<div class="col-md-11 col-sm-6">
																			<a class=" ">
																				<p class="ng-binding  box-inside">

																					<b>Process Order Number :</b>
																					{{todaysOrder.processorderProdNumber}} <br>
																					<b>Product Number :</b>
																					{{todaysOrder.productTable.productNumber}} <br> <b>Product
																						Name :</b>{{todaysOrder.productTable.productDescription}}<br>
																					<label for="Ageing" value="Ageing"><b>Current
																							Status : </b> </label> <label for="Ageing" value="Ageing">{{todaysOrder.status.statusDescription}}
																					</label></br> <label for="Ageing" value="Ageing"><b>Ageing
																							:</b> </label> <label for="Ageing" value="Ageing">{{todaysOrder.volume}}
																					</label><span ng-if="todaysOrder.isApproved == 1" class="text-red icon-flag-outline" >  </span>  <span ng-if="todaysOrder.isApproved == 1" class="text-red">Reworked   </span></br>
																				</p>

																			</a>
																		</div>
																	</div>
																</div>
															</div>


															<!-- repeat ends here -->
														</div>
													</div>
													
													<div ng-show="showCompleted" class="container space1x">
														<div class="row ">
															<div id="popover-head" class="hide">
																<div class=" ">
																	<h5 class="text-purble-custom-100">Status</h5>
																</div>
																<ul class="timeline">
																	<li class="timeline-inverted">
																		<div class="timeline-badge">
																			<a><i class="s-4 text-green icon-circle " id=""></i></a>
																		</div>
																		<div class="">
																			<div class="timeline-heading "></div>
																			<div class="timeline-body ">
																				<label class="col-sm-12 text-purble-custom-100"><b>
																						RM to be issued </b>
																					<p class="text-left time">Feb-21-2014 - 12 : 25
																						Pm</p> </label>
																			</div>
																		</div>
																	</li>
																	<li class="timeline-inverted">
																		<!-- timeline-inverted -->
																		<div class="timeline-badge">
																			<a><i class="text-green s-4  icon-circle invert"
																				id=""></i></a>
																		</div>
																		<div class="">
																			<div class="timeline-heading "></div>
																			<div class="timeline-body ">
																				<label class="col-sm-12 text-purble-custom-100 "><b>
																						RM to be issued </b>
																					<p class="text-left time">Feb-21-2014 - 12 : 25
																						Pm</p> </label>
																			</div>
																		</div>
																	</li>
																	<!-- ","Blending","Quality check","packing","Labelling","Quality inspection","Inventory check done"-->
																	<li class="clearfix no-float"></li>
																</ul>
															</div>
															<div ng-repeat="completedOrder in completedOrders"
																class="col-md-4  p-1">

																<div class=" text-white-500"
																	ng-class="{'bg-grey-700 ': completedOrder.status.statusId ==17,
																'bg-purble-custom-100': completedOrder.status.statusId ==7,'bg-yellow-700':completedOrder.status.statusId ==14,
																'bg-red-900': completedOrder.status.statusId ==19 || completedOrder.status.statusId ==22 || completedOrder.status.statusId ==24,'bg-red-800': completedOrder.status.statusId ==4,'bg-deep-orange-500': completedOrder.status.statusId ==16,
																'bg-purple-800': completedOrder.status.statusId ==8,'bg-purple-A700': completedOrder.status.statusId ==15,
																'bg-deep-purple-A200': completedOrder.status.statusId ==18,'bg-green-800':completedOrder.status.statusId ==2}"
																	ng-click="allStatus(completedOrder.processorderProdNumber,completedOrder.isApproved)"
																	data-toggle="modal" data-target="#exampleModalLiveme">

																	<div
																		class=" row no-gutters  align-items-center link-in p-3 ">
																		<div class="col-md-1 col-sm-6 ">
																			<i
																				class="icon-format-page-break mr-2 text-white-500 align-items-center"></i>
																		</div>
																		<div class="col-md-11 col-sm-6">
																			<a class=" ">
																				<p class="ng-binding  box-inside">

																					<b>Process Order Number :</b>
																					{{completedOrder.processorderProdNumber}} <br>
																					<b>Product Number :</b>
																					{{completedOrder.productTable.productNumber}} <br> <b>Product
																						Name :</b>{{completedOrder.productTable.productDescription}}<br>
																					<label for="Ageing" value="Ageing"><b>Current
																							Status : </b> </label> <label for="Ageing" value="Ageing">{{completedOrder.status.statusDescription}}
																					</label></br> <label for="Ageing" value="Ageing"><b>Ageing
																							:</b> </label> <label for="Ageing" value="Ageing">{{completedOrder.volume}}
																					</label><span ng-if="completedOrder.isApproved == 1" class="text-red icon-flag-outline" >  </span>  <span ng-if="completedOrder.isApproved == 1" class="text-red">Reworked   </span></br>
																				</p>

																			</a>
																		</div>
																	</div>
																</div>
															</div>
															<!-- repeat ends here -->
														</div>
													</div>

													<div ng-show="showPast" class="container space1x">
														<div class="row ">
															<div id="popover-head" class="hide">
																<div class=" ">
																	<h5 class="text-purble-custom-100">Status</h5>
																</div>
																<ul class="timeline">
																	<li class="timeline-inverted">
																		<div class="timeline-badge">
																			<a><i class="s-4 text-green icon-circle " id=""></i></a>
																		</div>
																		<div class="">
																			<div class="timeline-heading "></div>
																			<div class="timeline-body ">
																				<label class="col-sm-12 text-purble-custom-100"><b>
																						RM to be issued </b>
																					<p class="text-left time">Feb-21-2014 - 12 : 25
																						Pm</p> </label>
																			</div>
																		</div>
																	</li>
																	<li class="timeline-inverted">
																		<!-- timeline-inverted -->
																		<div class="timeline-badge">
																			<a><i class="text-green s-4  icon-circle invert"
																				id=""></i></a>
																		</div>
																		<div class="">
																			<div class="timeline-heading "></div>
																			<div class="timeline-body ">
																				<label class="col-sm-12 text-purble-custom-100 "><b>
																						RM to be issued </b>
																					<p class="text-left time">Feb-21-2014 - 12 : 25
																						Pm</p> </label>
																			</div>
																		</div>
																	</li>
																	<!-- ","Blending","Quality check","packing","Labelling","Quality inspection","Inventory check done"-->
																	<li class="clearfix no-float"></li>
																</ul>
															</div>
															<div ng-repeat="pastOrder in pastOrders"
																class="col-md-4  p-1">

																<div class=" text-white-500"
																	ng-class="{'bg-grey-700 ': pastOrder.status.statusId ==17,
																'bg-purble-custom-100': pastOrder.status.statusId ==7,'bg-yellow-700':pastOrder.status.statusId ==14,
																'bg-red-900': pastOrder.status.statusId ==19 || pastOrder.status.statusId ==22 || pastOrder.status.statusId ==24,'bg-red-800': pastOrder.status.statusId ==4,'bg-deep-orange-500': pastOrder.status.statusId ==16,
																'bg-purple-800': pastOrder.status.statusId ==8,'bg-purple-A700': pastOrder.status.statusId ==15,
																'bg-deep-purple-A200': pastOrder.status.statusId ==18}"
																	ng-click=allStatus(pastOrder.processorderProdNumber,pastOrder.isApproved)
																	data-toggle="modal" data-target="#exampleModalLiveme">

																	<div
																		class=" row no-gutters  align-items-center link-in p-3 ">
																		<div class="col-md-1 col-sm-6 ">
																			<i
																				class="icon-format-page-break mr-2 text-white-500 align-items-center"></i>
																		</div>
																		<div class="col-md-11 col-sm-6">																		
																			<a class=" ">																			
																				<p class="ng-binding  box-inside">

																					<b>Process Order Number :</b>
																					{{pastOrder.processorderProdNumber}} <br> 
																							<b>Product Number :</b>
																					{{pastOrder.productTable.productNumber}} <br> <b>Product
																						Name :</b>
																					{{pastOrder.productTable.productDescription}} <label
																						for="Ageing" value="Ageing"><b>Current
																							Status : </b></label> <label for="Ageing" value="Ageing">{{pastOrder.status.statusDescription}}
																					</label></br><label for="Ageing" value="Ageing"><b>Ageing
																							: </b> </label> <label for="Ageing" value="Ageing">{{pastOrder.volume}}
																					</label><span ng-if="pastOrder.isApproved == 1" class="text-red icon-flag-outline" >  </span>  <span ng-if="pastOrder.isApproved == 1" class="text-red">Reworked</span>
																				</p>

																			</a>
																		</div>
																	</div>
																</div>
															</div>
															<!-- repeat ends here -->
														</div>
													</div>
													<div ng-show="showFuture" class="container space1x">
														<div class="row ">
															<div id="popover-head" class="hide">
																<div class=" ">
																	<h5 class="text-purble-custom-100">Status</h5>
																</div>
																<ul class="timeline">
																	<li class="timeline-inverted">
																		<div class="timeline-badge">
																			<a><i class="s-4 text-green icon-circle " id=""></i></a>
																		</div>
																		<div class="">
																			<div class="timeline-heading "></div>
																			<div class="timeline-body ">
																				<label class="col-sm-12 text-purble-custom-100"><b>
																						RM to be issued </b>
																					<p class="text-left time">Feb-21-2014 - 12 : 25
																						Pm</p> </label>
																			</div>
																		</div>
																	</li>
																	<li class="timeline-inverted">
																		<!-- timeline-inverted -->
																		<div class="timeline-badge">
																			<a><i class="text-green s-4  icon-circle invert"
																				id=""></i></a>
																		</div>
																		<div class="">
																			<div class="timeline-heading "></div>
																			<div class="timeline-body ">
																				<label class="col-sm-12 text-purble-custom-100 "><b>
																						RM to be issued </b>
																					<p class="text-left time">Feb-21-2014 - 12 : 25
																						Pm</p> </label>
																			</div>
																		</div>
																	</li>
																	<!-- ","Blending","Quality check","packing","Labelling","Quality inspection","Inventory check done"-->
																	<li class="clearfix no-float"></li>
																</ul>
															</div>
															<div ng-repeat="futureOrder in futureOrders"
																class="col-md-4  p-1">

																<div class=" text-white-500"
																	ng-class="{'bg-grey-700 ': futureOrder.status.statusId ==17,
																'bg-purble-custom-100': futureOrder.status.statusId ==7,'bg-yellow-700':futureOrder.status.statusId ==14,
																'bg-red-900': futureOrder.status.statusId ==19 || futureOrder.status.statusId ==22 || futureOrder.status.statusId ==24,'bg-red-800': futureOrder.status.statusId ==4,'bg-deep-orange-500': futureOrder.status.statusId ==16,
																'bg-purple-800': futureOrder.status.statusId ==8,'bg-purple-A700': futureOrder.status.statusId ==15,
																'bg-deep-purple-A200': futureOrder.status.statusId ==18}"
																	ng-click=allStatus(futureOrder.processorderProdNumber,futureOrder.isApproved)
																	data-toggle="modal" data-target="#exampleModalLiveme">

																	<div
																		class=" row no-gutters  align-items-center link-in p-3 ">
																		<div class="col-md-1 col-sm-6 ">
																			<i
																				class="icon-format-page-break mr-2 text-white-500 align-items-center"></i>
																		</div>
																		<div class="col-md-11 col-sm-6">
																			<a class=" ">
																				<p class="ng-binding  box-inside">

																					<b>Process Order Number :</b>
																					{{futureOrder.processorderProdNumber}} <br>
																					<b>Product Number :</b>
																					{{futureOrder.productTable.productNumber}} <br> <b>Product
																						Name :</b>
																					{{futureOrder.productTable.productDescription}}<br>
																					<label for="Ageing" value="Ageing"><b>Current
																							Status :</b> </label> <label for="Ageing" value="Ageing">{{futureOrder.status.statusDescription}}
																					</label><label for="Ageing" value="Ageing"><b>Ageing
																							: </b> </label> <label for="Ageing" value="Ageing">{{futureOrder.volume}}
																					</label><span ng-if="futureOrder.isApproved == 1" class="text-red icon-flag-outline" >  </span>  <span ng-if="futureOrder.isApproved == 1" class="text-red">Reworked   </span></br>
																				</p>

																			</a>
																		</div>
																	</div>
																</div>
															</div>
															<!-- repeat ends here -->
														</div>
													</div>
												</div>
												<div class="tab-pane fade " id="profile" role="tabpanel"
													aria-labelledby="profile-tab" aria-expanded="true"></div>
												<div class="tab-pane fade " id="profile2" role="tabpanel"
													aria-labelledby="profile-tab" aria-expanded="true"></div>
												<div class="tab-pane fade " id="future" role="tabpanel"
													aria-labelledby="profile-tab" aria-expanded="true"></div>

											</div>
										</div>
										<script type="text/javascript">
											$(document).ready(function() {
												$(".card1").click(function() {
													$(".mem").toggle();

												});
											});
										</script>

										<div class="container">
											<div class="row "></div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- //first table here  -->

				</div>
				<!-- / WIDGET 9 -->
				<!-- WIDGET 10 -->
				<!-- / WIDGET 10 -->
			</div>
			<!-- / WIDGET GROUP -->
		</div>
		<script>
			$('.popoverme').popover({
				html : true,
				title : function() {
					return $("#popover-head").html();
				},
				content : function() {
					return $("#popover-content").html();
				}
			});
		</script>
	</div>
</div>


