<div class="content-wrapper" ng-app="ManagementApp">


<div id="datecy" class="modal fade" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalPopoversLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header bg-purble-custom-100">
					<h5 class="modal-title text-white" id="exampleModalPopoversLabel ">
						Process Order No:{{processorderno}}</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					
				
				<div class="source-preview-wrapper"><div class="preview"><div class="preview-elements">
                <table class="table">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Package Order No:</th>
                            <th>sixml_number</th>
                            <th>Process Start Time</th>
                            <th>Process End Time</th>
                            <th>Lead Time(minutes)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat=" CTModaldetailsforYears in CTModaldetails" >
                            <th scope="row">{{CTModaldetailsforYears.processorderPackageNumber}}</th>
                            <td>{{CTModaldetailsforYears.sixMillionNumber}}</td>
                            <td>{{CTModaldetailsforYears.packingStartTime}}</td>
                            <td>{{CTModaldetailsforYears.packingEndTime}}</td>
                            <td>{{CTModaldetailsforYears.packingLeadTime}}</td>
                        </tr>
                        
                    </tbody>
                </table>

              
                </div></div>
               
               
               
                <!-- @formatter:off -->
                <div class="source"></div>
                <!-- @formatter:on --></div>
				
				
				
				
				</div>
				<div class="col-md-8 ">
					<flash-message class="flash-custom" duration="10000"></flash-message>
				</div>
				<div ng-show="showButtons" class="modal-footer">

					
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
				</div>
				<div ng-show="showClose" class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	    	
	    	

 <!-- content starts here -->
            <div class="content-wrapper ">
                
                <div class="content">
                    <div class="page-layout simple tabbed">
                       
                        <!-- CONTENT -->
                        <div class="page-content">
                         <ul class="nav nav-tabs" id="myTab" role="tablist">
				<nav class="breadcrumb">
					<a class="breadcrumb-item" ui-sref="cycleTimeReport">
					 Back </a>  <span class="breadcrumb-item active"> Cycle Time for Process Orders
						
						 </span>
				</nav>
			</ul>
                   
                            <div class="tab-content" id="myTabContent">
                                <div role="tabpanel" class="tab-pane fade active show" id="home" aria-labelledby="home-tab" aria-expanded="true">
                                    

                              <h5 class="text-purble-custom-100"><B>Weekly Cycle Time for Process Orders</B></h5>    
                              <div class="space2x"></div>
                              <div  class="row">
                              <div class="col-md-8 p-4">
                              <div id="sample-data-table_filter" class="dataTables_filter ">
											<label>Search:<input type="search"
												class="search-border " ng-model="Search"
												placeholder="Search" aria-controls="sample-data-table"></label>
										</div>
										</div>
							 <div class="col-md-4 p-4">
                              <!-- <button  style="margin-bottom:10px; margin-right:19px" ng-click="WeeklyReportDownload()">Download</button> -->
                              <button type="button" class="btn btn-primary fuse-ripple-ready" ng-click="WeeklyReportDownload()"><span class="icon-box-download"> </span>  &nbsp; Download</button>
                              
                               </div>
                                </div>
                                    <table class="table table-responsive optable">
                              
                                        <tbody>
<thead class="thead-inverse">
                                                <tr>

                                                    <!--  <th class="text-white-500">Date <i class="icon s-4 text-white-500 icon-sort-ascending">  </i></th> -->


                                                   <th>Process Order Number</th>
                                                    <th>Product Number</th>
                                                    <th>Product Name</th>
                                                    <th>Process Order Date</th>
                                                    <th>Charging Time (min)</th>
                                                    <th> Quality Time     &nbsp          (min)</th>
                                                    <th> Packing Time  (min)</th>
                                                    <th> Cycle Time       &nbsp          (min)</th>
                                                </tr>
                                            </thead>


                                            <tr class="result-item user thead-white table-border " dir-paginate="weeklyCTReport in CTdetails | filter:Search |itemsPerPage:12" ng-click="CTModalDeatilsForPOWeek(weeklyCTReport.processOrderNumber) " data-toggle="modal"  data-target="#datecy"  >
                                                <th scope="row" class="link">{{weeklyCTReport.processOrderNumber}}</th>
                                                <td>{{weeklyCTReport.productNumber}}</td>
                                                <td>{{weeklyCTReport.productDescription}}</td>
                                                <td>{{weeklyCTReport.processingDate}}</td>
                                                <td>{{weeklyCTReport.chargingTime}}</td>
                                               <td>{{weeklyCTReport.qualityTime}}</td>   
                                               <td>{{weeklyCTReport.packingTime}}</td> 
                                               <td ng-if="weeklyCTReport.completedTime!=0">{{weeklyCTReport.completedTime}}</td> 
                                               <td ng-if="weeklyCTReport.completedTime==0">In Progress</td>
                                               
                                                   
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                             
                         
                            </div>
                        </div>
                        <nav aria-label="pagination" class="my-8">
										<dir-pagination-controls max-size="12" direction-links="true"
											boundary-links="true"> </dir-pagination-controls>

										<style>
.pagination>li>a, .pagination>li>span {
	position: relative;
	float: right;
	padding: 6px 12px;
	margin-left: 1px;
	line-height: 1.42857143;
	color: #428bca;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
}

.pagination>li>a:hover {
	color: white;
	text-decoration: none;
	background-color: blue;
}
</style>
									</nav>

                        
                        <!-- / CONTENT -->
                    </div>
                </div>
            </div>
            <!-- //content ends here -->



</div>