<div class="content-wrapper" ng-app="ManagementApp">
<div class="content ">
<div id="project-dashboard" class="page-layout simple right-sidebar tabbed">
<div class="page-content-wrapper">
<!-- CONTENT -->
<div class="page-content">

<div class="tab-content">
<div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab">

<div class="widget-group "  >
<!-- WIDGET GROUP -->

  <!-- content starts here -->
            <div class="content-wrapper ">
                
                <div class="content">
                    <div class="page-layout simple tabbed">
                      <div class="description-text ">
							<h5 class="bg-purble-custom-100 text-auto text-white-500">
								<span class="icon r text-white-500 icon-chart-pie"></span>Cycle
								Time Report - {{curYear}}
							</h5>
						</div> 
                        <!-- CONTENT -->
                        <div class="page-content">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link btn fuse-ripple-ready active" id="home-tab" data-toggle="tab" ng-click="week()"  role="tab" aria-controls="home" aria-expanded="true">Week</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link btn fuse-ripple-ready" id="profile-tab" data-toggle="tab" ng-click="month()" role="tab" aria-controls="profile" aria-expanded="false">Month</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link btn fuse-ripple-ready" id="profile-tab" data-toggle="tab" ng-click="quarter()" role="tab" aria-controls="profile" aria-expanded="false">Quarter</a>
                                </li>
                                
                                <li class="nav-item">
                                    <a class="nav-link btn fuse-ripple-ready" id="profile-tab" data-toggle="tab" ng-click="year()" role="tab" aria-controls="profile" aria-expanded="false">Year</a>
                                </li>
                            </ul>
                            <div class="tab-content container" id="myTabContent" >
                                <div role="tabpanel" class="tab-pane fade active show" id="home" aria-labelledby="home-tab" aria-expanded="true">
                                    <div ng-show="showCurrentWeek">
                                    <table class="table  optable" >
                                    
                                    
                           <thead class="bg-purble-custom-100 text-auto text-white-500">
                                   <th>#</th>
                                   <th>Average Cycle Time</th>
                                   <th>Time(Minutes)</th>
                                   <thead>
  
                              
                                        <tbody>
                                        
                                        
                                        
                                        
                                        
                                            <tr class="result-item user thead-white table-border " ng-click="CTDeatilsForPO()">
                                                <th scope="row">1</th>
                                                <td><!-- Average Cycle Time for  -->Process Order</td>
                                               <td>{{avgCompletedTime}}</td>   
                                          
                                            </tr>
                                            <tr class="result-item user thead-white table-border "  ng-click="CTDeatilsForPO()">
                                                <th scope="row">2</th>
                                                <td><!-- Average Cycle Time for  -->Charging</td>
                                               <td>{{avgChargingTime}}</td>   
                                           
                                            </tr>
                                            <tr class="result-item user thead-white table-border "   ng-click="CTDeatilsForPO()" >
                                                <th scope="row">3</th>
                                          
                                                <td><!-- Average Cycle Time for  -->Quality</td>
                                                    <td>{{avgQualityTime}}</td>   
                                                
                                            </tr>
                                               <tr class="result-item user thead-white table-border "   ng-click="CTDeatilsForPO()">
                                                <th scope="row">4</th>
                                        
                                                <td><!-- Average Cycle Time for  -->Packing</td>
                                                    <td>{{avgPackingTime}}</td>   
                                               
                                            </tr>

                                        </tbody>
                                    </table>
                                    </div>
                                    
                                    
                                    <div ng-show="showCurrentMonth">
                                    <table class="table  optable">
                                       
                            <thead class="bg-purble-custom-100 text-auto text-white-500">
                                   <th>#</th>
                                   <th>Average Cycle Time</th>
                                   <th>Time(Minutes)</th>
                                   <thead>
  
                              
                                        <tbody>
                                            <tr class="result-item user thead-white table-border " ng-click="CTDeatilsForPOMonth()">
                                                <th scope="row">1</th>
                                                <td>Process Order</td>
                                               <td>{{avgCompletedTime}}</td>   
                                              
                                            </tr>
                                            <tr class="result-item user thead-white table-border "  ng-click="CTDeatilsForPOMonth()">
                                                <th scope="row">2</th>
                                                <td>Charging</td>
                                               <td>{{avgChargingTime}}</td>   
                                           
                                            </tr>
                                            <tr class="result-item user thead-white table-border "   ng-click="CTDeatilsForPOMonth()" >
                                                <th scope="row">3</th>
                                          
                                                <td>Quality</td>
                                                    <td>{{avgQualityTime}}</td>   
                                                
                                            </tr>
                                               <tr class="result-item user thead-white table-border "   ng-click="CTDeatilsForPOMonth()">
                                                <th scope="row">4</th>
                                        
                                                <td>Packing</td>
                                                    <td>{{avgPackingTime}}</td>   
                                               
                                            </tr>

                                        </tbody>
                                    </table>
                                    </div>
                                    
                                    
                                    <div ng-show=showCurrentQuarter>
                                    <table class="table optable">
                                       
                            <thead class="bg-purble-custom-100 text-auto text-white-500">
                                   <th>#</th>
                                   <th>Average Cycle Time</th>
                                   <th>Time(Minutes)</th>
                                   <thead>
  
                              
                                        <tbody>
                                            <tr class="result-item user thead-white table-border " ng-click="CTDeatilsForPOQuarter()">
                                                <th scope="row">1</th>
                                                <td>Process Order</td>
                                               <td>{{avgCompletedTime}}</td>   
                                              
                                            </tr>
                                            <tr class="result-item user thead-white table-border "  ng-click="CTDeatilsForPOQuarter()">
                                                <th scope="row">2</th>
                                                <td>Charging</td>
                                               <td>{{avgChargingTime}}</td>   
                                           
                                            </tr>
                                            <tr class="result-item user thead-white table-border "   ng-click="CTDeatilsForPOQuarter()" >
                                                <th scope="row">3</th>
                                          
                                                <td>Quality</td>
                                                    <td>{{avgQualityTime}}</td>   
                                                
                                            </tr>
                                               <tr class="result-item user thead-white table-border "   ng-click="CTDeatilsForPOQuarter()">
                                                <th scope="row">4</th>
                                        
                                                <td>Packing</td>
                                                    <td>{{avgPackingTime}}</td>   
                                               
                                            </tr>

                                        </tbody>
                                    </table>
                                    </div>
                                    
                                    
                                    <div ng-show="showCurrentYear">
                                    <table class="table ">
                                       
                            <thead class="bg-purble-custom-100 text-auto text-white-500">
                                   <th>#</th>
                                   <th>Average Cycle Time</th>
                                   <th>Time(Minutes)</th>
                                   <thead>
  
                              
                                        <tbody>
                                            <tr class="result-item user thead-white table-border " ng-click="CTDeatilsForPOYear()">
                                                <th scope="row">1</th>
                                                <td>Process Order</td>
                                               <td>{{avgCompletedTime}}</td>   
                                              
                                            </tr>
                                            <tr class="result-item user thead-white table-border "  ng-click="CTDeatilsForPOYear()">
                                                <th scope="row">2</th>
                                                <td>Charging</td>
                                               <td>{{avgChargingTime}}</td>   
                                           
                                            </tr>
                                            <tr class="result-item user thead-white table-border "   ng-click="CTDeatilsForPOYear()" >
                                                <th scope="row">3</th>
                                          
                                                <td>Quality</td>
                                                    <td>{{avgQualityTime}}</td>   
                                                
                                            </tr>
                                               <tr class="result-item user thead-white table-border "   ng-click="CTDeatilsForPOYear()">
                                                <th scope="row">4</th>
                                        
                                                <td>Packing</td>
                                                    <td>{{avgPackingTime}}</td>   
                                               
                                            </tr>

                                        </tbody>
                                    </table>
                                    </div>
                                   
                                    
                                </div>
                                
                            </div>
                        </div>
                        <!-- / CONTENT -->
                    </div>
                </div>
            </div>
            <!-- //content ends here -->




</div>