<div class="widget-group pt-12 "  ng-app="ManagementApp">
<!-- WIDGET GROUP -->
<div class="description bg-purble-custom-100  ">

<div class="container">
<div class="row">
<div class="col-md-6">
<div class="description-text ">
<h5 class="text-white-500">  <span class="text-white-500 icon-chart-histogram"></span>current Quarter Production Report</h5>
</div>

</div>
<div class="col-md-5"></div>


</div>

</div>


</div>
<div class=" ">
<div class="widget widget1 card">
<div class="container p-6">

<span class="center">
<h5>Current Quarter Production Report
</h5>

</span>
<div class="my-info-1">
<div id="container" class="2017 " style="min-width: 100%; height: 400px; margin: 0 auto"></div>
</div>



<!-- <script type="text/javascript">

$(document).on('change', '.div-toggle', function() {
var target = $(this).data('target');
var show = $("option:selected", this).data('show');
$(target).children().addClass('hide');
$(show).removeClass('hide');
});
$(document).ready(function(){
$('.div-toggle').trigger('change');
});
</script> -->
</div>
</div>
</div>
</div>
<script src="https://code.highcharts.com/highcharts.js"></script>
<!-- <script src="https://code.highcharts.com/modules/exporting.js"></script> -->

<!-- <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
WIDGET 7
 -->