<div class="content " ng-app="ManagementApp">
	<div id="project-dashboard" class="page-layout simple  tabbed">

		<div class="page-content">

			<div class="tab-content">
				<!-- content start from here -->
				<div class="widget widget-2   card">
					<div class="description bg-purble-custom-100">
					<div class="row">
				<div class="col-md-6">

	<div class="description-text ">
							<h5 class="text-white-500">
								<span class="icon r text-white-500 icon-chart-pie"></span>Day
								Wise production Report 
							</h5>
						</div></div>
				<div class="col-md-6">	<span class="center p-4" >
                  <h6 class="text-white-500">Quarter
                  <select id="quarter" ng-model="quarter" ng-change="selectingQuarter(quarter)" data-target=".my-info-1" class="div-toggle custom-select text-purble-custom-100">
                   <option value="" default selected > Quarter {{curQuarter}}</option>
                    <option value="1" data-show=".2019">Quarter1</option>
                     <option value="2" data-show=".2019">Quarter2</option>
                     <option value="3" data-show=".2019">Quarter3</option>
                     <option value="4" data-show=".2019">Quarter4</option>
                  </select>
                  </h6>
                </span>
				
				
				
				</div>
				</div>
						<!-- contetn for search -->
						<div class="bg-white  p-6">
							<div class="container">
								<div class="row" ng-show="CurrentQuarterCount">
									<div class="col-md-8 p-4">
										<span class="title font-weight-bold h5 mr-2">Count</span> <span
											class="result-count text-muted"> <span>
												{{currentQuarterdaysLength}}</span> <span>Results</span>
										</span>
									</div>
									
									<div class="col-md-4 p-4">

										<div id="sample-data-table_filter" class="dataTables_filter ">
											<label>Search:<input type="search"
												class="search-border " ng-model="Search"
												placeholder="Search" aria-controls="sample-data-table"></label>
										</div>
									</div>

								</div>
								
								<div class="row" ng-show="SelectQuarterCount">
									<div class="col-md-8 p-4">
										<span class="title font-weight-bold h5 mr-2">Count</span> <span
											class="result-count text-muted"> <span>
												{{selectQuarterdaysLength}}</span> <span>Results</span>
										</span>
									</div>
									
									<div class="col-md-4 p-4">

										<div id="sample-data-table_filter" class="dataTables_filter ">
											<label>Search:<input type="search"
												class="search-border " ng-model="Search"
												placeholder="Search" aria-controls="sample-data-table"></label>
										</div>
									</div>

								</div>

							</div>
							<div class="widget-content">

								<!-- the real content inside widger -->


								<div class="tab-pane fade active show form-pad1x"
									id="users-tab-pane" role="tabpanel" aria-labelledby="users-tab"
									aria-expanded="true">
									<div
										class="result-info row no-gutters align-items-center justify-content-center justify-content-sm-between pb-4">
										<!--  ends here  -->
									</div>


									<div class="results ">
									
									
									<div ng-show="currentQuarterDays">
									<div class="row" ng-if="currentQuarterdays.length == 0">
										<div class="col-12">
											<div id="exampleAccordion"  data-children=".item">
												<div class="item">
													<div class="linkshow" style="color: white !important;">
														<a class="nav-link ripple fuse-ripple-ready collapsed">
															<b>No Results found</b>
														</a>
													</div>
												</div>
												<div class="space2x"></div>
											</div>
										</div>
									</div>
									<div ng-if="currentQuarterdays.length !=0 ">
									<button style="margin-bottom:10px; margin-right:19px"  type="button" class="btn btn-primary fuse-ripple-ready" ng-click="currentQuarterProductReport()"><span class="icon-box-download"> </span>  &nbsp; Download</button>
                              
									<!-- <button  style="margin-bottom:10px; margin-right:19px" ng-click="currentQuarterProductReport()">Download</button> -->
										<table class="table table-responsive " >
											<thead class="thead-inverse">
												<tr>
													<th>#</th>
													<th>Date</th>
													<th>Planned Production(MT)</th>
													<th>Actual production(MT)</th>
													<th>Deviation(%)</th>
												</tr>
											</thead>
											<tbody class="table-border">

												<tr class="result-item user thead-white"
													dir-paginate="currentQuarterday in currentQuarterdays | filter:Search |itemsPerPage:5">
													<td>{{$index+1}}</td>
													<td class="name" >{{currentQuarterday.plannedDate}}</td>
													<td class="position">{{currentQuarterday.sum1}}</td>
													<td class="position">{{currentQuarterday.weeklySum}}</td>
													<td class="position">{{currentQuarterday.dailySum}}</td>
													
												</tr>
											</tbody>
										</table>
										 <div>
												
												</div>
												</div>
										</div> 
										
										<div ng-show="selectQuarterDays">
									<div class="row" ng-if="selectQuarterdays.length == 0">
										<div class="col-12">
											<div id="exampleAccordion"  data-children=".item">
												<div class="item">
													<div class="linkshow" style="color: white !important;">
														<a class="nav-link ripple fuse-ripple-ready collapsed">
															<b>No Results found</b>
														</a>
													</div>
												</div>
												<div class="space2x"></div>
											</div>
										</div>
									</div>
									<div ng-if="selectQuarterdays.length !=0">
									<button  style="margin-bottom:10px; margin-right:19px" type="button" class="btn btn-primary fuse-ripple-ready" ng-click="selectQuarterProductReport()"><span class="icon-box-download"> </span>  &nbsp; Download</button>
										<table class="table table-responsive " >
											<thead class="thead-inverse">
												<tr>
													<th>#</th>
													<th>Date</th>
													<th>Planned Production(MT)</th>
													<th>Actual production(MT)</th>
													<th>Deviation(%)</th>
												</tr>
											</thead>
											<tbody class="table-border">

												<tr class="result-item user thead-white"
													dir-paginate="selectQuarterday in selectQuarterdays | filter:Search |itemsPerPage:5">
													<td>{{$index+1}}</td>
													<td class="name" >{{selectQuarterday.plannedDate}}</td>
													<td class="position">{{selectQuarterday.sum1}}</td>
													<td class="position">{{selectQuarterday.weeklySum}}</td>
													<td class="position">{{selectQuarterday.dailySum}}</td>
													
												</tr>
											</tbody>
										</table>
										</div>
										</div>
										
										
										
										
									</div>
									<!-- -------------------------- pagination--------------------------------------------->

									<nav aria-label="pagination" class="my-8">
										<dir-pagination-controls max-size="5" direction-links="true"
											boundary-links="true"> </dir-pagination-controls>

										<style>
.pagination>li>a, .pagination>li>span {
	position: relative;
	float: right;
	padding: 6px 12px;
	margin-left: 1px;
	line-height: 1.42857143;
	color: #428bca;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
}

.pagination>li>a:hover {
	color: white;
	text-decoration: none;
	background-color: blue;
}
</style>
									</nav>





								</div>
							</div>

							<!-- //content start from here -->

						</div>
					</div>
				</div>
				<script type="text/javascript"
					src="../assets/js/apps/dashboard/project.js"></script>
			</div>