<div class="content-wrapper" ng-app="ManagemenApp">

<div class="content ">
<div id="project-dashboard" class="page-layout simple right-sidebar tabbed">
<div class="page-content-wrapper">
<!-- CONTENT -->
<div class="page-content">

<div class="tab-content">
<div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab">

<div class="widget-group ">
									<!-- WIDGET GROUP -->
									<div class="description bg-purble-custom-100  ">

										<div class="container">
											<div class="row">
												<div class="col-md-6">
													<div class="description-text ">
														<h5 class="text-white-500">
															<span class="text-white-500 icon-chart-arc"></span>
															Current Week Production Report
														</h5>
													</div>

												</div>
												<div class="col-md-6" ><p style="color: white;
    float: right;
    padding-top: 10px;
    padding-right: 50px;">CurrentWeek StartDate:&nbsp;{{startDate}}<br>CurrentWeek EndDate:&nbsp;{{endDate}} </p></div>


											</div>

										</div>


									</div>
									<div class=" ">
										<div class="widget widget1 card">
											<table class="table table-hover">
												<thead class="table-header-grey ">
													<tr>
														<th>#</th>
														<th>Monday</th>
														<th>Tuesday</th>
														<th>Wednesday</th>
														<th>Thursday</th>
														<th>Friday</th>
														<th>Saturday</th>
														<th>Sunday</th>
													</tr>
												</thead>
												<tbody>
													<tr class="table-border">
														<th scope="row" class="table-header-grey">Planned Production(MT)</th>
														<td ng-repeat="planned in plannedProduction">{{planned.weeklySum}}</td>
													</tr>
													<tr class="table-border">
														<th scope="row" class="table-header-grey">Actual Production(MT)</th>
														<td ng-repeat="weeklyorder in weeklyorders">{{weeklyorder.sum1}}</td>
														 
													</tr>

												</tbody>
											</table>

										</div>
									</div>
								</div>

<div class="widget-group row">

							<div class="col-12 col-sm-6 col-xl-3 p-3">
								<div class="widget widget1 card">
									<div class="widget-header pl-4 pr-2 row no-gutters align-items-center justify-content-between">
										<div class="col">
											<span class="text-purble-custom-100 h6"></span>
										</div>

									</div>
									<div class="widget-content pt-2 pb-8 d-flex flex-column align-items-center justify-content-center">
										<div class="text-secondary h5 ng-binding"><B>{{totalPlanned}}</B> (MT)</div>
										<div class="sub-title h6 text-muted">PLANNED <!-- QUANTITY / WEEK --></div>
									</div>
									<div class="widget-footer p-4 bg-light row no-gutters align-items-center">


									</div>
								</div>
							</div>



							<div class="col-12 col-sm-6 col-xl-3 p-3">
								<div class="widget widget1 card">
									<div class="widget-header pl-4 pr-2 row no-gutters align-items-center justify-content-between">

									</div>
									<div class="widget-content pt-2 pb-8 d-flex flex-column align-items-center justify-content-center">
										<div class="text-info h5 ng-binding"><B>{{totalActual}}</B> (MT)</div>
										<div class="sub-title h6 text-muted">ACTUAL <!-- QUANTITY PRODUCED --></div>
									</div>
									<div class="widget-footer p-4 bg-light row no-gutters align-items-center">


									</div>
								</div>
							</div>

							<div class="col-12 col-sm-6 col-xl-3 p-3">
								<div class="widget widget1 card">
									<div class="widget-header pl-4 pr-2 row no-gutters align-items-center justify-content-between">

									</div>
									<div class="widget-content pt-2 pb-8 d-flex flex-column align-items-center justify-content-center">
										<div class="  text-danger h5 ng-binding"><B>{{remaining}}</B>(MT)</div>
										<div class="sub-title h6 text-muted">PENDING<!-- REMAINING QUANTITY --> </div>
									</div>
									<div class="widget-footer p-4 bg-light row no-gutters align-items-center">


									</div>
								</div>
							</div>

<div class="col-12 col-sm-6 col-xl-3 p-3">
								<div class="widget widget1 card">
									<div class="widget-header pl-4 pr-2 row no-gutters align-items-center justify-content-between">

									</div>
									<div class="widget-content pt-2 pb-8 d-flex flex-column align-items-center justify-content-center">
										<div class="text-danger h5 ng-binding"><B>{{askingRate}}</B> (MT)</div>
										<div class="sub-title h6 text-muted">Asking Rate For Further Days<!-- QUANTITY PRODUCED --></div>
									</div>
									<div class="widget-footer p-4 bg-light row no-gutters align-items-center">


									</div>
								</div>
							</div>

							<!-- <div class="col-12 col-sm-6 col-xl-3 p-3">
                                        <div class="widget widget1 card">
                                            <div class="widget-header pl-4 pr-2 row no-gutters align-items-center justify-content-between">
                                                <div class="col">
                                                    
                                                </div>
                                               
                                            </div>
                                            <div class="widget-content pt-2 pb-8 d-flex flex-column align-items-center justify-content-center">
                                                <div class="title text-secondary">{{length}}</div>
                                                <div class="sub-title h6 text-muted">ORDER's REMANING</div>
                                            </div>
                                            <div class="widget-footer p-4 bg-light row no-gutters align-items-center">
                                             
                                                
                                            </div>
                                        </div>
                                    </div>
 -->



							<!-- thrid widget ends here -->
						</div>
								<!-- WIDGET 7 -->

								<!-- / WIDGET GROUP -->
							</div>


						</div>
						<!-- / WIDGET 9 -->
						<!-- WIDGET 10 -->

						<!-- / WIDGET 10 -->
					</div>
					<!-- / WIDGET GROUP -->
				</div>
			</div>
		</div>
		<!-- / CONTENT -->
	</div>
</div>
