<div class="content-wrapper" ng-app="ManagemenApp">

<div class="content ">
<div id="project-dashboard" class="page-layout simple right-sidebar tabbed">
<div class="page-content-wrapper">
<!-- CONTENT -->
<div class="page-content">

<div class="tab-content">
<div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab">

<!-- carousel in here  -->
<!-- your content will be in here  -->


<div class="content-wrapper" >

	<div class="content ">
		<div id="project-dashboard"
			class="page-layout simple right-sidebar tabbed">
			<div class="page-content-wrapper">
				<!-- CONTENT -->
				<div class="page-content">

					<div class="tab-content">
						<div class="tab-pane fade show active" id="home-tab-pane"
							role="tabpanel" aria-labelledby="home-tab">

							<!-- carousel in here  -->
							<!-- your content will be in here  -->



							<!-- carosel in here  -->
							<!-- first table here  -->
							<div class="widget-group row">
								<!-- WIDGET GROUP -->
								<div class="col-md-3 "></div>
							</div>

							<div class="widget-group pt-12">
								<!-- WIDGET GROUP -->
								<div class="description bg-purble-custom-100  ">

									<div class="container">
										<div class="row">
											<div class="col-md-6">
												<div class="description-text ">
													<h5 class="text-white-500">
														<span class="text-white-500 icon-format-page-break"></span>
														Todays Process Order Status
													</h5>
												</div>

											</div>
											<div class="col-md-5"></div>


										</div>

									</div>


								</div>
								<div class=" ">
									<div class="widget widget1 card p-3">


										<div class="row p-6">
											<div class="col-md-5">
												<span class="title font-weight-bold h5 mr-2">Process Orders</span> <span
													class="result-count text-muted"> <span>{{DailyOrders.length}}</span>
													<span>Results</span>
												</span>
											</div>
											<div class="col-md-2">
												<span class="badge badge-success ">Order Process
													completed</span>
											</div>
											<div class="col-md-2 ">
												<span class="badge text-black-500  bg-yellow-600">
												             Running/In progress</span>
											</div>
											<div class="col-md-2">
												<span class="badge badge-light"> RM to be issued </span>
											</div>
											<div class="col-md-1">
												<span class=" badge badge-danger">Quality Declined </span>
											</div>
											<!--   <div class="col-md-2 tagline"><i class="text-red-600 icon-label"></i>error/failure</div> -->
										</div>
										

										



											<div class="row">
											
										
											
											<div class="item " ng-repeat="DailyOrderList in DailyOrders" style="padding: 0.5%;padding-left:0.5%">
												<div class="col-3 col-sm-12 col-xl-12">

													<div class="widget widget2 card  text-auto">
														<div
															ng-if="DailyOrderList.status.statusId ==8 || DailyOrderList.status.statusId ==14||DailyOrderList.status.statusId ==15 
															|| DailyOrderList.status.statusId ==16 || DailyOrderList.status.statusId ==18 || DailyOrderList.status.statusId==17">
															<div id="bg-yellow-600">

																<div class="widget-content p-4">
																	<div class="pb-6">
																		<!-- //collapse ends here -->
																		<div
																			class="row no-gutters align-items-center link-in ">
																			<i class="icon-format-page-break mr-2 text-white-500"></i>
																			<a data-toggle="collapse"
																				data-parent="#exampleAccordion"
																				data-target=#{{$index}} class=" text-white-500"
																				aria-expanded="true"
																				aria-controls="exampleAccordion1 ">
																				<p>
																					<b>Order
																					number</b>:{{DailyOrderList.processorderProdNumber}}</br>Material
																					<b>Name</b>:{{DailyOrderList.productTable.productDescription}}
																					
																				</p>
																			</a>
																		</div>

																		<!-- collapse here -->
																		


																	</div>

																	<!--  <div class="progress">
                                                                    <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="15" aria-valuemin="0"
                                                                    aria-valuemax="100"></div>
                                                                    
                                                                    
                                                                </div> -->
																</div>
															</div>
														</div>
														<div ng-if="DailyOrderList.status.statusId ==2 ">
															<div id="bg-green-600">

																<div class="widget-content p-4">
																	<div class="pb-6">
																		<!-- //collapse ends here -->
																		<div
																			class="row no-gutters align-items-center link-in ">
																			<i class="icon-format-page-break mr-2 text-white-500"></i>
																			<a data-toggle="collapse"
																				data-parent="#exampleAccordion"
																				data-target=#{{$index}} class=" text-white-500"
																				aria-expanded="true"
																				aria-controls="exampleAccordion1 ">
																				<p>
																					<b>Order
																					number</b>:{{DailyOrderList.processorderProdNumber}}</br>Material
																					<b>Name</b>:{{DailyOrderList.productTable.productDescription}}
																				</p>
																			</a>
																		</div>

																		<!-- collapse here -->
																		


																	</div>

																	<!-- <div class="progress">
                                                                    <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="15" aria-valuemin="0"
                                                                    aria-valuemax="100"></div>
                                                                    
                                                                    
                                                                </div> -->
																</div>
															</div>
														</div>
														<div
															ng-if="DailyOrderList.status.statusId ==19 || DailyOrderList.status.statusId ==4">
															<div id="bg-red-600">

																<div class="widget-content p-4">
																	<div class="pb-6">
																		<!-- //collapse ends here -->
																		<div
																			class="row no-gutters align-items-center link-in ">
																			<i class="icon-format-page-break mr-2 text-white-500"></i>
																			<a data-toggle="collapse"
																				data-parent="#exampleAccordion"
																				data-target=#{{$index}} class=" text-white-500"
																				aria-expanded="true"
																				aria-controls="exampleAccordion1 ">
																				<p>
																					<b>Order
																					number</b>:{{DailyOrderList.processorderProdNumber}}</br>Material
																					<b>Name</b>:{{DailyOrderList.productTable.productDescription}}
																				</p>
																			</a>
																		</div>

																		<!-- collapse here -->
																		

																	</div>

																	<!--  <div class="progress">
                                                                    <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="15" aria-valuemin="0"
                                                                    aria-valuemax="100"></div>
                                                                    
                                                                    
                                                                </div> -->
																</div>
															</div>
														</div>
														<div ng-if="DailyOrderList.status.statusId ==7">
															<div id="bg-white-600">

																<div class="widget-content p-4">
																	<div class="pb-6">
																		<!-- //collapse ends here -->
																		<div
																			class="row no-gutters align-items-center link-in ">
																			<i class="icon-format-page-break mr-2 text-white-500"></i>
																			<a data-toggle="collapse"
																				data-parent="#exampleAccordion"
																				data-target=#{{$index}} class=" text-white-500"
																				aria-expanded="true"
																				aria-controls="exampleAccordion1 ">
																				<p>
																					Order
																					number:{{DailyOrderList.processorderProdNumber}}</br>Material
																					Name:{{DailyOrderList.productTable.productDescription}}
																				</p>
																			</a>
																		</div>

																		<!-- collapse here -->
																		


																	</div>

																	<!--  <div class="progress">
                                                                    <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="15" aria-valuemin="0"
                                                                    aria-valuemax="100"></div>
                                                                    
                                                                    
                                                                </div> -->
																</div>
															</div>
														</div>


													</div>
												</div>
											</div>
											</div>
											

										
									</div>
									
									
									
									
									
								</div>




								<!-- //first table here  -->
								
								
							
<!-- --------------------------------------------------------------------------------------------------- -->
								



