<div class="widget-group "  ng-app="ManagementApp">
<!-- WIDGET GROUP -->
 
<div class="content ">
<div id="project-dashboard" class="page-layout simple right-sidebar tabbed">
<div class="page-content-wrapper">
<!-- CONTENT -->
<div class="page-content">

<div class="tab-content">
<div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab">

<div class="widget-group"  >
<!-- WIDGET GROUP -->

<div class="description bg-purble-custom-100  ">

<div class="container">
<div class="row">
<div class="col-md-6">
<div class="description-text ">
<h5 class="text-white-500">  <span class="text-white-500 icon-chart-histogram"></span> Yearly Production Report</h5>
</div>
</div>

<div class="col-md-6">	<span class="center p-4" >
                  <h6 class="text-white-500">Year
                  <select id="year" ng-model="year" ng-change="yearwiseBarchart(year)" data-target=".my-info-1" class="div-toggle custom-select text-purble-custom-100">
                   <option id="currYear" value="" default selected ></option>
                    <option value="2018" data-show=".2018" >2018</option>
                    <option value="2019" data-show=".2018" >2019</option>
                    <option value="2020" data-show=".2018" >2020</option>
                    <option value="2021" data-show=".2018" >2021</option>
                    <option value="2022" data-show=".2018" >2022</option>
                    <option value="2023" data-show=".2018" >2023</option>
                    <option value="2024" data-show=".2018" >2024</option>
                    <option value="2025" data-show=".2019">2025</option>
                    <option value="2026" data-show=".2018" >2026</option>
                    <option value="2027" data-show=".2018" >2027</option>
                    <option value="2028" data-show=".2018" >2028</option>
                    <option value="2029" data-show=".2018" >2029</option>
                    <option value="2030" data-show=".2018" >2030</option>
                    <option value="2031" data-show=".2018" >2031</option>
                    <option value="2032" data-show=".2018" >2032</option>
                    <option value="2033" data-show=".2018" >2033</option>
                    <option value="2034" data-show=".2018" >2034</option>
                    <option value="2035" data-show=".2018" >2035</option>
                    <option value="2036" data-show=".2018" >2036</option>
                    <option value="2037" data-show=".2018" >2037</option>
                    <option value="2038" data-show=".2018" >2038</option>
                    <option value="2039" data-show=".2018" >2039</option>
                    <option value="2040" data-show=".2018" >2040</option>
                    <option value="2041" data-show=".2018" >2041</option>
                    <option value="2042" data-show=".2018" >2042</option>
                    <option value="2043" data-show=".2018" >2043</option>
                    <option value="2044" data-show=".2018" >2044</option>
                    <option value="2045" data-show=".2018" >2045</option>
                    <option value="2046" data-show=".2018" >2046</option>
                    <option value="2047" data-show=".2018" >2047</option>
                    <option value="2048" data-show=".2018" >2048</option>
                    <option value="2049" data-show=".2018" >2049</option>
                    <option value="2050" data-show=".2018" >2050</option>
                    <option value="2051" data-show=".2018" >2051</option>
                    <option value="2052" data-show=".2018" >2052</option>
                    <option value="2053" data-show=".2018" >2053</option>
                    <option value="2054" data-show=".2018" >2054</option>
                    <option value="2055" data-show=".2018" >2055</option>
                    <option value="2056" data-show=".2018" >2056</option>
                    <option value="2057" data-show=".2018" >2057</option>
                    <option value="2058" data-show=".2018" >2058</option>
                    <option value="2059" data-show=".2018" >2059</option>
                    <option value="2060" data-show=".2018" >2060</option>
                    <option value="2061" data-show=".2018" >2061</option>
                    <option value="2062" data-show=".2018" >2062</option>
                    <option value="2063" data-show=".2018" >2063</option>
                    <option value="2064" data-show=".2018" >2064</option>
                    <option value="2065" data-show=".2018" >2065</option>
                    <option value="2066" data-show=".2018" >2066</option>
                    <option value="2067" data-show=".2018" >2067</option>
                    <option value="2068" data-show=".2018" >2068</option>
                    <option value="2069" data-show=".2018" >2069</option>
                    <option value="2070" data-show=".2018" >2070</option>
                    <option value="2071" data-show=".2018" >2071</option>
                    <option value="2072" data-show=".2018" >2072</option>
                    <option value="2073" data-show=".2018" >2073</option>
                    <option value="2074" data-show=".2018" >2074</option>
                    <option value="2075" data-show=".2018" >2075</option>
                    <option value="2076" data-show=".2018" >2076</option>
                    <option value="2077" data-show=".2018" >2077</option>
                    <option value="2078" data-show=".2018" >2078</option>
                    <option value="2079" data-show=".2018" >2079</option>
                    <option value="2080" data-show=".2018" >2080</option>
                    <option value="2081" data-show=".2018" >2081</option>
                    <option value="2082" data-show=".2018" >2082</option>
                    <option value="2083" data-show=".2018" >2083</option>
                    <option value="2084" data-show=".2018" >2084</option>
                    <option value="2085" data-show=".2018" >2085</option>
                    <option value="2086" data-show=".2018" >2086</option>
                    <option value="2087" data-show=".2018" >2087</option>
                    <option value="2088" data-show=".2018" >2088</option>
                    <option value="2089" data-show=".2018" >2089</option>
                    <option value="2090" data-show=".2018" >2090</option>
                    <option value="2091" data-show=".2018" >2091</option>
                    <option value="2092" data-show=".2018" >2092</option>
                    <option value="2093" data-show=".2018" >2093</option>
                    <option value="2094" data-show=".2018" >2094</option>
                    <option value="2095" data-show=".2018" >2095</option>
                    <option value="2096" data-show=".2018" >2096</option>
                    <option value="2097" data-show=".2018" >2097</option>
                    <option value="2098" data-show=".2018" >2098</option>
                    <option value="2099" data-show=".2018" >2099</option>
                    <option value="2100" data-show=".2018" >2100</option>
                    
                  </select>
                  </h6>
                </span>
				
				
				
				</div>
<div class="col-md-5"></div>


</div> 

</div>


</div>
<div class=" ">
<div class="widget widget1 card">
<div class="container p-6">


<div class="my-info-1">
<div id="container" class="2017 " style="min-width: 100%; height: 400px; margin: 0 auto"></div>
</div>



<!-- <script type="text/javascript">

$(document).on('change', '.div-toggle', function() {
var target = $(this).data('target');
var show = $("option:selected", this).data('show');
$(target).children().addClass('hide');
$(show).removeClass('hide');
});
$(document).ready(function(){
$('.div-toggle').trigger('change');
});
</script> -->
<script type="text/javascript">
jQuery(document).ready(function($){
		//alert("document ready");
		
		var currentYear= new Date();
		var currYear=currentYear.getFullYear();
		//alert(currYear);
		//$("#currYear").val(currYear);
		$("#currYear").text(currYear);

	});
	</script>
</div>
</div>
</div>
</div>
<script type="text/javascript" src="../assets/js/apps/dashboard/project.js"></script>
<!-- <script src="..\assets\js\chart\current.js"></script> -->
<!-- <script type="text/javascript" src="js/yearlyHighChart.js"></script> -->
<script type="text/javascript" src="js/yearly.js"></script> 

<!-- WIDGET 7 -->
