<div class="content " ng-app="ManagementApp">
	<div id="project-dashboard" class="page-layout simple  tabbed">
		<div class="page-content">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<nav class="breadcrumb">
					<a class="breadcrumb-item" ui-sref="ProductWiseReports">
						Product Wise Report</a> <span class="breadcrumb-item active">Date
						Wise Product Reports </span>
				</nav>


			</ul>
			<!-- content stats here -->
			<div class="content">
				<div id="project-dashboard" class="page-layout simple  tabbed">

					<div class="page-content">

						<div class="tab-content">
							<!-- content start from here -->
							<div class="widget widget-2   card">
								<div class="description bg-purble-custom-100">
									<div class="description-text ">
										<h5 class="text-white-500">
											<span class="icon r text-white-500 icon-chart-pie"></span>Product
											Wise Report
										</h5>
									</div>

								</div>	
								
								
								
								<!-- 
								<div class=" p-6">
									<div class="container">

										<div class="row">
											<div class="col-md-2">
												<p>
													<b>Filter With Date</b>
												</p>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<input class="form-control md-has-value" type="date"
														value="2011-08-19" id="example-date-input"> <label
														for="example-date-input ">From Date</label>
												</div>
												<div class="dataTables_filter ">
                                                            <label>From Date:<input type="date" id="example-date-input" class="search-border ng-pristine ng-valid ng-empty ng-touched" 
                                                            ng-model="Search1" placeholder="Search" aria-controls="sample-data-table"></label>
                                                        </div>
											</div>

											<div class="col-md-3">
												<div class="form-group">
													<input class="form-control md-has-value" type="date"
														value="2011-08-19" id="example-date-input"> <label
														for="example-date-input">To Date</label>
												</div>
												<div class="dataTables_filter ">
                                                            <label>To Date:<input type="date" id="from-datepicker" class="search-border ng-pristine ng-valid ng-empty ng-touched" 
                                                            ng-model="Search2" placeholder="Search" aria-controls="sample-data-table"></label>
                                                        </div>
											</div>
											<div class="col-md-4"></div>

										</div>
									</div>

								</div> -->


								<div class="widget-content ">





									<!-- the real content inside widger -->

									<div class="tab-pane fade active show form-pad1x"
										id="users-tab-pane" role="tabpanel"
										aria-labelledby="users-tab" aria-expanded="true">
										
										
										<div class="container">
								<div class="row">
									<div class="col-md-8 p-4">
										<span class="title font-weight-bold h6 mr-2">Products</span> <span
											ng-show="allReactorsLengths" class="result-count text-muted">
											<span>{{allReactorsCounts}}</span> <span>Results</span>
										</span> <span ng-show="all5MTReactorsLengths"
											class="result-count text-muted"> <span>{{all5MTReactorsCounts}}</span>
											<span>Results</span>
										</span> <span ng-show="all1MTReactorsLengths"
											class="result-count text-muted"> <span>{{all1MTReactorsCounts}}</span>
											<span>Results</span>
										</span>
									</div>



									<div class="col-md-4 p-4">
										<button type="button"
											class="btn btn-icon  right fuse-ripple-ready "
											id="dropdownMenu2" data-toggle="dropdown"
											aria-haspopup="true" aria-expanded="false">
											Filter <i
												class=" text-black-custom-100  icon-filter-outline
                                            ">
											</i>
										</button>

										<div class="dropdown-menu" aria-labelledby="dropdownMenu2"
											x-placement="bottom-start"
											style="position: absolute; transform: translate3d(0px, 36px, 0px); top: 0px; left: 0px; will-change: transform;">
											<button class="dropdown-item fuse-ripple-ready" type="button"
												ng-click=reactor1mts()>1MT-REACTOR</button>
											<button class="dropdown-item fuse-ripple-ready" type="button"
												ng-click=reactor5mts()>5MT-REACTOR</button>

										</div>
									</div>
								</div>
								
								</div>
								
										
										
										
										
										
										
										
										<div
											class="result-info row no-gutters align-items-center justify-content-center justify-content-sm-between pb-4">
											<!--  ends here  -->
										</div>

										<div class="results ">
										<div  ng-show="AllReactorss">
										<div class="row" ng-if="allReactorsCounts == 0">
										<div class="col-12">
											<div id="exampleAccordion"  data-children=".item">
												<div class="item">
													<div class="linkshow" style="color: white !important;">
														<a class="nav-link ripple fuse-ripple-ready collapsed">
															<b>No Results found</b>
														</a>
													</div>
												</div>
												<div class="space2x"></div>
											</div>
										</div>
									</div>
										<div ng-if="allReactorsCounts != 0 ">
										<!-- <button  style="margin-bottom:10px; margin-right:19px" ng-click="datewiseProductReports()">Download</button> -->
										<button style="margin-bottom:10px; margin-right:19px"  type="button" class="btn btn-primary fuse-ripple-ready" ng-click="datewiseProductReports()"><span class="icon-box-download"> </span>  &nbsp; Download</button>
                              
											<table class="table table-responsive ">
												<thead class="thead-inverse">
													<tr>
														<th>#</th>
														<th>Production/Package Order Number</th>
														<th>Batch Date</th>
														<th>Product Number</th>
														<th>Product Name</th>
														<th>Quantity(MT)</th>
														<th>Packing Completed Date</th>
														<th>Reactor Name</th>
														<th>Lead Time</th>


													</tr>
												</thead>
												<tbody class="table-border" >
													<tr class="result-item user thead-white"
														dir-paginate="datewiseproductreport in datewiseproductreportss | filter:Search |itemsPerPage:5">
														<td>{{$index+1}}</td>
														<td>{{datewiseproductreport.processOrderProdNumber}}</td>
														<td>{{datewiseproductreport.batchDate}}</td>
														<td>{{datewiseproductreport.productnumber}}</td>
														<td class="name">{{datewiseproductreport.productDescription}}</td>
														<td class="position">{{datewiseproductreport.sum1}}
														<td class="position">{{datewiseproductreport.completedDate}}
														<td>{{datewiseproductreport.reactor}}</td>
														<td>{{datewiseproductreport.completedTime}}</td>
														<td>
													</tr>

												</tbody>
												</table>
												</div>
												
									</div>		
									
									
										<div ng-show="Reactor1MTs">
										<div ng-if="all1MTReactorsCounts !=0">
										<!-- <button  style="margin-bottom:10px; margin-right:19px" ng-click="datewise1MTProductReports()">Download</button> -->
										<button style="margin-bottom:10px; margin-right:19px"  type="button" class="btn btn-primary fuse-ripple-ready" ng-click="datewise1MTProductReports()"><span class="icon-box-download"> </span>  &nbsp; Download</button>
    	
												<table class="table table-responsive " >
												<thead class="thead-inverse">
													<tr>
														<th>#</th>
														<th>Production/Package Order Number</th>
														<th>Batch Date</th>
														<th>Product Number</th>
														<th>Product Name</th>
														<th>Quantity(MT)</th>
														<th>Packing Completed Date</th>
														<th>Reactor Name</th>
														<th>Lead Time</th>

													</tr>
												</thead>
												<tbody class="table-border" >
													<tr class="result-item user thead-white"
														dir-paginate="all1MTReactor in all1MTReactorss | filter:Search |itemsPerPage:5">
														<td>{{$index+1}}</td>
														<td>{{all1MTReactor.processOrderProdNumber}}</td>
														<td>{{all1MTReactor.batchDate}}</td>
														<td>{{all1MTReactor.productnumber}}</td>
														<td class="name">{{all1MTReactor.productDescription}}</td>
														<td class="position">{{all1MTReactor.sum1}}</td>
														<td class="position">{{all1MTReactor.completedDate}}</td>
														<td>{{all1MTReactor.reactor}}</td>
														<td>{{all1MTReactor.completedTime}}</td>
														<td>
													</tr>

												</tbody>
												</table>
												</div>
												<div class="row" ng-if="all1MTReactorsCounts == 0">
										<div class="col-12">
											<div id="exampleAccordion"  data-children=".item">
												<div class="item">
													<div class="linkshow" style="color: white !important;">
														<a class="nav-link ripple fuse-ripple-ready collapsed">
															<b>No Results found</b>
														</a>
													</div>
												</div>
												<div class="space2x"></div>
											</div>
										</div>
									</div>
									</div>
												
												<div ng-show="Reactor5MTs">
										       <div ng-if="all5MTReactorsCounts !=0">
										     <!--   <button  style="margin-bottom:10px; margin-right:19px" ng-click="datewise5MTProductReports()">Download</button> -->
												<button style="margin-bottom:10px; margin-right:19px"  type="button" class="btn btn-primary fuse-ripple-ready" ng-click="datewise5MTProductReports()"><span class="icon-box-download"> </span>  &nbsp; Download</button>
    
												<table class="table table-responsive " >
												<thead class="thead-inverse">
													<tr>
														<th>#</th>
														<th>Production/Package Order Number</th>
														<th>Batch Date</th>
														<th>Product Number</th>
														<th>Product Name</th>
														<th>Quantity(MT)</th>
														<th>Packing Completed Date</th>
														<th>Reactor Name</th>
														<th>Lead Time</th>

													</tr>
												</thead>
												<tbody class="table-border" >
													<tr class="result-item user thead-white"
														dir-paginate="all5MTReactor in all5MTReactorss | filter:Search |itemsPerPage:5">
														<td>{{$index+1}}</td>
														<td>{{all5MTReactor.processOrderProdNumber}}</td>
														<td>{{all5MTReactor.batchDate}}</td>
														<td>{{all5MTReactor.productnumber}}</td>
														<td class="name">{{all5MTReactor.productDescription}}</td>
														<td class="position">{{all5MTReactor.sum1}}</td>
														<td class="position">{{all5MTReactor.completedDate}}</td>
														<td>{{all5MTReactor.reactor}}</td>
														<td>{{all5MTReactor.completedTime}}</td>
														<td>
													</tr>

												</tbody>

											</table>

										</div>
<div class="row" ng-if="all5MTReactorsCounts == 0">
										<div class="col-12">
											<div id="exampleAccordion"  data-children=".item">
												<div class="item">
													<div class="linkshow" style="color: white !important;">
														<a class="nav-link ripple fuse-ripple-ready collapsed">
															<b>No Results found</b>
														</a>
													</div>
												</div>
												<div class="space2x"></div>
											</div>
										</div>
									</div>
									</div>

</div>




										<!-----------------------------pagination ------------------------ -->
										<nav aria-label="pagination" class="my-8">

											<dir-pagination-controls max-size="5" direction-links="true"
												boundary-links="true"> </dir-pagination-controls>

											<style>
.pagination>li>a, .pagination>li>span {
	position: relative;
	float: right;
	padding: 6px 12px;
	margin-left: 1px;
	line-height: 1.42857143;
	color: #428bca;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
}

.pagination>li>a:hover {
	color: white;
	text-decoration: none;
	background-color: blue;
}
</style>
										</nav>


									</div>

								</div>


							</div>

							<!-- //content start from here -->

						</div>

					</div>
				</div>
				<script type="text/javascript"
					src="../assets/js/apps/dashboard/project.js"></script>
			</div>
			<!--  //content ends here -->

		</div>
	</div>
</div>

