<div class="content " ng-app="ManagementApp">
	<div id="project-dashboard" class="page-layout simple  tabbed">

		<div class="page-content">

			<div class="tab-content">
				<!-- content start from here -->
				<div class="widget widget-2   card">
					<div class="description bg-purble-custom-100">
					<div class="row">
				<div class="col-md-6">

	<div class="description-text ">
							<h5 class="text-white-500">
								<span class="icon r text-white-500 icon-chart-pie"></span>Product
								Wise Report 
							</h5>
						</div></div>
				<div class="col-md-6">	<span class="center p-4" >
                  <h6 class="text-white-500">Year
                  <select id="year" ng-model="year" ng-change="yearwiseReport(year)" data-target=".my-info-1" class="div-toggle custom-select text-purble-custom-100">
                   <option value="" default selected >   {{curYear}}</option>
                    <option value="2017" data-show=".2018" >2017</option>
                    <option value="2018" data-show=".2018" >2018</option>
                    <option value="2019" data-show=".2018" >2019</option>
                    <option value="2020" data-show=".2018" >2020</option>
                    <option value="2021" data-show=".2018" >2021</option>
                    <option value="2022" data-show=".2018" >2022</option>
                    <option value="2023" data-show=".2018" >2023</option>
                    <option value="2024" data-show=".2018" >2024</option>
                    <option value="2025" data-show=".2019">2025</option>
                    <option value="2026" data-show=".2019">2026</option>
                    <option value="2027" data-show=".2019">2027</option>
                    <option value="2028" data-show=".2019">2028</option>
                    <option value="2029" data-show=".2019">2029</option>
                    <option value="2030" data-show=".2019">2030</option>
                    <option value="2031" data-show=".2019">2032</option>
                    <option value="2032" data-show=".2019">2033</option>
                   <option value="2034" data-show=".2019">2034</option>
                    <option value="2035" data-show=".2019">2035</option>
                     <option value="2036" data-show=".2019">2036</option>
                      <option value="2037" data-show=".2019">2037</option>
                       <option value="2038" data-show=".2019">2038</option>
                        <option value="2039" data-show=".2019">2039</option>
                         <option value="2040" data-show=".2019">2040</option>
                          <option value="2041" data-show=".2019">2041</option>
                           <option value="2042" data-show=".2019">2042</option>
                            <option value="2043" data-show=".2019">2043</option>
                             <option value="2044" data-show=".2019">2044</option>
                              <option value="2045" data-show=".2019">2045</option>
                               <option value="2046" data-show=".2019">2046</option>
                                <option value="2047" data-show=".2019">2047</option>
                                 <option value="2048" data-show=".2019">2048</option>
                                  <option value="2049" data-show=".2019">2049</option>
                                   <option value="2050" data-show=".2019">2050</option>
                                   <option value="2051" data-show=".2018" >2051</option>
                    <option value="2052" data-show=".2018" >2052</option>
                    <option value="2053" data-show=".2018" >2053</option>
                    <option value="2054" data-show=".2018" >2054</option>
                    <option value="2055" data-show=".2018" >2055</option>
                    <option value="2056" data-show=".2018" >2056</option>
                    <option value="2057" data-show=".2018" >2057</option>
                    <option value="2058" data-show=".2018" >2058</option>
                    <option value="2059" data-show=".2018" >2059</option>
                    <option value="2060" data-show=".2018" >2060</option>
                    <option value="2061" data-show=".2018" >2061</option>
                    <option value="2062" data-show=".2018" >2062</option>
                    <option value="2063" data-show=".2018" >2063</option>
                    <option value="2064" data-show=".2018" >2064</option>
                    <option value="2065" data-show=".2018" >2065</option>
                    <option value="2066" data-show=".2018" >2066</option>
                    <option value="2067" data-show=".2018" >2067</option>
                    <option value="2068" data-show=".2018" >2068</option>
                    <option value="2069" data-show=".2018" >2069</option>
                    <option value="2070" data-show=".2018" >2070</option>
                    <option value="2071" data-show=".2018" >2071</option>
                    <option value="2072" data-show=".2018" >2072</option>
                    <option value="2073" data-show=".2018" >2073</option>
                    <option value="2074" data-show=".2018" >2074</option>
                    <option value="2075" data-show=".2018" >2075</option>
                    <option value="2076" data-show=".2018" >2076</option>
                    <option value="2077" data-show=".2018" >2077</option>
                    <option value="2078" data-show=".2018" >2078</option>
                    <option value="2079" data-show=".2018" >2079</option>
                    <option value="2080" data-show=".2018" >2080</option>
                    <option value="2081" data-show=".2018" >2081</option>
                    <option value="2082" data-show=".2018" >2082</option>
                    <option value="2083" data-show=".2018" >2083</option>
                    <option value="2084" data-show=".2018" >2084</option>
                    <option value="2085" data-show=".2018" >2085</option>
                    <option value="2086" data-show=".2018" >2086</option>
                    <option value="2087" data-show=".2018" >2087</option>
                    <option value="2088" data-show=".2018" >2088</option>
                    <option value="2089" data-show=".2018" >2089</option>
                    <option value="2090" data-show=".2018" >2090</option>
                    <option value="2091" data-show=".2018" >2091</option>
                    <option value="2092" data-show=".2018" >2092</option>
                    <option value="2093" data-show=".2018" >2093</option>
                    <option value="2094" data-show=".2018" >2094</option>
                    <option value="2095" data-show=".2018" >2095</option>
                    <option value="2096" data-show=".2018" >2096</option>
                    <option value="2097" data-show=".2018" >2097</option>
                    <option value="2098" data-show=".2018" >2098</option>
                    <option value="2099" data-show=".2018" >2099</option>
                    <option value="2100" data-show=".2018" >2100</option>
                                    
                  </select>
                  </h6>
                </span>
				
				
				
				</div>
				</div>
						<!-- contetn for search -->
						<div class="bg-white  p-6">
							<div class="container">
								<div class="row" ng-show="CurrentYearCount">
									<div class="col-md-8 p-4">
										<span class="title font-weight-bold h5 mr-2">Products</span> <span
											class="result-count text-muted"> <span>
												{{currentlength}}</span> <span>Results</span>
										</span>
									</div>
									
									<div class="col-md-4 p-4">

										<div id="sample-data-table_filter" class="dataTables_filter ">
											<label>Search:<input type="search"
												class="search-border " ng-model="Search"
												placeholder="Search" aria-controls="sample-data-table"></label>
										</div>
									</div>

								</div>
								
								<div class="row" ng-show="SelectYearCount">
									<div class="col-md-8 p-4">
										<span class="title font-weight-bold h5 mr-2">Products</span> <span
											class="result-count text-muted"> <span>
												{{selectLength}}</span> <span>Results</span>
										</span>
									</div>
									
									<div class="col-md-4 p-4">

										<div id="sample-data-table_filter" class="dataTables_filter ">
											<label>Search:<input type="search"
												class="search-border " ng-model="Search"
												placeholder="Search" aria-controls="sample-data-table"></label>
										</div>
									</div>

								</div>

							</div>
							<div class="widget-content">

								<!-- the real content inside widger -->


								<div class="tab-pane fade active show form-pad1x"
									id="users-tab-pane" role="tabpanel" aria-labelledby="users-tab"
									aria-expanded="true">
									<div
										class="result-info row no-gutters align-items-center justify-content-center justify-content-sm-between pb-4">
										<!--  ends here  -->
									</div>


									<div class="results ">
									
									
									<div ng-show="CurrentYear">
									<div class="row" ng-if="productwisereports.length == 0">
										<div class="col-12">
											<div id="exampleAccordion"  data-children=".item">
												<div class="item">
													<div class="linkshow" style="color: white !important;">
														<a class="nav-link ripple fuse-ripple-ready collapsed">
															<b>No Results found</b>
														</a>
													</div>
												</div>
												<div class="space2x"></div>
											</div>
										</div>
									</div>
									<div ng-if="productwisereports.length !=0 ">
									<!-- <button  style="margin-bottom:10px; margin-right:19px" ng-click="ProductReport()">Download</button> -->
									<button  style="margin-bottom:10px; margin-right:19px" type="button" class="btn btn-primary fuse-ripple-ready" ng-click="ProductReport()"><span class="icon-box-download"> </span>  &nbsp; Download</button>
                              
										<table class="table table-responsive " >
											<thead class="thead-inverse">
												<tr>
													<th>#</th>
													<th>Product Number</th>
													<th>Product Name</th>
													<th>Quantity(MT)</th>
													<th>1400kg</th>
													<th>1300kg</th>
													<th>1200kg</th>
													<th>1100kg</th>
													<th>1000kg</th>
													<th>870kg</th>
													<th>860kg</th>
													<th>810kg</th>
													<th>800kg</th>
													<th>280kg</th>
													<th>272kg</th>
													<th>250kg</th>
													<th>240kg</th>
													<th>230kg</th>
													<th>227kg</th>
													<th>220kg</th>
													<th>210kg</th>
													<th>206kg</th>
													<th>205kg</th>
													<th>204kg</th>
													<th>200kg</th>
													<th>190kg</th>
													<th>188kg</th>
													<th>185kg</th>
													<th>180kg</th>
													<th>175kg</th>
													<th>170kg</th>
													<th>165kg</th>
													<th>160kg</th>
													<th>150kg</th>
													<th>110kg</th>
													<th>100kg</th>
													<th>80kg</th>
													<th>70kg</th>
													<th>60kg</th>
													<th>50kg</th>
													<th>28kg</th>
													<th>25kg</th>
													<th>20kg</th>
													<th>0.4kg</th>
													<th>0.2kg</th>

												</tr>
											</thead>
											<tbody class="table-border">

												<tr class="result-item user thead-white"
													dir-paginate="productwisereport in productwisereports | filter:Search |itemsPerPage:5">
													<td>{{$index+1}}</td>
													<td>{{productwisereport.productnumber}}</td>
													<td class="link"
														ng-click="getDateWiseProductReport(productwisereport.productnumber)">
														{{productwisereport.productDescription}}</td>
													<td class="position">{{productwisereport.sum1}}</td>
													<td class="position">{{productwisereport.pckg1}}</td>
													<td class="position">{{productwisereport.pckg2}}</td>
													<td class="position">{{productwisereport.pckg3}}</td>
  												    <td class="position">{{productwisereport.pckg4}}</td>
													<td class="position">{{productwisereport.pckg5}}</td>
													<td class="position">{{productwisereport.pckg6}}</td>
													<td class="position">{{productwisereport.pckg7}}</td>
													<td class="position">{{productwisereport.pckg8}}</td>
													<td class="position">{{productwisereport.pckg9}}</td>
													<td class="position">{{productwisereport.pckg10}}</td>
													<td class="position">{{productwisereport.pckg11}}</td>
													<td class="position">{{productwisereport.pckg12}}</td>
													<td class="position">{{productwisereport.pckg13}}</td>
													<td class="position">{{productwisereport.pckg14}}</td>
													<td class="position">{{productwisereport.pckg15}}</td>
													<td class="position">{{productwisereport.pckg16}}</td>
													<td class="position">{{productwisereport.pckg17}}</td>
													<td class="position">{{productwisereport.pckg18}}</td>
													<td class="position">{{productwisereport.pckg19}}</td>
													<td class="position">{{productwisereport.pckg20}}</td>
													<td class="position">{{productwisereport.pckg21}}</td>
													<td class="position">{{productwisereport.pckg22}}</td>
													<td class="position">{{productwisereport.pckg23}}</td>
													<td class="position">{{productwisereport.pckg24}}</td>
													<td class="position">{{productwisereport.pckg25}}</td>
													<td class="position">{{productwisereport.pckg26}}</td>
													<td class="position">{{productwisereport.pckg27}}</td>
													<td class="position">{{productwisereport.pckg28}}</td>
													<td class="position">{{productwisereport.pckg29}}</td>
													<td class="position">{{productwisereport.pckg30}}</td>
													<td class="position">{{productwisereport.pckg31}}</td>
													<td class="position">{{productwisereport.pckg32}}</td>
													<td class="position">{{productwisereport.pckg33}}</td>
													<td class="position">{{productwisereport.pckg34}}</td>
													<td class="position">{{productwisereport.pckg35}}</td>
													<td class="position">{{productwisereport.pckg36}}</td>
													<td class="position">{{productwisereport.pckg37}}</td>
													<td class="position">{{productwisereport.pckg38}}</td>
													<td class="position">{{productwisereport.pckg39}}</td>
													<td class="position">{{productwisereport.pckg40}}</td>
													<td class="position">{{productwisereport.pckg41}}</td>
													
													
												</tr>
											</tbody>
											
											<tfoot class="thead-inverse" ng-repeat="packetCount in packetCounts">
												<tr>
												<th></th>
												<th></th>
												<th>Total Quantity(MT):</th>
												<th>{{packetCount.sum1}}</th>
												<th>{{packetCount.pckg1}} </th>
												<th>{{packetCount.pckg2}} </th>
												<th>{{packetCount.pckg3}} </th> 
												<th>{{packetCount.pckg4}}</th>
												<th>{{packetCount.pckg5}}</th>
												<th>{{packetCount.pckg6}}</th>
												<th>{{packetCount.pckg7}}</th>
												<th>{{packetCount.pckg8}}</th>
												<th>{{packetCount.pckg9}}</th>
												<th>{{packetCount.pckg10}}</th>
												<th>{{packetCount.pckg11}}</th>
												<th>{{packetCount.pckg12}}</th>
												<th>{{packetCount.pckg13}}</th>
												<th>{{packetCount.pckg14}}</th>
												<th>{{packetCount.pckg15}}</th>
												<th>{{packetCount.pckg16}}</th>
												<th>{{packetCount.pckg17}}</th>
												<th>{{packetCount.pckg18}}</th>
												<th>{{packetCount.pckg19}}</th>
												<th>{{packetCount.pckg20}}</th>
												<th>{{packetCount.pckg21}}</th>
												<th>{{packetCount.pckg22}}</th>
												<th>{{packetCount.pckg23}}</th>
												<th>{{packetCount.pckg24}}</th>
												<th>{{packetCount.pckg25}}</th>
												<th>{{packetCount.pckg26}}</th>
												<th>{{packetCount.pckg27}}</th>
												<th>{{packetCount.pckg28}}</th>
												<th>{{packetCount.pckg29}}</th>
												<th>{{packetCount.pckg30}}</th>
												<th>{{packetCount.pckg31}}</th>
												<th>{{packetCount.pckg32}}</th>
												<th>{{packetCount.pckg33}}</th>
												<th>{{packetCount.pckg34}}</th>
												<th>{{packetCount.pckg35}}</th>
												<th>{{packetCount.pckg36}}</th>
												<th>{{packetCount.pckg37}}</th>
												<th>{{packetCount.pckg38}}</th>
												<th>{{packetCount.pckg39}}</th>
												<th>{{packetCount.pckg40}}</th>
												<th>{{packetCount.pckg41}}</th>
												
												</tr>
											</tfoot>
											
											
											
											

										</table>
										 <div>
												
												</div>
												</div>
										</div> 
										
										<div ng-show="SelectYear">
									<div class="row" ng-if="productwisereportsYearwise.length == 0">
										<div class="col-12">
											<div id="exampleAccordion"  data-children=".item">
												<div class="item">
													<div class="linkshow" style="color: white !important;">
														<a class="nav-link ripple fuse-ripple-ready collapsed">
															<b>No Results found</b>
														</a>
													</div>
												</div>
												<div class="space2x"></div>
											</div>
										</div>
									</div>
									<div ng-if="productwisereportsYearwise.length !=0">
							<!-- 		<button  style="margin-bottom:10px; margin-right:19px" ng-click="YearlyProductReport()">Download</button> -->
										<button  style="margin-bottom:10px; margin-right:19px" type="button" class="btn btn-primary fuse-ripple-ready" ng-click="YearlyProductReport()"><span class="icon-box-download"> </span>  &nbsp; Download</button>
                              
										<table class="table table-responsive " >
											<thead class="thead-inverse">
												<tr>
													<th>#</th>
													<th>Product Number</th>
													<th>Product Name</th>
													<th>Quantity(MT)</th>
                                                    <th>1400kg</th>
													<th>1300kg</th>
													<th>1200kg</th>
													<th>1100kg</th>
													<th>1000kg</th>
													<th>870kg</th>
													<th>860kg</th>
													<th>810kg</th>
													<th>800kg</th>
													<th>280kg</th>
													<th>272kg</th>
													<th>250kg</th>
													<th>240kg</th>
													<th>230kg</th>
													<th>227kg</th>
													<th>220kg</th>
													<th>210kg</th>
													<th>206kg</th>
													<th>205kg</th>
													<th>204kg</th>
													<th>200kg</th>
													<th>190kg</th>
													<th>188kg</th>
													<th>185kg</th>
													<th>180kg</th>
													<th>175kg</th>
													<th>170kg</th>
													<th>165kg</th>
													<th>160kg</th>
													<th>150kg</th>
													<th>110kg</th>
													<th>100kg</th>
													<th>80kg</th>
													<th>70kg</th>
													<th>60kg</th>
													<th>50kg</th>
													<th>28kg</th>
													<th>25kg</th>
													<th>20kg</th>
													<th>0.4kg</th>
													<th>0.2kg</th>

											
													

												</tr>
											</thead>
											<tbody class="table-border">

												<tr class="result-item user thead-white"
													dir-paginate="productwisereportsYearwisereport in productwisereportsYearwise | filter:Search |itemsPerPage:5">
													<td>{{$index+1}}</td>
													<td>{{productwisereportsYearwisereport.productnumber}}</td>
													<td class="link"
														ng-click="getDateWiseProductReportYearwise(productwisereportsYearwisereport.productnumber,year)">
														{{productwisereportsYearwisereport.productDescription}}</td>
													<td class="position">{{productwisereportsYearwisereport.sum1}}</td>
													<td class="position">{{productwisereportsYearwisereport.pckg1}}</td>
													<td class="position">{{productwisereportsYearwisereport.pckg2}}</td>
													<td class="position">{{productwisereportsYearwisereport.pckg3}}</td>
  												    <td class="position">{{productwisereportsYearwisereport.pckg4}}</td>
													<td class="position">{{productwisereportsYearwisereport.pckg5}}</td>
													<td class="position">{{productwisereportsYearwisereport.pckg6}}</td>
													<td class="position">{{productwisereportsYearwisereport.pckg7}}</td>
													<td class="position">{{productwisereportsYearwisereport.pckg8}}</td>
													<td class="position">{{productwisereportsYearwisereport.pckg9}}</td>
													<td class="position">{{productwisereportsYearwisereport.pckg10}}</td>
													<td class="position">{{productwisereportsYearwisereport.pckg11}}</td>
													<td class="position">{{productwisereportsYearwisereport.pckg12}}</td>
													<td class="position">{{productwisereportsYearwisereport.pckg13}}</td>
													<td class="position">{{productwisereportsYearwisereport.pckg14}}</td>
													<td class="position">{{productwisereportsYearwisereport.pckg15}}</td>
													<td class="position">{{productwisereportsYearwisereport.pckg16}}</td>
													<td class="position">{{productwisereportsYearwisereport.pckg17}}</td>
													<td class="position">{{productwisereportsYearwisereport.pckg18}}</td>
													<td class="position">{{productwisereportsYearwisereport.pckg19}}</td>
													<td class="position">{{productwisereportsYearwisereport.pckg20}}</td>
													<td class="position">{{productwisereportsYearwisereport.pckg21}}</td>
													<td class="position">{{productwisereportsYearwisereport.pckg22}}</td>
													<td class="position">{{productwisereportsYearwisereport.pckg23}}</td>
													<td class="position">{{productwisereportsYearwisereport.pckg24}}</td>
													<td class="position">{{productwisereportsYearwisereport.pckg25}}</td>
													<td class="position">{{productwisereportsYearwisereport.pckg26}}</td>
													<td class="position">{{productwisereportsYearwisereport.pckg27}}</td>
													<td class="position">{{productwisereportsYearwisereport.pckg28}}</td>
													<td class="position">{{productwisereportsYearwisereport.pckg29}}</td>
													<td class="position">{{productwisereportsYearwisereport.pckg30}}</td>
													<td class="position">{{productwisereportsYearwisereport.pckg31}}</td>
													<td class="position">{{productwisereportsYearwisereport.pckg32}}</td>
													<td class="position">{{productwisereportsYearwisereport.pckg33}}</td>
													<td class="position">{{productwisereportsYearwisereport.pckg34}}</td>
													<td class="position">{{productwisereportsYearwisereport.pckg35}}</td>
													<td class="position">{{productwisereportsYearwisereport.pckg36}}</td>
													<td class="position">{{productwisereportsYearwisereport.pckg37}}</td>
													<td class="position">{{productwisereportsYearwisereport.pckg38}}</td>
													<td class="position">{{productwisereportsYearwisereport.pckg39}}</td>
													<td class="position">{{productwisereportsYearwisereport.pckg40}}</td>
													<td class="position">{{productwisereportsYearwisereport.pckg41}}</td>
													
												
												</tr>

											</tbody>
											
												<tfoot class="thead-inverse" ng-repeat="packetCount in packetCountsYearwise">
											
												<tr>
												<th></th>
												<th></th>
												<th>Total Quantity(MT):</th>
												<th>{{packetCount.sum1}}</th>
												<th>{{packetCount.pckg1}} </th>
												<th>{{packetCount.pckg2}} </th>
												<th>{{packetCount.pckg3}} </th> 
												<th>{{packetCount.pckg4}}</th>
												<th>{{packetCount.pckg5}}</th>
												<th>{{packetCount.pckg6}}</th>
												<th>{{packetCount.pckg7}}</th>
												<th>{{packetCount.pckg8}}</th>
												<th>{{packetCount.pckg9}}</th>
												<th>{{packetCount.pckg10}}</th>
												<th>{{packetCount.pckg11}}</th>
												<th>{{packetCount.pckg12}}</th>
												<th>{{packetCount.pckg13}}</th>
												<th>{{packetCount.pckg14}}</th>
												<th>{{packetCount.pckg15}}</th>
												<th>{{packetCount.pckg16}}</th>
												<th>{{packetCount.pckg17}}</th>
												<th>{{packetCount.pckg18}}</th>
												<th>{{packetCount.pckg19}}</th>
												<th>{{packetCount.pckg20}}</th>
												<th>{{packetCount.pckg21}}</th>
												<th>{{packetCount.pckg22}}</th>
												<th>{{packetCount.pckg23}}</th>
												<th>{{packetCount.pckg24}}</th>
												<th>{{packetCount.pckg25}}</th>
												<th>{{packetCount.pckg26}}</th>
												<th>{{packetCount.pckg27}}</th>
												<th>{{packetCount.pckg28}}</th>
												<th>{{packetCount.pckg29}}</th>
												<th>{{packetCount.pckg30}}</th>
												<th>{{packetCount.pckg31}}</th>
												<th>{{packetCount.pckg32}}</th>
												<th>{{packetCount.pckg33}}</th>
												<th>{{packetCount.pckg34}}</th>
												<th>{{packetCount.pckg35}}</th>
												<th>{{packetCount.pckg36}}</th>
												<th>{{packetCount.pckg37}}</th>
												<th>{{packetCount.pckg38}}</th>
												<th>{{packetCount.pckg39}}</th>
												<th>{{packetCount.pckg40}}</th>
												<th>{{packetCount.pckg41}}</th>
										
												</tr>
												
											
											
											</tfoot>
											

										</table>
										 <div>
												
												</div>
										</div>
										</div>
										
										
										
										
									</div>
									<!-- -------------------------- pagination--------------------------------------------->

									<nav aria-label="pagination" class="my-8">
										<dir-pagination-controls max-size="5" direction-links="true"
											boundary-links="true"> </dir-pagination-controls>

										<style>
.pagination>li>a, .pagination>li>span {
	position: relative;
	float: right;
	padding: 6px 12px;
	margin-left: 1px;
	line-height: 1.42857143;
	color: #428bca;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
}

.pagination>li>a:hover {
	color: white;
	text-decoration: none;
	background-color: blue;
}
</style>
									</nav>





								</div>
							</div>

							<!-- //content start from here -->

						</div>
					</div>
				</div>
				<script type="text/javascript"
					src="../assets/js/apps/dashboard/project.js"></script>
			</div>