<div class="content pageup" ng-app="ManagementApp">
	<div id="project-dashboard"
		class="page-layout simple right-sidebar tabbed">
		<div class="page-content-wrapper">

			<!-- your content will be in here  -->

			<div class="page-content">

				<div class="page-content p-6 ">
					<!-- WIDGET GROUP -->
					<div class="widget widget6 card">
					
					
					
						<div class="description bg-purble-custom-100  ">

							<div class="container">
								<div class="row">
									<div class="col-md-6">
										<div class="description-text ">
											<h5 class="text-white-500">
												<span class="text-white-500 icon-format-page-break" ></span>
												Production Wise Report for the Current Year
											</h5>
										</div>

									</div>
									
									<!-- <div class="col-md-6">
							
									
									<span class="center p-4" >
                  <h6 class="text-white-500">Year
                  <select id="year" data-target=".my-info-1" class="div-toggle custom-select text-purble-custom-100">
                    <option value="1" data-show=".2018">2017</option>
                    <option value="2" data-show=".2019">2016</option>
                  </select>
                  </h6>
                </span>
									
									</div> -->
									
									

								</div>

							</div>


						</div>
						
						
						
						
						<div class="widget-content p-4 ">
							<div class="row" >


  <!--  <h6> q1 starts </h6>  -->
								<div class="col-md-6 right-divider">
									<div class="space1x"></div>
									<div id="q1"
										style="min-width: 310px; max-width: 600px; height: 400px; margin: 0 auto"></div>

									<ul class="list-group">

										<li class="list-group-item list-group-item-primary">
											<div class="form1x row">

												<div class="col-md-6">

													<label for="staticEmail" class="col-sm-12 text-black">
														Number of Working days</label>
													<div class="col-sm-6">
														<input type="text" readonly=""
															class="form-control-plaintext" id="staticEmail"
															value="{{fullquarterProductionPlan[0].workingDays}}">
													</div>

												</div>

												<div class="col-md-6">

													<label for="staticEmail" class="col-sm-12 text-black">Planned
														Quantity for Quarter</label>
													<div class="col-sm-6">
														<input type="text" readonly=""
															class="form-control-plaintext" id="staticEmail"
															value="{{fullquarterProductionPlan[0].plannedProduction}} ">
													</div>

												</div>

											</div>
										</li>

									</ul>

									<div class="space1x"></div>

								</div>
								
								
	<!-- q2 starts	 -->						
								
								<div class="col-md-6">
									<div class="space1x"></div>
									<div id="q2"
										style="min-width: 310px; max-width: 600px; height: 400px; margin: 0 auto"></div>

									<ul class="list-group">



										<li class="list-group-item list-group-item-primary">
											<div class="form1x row">

												<div class="col-md-6">

													<label for="staticEmail" class="col-sm-12 text-black">
														Number of Working days </label>
													<div class="col-sm-6">
														<input type="text" readonly=""
															class="form-control-plaintext" id="staticEmail"
															value="{{fullquarterProductionPlan[1].workingDays}}">
													</div>

												</div>




												<div class="col-md-6">

													<label for="staticEmail" class="col-sm-12 text-black">Planned
														Quantity for Quarter</label>
													<div class="col-sm-6">
														<input type="text" readonly=""
															class="form-control-plaintext" id="staticEmail"
															value="{{fullquarterProductionPlan[1].plannedProduction}}">
													</div>

												</div>




											</div>
										</li>


									</ul>


									<div class="space1x"></div>

								</div>
								
	<!-- q3 starts	 -->		
					
								<div class="col-md-6 space1x top-right-divider">
									<div id="q3"
										style="min-width: 310px; max-width: 600px; height: 400px; margin: 0 auto"></div>

									<ul class="list-group">



										<li class="list-group-item list-group-item-primary">
											<div class="form1x row">

												<div class="col-md-6">

													<label for="staticEmail" class="col-sm-12 text-black">
														Number of Working days</label>
													<div class="col-sm-6">
														<input type="text" readonly=""
															class="form-control-plaintext" id="staticEmail"
															value="{{fullquarterProductionPlan[2].workingDays}}">
													</div>

												</div>




												<div class="col-md-6">

													<label for="staticEmail" class="col-sm-12 text-black">Planned
														Quantity for Quarter</label>
													<div class="col-sm-6">
														<input type="text" readonly=""
															class="form-control-plaintext" id="staticEmail"
															value="{{fullquarterProductionPlan[2].plannedProduction}} ">
													</div>

												</div>




											</div>
										</li>


									</ul>

								</div>
								
								
	<!-- q4 starts -->							
								<div class="col-md-6 space1x top-right-divider">
									<div id="q4"
										style="min-width: 310px; max-width: 600px; height: 400px; margin: 0 auto"></div>

									<ul class="list-group">



										<li class="list-group-item list-group-item-primary">
											<div class="form1x row">

												<div class="col-md-6">

													<label for="staticEmail" class="col-sm-12 text-black">
														Number of Working days</label>
													<div class="col-sm-6">
														<input type="text" readonly=""
															class="form-control-plaintext" id="staticEmail"
															value="{{fullquarterProductionPlan[3].workingDays}}">
													</div>

												</div>




												<div class="col-md-6">

													<label for="staticEmail" class="col-sm-12 text-black">Planned
														Quantity for Quarter </label>
													<div class="col-sm-6">
														<input type="text" readonly=""
															class="form-control-plaintext" id="staticEmail"
															value="{{fullquarterProductionPlan[3].plannedProduction}} ">
													</div>

												</div>




											</div>
										</li>


									</ul>

								</div>
								
			<!-- --------------------end------------------------------------------	 -->
								
								
								
							</div>

						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<!-- <script src="..\assets\js\chart\q1.js"></script>
	<script src="..\assets\js\chart\q2.js"></script>
	<script src="..\assets\js\chart\q3.js"></script>
	<script src="..\assets\js\chart\q4.js"></script> -->
<script src="../assets/js/apps/dashboard/project.js"></script>
<script type="text/javascript" src="js/fullQuater.js"></script>

