<div class="content-wrapper" ng-app="ManagemenApp">

	<div class="content ">
		<div id="project-dashboard"
			class="page-layout simple right-sidebar tabbed">
			<div class="page-content-wrapper">
				<!-- CONTENT -->
				<div class="page-content">

					<div class="tab-content">
						<div class="tab-pane fade show active" id="home-tab-pane"
							role="tabpanel" aria-labelledby="home-tab">

							<div class="widget-group  ">
								<!-- WIDGET GROUP -->
								<div class="description bg-purble-custom-100  ">

									<div class="container">
										<div class="row">
											<div class="col-md-6">
												<div class="description-text ">
													<h5 class="text-white-500">
														<span class="text-white-500 icon-chart-pie"></span>
														Production Report of current quarter
													</h5>
												</div>

											</div>
										


										</div>

									</div>


								</div>
								<div class=" ">
									<div class="widget widget1 card">
										<div class="container p-6">

											<div class="row space1x ">

												<div class="col-md-3">


													<div class="col-12 col-md-12 "
														style="padding-bottom: 20px;">
														<div class="widget widget1 card">
															<div
																class="pt-1 pb-1  row no-gutters align-items-center justify-content-between">
																<div class="col">
																	<span class="text-purble-custom-100 h6"></span>
																</div>

															</div>
															<div
																class=" pt-1 pb-1 d-flex flex-column align-items-center justify-content-center">
																<div class="text-secondary h5 ng-binding center">{{plannedQty}}</div>
																<div class="sub-title h6 text-muted center">Planned
																	Production / Quarter (MT)</div>
															</div>
															
														</div>
													</div>



													<div class="col-12 col-md-12 "
														style="padding-bottom: 20px;">
														<div class="widget widget1 card">
															<div
																class=" pt-1 pb-1  row no-gutters align-items-center justify-content-between">

															</div>
															<div
																class="widget-content pt-1 pb-1 d-flex flex-column align-items-center justify-content-center">
																<div class=" text-info h5 ng-binding">{{actualProduced}}</div>
																<div class="sub-title h6 text-muted center">Actual
																	Quantity Produced (MT)</div>
															</div>
															
														</div>
													</div>

													<div class="col-12 col-md-12 "
														style="padding-bottom: 20px;">
														<div class="widget widget1 card">
															<div
																class="pt-1 pb-1 row no-gutters align-items-center justify-content-between">

															</div>
															<div
																class="widget-content pt-1 pb-1 d-flex flex-column align-items-center justify-content-center">
																<div class=" text-danger h5 ng-binding">{{askingRate}}
																	(MT)</div>
																<div class="sub-title h6 text-muted center">Asking Rate</div>
															</div>
															
														</div>
													</div>

												</div>

												<div class="col-md-9">
													<div id="current"
														style="min-width: 310px; max-width: 600px; height: 400px; margin: 0 auto"></div>
												</div>




												<div class="container">
													<div class="row bg-grey-300 p-6">

														<div class="col-md-6">
															<label for="staticEmail" class="col-sm-12 text-black">
																Total Working days :</label>
															<div class="col-sm-6">
																<input type="text" readonly=""
																	class="form-control-plaintext" id="staticEmail"
																	value="{{quarterProductionPlan.workingDays}}">
															</div>
														</div>



														<div class="col-md-6">
															<label for="staticEmail" class="col-sm-12 text-black">Planned
																Production Quantity Per Quarter</label>
															<div class="col-sm-6">
																<input type="text" readonly=""
																	class="form-control-plaintext" id="staticEmail"
																	value="{{quarterProductionPlan.plannedProduction}} ">
															</div>
														</div>

														<div class="col-md-6 pt-5">
															<label for="staticEmail" class="col-sm-12 text-black">Number
																of days Worked Till Date</label>
															<div class="col-sm-6">
																<input type="text" readonly=""
																	class="form-control-plaintext" id="staticEmail"
																	value="{{quarterProductionPlan.actualWorkingDays}}">
															</div>
														</div>

														<div class="col-md-6 pt-5">
															<label for="staticEmail" class="col-sm-12 text-black">Quantity
																Produced Till This Date </label>
															<div class="col-sm-6">
																<input type="text" readonly=""
																	class="form-control-plaintext" id="staticEmail"
																	value="{{quarterProductionPlan.actualQuantity}}">
															</div>
														</div>






													</div>


												</div>

											</div>












										</div>
									</div>
								</div>
							</div>
							<!--
//pie chart for curent day  -->




							<!-- / WIDGET GROUP -->
						</div>


					</div>
					<!-- / WIDGET 9 -->
					<!-- WIDGET 10 -->

					<!-- / WIDGET 10 -->
				</div>
				<!-- / WIDGET GROUP -->
			</div>
		</div>
	</div>
	<!-- / CONTENT -->
</div>
</div>


<!-- <script src="..\assets\js\chart\yearly.js"></script>
<script src="..\assets\js\chart\yearly2.js"></script>
<script src="..\assets\js\chart\yearly3.js"></script> -->
<script type="text/javascript"
	src="../assets/js/apps/dashboard/project.js"></script>
<!-- <script src="..\assets\js\chart\current.js"></script> -->
<script type="text/javascript" src="js/currentQuater.js"></script>


















