
<div class="content pageup" ng-app="myAdmin">
	<div id="project-dashboard"
		class="page-layout simple right-sidebar tabbed">
		<!-- content stats here  -->
		
		
	
		<div class="page-content space1x">
			<div class=" ">
				<div class="tab-pane fade show active" id="home-tab-pane"
					role="tabpanel" aria-labelledby="home-tab">
					<!-- add user form -->


				
					
					<div class="widget widget-7 card">

						<div class="description bg-purble-custom-100  ">

							<div class="container">
								<div class="row">
									<div class="col-md-12">
									
									<div class="col-md-6">
										<div class="description-text ">
											<h5 class="text-white-500">
												<span class="text-white-500  icon-wifi

												
"></span>Live Status
											
 
											</h5>
										</div>

									</div>
									<div class="col-md-6 "></div>
								</div></div>

							</div>


						</div>




						<div class="widget-content p-4">

							<!-- the real content inside widger -->
							<div class="row" ng-if="deletedOrders.length == 0">
								<div class="col-12">
									<div id="exampleAccordion" data-children=".item">
										<div class="item">
											<div class="linkshow" style="color: white !important;">
												<a class="nav-link ripple fuse-ripple-ready collapsed">
													<b>Live Status </b>
												</a>
											</div>
										</div>
										
									</div>
								</div>
							</div>

							<div 
								class="tab-pane fade active show " id="users-tab-pane"
								role="tabpanel" aria-labelledby="users-tab" aria-expanded="true">
								<div
									class="result-info row no-gutters align-items-center justify-content-center justify-content-sm-between pb-4">


									<!-- buttion dropdown here -->

									<div class="col-md-12">
										<flash-message class="flash-custom" duration="5000"></flash-message>

									</div>

								</div>
								
								<div class="row">
								<div class="col-md-6 p-4">
                              <div id="sample-data-table_filter" class="dataTables_filter ">
                                 <label>Search:<input type="search"
                                    class="search-border " ng-model="searchBy"
                                    placeholder="Search" aria-controls="sample-data-table"></label>
                              </div>
									
								</div>
								
									<div class="col-md-6">
										<button class="btn btn-primary right"
											style="margin-bottom: 10px; margin-right: 19px"
											ng-click="statusReport()">
											<i class="icon-cloud-download
mx-1 "></i>Download
										</button>
									</div>
								
								</div>
								
								
							
								<div class="results" >

									 <table class="table table-responsive  table-bordered table-fixedme" >
										<thead class="thead-inverse reme">
											<tr>
											<th style="width: 617px;"></th>
											    <th>PO Upload</th>
											    <th>RM Issue</th>
                                                <!-- <th>RM Charge</th> -->
												<th>Quality Check</th>
												<th>Packing</th>
												<th>RM Posting</th>
												<th>Quality Inspection</th>
												<th>Inventory Check</th>
										
											
												
									
							
											</tr>

										</thead>
										<tbody class="table-border">
											<tr ng-repeat="statusDetail in statusDetails | filter: searchBy" class="result-item user thead-white table-border  livetab">




												<td class="tdside" width="300px;" align="left"><b>Process
														Order No :</b> </br> {{statusDetail.processorderProdNumber}} </br>
												<br><b>Material Memo :</b>  </br>{{statusDetail.materialMemo}} </br>  </br><b>Batch Date :</b> </br>{{statusDetail.batchDate}}</td>
												
											     <td class="" style="width: 151px;">												   
													 <i ng-if="statusDetail.uploadedDate != null" class="icon-check-circle green icocent"></i>													 
													 
													 <p ng-if="statusDetail.uploadedDate != null" class="icores">{{statusDetail.uploadedDate}}</br> {{statusDetail.uploadedTime}}</p>
													 <!-- <p ng-if="statusDetail.uploadedDate != null"><b>User Name :</b> {{statusDetail.uploadedBy}} </p> -->
												</td>
												
												 <td class="" style="width: 151px;" >											 
												   <i ng-if="statusDetail.rmIssuedDate != null" class="icon-check-circle green icocent"></i>
												   <i ng-if="statusDetail.rmIssuedDate == null && statusDetail.rmChargedDate != null" class="icon-close-circle red"></i>

													<p ng-if="statusDetail.rmIssuedDate != null" class="icores">{{statusDetail.rmIssuedDate}}</br> {{statusDetail.rmIssuedTime}}</p>
													<p ng-if="statusDetail.rmIssuedDate != null" class="icores"><b>User Name :</b> {{statusDetail.rmIssuedBy}} </p>
												</td>								
													
												
																							
												<!-- <td class="" style="width: 151px; ">
												    <div class="progress" ng-if="statusDetail.statusId == 8 && statusDetail.isSelected == 1">
														<div class="progress-bar progress-bar-striped bg-warning"
															role="progressbar" style="width: 100%"
															aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div><span></span>
													</div><span ng-if="statusDetail.statusId == 8 && statusDetail.isSelected == 1" class="center icores">In progress...</span>
												<i ng-if="statusDetail.statusId == 8 && statusDetail.isSelected == 1" class="icon-timer-sand icocent"></i> </br><span ng-if="statusDetail.statusId == 8 && statusDetail.isSelected == 1" class="center">In
													progress...</span>
												     <i ng-if="statusDetail.rmChargedDate != null" class="icon-check-circle green icocent"></i>
													 <i ng-if="statusDetail.rmChargedDate == null && statusDetail.qualityCheckDate != null || statusDetail.statusId == 15 && statusDetail.rmChargedDate == null && statusDetail.qualityCheckDate == null"
													  class="icon-close-circle red"></i>
													 
													 <p ng-if="statusDetail.rmChargedDate != null" class="icores">{{statusDetail.rmChargedDate}}</br> {{statusDetail.rmChargedTime}}</p>
													 <p ng-if="statusDetail.rmChargedDate != null" class="icores"><b>User Name :</b> {{statusDetail.rmChargedBy}} </p>
												</td> -->
												<td class="" style="width: 151px;">
												<div class="progress" ng-if="statusDetail.statusId == 8">
														<div class="progress-bar progress-bar-striped bg-warning"
															role="progressbar" style="width: 100%"
															aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div><span></span>
													</div><span ng-if="statusDetail.statusId == 8" class="center icores">In progress...</span>
												   <!-- <i ng-if="statusDetail.statusId == 15" class="icon-timer-sand icocent"></i> </br><span ng-if="statusDetail.statusId == 15" class="center">In
													progress...</span> -->
													 <i ng-if="statusDetail.qualityCheckDate != null" class="icon-check-circle green icocent"></i>
													 <i ng-if="statusDetail.qualityCheckDate == null && statusDetail.packedDate != null || statusDetail.statusId == 18 && statusDetail.qualityCheckDate == null && statusDetail.packedDate == null" 
													 class="icon-close-circle red"></i>
													 
													 <p ng-if="statusDetail.qualityCheckDate != null" class="icores">{{statusDetail.qualityCheckDate}}</br> {{statusDetail.qualityCheckTime}}</p>
													 <p ng-if="statusDetail.qualityCheckDate != null" class="icores"><b>User Name :</b> {{statusDetail.qualityCheckedBy}} </p>
												</td>
												<td class="" style="width: 151px;">
												<div class="progress" ng-if="statusDetail.statusId == 18">
														<div class="progress-bar progress-bar-striped bg-warning"
															role="progressbar" style="width: 100%"
															aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div><span></span>
													</div><span ng-if="statusDetail.statusId == 18" class="center icores">In progress...</span>
												  <!-- <i ng-if="statusDetail.statusId == 18" class="icon-timer-sand  icocent"></i> </br><span ng-if="statusDetail.statusId == 18" class="center">In
													progress...</span> -->
													 <i ng-if="statusDetail.packedDate != null" class="icon-check-circle green icocent"></i>
													 <i ng-if="statusDetail.packedDate == null && statusDetail.rmPostDate != null || statusDetail.statusId == 14 && statusDetail.packedDate == null && statusDetail.rmPostDate == null"
													  class="icon-close-circle red"></i>
													 
													 <p ng-if="statusDetail.packedDate != null" class="icores">{{statusDetail.packedDate}}</br> {{statusDetail.packedTime}}</p>
													 <p ng-if="statusDetail.packedDate != null" class="icores"><b>User Name :</b> {{statusDetail.packedBy}} </p>
												</td>

												<td class="" style="width: 151px;">
												<div class="progress" ng-if="statusDetail.statusId == 14">
														<div class="progress-bar progress-bar-striped bg-warning"
															role="progressbar" style="width: 100%"
															aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div><span></span>
													</div><span ng-if="statusDetail.statusId == 14" class="center icores">In progress...</span>
												 <!-- <i ng-if="statusDetail.statusId == 14" class="icon-timer-sand  icocent"></i> </br><span ng-if="statusDetail.statusId == 14" class="center">In
													progress...</span> -->
													 <i ng-if="statusDetail.rmPostDate != null" class="icon-check-circle green icocent"></i>
													 <i ng-if="statusDetail.rmPostDate == null && statusDetail.qualityInspectionDate != null || statusDetail.statusId == 16 && statusDetail.rmPostDate == null && statusDetail.qualityInspectionDate == null"
													  class="icon-close-circle red"></i>
													 
													 <p ng-if="statusDetail.rmPostDate != null" class="icores">{{statusDetail.rmPostDate}}</br> {{statusDetail.rmPostTime}}</p>
													 <p ng-if="statusDetail.rmPostDate != null" class="icores"><b>User Name :</b> {{statusDetail.rmPostedBy}} </p>
												</td>
												<td class="" style="width: 151px;">
												<div class="progress" ng-if="statusDetail.statusId == 16">
														<div class="progress-bar progress-bar-striped bg-warning" 
															role="progressbar" style="width: 100%"
															aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div><span></span>
													</div><span ng-if="statusDetail.statusId == 16" class="center icores">In progress...</span>
												 <!-- <i ng-if="statusDetail.statusId == 16" class="icon-timer-sand  icocent"></i> </br><span ng-if="statusDetail.statusId == 16" class="center">In
													progress...</span> -->
													 <i ng-if="statusDetail.qualityInspectionDate != null" class="icon-check-circle green icocent"></i>
													 <i ng-if="statusDetail.qualityInspectionDate == null && statusDetail.inventoryDate != null || statusDetail.statusId == 17 && statusDetail.qualityInspectionDate == null && statusDetail.inventoryDate == null"
													  class="icon-close-circle red"></i>
													 
													 <p ng-if="statusDetail.qualityInspectionDate != null" class="icores">{{statusDetail.qualityInspectionDate}}</br> {{statusDetail.qulityInspectionTime}}</p>
													 <p ng-if="statusDetail.qualityInspectionDate != null" class="icores"><b>User Name :</b> {{statusDetail.qualityInspectedBy}} </p>
												</td>

												<td class="" style="width: 151px;">
												<div class="progress" ng-if="statusDetail.statusId == 17">
														<div class="progress-bar progress-bar-striped bg-warning"
															role="progressbar" style="width: 100%"
															aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div><span></span>
													</div><span ng-if="statusDetail.statusId == 17" class="center icores">In progress...</span>
												 <!-- <i ng-if="statusDetail.statusId == 17" class="icon-timer-sand  icocent"></i> </br><span ng-if="statusDetail.statusId == 17" class="center">In
													progress...</span> -->
													 <i ng-if="statusDetail.inventoryDate != null" class="icon-check-circle green icocent"></i>
													 <i ng-if="statusDetail.inventoryDate == null && statusDetail.inventoryDate != null || statusDetail.statusId == 2 && statusDetail.inventoryDate == null && statusDetail.inventoryDate == null"
													  class="icon-close-circle red"></i>
													 
													 <p ng-if="statusDetail.inventoryDate != null" class="icores">{{statusDetail.inventoryDate}}</br> {{statusDetail.inventoryTime}}</p>
													 <p ng-if="statusDetail.inventoryDate != null" class="icores"><b>User Name :</b> {{statusDetail.inventoryBy}} </p>
												</td>
											</tr>

										</tbody>
									</table> 
									
								
									
								</div>
							</div>

							
							
							
							<!-- the real content ends here  -->
						</div>
					</div>
					<!-- add user form ends here -->
					<!-- / WIDGET GROUP -->
					
					
				</div>
			</div>
			
			
			
									
								
		</div>
		

									
							
	</div>
</div>
 <nav aria-label="pagination" class="my-8">
                        <dir-pagination-controls max-size="5" direction-links="true" class="paddingme right"
                           boundary-links="true"> </dir-pagination-controls>
                        <style>
                           .pagination>li>a, .pagination>li>span {
                           position: relative;
                           float: right;
                           padding: 6px 12px;
                           margin-left: 1px;
                           line-height: 1.42857143;
                           color: #428bca;
                           text-decoration: none;
                           background-color: #fff;
                           border: 1px solid #ddd;
                           }
                           .pagination>li>a:hover {
                           color: white;
                           text-decoration: none;
                           background-color: blue;
                           }
                        </style>
                     </nav>
<!-- content ends here -->