.login_container{
background-color: white;
-webkit-box-shadow: 10px 10px 14px -4px rgba(0,0,0,0.11);
-moz-box-shadow: 10px 10px 14px -4px rgba(0,0,0,0.11);
box-shadow: 10px 10px 14px -4px rgba(0,0,0,0.11);
margin:auto;
vertical-align: middle;
margin-top: 50px;
}
.login_container h4{
padding-top: 20px;
padding-bottom: 20px;
color: #828181;
}
.no_login_container{
padding: 0px;
width: 100%;
background-size: cover;
}
.no_login_container img{
float: right;
}
.login_container_box{
padding: 44px 35px;
}
.thead-white{
background-color: white;
}
.space1x{
padding:20px 20px;
}
.space2x{
padding:10px 10px;
}
.right{
float: right;
}
.btn_default{
background-color: #3c4252;
padding: 10px 20px;
color: white;
font-size: 17px;
}
.description-text{
border-bottom: 1px solid rgba(0,0,0,.12);
}


.description-text h5{

    padding: 15px;
    padding-left: 10px;
    font-weight: 300;
    margin: 0px;

}


.description-text-modal h5{

    padding: 15px;
    padding-left: 10px;
    font-weight: 300;
    margin: 0px;

}



.dataTables_wrapper .dataTables_filter input {
margin-left: .5em;
border: 1px solid rgba(0,0,0,.12);
padding: 4px 8px;
}
.white{
color: white!important;
}
.red{
color: red!important;
}
.push_right{
float: right;
}
.push_left {
float: left;
}
.space_down{
margin-top: 40px;
}
.breadcrumb{
padding-top: 20px;
}
.list_group{

padding: 10px!important;
}
.rawborder{
border: 1px solid #d9dadb;
}
.rawborder p{
text-align: left;
/* display: none; */

}
.rawborder img{
text-align: right;
}

.subheading{
padding:10px;
}
.modal-header{
background-color: #e9ecef;
}
.inline_button{
display: inline-block;
}
.linkshow a{
color: #3c4252;
text-decoration: none;
width: 100%;
font-size: 17PX;
color: white;
border-color: #3c4252;
}
.linkshow {
background-color: #5964B5;
    padding: 10px;

}
.space_width_05x{
width: 30px;
}
.space_width_1x{
width: 100px;
}
.space_width_3x{
width: 300px;
}
.temperature{
font-size: 1.6em!important;
margin-right: 11px;
font-weight: 200;
}
.temperatureimg img{
padding-right: 7px;
padding-left: 10px;

}
.date{
color: #8b8888;
font-size: 0.9em;
}
.wel{
float: left;
font-size: 2em;
font-weight: 100;
text-align: center;
margin-top: 14px;;
}
.name_ava{
font-size: 1.2em!important;
font-weight: bolder;
font-weight: 400;
}
.sub_ava
{
color: #8b8888;
}



.layout #wrapper>.aside>.aside-content-wrapper>.aside-content>#sidenav .nav-link.post_active{
    background-color: #3B427D;
    color: #fff;
}
.form-pad{

    padding-right:50px;
    padding-left: 50px; 
}

.form-pad1x{

    padding-right:30px;
    padding-left: 30px; 
}



.table-header-grey{

background-color: #f5f3f3;
    /* color: #fff; */

}

.no-bg{

    background-color: white;
}


.table-border-grey{
background: #fafafa;
    
}

.table-border{


/*      */
    position: relative;
      border-left: 1px solid rgba(0,0,0,0);
      border-right: 1px solid rgba(0,0,0,0);
       
    border-top: 1px solid rgba(0,0,0,0);
    border-bottom: 1px solid rgba(0,0,0,.12);
    cursor: pointer;
}
.search_cus{

        margin-right: -0px!important;
    margin-top: -5px!important;



}

.des_fixed{

       position: fixed;
    z-index: 9;

   width: 81.6%; 
}



.filter{
float: right;
    padding-top: 20px;

}


.filter1x {
    float: right;
    padding-top: 14px;
}

.filter1x {
opacity: 0.9;

}
.statuscheck{

background-color: #C5C6CB;
border-bottom:1px solid white;
}


.filter1x:hover {
opacity: 1;

}






.pop-over-def{

    will-change: transform;position: absolute;transform: translate3d(236px, 14px, 0px)!important; top: 0px;left: 0px;
}



/* this content is for modal/popup */
.hide{

    display: none;
}

/* <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.min.js"> </script> */

.center{

text-align: center;
display: block;
 
}


.pageup{

    margin-top: 6.4rem;
}


.card1x{

position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    -webkit-border-radius: 0;
    border-radius: 0;

}


.reddot{

background-color: red;
width: 200px;
height: 20px;


}


.unstyled li{

border-bottom: 1px solid #dfdsfdf;
padding-top: 20px;
text-decoration: none;
list-style: none;


}
.unstyled {

    background-color: #5964B5;
color: white;

}

.unstyled li :hover{

    background-color: #5964B5;
color: white;


}


.inline{

    display:inline-block;
}


.tagline{

   color: #8c8c8c;
    margin-top: -9px;
    padding-left: 35px;


}
.header_wid{

    border-bottom: 1px solid #dcdada;
}

.header_wid_icons{
 text-align: center;
 vertical-align: middle;
margin: auto;

}



.pageup1x{

    margin-top: 4.4rem;
}

.card-pro-head{


}


/* carosel here */

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 8px!important;
    height: 8px!important;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #3E4684!important;
}
.link-in a{

font-size: 15px;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    margin-left: 11px;
    margin-top: 11px;

}


.fademe{

background-color: rgba(255, 255, 255, 0.2);
padding:20px;

}


.link-in a : hover{

color: red!important;
/* opacity:0.5; */



}




.boxsuez{

width: 10px;
height: 10px;

}

#bg-green-600{
background-color: #43A047!important;
color:#fff!important;


}


#bg-yellow-600{
background-color: #e5c129!important;
color:#000!important;

}




#bg-white-600{
background-color: #c5c6cb!important;


}

#bg-white-600 p,i{

color:#000;

}



#bg-red-600{
background-color: #E53935!important;
color:#fff!important;

}

#bg-red-600 p,i{

color:#fff;

}
.pushdown{

       margin-top: 23px;
}

.headline{

    font-weight: 200;
    padding-bottom: 5px;
   

}

.underline{

     border-bottom: 1px solid #dfdfdf;
}

.divider-box{

    border-right: 2px solid red;

    
}
.search-border{

    margin-left: .5em!important;
    border: 1px solid rgba(0, 0, 0, .12)!important;
    padding: 4px 8px!important;
}


.checkbox-des{

font-size: 13px!important;
font-weight: 500;
}

.link{


    font-weight: 600;
}


.up{

    margin-top: 7px;
}

.boxdes{

        border: 1px solid #dfdfdf;
    background-color: white!important;
    padding: 5px;
    font-weight: 400;
    color: black;
}



#fileuploader{
width: 900px;
padding:50px;
background-color: white;
margin:auto;
text-align: center;
}



table.optable tr:hover {
    background-color: #5964B5!important;
    color:white;



}



table.optable a{
   
    color: black;



}


.widget-button{

   width: 100%;
   margin-top: 5px;

}

.widget-divider-right{

border-right: 1px solid rgba(255, 255, 255, 0.5);
text-align: center;

}

.widget-divider-center{

margin:auto;
text-align: center;

}
.widget-footer1x{


padding-left: 10px;
padding-bottom: 10px;
padding-top: 10px;
}


.form1x{



    padding-top: 1.6rem;
    margin-bottom: 1.6rem;

}


.right-divider{

    border-right:1px solid #dfdfdf;
}

.top-right-divider{
border-top:1px solid #dfdfdf;
    border-right:1px solid #dfdfdf;
}
.top-divider{
border-top:1px solid #dfdfdf;
  
}

.inline{
s

   display: block;
}

.link {
color: #5c6bc0;


}


.link:hover{
color:#3e4684;


}



/* form wizard */

#regForm {
 

}

#nextBtn{
font-family: Roboto, "Helvetica Neue", sans-serif;

}

/* Hide all steps by default: */
.tab {
  display: none;
}


#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(62, 70, 132);

  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5; 
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #5c6bc0;
}
.circle
{
background-color: #5e6ab1;
    width: 30px;
    height: 30px;
    padding: 2px;


}
.arrow{
top: 71px;    right: 56px;
    position: absolute;
    z-index: 1;

}
.arrow1{
top: 100px;    right:0px;
    position: absolute;
    z-index: 1;

}

.right{

    float:right;
}

.owl_block{
        padding-top: 50px;
}


.barcode-des{

display: block;

padding-bottom: 10px;

}



.top-nav{

    background-color: white;
    margin-top: 60px;
}
.top-nav ul{

    list-style-type: none; 

    margin:0;
    padding: 0;
    overflow: hidden;

}


.top-nav li{

   float: left;

}


.br-break{

   border-right: 1px solid  #dfdfdf;
   height: 60%;

}
.top-nav li a{


    font-size: 1.2em;
    padding-right: 20px;
  


}

.or{
background-color: #aaa9a9;
    /* height: 73px; */
    /* width: 34px; */
    border-radius: 24px;
    padding: 3px 6px;
    text-align: center;
    /* margin-top: 30px; */
    color: white;
    text-align: center;
    font-size: 1.2em;
}


.custom-select-up{

        margin-top: 20px;
}
   
.label-custom{


font-size: 15.2px;

}


    .box-card{

    height: 100%;
    width: 100%;
   
    color: white;
    font-size: 1em;
    margin: 6px;
   
  


    }



.box-main{

       
    border: 0.5px solid #c7c7c7;
    padding: 21px;
}



.myclass{
  background-color:#66bb6a!important;
}


.dropme{


    background-color: rgba(255, 255, 255, 0.6);
    color: black!important;
    -moz-appearance: none;
    appearance: none;
    margin: auto;
    text-align: center;
    display: inherit;
    margin-bottom: 18px;
    
}


.drop-custom{
  font-size: 1.2em;
    margin-top: -12px;
}


.box-inside{
 text-align: justify; display: block; padding-left: 20px;
 word-wrap: break-word;
 width: 100%;
}

.cards{
margin-right: 2px;

}

.timeline {
    list-style: none;
    padding: 10px 0;
    position: relative;
    font-weight: 300;
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content:" ";
    width: 2px;
background: #4caf50!important;
           left: 7.2%;
    margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 0px;
    position: relative;
    width: 93%;
    float: left;
    clear: left;
}
.timeline > li:before, .timeline > li:after {
    content:" ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li:before, .timeline > li:after {
    content:" ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li > .timeline-panel {
    width: calc(100% - 25px);
    width: -moz-calc(100% - 25px);
    width: -webkit-calc(100% - 25px);
    float: left;
    border: 1px solid #dcdcdc;
    background: #ffffff;
    position: relative;
}
.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #dcdcdc;
    border-right: 0 solid #dcdcdc;
    border-bottom: 15px solid transparent;
    content:" ";
}
.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #ffffff;
    border-right: 0 solid #ffffff;
    border-bottom: 14px solid transparent;
    content:" ";
}
.timeline > li > .timeline-badge {
    color: #ffffff;
    width: 24px;
    height: 24px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 16px;
    right: -12px;
    z-index: 100;
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-badge > a {
    color: #ffffff !important;
}
.timeline-badge a:hover {
    color: #dcdcdc !important;
}
.timeline-title {
    margin-top: 0;
    color: inherit;
}
.timeline-heading h4 {
    font-weight: 400;
    padding: 0 15px;
    color: #4679bd;
}

.timeline-body{
margin-top: 22px;


}

.timeline-body > p, .timeline-body > ul {
    padding: 10px 15px;
    margin-bottom: 0;
}
.timeline-footer {
    padding: 5px 15px;
    background-color:#f4f4f4;
}
.timeline-footer p { margin-bottom: 0; }
.timeline-footer > a {
    cursor: pointer;
    text-decoration: none;
}
.timeline > li.timeline-inverted {
    float: right;
    clear: right;
}
.timeline > li:nth-child(2) {

}
.timeline > li.timeline-inverted > .timeline-badge {
    left: -12px;
}
.no-float {
    float: none !important;
}
@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }
    ul.timeline > li {
        margin-bottom: 0px;
        position: relative;
        width:100%;
        float: left;
        clear: left;
    }
    ul.timeline > li > .timeline-panel {
        width: calc(100% - 65px);
        width: -moz-calc(100% - 65px);
        width: -webkit-calc(100% - 65px);
    }
    ul.timeline > li > .timeline-badge {
        left: 28px;
        margin-left: 0;
        top: 16px;
    }
    ul.timeline > li > .timeline-panel {
        float: right;
    }
    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }
    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
    .timeline > li.timeline-inverted {
        float: left;
        clear: left;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .timeline > li.timeline-inverted > .timeline-badge {
        left: 28px;
    }
}

.time{

        font-size: smaller;
    color: #868888;
}