

 <div class="container" ng-app="myApp">
<div class="row login_container">



  <div class="col-md-4 login_container_box">


    <img src="resources/assets/images/logos/logo.png">


<h4>Welcome back</h4>

<div class="preview-elements">
<div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your SSOID">
                        <label for="exampleInputEmail1">SSOID</label>
                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.
                        </small> -->
                    </div>

<div class="form-group">
                        <input type="password" class="form-control md-has-value" id="exampleInputPassword1" placeholder="Password">
                        <label for="exampleInputPassword1">Password</label>
                    </div>


                </div>

<button type="button" class="btn btn-secondary fuse-ripple-ready" ng-click="login()">Log in</button>


  </div>



<div class="col-sm-8 no_login_container">
<img src="resources/assets/images/backgrounds/plant.jpg">




</div>

















</div>




</div>






    

    


        










