.login_container{
 background-color: white;
 -webkit-box-shadow: 10px 10px 14px -4px rgba(0,0,0,0.11);
-moz-box-shadow: 10px 10px 14px -4px rgba(0,0,0,0.11);
box-shadow: 10px 10px 14px -4px rgba(0,0,0,0.11);

margin:auto;
vertical-align: middle;
margin-top: 50px;

}
.login_container h4{
    padding-top: 20px;
    padding-bottom: 20px;
    color: #828181;

}

.no_login_container{

    padding: 0px;
    width: 100%;
    background-size: cover;

}

.no_login_container img{


	float: right;

}

.login_container_box{

padding: 44px 35px;


}  

.space1x{


	padding:20px 20px;
}
.right{

	float: right;
}