<div id="exampleModalLive123" class="modal fade" tabindex="-1"
	role="dialog" aria-labelledby="exampleModalPopoversLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
	<form>
		<div class="modal-content">
			<div class="modal-header bg-purble-custom-100">
				<h5 class="modal-title text-white" id="exampleModalPopoversLabel ">Reject / Rework
				</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
 			<div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadios"
                      ng-model="selection" id="optionsRadios21" value="Rework"/>
                <span class="radio-icon"></span>
                <span>Rework</span>
            </label>
        </div>
         <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadios"
                    ng-model="selection" id="optionsRadios2" value="Scrap"/>
                <span class="radio-icon"></span>
                <span>Scrap</span>
            </label>
        </div>
	
	
	
		 <div class="form-group">
        <textarea class="form-control" ng-model="comments" id="exampleFormControlTextarea1" rows="3"></textarea>
        <label for="exampleFormControlTextarea1">Please give remarks</label>
    </div>
			</div>
		
		
		
		
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="rejectQuality()">Submit</button>
			</div>
		</div>
		</form>
	</div>
</div>

<div id="approveModal" class="modal fade" tabindex="-1"
	role="dialog" aria-labelledby="exampleModalPopoversLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
	<form>
		<div class="modal-content">
			<!-- <div class="modal-header bg-purble-custom-100">
				<h5 class="modal-title text-white" id="exampleModalPopoversLabel ">Reject / Rework
				</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div> -->
			<div class="modal-body">
			<h6>Do you really want to Approve Process Order : {{acceptOrder}}</h6>
 			<!-- <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadios"
                      ng-model="selection" id="optionsRadios2" value="Rework"/>
                <span class="radio-icon"></span>
                <span>Rework</span>
            </label>
        </div> -->
         <!-- <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadios"
                    ng-model="selection" id="optionsRadios2" value="Scrap"/>
                <span class="radio-icon"></span>
                <span>Scrap</span>
            </label>
        </div> -->	
		 <!-- <div class="form-group">
        <textarea class="form-control" ng-model="comments" id="exampleFormControlTextarea1" rows="3"></textarea>
        <label for="exampleFormControlTextarea1">Please give remarks</label>
    </div> -->
			</div>		
			<div class="modal-footer">
			<button type="button" class="btn btn-success text-white" data-dismiss="modal" ng-click="acceptQuality()">yes</button>
<button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
    
			</div>
		</div>
		</form>
	</div>
</div>




<div ng-show = "productList" class="content pageup" ng-app="myQuality">
        <div id="project-dashboard" class="page-layout simple  tabbed">
          
          <!-- content stats here  -->
          <div class="page-content">
            
       
            
            <div class="tab-content">
              <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab">
                <!-- add user form -->
                <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab">
                  <!-- add user form -->
                  <div class=" widget widget-7 card ">
                    <div class="description bg-purble-custom-100  ">
                      
                      <div class="container">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="description-text ">
                              <h5 class="text-white-500">  <span class="text-white-500 icon-format-page-break"></span>Process Orders Quality Inspection </h5>
                            </div>
                            
                          </div>
                          <div class="col-md-5">
                            
                          </div>
                          <div class="col-md-1 right">
                            
                          </div>
                          
                        </div>
                        
                      </div>
                      
                      
                    </div>
                    <!-- filter button -->
                    <div class="widget-content p-4">
                    <div class="row" ng-if=" count == 0" >
										<div class="col-12">
											<div id="exampleAccordion"  data-children=".item">
												<div class="item">
													<div class="linkshow" style="color: white !important;">
														<a class="nav-link ripple fuse-ripple-ready collapsed">
															<b>No Process Order</b>
														</a>
													</div>
												</div>
											
											</div>
										</div>
									</div>
                      <div class="row">
                        
                        <div class="col-md-4 " ng-if=" count != 0">
                          
                          <!-- <div id="sample-data-table_filter" class="dataTables_filter ">
                            <label>Search:<input type="search" ng-model ="searchProduct" class="search-border " placeholder="Search here.." aria-controls="sample-data-table"></label>
                          </div> -->
                        </div>
                        
                        <div class="col-md-6 ">
                          
                       <!-- <p> loewkkwdnjsdnjasdns</p> -->
                       <flash-message class="flash-custom" duration="10000"></flash-message>
                       
                       <!-- <div class="alert  alert-success alert-dismissible fade show"
									role="alert" ng-if="updateSuccess">
									<button type="button" class="close" data-dismiss="alert"
										aria-label="Close">
										<span aria-hidden="true"><i class="icon-close"> </i></span>
									</button>
									<strong>{{updateSuccess}}</strong>
								</div>
								
								<div class="alert  alert-warning alert-dismissible fade show"
									role="alert" ng-if="noQuality">
									<button type="button" class="close" data-dismiss="alert"
										aria-label="Close">
										<span aria-hidden="true"><i class="icon-close"> </i></span>
									</button>
									<strong>{{noQuality}}</strong>
								</div> -->
                        
                        
                      </div>
                        
                        
                      </div>
                      
                      <!-- content starts here -->
                      <table class="table table-responsive optable" ng-if=" count != 0">
                        <thead class="thead-inverse">
                          <tr>
                            <th>Batch Date</th>
                            <th class="text-white-500">Product Process Order </th>
                            <th>Batch Number</th>
                            <th>Product Number</th>
                            <th>Material Memo</th>
                            <!-- <th>Container Number</th>
                            <th>Container Name</th> -->
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody class="table-border ">
                        <!-- <p>gcfhgfhjgfjhgggfg</p> -->
                          <tr ng-repeat="productOrder in productOrders | filter: searchProduct " class="result-item user thead-white table-border">
                            <td>{{productOrder.batchDate}}</td>
                            <td>{{productOrder.processorderProdNumber}}</td>
                            <td>{{productOrder.batchNumber}} </td>
                            <td>{{productOrder.productTable.productNumber}}</td>
                            <td>{{productOrder.productTable.productDescription}}</td>
                            <!-- <td>{{packingOrder.containerTable.containerNumber}}</td>
                            <td>{{packingOrder.containerTable.containerDescription}}</td> -->
                            <td> <button type="button" class="btn btn-secondary fuse-ripple-ready" ng-click = "showAllQualities(productOrder.processorderProdNumber)">Proceed</button></td>
                            
                            
                          </tr>
                          
                          
                        </tbody>
                        
                        
                        
                        
                      </table>
                      <!-- content ends here -->
                      
                    </div>
                  </div>
                </div>
                
                
                <!-- add user form ends here -->
                
              </div>
              
              
            </div>
          </div>
          <!-- content ends here -->
        </div>
        
      </div>

<div ng-show = "packList" class="content pageup">
        <div id="project-dashboard" class="page-layout simple  tabbed">
          
          <!-- content stats here  -->
          <div class="page-content">
            
            
            
                
            
            <div class="tab-content">
              <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab">
                <!-- add user form -->
                <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab">
                  <!-- add user form -->
                  
      
                  
                  <div class=" widget widget-7 card ">
                    <div class="description bg-purble-custom-100  ">
                      
                      <div class="container">
                  
                      
                      
                        <div class="row">
                          <div class="col-md-6">
                            <div class="description-text ">
                              <h5 class="text-white-500">  <span class="text-white-500 icon-format-page-break"></span>Quality Details </h5>
                            </div>
                            
                          </div>
                          <div class="col-md-5">
                            
                          </div>
                          <div class="col-md-1 right">
                            
                          </div>
                          
                        </div>
                        
                      </div>
                      
                      
                    </div>
                    <!-- filter button -->
                    <div class="widget-content p-4">
                      <div class="row">
                        
                        <div class="col-md-4 p-4">
                          
                          <div id="sample-data-table_filter" class="dataTables_filter ">
                            <label>Search:<input type="search" ng-modal ="search" class="search-border " placeholder="Search here.." aria-controls="sample-data-table"></label>
                          </div>
                        </div>
                        
                        
                      </div>
                      
                      
                           
                      
                      <!-- content starts here -->
                                            
                      <table class="table table-responsive optable">
                        <thead class="thead-inverse">
                          <tr>
                            <th class="text-white-500"></th>
                            <th class="text-white-500"></th>
                            <th>Product Process order</th>
                            <th class="text-white-500">Batch Number </th>
                            <th>Product Number</th>
                            <th>Product Name</th>
                            <th>Package Process Order</th>
                            <th>Container Number</th>
                            <th>Container Name</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody class="table-border ">
                          <tr ng-repeat="packingOrder in packingOrders | filter: search" class="result-item user thead-white table-border">
                            <td>
                            </td>
                            <td></td>
                            <td>{{packingOrder.processorderProd.processorderProdNumber}}</td>
                            <td>{{packingOrder.batchNumber}}</td>
                            <td>{{packingOrder.productNumber}} </td>
                            <td>{{packingOrder.productName}}</td>
                            <td>{{packingOrder.processorderPckgNumber}}</td>
                            <td>{{packingOrder.containerTable.containerNumber}}</td>
                            <td>{{packingOrder.containerTable.containerDescription}}</td>
                            
                            <td> <button type="button" class="btn btn-secondary fuse-ripple-ready" ng-click = "showAllQualities(packingOrder.processorderProd.processorderProdNumber,packingOrder.processorderPckgNumber)">Proceed</button></td>
                            
                            
                          </tr>
                          
                          
                        </tbody>
                        
                        
                        
                        
                      </table>
                      <!-- content ends here -->
                      
                    </div>
                  </div>
                </div>
                
                
                <!-- add user form ends here -->
                
              </div>
              
              
            </div>
          </div>
          <!-- content ends here -->
        </div>
        
      </div>
      
      
      
      <div ng-show = "qualityList" class="content pageup">
        <div id="project-dashboard" class="page-layout simple  tabbed">
          
          <!-- content stats here  -->
          <div class="page-content">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<nav class="breadcrumb">
					<a class="breadcrumb-item" href="" ng-click="refresh()"> Back </a>
			</ul>

			<div class="tab-content">
              <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab">
                <!-- add user form -->
                <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab">
                  <!-- add user form -->
                  
                  
                      
            
                  
                  
                  <div class=" widget widget-7 card ">
                    <div class="description bg-purble-custom-100  ">
                      
                      <div class="container">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="description-text ">
                              <h5 class="text-white-500">  <span class="text-white-500 icon-format-page-break"></span>Quality Details </h5>
                              
                            </div>
                          
                            
                          </div>
										<div class="col-md-5">
											<a
												href="http://10.174.84.35:8080/static2/{{allQualities[0].batchNumber}}.pdf"
												target="_blank" data-toggle="tooltip" data-placement="right"
												title="" data-original-title="Find the Order PDF"
												style="float: RIGHT; padding-top: 12px;"><i
												class="text-red-500 s-9 icon-file-pdf"></i> </a>

										</div>
										<div class="col-md-1 right">
                            
                          </div>
                          
                        </div>
                        
                      </div>
                      
                      
                    </div>
                    <!-- filter button -->
                    <div class="widget-content p-4">
                      <div class="row">
                        
                        <!-- <div class="col-md-8 p-4">
                          
                          <div id="sample-data-table_filter" class="dataTables_filter ">
                            <label>Search:<input type="search" ng-modal ="search" class="search-border " placeholder="Search here.." aria-controls="sample-data-table"></label>
                          </div>
                        </div> -->
                        
                        
                          <div class="col-md-2 p-4">
                          
                         <button type="button" class="right btn btn-success text-white  fuse-ripple-ready"  data-toggle="modal" data-target="#approveModal">Approve</button>
                        </div>
                        
                        <div class="col-md-2 p-4">
                          
                          <button type="button" class="btn btn-danger fuse-ripple-ready"  data-toggle="modal" data-target="#exampleModalLive123">Reject</button>
                        </div>
                        
                        
                        
                      </div>
                      
                      <!-- content starts here -->
                                            
                      <!-- <table class="table table-responsive optable">
                        <thead class="thead-inverse">
                          <tr>
                            <th class="text-white-500"></th>
                            <th class="text-white-500"></th>
                            <th>Number</th>
                            <th class="text-white-500">Characteristics </th>
                            <th>Method</th>
                            <th>Result</th>
                            <th>Package Process Order</th>
                            <th>Container Number</th>
                            <th>Container Name</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody class="table-border ">
                          <tr ng-repeat="allQuality in allQualities | filter: search" class="result-item user thead-white table-border">
                            <td>
                            </td>
                            <td></td>
                            <td>{{allQuality.qualityMaster.id}}</td>
                            <td>{{allQuality.qualityMaster.discription}}</td>
                            <td>{{allQuality.qualityMaster.method}} </td>
                            <td>{{allQuality.result}}</td>
                            <td>{{packingOrder.processorderPckgNumber}}</td>
                            <td>{{packingOrder.containerTable.containerNumber}}</td>
                            <td>{{packingOrder.containerTable.containerDescription}}</td>
                            
                            <td> <button type="button" class="btn btn-secondary fuse-ripple-ready" ng-click = "showQuality(packingOrder.processorderPckgNumber)">Proceed</button></td>
                            
                            
                          </tr>
                          
                          
                        </tbody>
                        
                        
                        
                        
                      </table> -->
                      
                      <!-- New Table For Quality Accept -->
                      
                      <div class="widget-content p-4">
                                            <div class="row p-4">
                                                <table>
                                                    <tbody><tr class=" spacetab">
                                                        <th> Process Order : </th>
                                                        <td>{{allQualities[0].processOrder}}</td>
                                                
                                                    </tr>
                                                    <!-- <tr class=" spacetab">
                                                        <td></td>
                                                        <td>89</td>
                                                    </tr> -->
                                                    <tr class=" spacetab">
                                                        <th>Batch Number </th>
                                                        <td>{{allQualities[0].batchNumber}}</td>
                                                    </tr>
                                                    <tr class=" spacetab">
                                                        <th>Product Number</th>
                                                        <td>{{allQualities[0].productNumber}}</td>
                                                    </tr>
                                                    <!-- <tr class=" spacetab">
                                                        <td></td>
                                                        <td>18548</td>
                                                    </tr> -->
                                                    <tr class=" spacetab">
                                                        <th sss="">Material Memo</th>
                                                        <td>{{allQualities[0].materialMemo}}</td>
                                                    </tr>
                                                    <tr class=" spacetab">
                                                        <th sss="">Remarks</th>
                                                        <td>{{allQualities[0].remarks}}</td>
                                                    </tr>
                                                </tbody></table>
                                                <!-- <table class="table table-bordered">
                                                    <thead>
                                                        <tr class="bg-grey-700 text-auto">
                                                            <td colspan="1">
                                                                <h6>Inspection</h6></td>
                                                            <td colspan="1">
                                                                <h6>0010</h6></td>
                                                            <td colspan="6">
                                                                <h6>Plant Testing</h6></td>
                                                        </tr>
                                                    </thead>
                                                    <thead class="thead-inverse ">
                                                        <tr><th colspan="4" style="text-align: center;">Characteristics</th>
                                                        <th style="    text-align: center;" > Method </th>
                                                        <th colpsan="2" style="    text-align: center;">Range</th>
                                         
                                                        <th colspan="5" style="    text-align: center;"  >Result</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody ng-repeat="allQuality in allQualities | filter: search">
                                                        <tr class="bordertab">
                                                            <td rowspan="2">{{allQuality.qualityMaster.id}}</td>
                                                            <td rowspan="2" colspan="3">{{allQuality.qualityMaster.discription}}</td>
                                                            <td rowspan="2">{{allQuality.qualityMaster.method}}</td>
                                                      
                                                            
                                                            <td>
                                                            
                                                            <span ng-repeat="qualityRange1 in allQuality.range1">{{qualityRange1}}<br />
                                                            </span>
                                                            
                                                            </td>
                                                            
                                                            <td style="    border-left: 2px solid rgba(255, 255, 255, 0);">
                                                             <span ng-repeat="qualityRange2 in allQuality.range2">{{qualityRange2}}<br />
                                                            </span>
                                                          
                                                            </td>
                                                            
                                                            <td rowspan="2">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" id="basic-addon1"></span>
                                                                    <label for="">{{allQuality.result}}</label>
                                                                 
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        
                                                        
                                                        
                                                        
                                                        
                                                
                                                        

                                                      


                                                    
                                                </tbody></table> -->
                                                <div class="p-3">
                                                </div>
                                               <!--  text ends here
                                                content ends here
                                                the real content inside widger -->
                                            </div>
                                        </div>
                      
                      
                      
                      
                      
                      
                      
                      
                      
                      <!-- content ends here -->
                      
                    </div>
                  </div>
                </div>
                
                
                <!-- add user form ends here -->
                
              </div>
              
              
            </div>
          </div>
          <!-- content ends here -->
        </div>
        
      </div>