

<div id="details" class="modal fade" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header description bg-purble-custom-100  ">
				<h5 class="modal-title text-white-500" id="exampleModalLiveLabel">Packing
					Details</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<table class="table table-responsive optable">
					<tbody>
					<thead class="thead-inverse">
						<tr>
							<th style="width: 575px;">Batch Date</th>
							<th class="text-white-500">Product Process Order</th>
							<th>Batch Number</th>
							<th>Material Number</th>
							<th>Material Memo</th>

							<th>Total Quantity</th>
							<!-- <th>Remarks</th> -->


						</tr>
					</thead>


					<tr ng-repeat="reworkPackDetail in reworkPackDetails">
						<td>{{reworkPackDetail.batchDate}}</td>
						<td>{{reworkPackDetail.processorderPckgNumber}}</td>
						<td>{{reworkPackDetail.batchNumber}}</td>
						<td>{{reworkPackDetail.sixmlNumber}}</td>
						<td>{{reworkPackDetail.materialMemo}}</td>
						<td>{{reworkPackDetail.totalQuantity}}</td>
						<!-- <td>hjh</td>
		                                    <td>fghgfh</td>
		                                      <td>gfhfgh</td> -->
					</tr>


					</tbody>
				</table>


			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

			</div>
		</div>
	</div>
</div>
<div id="approveModal" class="modal fade" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalPopoversLabel" aria-hidden="true">
	<div class=" modal-dialog modal-lg" role="document">
		<form>
			<div class="modal-content">
				<div class="modal-header bg-purble-custom-100">
					<h5 class="modal-title text-white" id="exampleModalPopoversLabel ">Approve
						Process Order : {{orderNumber}}</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<!-- <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadios"
                      ng-model="selection" id="optionsRadios2" value="Rework"/>
                <span class="radio-icon"></span>
                <span>Rework</span>
            </label>
        </div> -->
					<!-- <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadios"
                    ng-model="selection" id="optionsRadios2" value="Scrap"/>
                <span class="radio-icon"></span>
                <span>Scrap</span>
            </label>
        </div> -->



					<div class="form-group">
						<textarea class="form-control" ng-model="comments"
							id="exampleFormControlTextarea1" rows="3"></textarea>
						<label for="exampleFormControlTextarea1">Please give
							remarks here..</label>
					</div>
				</div>




				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal" ng-click="approve()">Submit</button>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="content pageup" ng-app="myQuality">
	<div id="project-dashboard" class="page-layout simple  tabbed">

		<!-- content stats here  -->
		<div class="page-content">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item"><a
					class="nav-link btn fuse-ripple-ready active" id="home-tab"
					data-toggle="tab" role="tab" aria-controls="home"
					ng-click="getRework()" aria-expanded="true"> Re-Worked </a></li>
				<li class="nav-item"><a class="nav-link btn fuse-ripple-ready"
					id="profile-tab" data-toggle="tab" role="tab" ng-click="getScrap()"
					aria-controls="profile" aria-expanded="false"> Scraped </a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade show active" id="home-tab-pane"
					role="tabpanel" aria-labelledby="home-tab">
					<!-- add user form -->


					<div class="tab-pane fade show active" id="home-tab-pane"
						role="tabpanel" aria-labelledby="home-tab">
						<!-- add user form -->



						<div class=" widget widget-7 card " ng-show="showRework">
							<div class="description bg-purble-custom-100  ">

								<div class="container">
									<div class="row">
										<div class="col-md-6">
											<div class="description-text ">
												<h5 class="text-white-500">
													<span class="text-white-500 icon-format-page-break"></span>Re-Worked
													Process Orders

												</h5>
											</div>

										</div>



									</div>

								</div>


							</div>
							<!-- filter button -->
							<div class="widget-content p-4 ">
								<div class="row" ng-if="reworkOrders.length == 0">
									<div class="col-12">
										<div id="exampleAccordion" data-children=".item">
											<div class="item">
												<div class="linkshow" style="color: white !important;">
													<a class="nav-link ripple fuse-ripple-ready collapsed">
														<b>No Process Order</b>
													</a>
												</div>
											</div>

										</div>
									</div>
								</div>

								<!-- <div class="row" ng-if="reworkOrders.length != 0">

									<div class="col-md-4 p-4" >

										<div id="sample-data-table_filter" class="dataTables_filter ">
											<label>Search:<input type="search" ng-model="searchRework"
												class="search-border " placeholder="Search here.."
												aria-controls="sample-data-table"></label>
										</div>
									</div>



								</div> -->

								<!-- content starts here -->
								<table class="table table-responsive optable"
									ng-if="reworkOrders.length != 0">
									<!-- " ng-if=" count != 0 -->
									<thead class="thead-inverse">
										<tr>
											<th style="width: 575px;">Batch Date</th>
											<th class="text-white-500">Product Process Order</th>
											<th>Batch Number</th>
											<th>Material Number</th>
											<th>Material Memo</th>
											<!-- <th></th> -->
											<th>Reason</th>
											<th>Remarks</th>
											<th></th>
											<th></th>
											<th></th>

										</tr>
									</thead>


									<tbody class="table-border">
										<tr
											dir-paginate="reworkOrder in reworkOrders | filter : searchRework | itemsPerPage:5"
											class="result-item user thead-white table-border">


											<td>{{reworkOrder.batchDate}}</td>
											<td>{{reworkOrder.processorderProdNumber}}</td>
											<td>{{reworkOrder.batchNumber}}</td>
											<td>{{reworkOrder.productTable.productNumber}}</td>
											<td>{{reworkOrder.productTable.productDescription}}</td>
											<td>{{reworkOrder.comment}}</td>
											<td>{{reworkOrder.remarks}}
												<div ng-if="reworkOrder.isApproved == 0" class="labels">
													<div class="badge badge-danger">Not Approved</div>
												</div>
											</td>
											<td>


												<button type="button" class="btn btn-primary"
													data-toggle="modal"
													ng-click="packingDetails(reworkOrder.processorderProdNumber)"
													data-target="#details">Packing Deatils</button>
											</td>
											<td>
												<button ng-if="reworkOrder.isApproved == 0" type="button"
													class="btn btn-success text-white  fuse-ripple-ready"
													data-toggle="modal" data-target="#approveModal"
													ng-click="giveComments(reworkOrder.processorderProdNumber)">
													Approve</button>
												<button ng-if="reworkOrder.isApproved != 0"
													disabled="disabled" type="button" class="btn btn-primary">
													Approved</button> <!-- <button type="button" onclick="toggleChevron(this)" ng-click="packingDetails(reworkOrder.processorderProdNumber)"
													 class="btn btn-icon  fuse-ripple-ready ">

													<span class=" text-purble-custom-100 icon-arrow-up
"></span>

												</button> -->
											</td>
											<td>
											<a
												href="http://10.174.84.35:8080/static2/{{reworkOrder.batchNumber}}.pdf"
												target="_blank" data-toggle="tooltip" data-placement="right"
												title="" data-original-title="Find the Order PDF"
												style="float: RIGHT; padding-top: 12px;"><i
												class="text-red-500 s-9 icon-file-pdf"></i> </a>
											</td>
										</tr>



									</tbody>





								</table>
								<!-- content ends here -->

							</div>

							<nav aria-label="pagination" class="my-8">
								<dir-pagination-controls max-size="5" direction-links="true"
									boundary-links="true"> </dir-pagination-controls>


								<style>
.pagination>li>a, .pagination>li>span {
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #428bca;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
}

.pagination>li>a:hover {
	color: white;
	text-decoration: none;
	background-color: blue;
}
</style>
								<!-- <pagination 
  ng-model="currentPage"
  total-items="todos.length"
  max-size="maxSize"  
  boundary-links="true">
</pagination> -->
							</nav>





						</div>



						<div class=" widget widget-7 card" ng-show="showScrap">
							<div class="description bg-purble-custom-100  ">

								<div class="container">
									<div class="row">
										<div class="col-md-6">
											<div class="description-text ">
												<h5 class="text-white-500">
													<span class="text-white-500 icon-format-page-break"></span>
													Scraped Process Orders
												</h5>
											</div>

										</div>



									</div>

								</div>


							</div>
							<!-- filter button -->
							<div class="widget-content p-4">
								<div class="row" ng-if=" scrapDetails.length == 0">
									<div class="col-12">
										<div id="exampleAccordion" data-children=".item">
											<div class="item">
												<div class="linkshow" style="color: white !important;">
													<a class="nav-link ripple fuse-ripple-ready collapsed">
														<b>No Process Order</b>
													</a>
												</div>
											</div>
											<div class="space2x"></div>
										</div>
									</div>
								</div>

								<!-- <div class="row" ng-if=" scrapDetails.length != 0">

									<div class="col-md-4 p-4" >

										<div id="sample-data-table_filter" class="dataTables_filter ">
											<label>Search:<input type="search" ng-model="searchScrap"
												class="search-border " placeholder="Search here.."
												aria-controls="sample-data-table"></label>
										</div>
									</div>



								</div> -->

								<!-- content starts here -->
								<table class="table table-responsive optable"
									ng-if=" scrapDetails.length != 0">
									<!-- " ng-if=" count != 0 -->
									<thead class="thead-inverse">
										<tr>
											<th>Batch Date</th>
											<th class="text-white-500">Product Process Order</th>
											<th>Batch Number</th>
											<th>Material Number</th>
											<th>Material Memo</th>
											<!-- <th></th> -->
											<th>Reason</th>
											<th></th>

										</tr>
									</thead>


									<tbody class="table-border">
										<tr
											dir-paginate="scrapDetail in scrapDetails | filter: searchScrap | itemsPerPage:5"
											class="result-item user thead-white table-border"
											ng-click="packingDetails(reworkOrder.processorderProdNumber)"
											data-toggle="modal" data-target="#details">


											<td>{{scrapDetail.batchDate}}</td>
											<td>{{scrapDetail.processorderProdNumber}}</td>
											<td>{{scrapDetail.batchNumber}}</td>
											<td>{{scrapDetail.productTable.productNumber}}</td>
											<td>{{scrapDetail.productTable.productDescription}}</td>
											<td>{{scrapDetail.comment}}</td>
											<!-- <td>
												<button type="button" onclick="toggleChevron(this)"
													id="exploder" class="btn btn-icon  fuse-ripple-ready ">

													<span class=" text-purble-custom-100 icon-arrow-up
"></span>

												</button>

											</td> -->

											<!-- <td>


<input class="form-control" type="text" placeholder="Readonly input here" readonly>






											</td> -->


										</tr>










										<!-- <tr class="explode hide">
											<td>dfdsfdsfdsf</td>
											<td>dfdsfdsfdsf</td>

										</tr> -->



									</tbody>





								</table>
								<!-- content ends here -->

							</div>

							<nav aria-label="pagination" class="my-8">
								<dir-pagination-controls max-size="5" direction-links="true"
									boundary-links="true"> </dir-pagination-controls>


								<style>
.pagination>li>a, .pagination>li>span {
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #428bca;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
}

.pagination>li>a:hover {
	color: white;
	text-decoration: none;
	background-color: blue;
}
</style>
								<!-- <pagination 
  ng-model="currentPage"
  total-items="todos.length"
  max-size="maxSize"  
  boundary-links="true">
</pagination> -->
							</nav>





						</div>











						<!-- second table starts here -->




					</div>


					<!-- add user form ends here -->

				</div>


			</div>
		</div>
		<!-- content ends here -->
	</div>
	<script>   

   window.toggleChevron = function(button) { 

    $(button).find('span').toggleClass('icon-arrow-up icon-arrow-down'); 

}   

</script>

</div>
