<div id="packingHrs" class="modal fade" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalPopoversLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header bg-purble-custom-100">
					<h5 class="modal-title text-white" id="exampleModalPopoversLabel ">
						Process Order No:{{vesselHrsProcess}}</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					
				
				<div class="source-preview-wrapper"><div class="preview"><div class="preview-elements">
                <table class="table">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Package Order No :</th>
                            <th>Process Start Time</th>
                            <th>Process End Time</th>
                            <th>Lead Time(minutes)</th>
                          
                        </tr>
                    </thead>
                    <tbody  class="modelme">
                        
                        <tr ng-repeat="packing in packingVesselHrs"><!-- ng-repeat="packing in packingVesselHrs " -->
                            <td scope="row">{{packing.processorderPackageNumber}}</td>
                            <td>{{packing.packingStartTime}}</td>
                            <td>{{packing.packingEndTime}}</td>
                            <td>{{packing.packingLeadTime}}</td>
                        </tr>
                        <!-- <tr>
                          <td>gfgfgfgfg</td>
                          <td>gfgfgfgfg</td>
                          <td>gfgfgfgfg</td>
                          <td>gfgfgfgfg</td>
                        </tr> -->
                        
                    </tbody>
                </table>

              
                </div></div>
               
               
               
                <!-- @formatter:off -->
                <div class="source"></div>
                <!-- @formatter:on --></div>
				
				
				
				
				</div>
				<div ng-show="showButtons" class="modal-footer">

					
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
				</div>
				<div ng-show="showClose" class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

<div class="content-wrapper">


<div id="extrarm" class="modal fade" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalPopoversLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header bg-purble-custom-100">
					<h5 class="modal-title text-white" id="exampleModalPopoversLabel ">
						Extra Raw Material</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
				
				
				
				
					<div class="form-group">
                        <label for="exampleFormControlSelect1">Add Extra RM Details</label>
                       <input type="text" class="form-control" ng-model= "extraRmInfo">                        
                    </div>				
				</div>
			
				<div class="modal-footer">
                   <button type="button"
						class="btn btn-success text-white fuse-ripple-ready"
						ng-click="addExtraRm()" data-dismiss="modal"
						>ADD RM</button>
                        
					
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
				</div>
				<div ng-show="showClose" class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	
	
	
	

<div id="editextrarm" class="modal fade" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalPopoversLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header bg-purble-custom-100">
					<h5 class="modal-title text-white" id="exampleModalPopoversLabel ">
						Edit Extra Raw Material</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
                        <label for="exampleFormControlSelect1">Update Extra RM Details </label>
                       <input type="text" class="form-control" ng-model= "extraRmInfo">                        
                    </div>				
				</div>
				
				<div class="modal-footer">

				 <button type="button"
						class="btn btn-success text-white fuse-ripple-ready"
						ng-click="addExtraRm()"
						>Save changes</button>
					
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
				</div>
				<div ng-show="showClose" class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

		<div ng-app="App" class="">
			<div class="content pageup">
				<div id="project-dashboard" class="page-layout simple  tabbed">
					<!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
						<nav class="breadcrumb">
							<button>
								<a class="breadcrumb-item" ui-sref="WarehouseInventoryPosting"
									href="#!/WarehouseInventoryPosting"><b>Click here to Go
										Back</b></a>
							</button>
							<span
                  class="breadcrumb-item active">Quality Check</span>
						</nav>

					</ul> -->


					<style>
.fixmetab>tr {
	display: none;
	border-bottom: 1px solid #dfdfdf;
}

.fixmetab>tr.parent {
	display: table-row;
	border-bottom: 1px solid #dfdfdf;
}

.fixmetab>tr.open {
	display: table-row;
	background: #3e4684;
	color: white;
}
</style>

					<!-- content stats here  -->
					<div class="page-content ">
						<div class="tab-content">
							<div class="tab-pane fade show active" id="home-tab-pane"
								role="tabpanel" aria-labelledby="home-tab">
								<!-- add user form -->
								<div class="tab-pane fade show active" id="home-tab-pane"
									role="tabpanel" aria-labelledby="home-tab">
									<!-- add user form -->
									<div class=" widget widget-7 card ">


										<div class="description bg-purble-custom-100  ">
											<div class="container">
												<div class="row">
													<div class="col-md-6">
														<div class="description-text ">
															<h5 class="text-white-500">
																<span class="text-white-500  icon-history"></span>
																History 
															</h5>
														</div>
													</div>



													<div class="col-md-5"></div>
													<div class="col-md-1 right"></div>
												</div>
											</div>
										</div>


										<!-- filter button -->
										<div class="widget-content p-4">
											<div class="row">
												<div class="col-md-4 p-4 padh">

													<div class="row">
														<div class="col-md-6">
															<h6>ProcessOrder Number :</h6>
														</div>
														<div class="col-md-6">
															<h6>
																<span class="left"> {{processOrderForQualityAssurance[0].processorderProdNumber}}
																	<!-- <button type="button"
																		class="btn btn-icon fuse-ripple-ready">
																		<i class=" text-red-A700 s-4 icon-file-pdf"></i>
																	</button> -->
																	<a href="http://10.174.84.35:8080/5ML-PDf/{{processOrderForQualityAssurance[0].pdfDate}}/{{processOrderForQualityAssurance[0].processorderProdNumber}}.pdf"" target="_blank" data-toggle="tooltip" data-placement="right" title="" data-original-title="Find the Order PDF" >	<i class=" text-red-A700  s-4 icon-file-pdf"></i> </a>
																</span>



															</h6>
														</div>



														<div class="col-md-6">
															<h6>Material Number :</h6>
														</div>
														<div class="col-md-6">
															<h6>
																<span class="left"> {{processOrderForQualityAssurance[0].productTable.productNumber}} </span>
															</h6>
														</div>



														<div class="col-md-6">
															<h6>Material Description :</h6>
														</div>
														<div class="col-md-6">
															<h6>
																<span class="left">{{processOrderForQualityAssurance[0].productTable.productDescription}}</span>
															</h6>
														</div>


													<div class="col-md-6">
														<h6>
															Inspection LOT: <a
																href="http://10.174.84.35:8080/static2/{{processOrderForQualityAssurance[0].batchNumber}}.pdf"
																target="_blank" data-toggle="tooltip"
																data-placement="right" title=""
																data-original-title="Find the Order PDF"> <i
																class=" text-red-A700  s-4 icon-file-pdf"></i>
															</a>
														</h6>
													</div>
													<div class="col-md-6">
															<h6>
																Instruction PDF:																
																<a href="http://10.174.84.35:8080/Instruction-PDF/00{{processOrderForQualityAssurance[0].processorderProdNumber}}.pdf" 
																target="_blank" data-toggle="tooltip" data-placement="right" title="" data-original-title="Find the Order PDF" >	
																<i class=" text-red-A700  s-4 icon-file-pdf"></i> </a>
															</h6>
														</div>
														
														<div class="col-md-12" >
														<h6
															style="color: #3e4684; background: #f1f0f0; padding: 10px; border-radius: 8px;">Extra
															RM Used</h6>
													   </div>
															<div class="col-md-12 labelextra extracf" ng-if= "processOrderForQualityAssurance[0].extraRm != null">


																<label for="exampleFormControlSelect1">
																	<h6>{{processOrderForQualityAssurance[0].extraRm}}</h6>
																</label>

																<button type="button" id="showDone" type="button" data-toggle="modal"
																	data-target="#editextrarm" ng-click="updateRmInfo(processOrderForQualityAssurance[0].extraRm)"
																	class="btn btn-light btn-fab btn-sm fuse-ripple-ready">
																	<i class="icon-tooltip-edit
"></i>
																</button>		


															</div>
															<div class="col-md-12 labelextra extracf" ng-if= "processOrderForQualityAssurance[0].extraRm == null">


																<label for="exampleFormControlSelect1">
																	<h6>No Extra Raw Material Used</h6>
																</label>
															</div>
													

													</div>
												</div>
												<div class="col-md-3 p-4"></div>

												<div class="col-md-4 p-4 padh">

													<div class="row">
														<div class="col-md-6">
															<h6>Quantity :</h6>
														</div>
														<div class="col-md-6 ">
															<h6>
																<span class="left">{{processOrderForQualityAssurance[0].totalQuantity}} </span>
															</h6>
														</div>
														<div class="col-md-6">
															<h6>Produced Quantity :</h6>
														</div>
														<div class="col-md-6 ">
															<h6>
																<span class="left">{{processOrderForQualityAssurance[0].producedQuantity}} </span>
															</h6>
														</div>


														<div class="col-md-6">
															<h6>Batch Number :</h6>
														</div>

														<div class="col-md-6">
															<h6>
																<span class="left"> {{processOrderForQualityAssurance[0].batchNumber}} </span>
															</h6>
														</div>




														<div class="col-md-6">
															<h6>Remarks by Q/A :</h6>
														</div>

														<div class="col-md-6">

															<h6>
																<span class="left">{{processOrderForQualityAssurance[0].remarks}} </span>
															</h6>
														</div>






													</div>



													<div class="row" ng-if= "processOrderForQualityAssurance[0].extraRm == null">

														<div class="">

															<div class="col-md-12">
															<button id="showDone" type="button" data-toggle="modal"
																	data-target="#extrarm"
																	class="btn btn-secondary fuse-ripple-ready">Add
																	Extra Raw Material</button>
																
															</div>
														</div>

													</div><br>
													
													
													<div class="row" >

														<div class="">

															<div class="col-md-12">
															<button id="showDone" type="button" data-toggle="modal"
																	data-target="#packingHrs" ng-click="getVesselHrs(processOrderForQualityAssurance[0].processorderProdNumber)"
																	class="btn btn-secondary fuse-ripple-ready">View
																	Packing Hours</button>
																
															</div>
														</div>

													</div>
												</div>
											</div>


											<div class="row"></div>


											<table id="products" class="table table-responsive">
												<thead class="thead-inverse">
													<tr>


														<th class="secondary-text">
															<div class="">
																<span class="column-title">R.M. Number</span>
															</div>
														</th>



														<th class="secondary-text">
															<div class="">
																<span class="column-title">R.M Name</span>
															</div>
														</th>

														<th class="secondary-text">
															<div class="">
																<span class="column-title">Quantity</span>
															</div>
														</th>




														<th>Location Details</th>


													</tr>
												</thead>
												<!-- ngRepeat: processorderRec in processOrderForQualityAssurance -->
												<tbody ng-repeat="processorderRec in processOrderForQualityAssurance" class="fixmetab ">
													<tr class="parent">

														<td><span>{{processorderRec.rawmaterialTable.rawmaterialNumber}}</span><br> <span><img
																class="img-fluid" style="display: block;"
																src="http://10.174.84.35:8080/static/{{processorderRec.rawmaterialTable.rawmaterialNumber}}.png"><span></span></span></td>

														<td><span class="barcode-des ">{{processorderRec.rawmaterialTable.rawmaterialDescription}}</span> <!-- <span><img class="img-fluid"
											style="display: block;"
											src="http://10.174.84.35:8080/static/{{processorderRec.rawmaterialTable.rawmaterialNumber}}.png" /><span> -->
														</td>

														<td><span class="barcode-des ">{{processorderRec.processOrderRm.quantity}}</span> <span><img
																class="img-fluid" style="display: block;"
																src="http://10.174.84.35:8080/static/{{processorderRec.processOrderRm.quantity}}.png"><span></span></span></td>

														<td>
															<button type="button" onclick="toggleChevron(this)"
																class="btn btn-icon  fuse-ripple-ready exploder">
																<span
																	class=" text-purble-custom-100   icon-chevron-down"></span>
															</button>
														</td>

													</tr>
													
													<tr class="table-primary "
														ng-if="processorderRec.rawmaterialTable.rawmaterialNumber !=5947  &amp;&amp; processorderRec.rawmaterialTable.rawmaterialNumber !=9570 &amp;&amp; processorderRec.rawmaterialTable.rawmaterialNumber !=9527 ">

														<th>Location</th>
														<th>Batch Number</th>
														<th>Quantity</th>
														<th colspan="6"></th>
													</tr>
													
													<tr ng-repeat="loc in processorderRec.locationRm" ng-if="processorderRec.rawmaterialTable.rawmaterialNumber !=5947  && processorderRec.rawmaterialTable.rawmaterialNumber !=9570 && processorderRec.rawmaterialTable.rawmaterialNumber !=9527 ">


														<td>{{loc.location}}<img class="img-fluid"
															style="display: block;"
															src="http://10.174.84.35:8080/static/{{loc.location}}.png">

														</td>

														<td>{{loc.batchNumber}}<img class="img-fluid"
															style="display: block;"
															src="http://10.174.84.35:8080/static/{{loc.batchNumber}}.png"></td>

														<td>{{loc.quantityTaken}}<img class="img-fluid"
															style="display: block;"
															src="http://10.174.84.35:8080/static/{{loc.quantityTaken}}.png"></td>


														<td colspan="5"></td>


													</tr>
													
												</tbody>												
												
											</table>



										</div>
									</div>





									<script>
										function displayResult()

										{

											document.getElementById(
													"sample-data-table")
													.insertRow(-1).innerHTML = '<td>1</td><td>2</td>';

										}
									</script>




									<script>
										$("#products")
												.on(
														"click",
														"button",
														function(e) {
															e.preventDefault();
															$(this)
																	.closest(
																			"tr")
																	.nextUntil(
																			".parent")
																	.toggleClass(
																			"open");
														});
									</script>
									<script>
										window.toggleChevron = function(button) {
											$(button)
													.find('span')
													.toggleClass(
															'icon-chevron-down icon-chevron-up');
										}
									</script>






									<script>
										window.toggleChevron = function(button) {
											$(button)
													.find('span')
													.toggleClass(
															'icon-chevron-down icon-chevron-up');
										}
									</script>

									<!-- content ends here -->
								</div>
							</div>







					
						<div class="space1x"></div>

						<div class="tab-pane fade show active" id="home-tab-pane"
							role="tabpanel" aria-labelledby="home-tab">
							<!-- add user form -->
							<div class=" widget widget-7 card ">



								<div class="description bg-purble-custom-100  ">
									<div class="container">
										<div class="row">
											<div class="col-md-6">
												<div class="description-text ">
													<h5 class="text-white-500">Packaging Details</h5>
												</div>
											</div>
											<div class="col-md-5"></div>
											<div class="col-md-1 right">
												<!--
                                    <button type="button" class="btn btn-icon fuse-ripple-ready filter" data-placement="right" data-toggle="modal" data-target="#exampleModalLive" title="Send the remarks in here ">
                                    
                                    <i class="text-white-500 icon-email-alert" alt="remarks">  </i>
                                    
                                    </button> -->
											</div>
										</div>
									</div>
								</div>



								<!-- content starts here -->
								<table class="table table-responsive">
									<thead class="thead-inverse">
										<tr>
											<th class="text-white-500"></th>
											<th class="text-white-500">Batch Date</th>
											<th>Process Order No</th>
											<th>Material Code</th>
											<th>Material Description</th>
											<th>Total Quantity</th>
											<th>Weight/Package</th>
											<th>Batch No</th>
											<th>Location Stored</th>
											<th >PO used Qty</th>
											<th>Inventory </br>Quantity
											</th>
											<th>Status</th>											
											<th> Remarks</th>
											
										</tr>
									</thead>


									<!-- ngRepeat: pack in associatedOrders -->
									<tbody class="table-border" ng-repeat="pack in associatedOrders">
										<tr class="result-item user thead-white table-border">
											<td>
												<button type="button" id="explo"
													class="btn btn-icon fuse-ripple-ready">
													<i class=" text-red-A700 icon-barcode-scan"></i>
												</button>												
												<a href="http://10.174.84.35:8080/static1/{{pack.pdfDate}}/{{pack.processorderPckgNumber}}.pdf" target="_blank" data-toggle="tooltip" data-placement="right" title="" data-original-title="Find the Order PDF" style="float: RIGHT; padding-top: 12px;"><i class="text-red-500 s-9 icon-file-pdf"></i> </a>
												<a href="http://10.174.84.35:8080/Instruction-PDF/00{{pack.processorderPckgNumber}}.pdf" target="_blank" data-toggle="tooltip" data-placement="right" title="" data-original-title="Find the Order PDF" style="float: RIGHT; padding-top: 12px;"><i class="text-red-500 s-9 icon-file-pdf"></i> </a>
											</td>

											<td>{{pack.batchDate}}</td>
											<td>{{pack.processorderPckgNumber}}</td>
											<td>{{pack.sixmlNumber}}</td>
											<td>{{pack.materialMemo}}</td>
											<td>{{pack.totalQuantity}}</td>
											<td>{{pack.wghtPckg}}</td>
											<td>{{pack.batchNumber}}</td>
											<td>{{pack.locationAfterPacking}}</td>
											<td>{{pack.poUsedPails}}</td>
											<td>{{pack.quantityAfterPacking}}</td>
											<td><span class="badge badge-secondary ">{{pack.status.statusDescription}}
											</span></td>							

											
											
											<td>
											<textarea cols="80" rows="5" class="form" ng-model="pack.packingRemarks" disabled></textarea>
											</td>
																					
											
											
											
											<!-- <button type="button" id="explo" class="btn btn-icon fuse-ripple-ready"  data-toggle="modal" data-target="#remarkme"  >
													<i class=" text-red-A700 icon-message-processing
"></i>
												</button></td> -->
												





										</tr>



									

										<tr class="explo hide">


											<td colspan="6"><span class="barcode-des">Process
													Order</span> <img class="img-fluid"
												src="http://10.174.84.35:8080/static/{{pack.processorderPckgNumber}}.png">
												<!-- <img class="img-fluid"
                                       src="http://10.174.84.35:8080/static/6090976.png"> -->


												<div class="space1x"></div> <span class="barcode-des "><b>
														Description</b><br> {{pack.productNumber}}<br> {{pack.productName}} </span> <img
												class="img-fluid"
												src="http://10.174.84.35:8080/static/{{pack.productNumber}}.png"><br>
												<hr> <br> <span class="barcode-des ">{{pack.containerTable.containerNumber}}<br>
													 {{pack.containerTable.containerDescription}}
											</span> <img class="img-fluid"
												src="http://10.174.84.35:8080/static/{{pack.containerTable.containerNumber}}.png"> <br>
												<div class="space1x"></div></td>
											<td colspan="4"><span class="barcode-des">
													Product No</span> <img class="img-fluid"
												src="http://10.174.84.35:8080/static/{{pack.productNumber}}.png"> <!-- <img class="img-fluid"
                                       src="http://10.174.84.35:8080/static/6090976.png"> -->

												<div class="space1x"></div> <span class="barcode-des "><b>Quantity</b><br>{{pack.processQuant}}
											</span> <img class="img-fluid"
												src="http://10.174.84.35:8080/static/{{pack.processQuant}}.png"><br>
												<hr> <br>


												<hr> <span class="barcode-des ">{{pack.totalQuantity}}</span> <img
												class="img-fluid"
												src="http://10.174.84.35:8080/static/{{pack.totalQuantity}}.png"> <br>

												<div class="space1x"></div></td>

											<td colspan="2"><span class="barcode-des"
												style="margin-top: -208px"><br>Batch No</span> <img
												class="img-fluid"
												src="http://10.174.84.35:8080/static/{{pack.batchNumber}}.png">
												<!-- 	<img class="img-fluid"
                                       src="http://10.174.84.35:8080/static/6090976.png"> -->

												<div class="space1x"></div></td>


										</tr>



										<!-- <tr>
											<td colspan="11"></td>
											<td colspan="1"><button id="showDone" type="button"
													data-toggle="modal"
													class="btn btn-secondary right fuse-ripple-ready"
													ng-click="Done()">Inventory Posting Complete</button></td>
										</tr> -->




									</tbody>
									<!-- end ngRepeat: pack in associatedOrders -->


								</table>


							</div>
						</div>
						<!-- add user form ends here -->
					</div>
				</div>
			</div>
			<!-- content ends here -->
		</div>
	</div>

</div>

<script>
	$(document).on('click', '#explo', function() {

		$(this).closest("tr").next("tr").toggleClass("hide");

		if ($(this).closest("tr").next("tr").hasClass("hide")) {
			$(this).closest("tr").next("tr").children("td").slideUp();
		} else {
			$(this).closest("tr").next("tr").children("td").slideDown(350);
		}

	});
</script>