<!-- modal -->
<!-- modal -->
<div ng-app="App">
<div class="modal " tabindex="-1" role="dialog"
aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header bg-purble-custom-100 text-white-500 description-text-modal ">
<h5 class="modal-title" id="exampleModalLabel"> <i class="text-white-500 icon-thermometer-lines mr-2"></i> Temperature VS time</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">×</span>
</button>
</div>
<div class="modal-body">
<!-- here you can put your api -->
</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary fuse-ripple-ready" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
<!-- modal ends -->
<!-- modal -->
<div id="exampleModalLive" class="modal fade" tabindex="-1" role="dialog"
aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header bg-purble-custom-100 text-white-500 description-text-modal ">
<h5 class="modal-title" id="exampleModalLabel"> <i class="text-white-500 icon-email-alert"></i> Remarks</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">×</span>
</button>
</div>
<div class="modal-body">
<textarea rows="3" name="textarea" class="form-control input-md" placeholder="Please enter your feedback here "></textarea>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-primary bg-purble-custom-100 text-white-500 fuse-ripple-ready">Submit</button>
</div>
</div>
</div>
</div>
<!-- modal ends -->
<!-- <flash-message duration="5000"></flash-message> -->


<div class="content">
                <div id="project-dashboard" class="page-layout simple  tabbed">
                    <!-- content stats here  -->
                    <div class="page-content">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <nav class="breadcrumb">
                                <a class="breadcrumb-item" href="warehouse.html">Orders</a>
                                <span class="breadcrumb-item ">Raw Materials </span>
                                <span class="breadcrumb-item active">  Packaging</span>
                            </nav>
                        </ul>
                        <div class="tab-content">
                            <div class="col-12 col-sm-6 col-xl-3 p-3">
                            </div>
                            <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="widget widget5 card bg-indigo-400 text-auto">
                                            <div class="widget-header pl-4 pr-2 row no-gutters align-items-center justify-content-between">
                                                <div class="col">
                                                    <div class="row no-gutters align-items-center">
                                                        <i class="icon-thermometer-lines mr-2"></i>
                                                        <span class="h6"> Temperature </span>
                                                    </div>
                                                </div>
                                                <button type="button" class="btn btn-icon fuse-ripple-ready" data-placement="right" data-toggle="modal" data-target="#exampleModalLivetemp">
                                                <i class="icon icon-dots-vertical"></i>
                                                </button>
                                            </div>
                                            <div class="space2x"></div>
                                            <div class="row">

<div class="col-md-12 " >
    <!-- 
       <div class="input-group-btn dropdown center">
                                <button type="button" class="btn     dropdown-toggle fuse-ripple-ready" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                             Select
                                </button>
                                <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 36px, 0px); top: 0px; left: 0px; will-change: transform;">
                                  <a class="dropdown-item fuse-ripple-ready" ng-click="TempSenserOne()"> 5 MT</a>
                                 <div role="separator" class="dropdown-divider"></div>
                                  <a class="dropdown-item fuse-ripple-ready" ng-click="TempSenserTwo()"> 1 MT</a>
                               
                                </div></div> -->
    
    
    
    
    
    </div>
<script>$(".dropdown-menu a").click(function(){
  $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
  $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
});</script>




                                                <div class="col-md-6 widget-divider-right ">
                                                    <div class="widget-content  align-items-center p-3 ">
                                                        <p>Required Temperature</p><p>
                                                        <span class="h5">{{ThresholdTemp}}  ℃</span>
                                                        <i class="ml-2 icon-trending-down"></i>
                                                    </p></div>
                                                </div>
                                                <div class="col-md-6 widget-divider-center ">
                                                    <div class="widget-content  p-1 align-items-center nopadding">
                                                        <p>Actual Temperature</p><p>
                                                        <span class="h5">{{TempDataVal}}  ℃</span>
                                                        <i class="ml-2 icon-trending-up"></i>
                                                    </p></div>
                                                </div>
                                                </div> <!-- row ends here -->
                                                <div class="widget-footer widget-footer1x text-muted " ng-if="TempDataVal > ThresholdTemp"  >
                                                    <span class="badge badge-danger" id="bg-red-600">Temperature is High</span>
                                                </div>
                                            </div>
                                            <button type="button" class="btn fuse-ripple-ready  btn bg-indigo-400 text-white-500 widget-button"> Get Temperature </button>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="widget widget5 card bg-deep-purple-500 text-auto">
                                                <div class="widget-header pl-4 pr-2 row no-gutters align-items-center justify-content-between">
                                                    <div class="col">
                                                        <div class="row no-gutters align-items-center">
                                                            <i class="icon-weight-kilogram mr-2"></i>
                                                            <span class="h6">Weight </span>
                                                        </div>
                                                    </div>
                                                    <button type="button" class="btn btn-icon fuse-ripple-ready" data-placement="right" data-toggle="modal" data-target="#exampleModalLivetemp">
                                                    <i class="icon icon-dots-vertical"></i>
                                                    </button>
                                                </div>
                                                <div class="space2x"></div>
                                                <div class="row">



<div class="col-md-12 " >
     <div class="input-group-btn dropdown center">
                                <button type="button" class="btn     dropdown-toggle fuse-ripple-ready" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                             Select
                                </button>
                                <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 36px, 0px); top: 0px; left: 0px; will-change: transform;">
                                  <a class="dropdown-item fuse-ripple-ready" ng-click="WeightSenserOne()"> 1st weight sensor</a>
                                 <div role="separator" class="dropdown-divider"></div>
                                  <a class="dropdown-item fuse-ripple-ready" ng-click="WeightSenserTwo()"> 2nd weight sensor</a>
                                <div role="separator" class="dropdown-divider"></div>
                                  <a class="dropdown-item fuse-ripple-ready" ng-click="WeightSenserThree()"> 3rd weight sensor</a>
                                </div></div></div>
                                                    <div class="col-md-6 widget-divider-right ">
                                                        <div class="widget-content  align-items-center p-3 ">
                                                            <p>Required Quantity</p><p>
                                                            <span class="h5">{{packingdetails[0].processQuant}} &nbsp; KG</span>
                                                        </p></div>
                                                    </div>
                                                    <div class="col-md-6 widget-divider-center ">
                                                        <div class="widget-content  p-3 align-items-center nopadding">
                                                            <p>Actual Quantity</p><p>
                                                            <span class="h5">{{WeightDataVal}}  &nbsp; KG</span>
                                                        </p></div>
                                                    </div>
                                                    </div> <!-- row ends here -->
                                                    <div class="widget-footer widget-footer1x text-muted " ng-if="WeightDataVal > 60" >
                                                        <span class="badge badge-success" id="bg-green-600"> Got the actual Qty.</span>
                                                    </div>
                                                </div>
                                                <button type="button" class="btn fuse-ripple-ready  btn bg-deep-purple-500 text-white-500 widget-button"> Get Weight </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="space1x"></div>
                                    <!-- add user form -->
                                    <div class="widget widget-7    card">
                                        <div class="description bg-purble-custom-100">
                                            <div class="description bg-purble-custom-100">
                                                <div class="description-text ">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <h5 class="text-white-500">  <span class="text-white-500 icon-format-page-break"></span> Packaging No. :<b>  {{packingdetails[0].processorderPckgNumber}} </b></h5>
                                                        </div>
                                                        <div class="col-md-5 ">
                                                            <!-- <div class="filter1x">
                                                                <a href="../assets/pdf/001002135791.pdf" target="_blank" data-toggle="tooltip" data-placement="left" title="" data-original-title="Find the Order PDF"><i class="text-white-500 s-9 icon-file-pdf"></i>   </a>
                                                            </div> -->
                                                        </div>
                                                        <div class="col-md-1 ">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="widget-content p-4">
                                            <!-- the real content inside widger -->
                                            <h5 class="subheading">Six million : {{packingdetails[0].sixmlNumber}}</h5>
                                               <h5 class="subheading">Material Memo : {{packingdetails[0].materialMemo}}</h5>

<div class="container">
    <div class="row col-md-12 box-main " id="kg12">
 <div class="col-md-12"><h4 class="center " > {{weightPerPackege}} kg Container</h4>
                </div>

            <div class="col-md-1 p-2 box-card center" ng-repeat="i in numberArr track by $index">
             <button type="button" class=" btn-icon   fuse-ripple-ready" id="myBtn" >
            <i  id="container{{$index+1}}"  class="icon-bitbucket btnm text-indigo-150" style="font-size: 2.5em"> </i></button></div>






</div>
</div>



                                            <!-- table starts here -->

<div class="row p-3">
    <div class="col-md-6"></div>
<!--     <div class="col-md-6"><img class="right" src="../assets/images/barcode/2160.png" alt=""></div> -->
</div>



                                            <table class="table table-responsive optable">
                                                <thead class="thead-inverse">
                                                    <tr>
                                                        <th>Material Code</th>
                                                        <th>Description</th>
                                                        <th>Type</th>
                                                        <th>Phase</th>
                                                        <th>Quantity</th>
                                                        <th>UofM</th>
                                                        <th>Action</th>
                                                    </tr>
                                                    
                                                </thead>
                                                <tbody class="table-border">
                                                
                                                    <tr class="result-item user thead-white table-border ">
                                                        <td>{{packingdetails[0].productNumber}}</td>
                                                        <td>{{packingdetails[0].productName}}</td>
                                                        <td>{{packingdetails[0].containerTable.containerType}}</td>
                                                        <td>{{packingdetails[0].containerTable.containerPhase}}</td>
                                                        <td>{{packingdetails[0].processQuant}}</td>
                                                        <td>KG</td>
                                                        <td>                                                         
                                                        <input type="text" class="form-control" placeholder="Enter Quantity"  ng-model="producedQuantity">
                                                        </td>
                                                        
                                                     
                                                        
                                                    </tr>
                                                    <tr class="">
                                                        <td colspan="4"> <img class="img-fluid" src="http://10.174.84.35:8080/static/{{packingdetails[0].productNumber}}.png" alt=""></td>
                                                        <td colspan="5"> <img class="img-fluid" src="http://10.174.84.35:8080/static/{{packingdetails[0].processQuant}}.png" alt=""></td>
                                                    </tr>
                                                </tbody>
                                                <tbody class="table-border">
                                                
                                                    <tr class="result-item user thead-white table-border ">
                                                        <td>{{packingdetails[0].containerTable.containerNumber}}</td>
                                                        <td>{{packingdetails[0].containerTable.containerDescription}}</td>
                                                        <td>{{packingdetails[0].containerTable.containerType}}</td>
                                                        <td>{{packingdetails[0].containerTable.containerPhase}}</td>
                                                        <td>{{packingdetails[0].totalQuantity}}</td>
                                                        <td>EA</td>
                                                        <td>                                                        
                                                        <input type="text" class="form-control" placeholder="Enter No. of Pails" ng-model="usedPails">
                                                         <!-- <button type="button" class="btn bg-purble-custom-100 text-white-500 fuse-ripple-ready" ng-click="pack(packingdetails[0].processorderPckgNumber)">Pack</button> -->
                                                        </td>
                                                    </tr>
                                                    <tr class="">
                                                        <td colspan="4"> <img class="img-fluid" src="http://10.174.84.35:8080/static/{{packingdetails[0].containerTable.containerNumber}}.png" alt="Container Number"></td>
                                                        <td colspan="5"> <img class="img-fluid" src="http://10.174.84.35:8080/static/{{packingdetails[0].totalQuantity}}.png" alt=""></td>
                                                        <!-- <td colspan="5"> <img class="img-fluid" src="http://10.174.84.35:8080/static/{{packingdetails[0].containerTable.containerQuant}}.png" alt="totalQuatity"></td> -->
                                                    </tr>
                                                </tbody>
                                            </table>


                            <div class="container">
								<div class="row">

									<div class="col-md-3"></div>

									<div class="col-md-4">
										<div class="form-group purple-textar">
											<label for="exampleFormControlTextarea1">Remarks for
												extra Pails</label>
											<textarea class="form-control" ng-model="extraInfo" rows="3"></textarea>
										</div>
									</div>
									<div class="col-md-4">

										<div class="form-group">
											<button type="button"
												class="btn bg-purble-custom-100  purple-btnsd text-white-500 fuse-ripple-ready center"
												ng-click="pack(packingdetails[0].processorderPckgNumber)">Pack</button>
										</div>
									</div>
									<div class="col-md-1"></div>
								</div>


								<script>
 $( ".btnm" ).click(function() {
var x=$(this).attr('class').split(' ').pop();

if(x=='myclass')
{
$(this).removeClass('myclass');
}
else
{
$(this).addClass('myclass');
}

});
</script>
         


                                            <!--  
<button type="button" ng-show="showDone" data-toggle="modal" data-target="#doneModal" 
																class="btn btn-secondary right fuse-ripple-ready"-->
                                            <!--
                                            // table ends here -->
                                            <div class="col-md-3 widget-divider-center right pt-9">
<!--                                                 <button type="button" data-toggle="modal" data-target="#successModal" class="btn btn-secondary right fuse-ripple-ready" ng-click="packDone()">Packaging Done</button>
 -->                                            </div>
                                            <!-- table starts here  -->
                                            <!-- content ends here -->
                                        </div>
                                        <script type="text/javascript" src="../assets/js/apps/dashboard/project.js"></script>
                                    </div>
                                </div>
                            </div>
                        
                    </div></div>
                    </div>