

<div class="content pageup" ng-app="App">
	<div id="project-dashboard" class="page-layout simple  tabbed">

		<!-- content stats here  -->
		<div class="page-content">

			<div class="tab-content">
				<div class="tab-pane fade show active" id="home-tab-pane"
					role="tabpanel" aria-labelledby="home-tab">
					
					
<div class="widget-group pt-12 pageup" >
	<!-- WIDGET GROUP -->
	<div class="description bg-purble-custom-100  ">

		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="description-text ">
						<h5 class="text-white-500">
							<span class="text-white-500 icon-format-page-break"></span>
							Todays Process Order Status
						</h5>
					</div>

				</div>
				<div class="col-md-5"></div>


			</div>

		</div>
		</div>
	
	<div class=" ">
		<div class="widget widget1 card p-3">


			<div class="row p-6">
				<div class="col-md-3">
					<span class="p-3"> <i class="icon-box-shadow text-green"></i>&nbsp;
						Order Process completed
					</span>
				</div>
				<div class="col-md-3">
					<span class="p-3"> <i
						class="icon-box-shadow text-yellow-600"></i>&nbsp;
						Started/Running/lending
					</span>
				</div>
				<div class="col-md-3">
					<span class="p-3"> <i
						class="icon-box-shadow text-primary-100"></i>&nbsp; To be
						Processed
					</span>
				</div>
				<div class="col-md-3">
					<span class="p-3"> <i class="icon-box-shadow text-red-600"></i>&nbsp;
						Error/Failure
					</span>
				</div>


			</div>






			<div id="exampleAccordion" data-children=".item" ng-repeat="DailyOrderList in DailyOrders">
				<div class="item"  style="margin-top:10px;">
				<div ng-if="DailyOrderList.status.statusId ==1 || DailyOrderList.status.statusId ==5||DailyOrderList.status.statusId ==6 
															||DailyOrderList.status.statusId ==8 ||DailyOrderList.status.statusId ==9||DailyOrderList.status.statusId ==10">
					<div class="linkshow" id="bg-yellow-600">

						<a class="nav-link ripple with-arrow fuse-ripple-ready collapsed"
							data-toggle="collapse" data-parent="#exampleAccordion"
							data-target=#{{$index}} aria-expanded="false"
							aria-controls="exampleAccordion1 "> <b> Process order number </b> :{{DailyOrderList.processorderProdNumber}}
							 <br> <b> Material Name</b>:{{DailyOrderList.productTable.productDescription}}
							

						</a>
					</div>
					<div id="{{$index}}" class="collapse" role="tabpanel"
						style="">
						<div class="row">
							<div class="col-md-6">
								<table class="table table-responsive optable ">
									<thead>
										<tr>
											<td>Production Order Number</td>
											<td>{{DailyOrderList.processorderProdNumber}}</td>
										</tr>
									</thead>
									<tbody>
										<tr class="table-active">
											<td>Product Name</td>
											<td>{{DailyOrderList.productTable.productDescription}}</td>
										</tr>
										<tr class="table">
											<td>Quantity</td>
											<td>{{DailyOrderList.totalQuantity}}</td>
										</tr>
										<tr class="table-active">
											<td>Batch Number</td>
											<td>{{DailyOrderList.batchNumber}}</td>
										</tr>
										<tr class="table">
											<td>Batch Date</td>
											<td>{{DailyOrderList.batchDate}}</td>
										</tr>
										<tr class="table-active">
											<td>Order Status</td>
											<td>{{DailyOrderList.status.statusDescription}}</td>
										</tr>
									</tbody>
								</table>
								<div class="space1x"></div>
							</div>
							
							</div>
						</div>
						
					</div>
					
					
					<div ng-if="DailyOrderList.status.statusId ==2 ">
					<div class="linkshow" id="bg-green-600">

						<a class="nav-link ripple with-arrow fuse-ripple-ready collapsed"
							data-toggle="collapse" data-parent="#exampleAccordion"
							data-target=#{{$index}} aria-expanded="false"
							aria-controls="exampleAccordion1 "> <b> Order Number </b> :{{DailyOrderList.processorderProdNumber}}
							 <br> <b> Material Name</b>:{{DailyOrderList.productTable.productDescription}}
							

						</a>
					</div>
					<div id="{{$index}}" class="collapse" role="tabpanel"
						style="">
						<div class="row">
							<div class="col-md-6">
								<table class="table table-responsive optable">
									<thead>
										<tr>
											<td>Production Order Number</td>
											<td>{{DailyOrderList.processorderProdNumber}}</td>
										</tr>
									</thead>
									<tbody>
										<tr class="table-active">
											<td>Product Name</td>
											<td>{{DailyOrderList.productTable.productDescription}}</td>
										</tr>
										<tr class="table">
											<td>Quantity</td>
											<td>{{DailyOrderList.totalQuantity}}</td>
										</tr>
										<tr class="table-active">
											<td>Batch Number</td>
											<td>{{DailyOrderList.batchNumber}}</td>
										</tr>
										<tr class="table">
											<td>Batch Date</td>
											<td>{{DailyOrderList.batchDate}}</td>
										</tr>
										<tr class="table-active">
											<td>Order Status</td>
											<td>{{DailyOrderList.status.statusDescription}}</td>
										</tr>
									</tbody>
								</table>
								<div class="space1x"></div>
							</div>
							
							</div>
						</div>
						
					</div>
					
					
					
					<div ng-if="DailyOrderList.status.statusId ==3 || DailyOrderList.status.statusId ==4 ">
					<div class="linkshow" id="bg-red-600">

						<a class="nav-link ripple with-arrow fuse-ripple-ready collapsed"
							data-toggle="collapse" data-parent="#exampleAccordion"
							data-target=#{{$index}} aria-expanded="false"
							aria-controls="exampleAccordion1 "> <b> Order Number </b> :{{DailyOrderList.processorderProdNumber}}
							 <br> <b> Material Name</b>:{{DailyOrderList.productTable.productDescription}}
							

						</a>
					</div>
					<div id="{{$index}}" class="collapse" role="tabpanel"
						style="">
						<div class="row">
							<div class="col-md-6">
								<table class="table table-responsive optable">
									<thead>
										<tr>
											<td>Production Order Number</td>
											<td>{{DailyOrderList.processorderProdNumber}}</td>
										</tr>
									</thead>
									<tbody>
										<tr class="table-active">
											<td>Product Name</td>
											<td>{{DailyOrderList.productTable.productDescription}}</td>
										</tr>
										<tr class="table">
											<td>Quantity</td>
											<td>{{DailyOrderList.totalQuantity}}</td>
										</tr>
										<tr class="table-active">
											<td>Batch Number</td>
											<td>{{DailyOrderList.batchNumber}}</td>
										</tr>
										<tr class="table">
											<td>Batch Date</td>
											<td>{{DailyOrderList.batchDate}}</td>
										</tr>
										<tr class="table-active">
											<td>Order Status</td>
											<td>{{DailyOrderList.status.statusDescription}}</td>
										</tr>
									</tbody>
								</table>
								<div class="space1x"></div>
							</div>
							
							</div>
						</div>
						
					</div>
					
					
		<div ng-if="DailyOrderList.status.statusId ==7">
					<div class="linkshow" id="bg-white-600">

						<a class="nav-link ripple with-arrow fuse-ripple-ready collapsed"
							data-toggle="collapse" data-parent="#exampleAccordion"
							data-target=#{{$index}} aria-expanded="false"
							aria-controls="exampleAccordion1 "> <b> Order Number </b> :{{DailyOrderList.processorderProdNumber}}
							 <br> <b> Material Name</b>:{{DailyOrderList.productTable.productDescription}}
							

						</a>
					</div>
					<div id="{{$index}}" class="collapse" role="tabpanel"
						style="">
						<div class="row">
							<div class="col-md-6">
								<table class="table table table-responsive optable">
									<thead>
										<tr>
											<td>Production Order Number</td>
											<td>{{DailyOrderList.processorderProdNumber}}</td>
										</tr>
									</thead>
									<tbody>
										<tr class="table-active">
											<td>Product Name</td>
											<td>{{DailyOrderList.productTable.productDescription}}</td>
										</tr>
										<tr class="table">
											<td>Quantity</td>
											<td>{{DailyOrderList.totalQuantity}}</td>
										</tr>
										<tr class="table-active">
											<td>Batch Number</td>
											<td>{{DailyOrderList.batchNumber}}</td>
										</tr>
										<tr class="table">
											<td>Batch Date</td>
											<td>{{DailyOrderList.batchDate}}</td>
										</tr>
										<tr class="table-active">
											<td>Order Status</td>
											<td>{{DailyOrderList.status.statusDescription}}</td>
										</tr>
									</tbody>
								</table>
								<div class="space1x"></div>
							</div>
							
							</div>
						</div>
						
					</div>
					
					
					</div>
				
				<!-- //from here you need to copy -->

</div>
			
		</div>

	</div>
	</div>

<!-- --------------------------------------------------------------------------------------------------- -->
<div class="widget-group pt-12" >
									<!-- WIDGET GROUP -->
									<div class="description bg-purble-custom-100  ">

										<div class="container">
											<div class="row">
												<div class="col-md-6">
													<div class="description-text ">
														<h5 class="text-white-500">
															<span class="text-white-500 icon-chart-arc"></span>
															Weekly Production Report
														</h5>
													</div>

												</div>
												<div class="col-md-5"></div>


											</div>

										</div>


									</div>
									<div class=" ">
										<div class="widget widget1 card">
											<table class="table table-hover table table-responsive optable">
												<thead class="table-header-grey ">
													<tr>
														<th>#</th>
														<th>Monday</th>
														<th>Tuesday</th>
														<th>Wednessday</th>
														<th>Thursday</th>
														<th>Friday</th>
														<th>Saturday</th>
														<th>Sunday</th>
													</tr>
												</thead>
												<tbody>
													<tr class="table-border">
														<th scope="row" class="table-header-grey">Planned Production
															</th>
														<td>400 mm</td>
														<td>400 mm</td>
														<td>458 mm</td>
														<td>489 mm</td>
														<td>400 mm</td>
														<td>986 mm</td>
														<td>400 mm</td>
													</tr>
													<tr class="table-border">
														<th scope="row" class="table-header-grey">Actual Production</th>
														<td ng-repeat="weeklyorder in weeklyorders">{{weeklyorder.sum}}</td>
														 
													</tr>

												</tbody>
											</table>

										</div>
									</div>
								</div>


			</div></div></div></div></div>				