<div class="content" ng-app="App">
	<div id="project-dashboard" class="page-layout simple  tabbed">


		<!-- content stats here  -->
		<div class="page-content">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<nav class="breadcrumb">
					<a class="breadcrumb-item" href="warehouse.html">Orders</a> <span
						class="breadcrumb-item active">Raw Materials </span>
				</nav>


			</ul>
			<div class="tab-content">
				<div class="col-12 col-sm-6 col-xl-3 p-3">
					<div class="widget widget5 card bg-indigo-400 text-auto">
						<div
							class="widget-header pl-4 pr-2 row no-gutters align-items-center justify-content-between">
							<div class="col">
								<div class="row no-gutters align-items-center">
									<i class="icon-thermometer-lines mr-2"></i> <span class="h6">Temperature
									</span>
								</div>
							</div>
							<button type="button" class="btn btn-icon fuse-ripple-ready"
								data-placement="right" data-toggle="modal" ui-sref="tempCanvas">
								<i class="icon icon-dots-vertical"></i>
							</button>
						</div>
						<div class="widget-content p-4 align-items-center">
							<span class="h5">75 &nbsp; C.</span> <i
								class="ml-2 icon-trending-down"></i>
						</div>
						<div class="widget-footer p-4 text-muted">Lower than average
						</div>
					</div>
				</div>
				<div class="tab-pane fade show active" id="home-tab-pane"
					role="tabpanel" aria-labelledby="home-tab">

					<!-- add user form -->
					<div class="widget widget-7 card">
						<div class="description bg-purble-custom-100">

							<div class="description bg-purble-custom-100">
								<div class="description-text ">

									<div class="row">
										<div class="col-md-6">
											<a>
												<h5 class="text-white-500">
													<span class="text-white-500 icon-format-page-break"></span>
													Order Number :<b> 7053 55 HOSKOTE PLANT </b>
												</h5>
											</a>
										</div>
										<div class="col-md-5 ">
											<div class="filter1x">
												<a href="/suez/file/fileDownload?productNumber={{productNumber}}&productType=product" target="_blank"
													data-toggle="tooltip" data-placement="left" title=""
													data-original-title="Find the Order PDF"><i
													class="text-white-500 s-9 icon-file-pdf"></i> </a>
											</div>
										</div>
										<div class="col-md-1 "></div>
									</div>
								</div>

							</div>
						</div>
						<div class="widget-content p-4">

							<!-- the real content inside widger -->

							<h5 class="subheading">Material Memo : KLEEN MCT511</h5>
							<!-- table starts here  -->










							<table class="table ">
								<thead class="thead-inverse ">
									<tr>
										<th>#</th>
										<th>Item</th>
										<th>Description</th>
										<th>Type</th>
										<th>Phase</th>
										<th>Batch number</th>
										<th>Qty.</th>
										<!-- 	<th>Qty. Recieved</th>
													<th>Qty. Return</th> -->
										<th>UofM</th>
										<th>Action</th>
									</tr>
								</thead>

								<tbody class="rawborder table-border"
									ng-repeat="processOrderRecipe in processOrderRecipeList">
									<tr class="">

										<th scope="row">{{processOrderRecipe.processOrderRm}}</th>
										<td>{{processOrderRecipe.processOrderRm}}</td>
										<td>{{processOrderRecipe.rawmaterialTable.rawmaterialDescription}}</td>
										<td>L</td>
										<td>1100</td>
										<td></td>
										<td>648 .000</td>
										<!-- 
													<td><div class="form-group">
															<input class="form-control md-has-value" type="number"
																id="example-number-input"> <label
																for="example-number-input">Qty. Recieved</label>
														</div></td>
													<td><div class="form-group">
															<input class="form-control md-has-value" type="number"
																id="example-number-input"> <label
																for="example-number-input">Qty. Return</label>
														</div></td>
													<td>Kg</td> -->

										<td>
											<div class="inline_button">
												<span>

													<button type="button"
														class="btn btn-secondary bg-purble-custom-100 fuse-ripple-ready" onclick="$(this).removeClass('btn-secondary');$(this).removeClass('btn-primary');$(this).text('Charged')">Charge</button>
													<button type="button"
														class="btn btn-icon fuse-ripple-ready "
														data-placement="right" data-toggle="modal"
														data-target="#exampleModalLive"
														title="Send the remarks in here ">

														<i class=" text-red-A700 icon-email-alert"></i>

													</button>
												</span>


											</div>
										</td>



									</tr>


								</tbody>

								<!--               
                                                <tbody class="rawborder table-border table-border-grey ">
                                                    <tr class="statuscheck">
                                                        
                                                        <th scope="row">1</th>
                                                        <td>0001</td>
                                                        <td>5987</td>
                                                        <td>L</td>
                                                        <td>1100</td>
                                                        <td></td>
                                                        <td>648 .000</td>
                                                        <td><div class="form-group">
                                                            <input class="form-control md-has-value" type="number"  id="example-number-input">
                                                            <label for="example-number-input">Qty. Recieved</label>
                                                        </div></td>
                                                        <td><div class="form-group">
                                                            <input class="form-control md-has-value" type="number"  id="example-number-input">
                                                            <label for="example-number-input">Qty. Return</label>
                                                        </div></td>
                                                        <td>Kg</td>
                                                        
                                                        <td>
                                                            <div class="inline_button">
                                                                <span>
                                                                    
                                                                    <button type="button"  disabled="disabled"  class="btn btn-secondary bg-purble-custom-100 fuse-ripple-ready">Charge</button>


                                                                    <button type="button"  class="btn btn-icon fuse-ripple-ready " data-placement="right" data-toggle="modal" data-target="#exampleModalLive" title="Send the remarks in here ">
                                                                    
                                                                    <i class=" text-grey icon-email-alert"></i>
                                                                    
                                                                    </button>
                                                                </span>
                                                                
                                                                
                                                            </div>
                                                        </td>
                                                        
                                                        
                                                        
                                                    </tr>
                                                    
                                                  
                                                    </tbody> -->



							</table>































							<script type="text/javascript">
								$('#buttonhide')
										.click(
												function() {
													$(
															"tr.statuscheck input, tr.statuscheck select, tr.statuscheck textarea, tr.statuscheck button ")
															.prop('disabled',
																	true);
													$(
															"tr.statuscheckme input, tr.statuscheckme select, tr.statuscheckme textarea, tr.statuscheckme button ")
															.prop('disabled',
																	false);

													$('#buttonhide').append(
															'done');

												});
							</script>





							<div class="p-2">

								<button type="button"
									class="btn btn-secondary right fuse-ripple-ready"
									ng-click=showPackingInformation()>Done</button>
							</div>
							<!-- table ends here -->
							<!-- the real content ends here  -->
						</div>
					</div>
					<!-- add user form ends here -->

				</div>


			</div>
		</div>
		<!-- content ends here -->
	</div>
	<script type="text/javascript"
		src="../assets/js/apps/dashboard/project.js"></script>
</div>