
<div ng-app="App">
	<div class="content">
		<div id="project-dashboard" class="page-layout simple  tabbed">

			<!-- content stats here  -->
			<div class="page-content">

				<div class="tab-content">
					<div class="tab-pane fade show active" id="home-tab-pane"
						role="tabpanel" aria-labelledby="home-tab">
						<!-- add user form -->
						<div class="tab-pane fade show active" id="home-tab-pane"
							role="tabpanel" aria-labelledby="home-tab">
							<!-- add user form -->
							<div class=" widget widget-7 card ">
								<div class="description bg-purble-custom-100  ">

									<div class="container">
										<div class="row">
											<div class="col-md-6">
												<div class="description-text ">
													<h5 class="text-white-500">
														<span class="text-white-500 icon-format-page-break"></span>Today's
														Process Order
													</h5>
												</div>

											</div>
											<div class="col-md-5"></div>
											<div class="col-md-1 right"></div>

										</div>

									</div>


								</div>
								<!-- filter button -->
								<div class="widget-content p-4">
									<div class="row">
										<div class="col-md-8 p-4">

											<span class="title font-weight-bold h5 mr-2">Order</span> <span
												class="result-count text-muted"> <span>{{responcelength}}</span> <span>Results</span>
											</span>

										</div>
										<div class="col-md-4 p-4">

											<div id="sample-data-table_filter" class="dataTables_filter ">
												<label>Search:<input type="search"
													class="search-border " placeholder=""
													aria-controls="sample-data-table"></label>
											</div>
										</div>


									</div>







									<!-- content starts here -->
									<table class="table table-responsive optable">
										<thead class="thead-inverse">
											<tr>

												<th>Batch Date</th>
												<th>Process Order No.</th>
												<th>Material Code</th>
												<th>Material Description</th>
												<th>Quantity</th>
												<th>Batch No.</th>
												<!-- <th style="text-align: center">Reactor</th>-->
												<th>Select Team</th>
												<th>Action</th>


											</tr>
										</thead>
										<tbody class="table-border ">


											<tr class="result-item user thead-white table-border "
												ng-repeat="processOrder in processOrderList">

												<td>{{processOrder.batchDate}}</td>
												<td>{{processOrder.processorderProdNumber}}</td>
												<td>{{processOrder.productTable.productNumber}}</td>
												<td>{{processOrder.productTable.productDescription}}</td>
												<td>{{processOrder.totalQuantity}}</td>
												<td>{{processOrder.batchNumber}}</td>
												<!-- <td>
													<div class="input-group-btn" style="display: none;">
														<button type="button"
															class="btn btn-secondary dropdown-toggle fuse-ripple-ready"
															data-toggle="dropdown" aria-haspopup="true"
															aria-expanded="false">Select Reactor</button>
														<div class="dropdown-menu" x-placement="bottom-start"
															style="position: absolute; transform: translate3d(0px, 36px, 0px); top: 0px; left: 0px; will-change: transform;">
															<a class="dropdown-item fuse-ripple-ready" href="#">
																5 MT</a>
															<div role="separator" class="dropdown-divider"></div>

															<a class="dropdown-item fuse-ripple-ready" href="#">1
																MT</a>
														</div>
													</div>




												</td> -->



												<td>
													<div ng-repeat="ListOfUser in ListOfUsers">
														<div class="form-check">
															<label class="form-check-label"> <input
																class="form-check-input" type="checkbox" value="">
																<span class="checkbox-icon"></span> <span
																class="form-check-description">{{ListOfUser.userName}}</span>
															</label>

														</div>
														<!-- 	<div class="form-check">
																<label class="form-check-label"> <input
																	class="form-check-input" type="checkbox" value="">
																	<span class="checkbox-icon"></span> <span
																	class="form-check-description">sam</span>
																</label>

															</div>

															<div class="form-check">
																<label class="form-check-label"> <input
																	class="form-check-input" type="checkbox" value="">
																	<span class="checkbox-icon"></span> <span
																	class="form-check-description">Raj</span>
																</label>

															</div> -->
												</td>


												<td>
													<button type="button"
														class="btn btn-secondary fuse-ripple-ready"
														ng-click="initiateOrder(processOrder)">Initiate</button>
												</td>


											</tr>
































											<!-- 
                          <tr class="result-item user  table-border table-border-grey">
                            
                            <td>12-20-2017</td>
                            <td> 7053 55  </td>
                            <td>KLEEN MCT511</td>
                            <td>KLEEN MC</td>
                            <td>648.00</td>
                            <td>NA</td>
                            <td>12-6-2017</td>
                            <td>
                          <div class="input-group-btn">
                                <button type="button" class="btn btn-secondary dropdown-toggle fuse-ripple-ready" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Select Reactor
                                </button>
                                <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 36px, 0px); top: 0px; left: 0px; will-change: transform;">
                                     <a class="dropdown-item fuse-ripple-ready" href="#"> 5 MT</a>
                            <div role="separator" class="dropdown-divider"></div>
                                 
                                  <a class="dropdown-item fuse-ripple-ready" href="#">1 MT</a>
                                </div>
                              </div>


                            </td>
                            <td>



<div class="form-check">
    <label class="form-check-label">
        <input class="form-check-input" type="checkbox" value="">
        <span class="checkbox-icon"></span>
        <span class="form-check-description">sam</span>
    </label>

</div>
<div class="form-check">
    <label class="form-check-label">
        <input class="form-check-input" type="checkbox" value="">
        <span class="checkbox-icon"></span>
        <span class="form-check-description">sam</span>
    </label>
    
</div>           


<div class="form-check">
    <label class="form-check-label">
        <input class="form-check-input" type="checkbox" value="">
        <span class="checkbox-icon"></span>
        <span class="form-check-description">Raj</span>
    </label>
    
</div>  


                            </td>





                            </td>
                            <td> <button type="button" class="btn btn-secondary fuse-ripple-ready" onclick="window.location='warehouselist.html';">Initiate</button></td>
                            
                          </tr>
                          
                          
                          
                          
                          
                          
                          
                          
                          
                          
                          
                          
                          
                          
                          
                          
                          
                          
                          
                          
                          
                          
                          
                          
                          
                          
                          
                          
                          
                          
                          
                          <tr class="result-item user thead-white table-border ">
                            
                            <td>12-20-2017</td>
                            <td>  7053 55  </td>
                            <td>KLEEN MCT511</td>
                            <td>KLEEN MC</td>
                            <td>648.00</td>
                            <td>NA</td>
                            <td>12-6-2017</td>
                            <td> 

                              <div class="input-group-btn">
                                <button type="button" class="btn btn-secondary dropdown-toggle fuse-ripple-ready" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Select Reactor
                                </button>
                                <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 36px, 0px); top: 0px; left: 0px; will-change: transform;">
                                     <a class="dropdown-item fuse-ripple-ready" href="#"> 5 MT</a>
                            <div role="separator" class="dropdown-divider"></div>
                                 
                                  <a class="dropdown-item fuse-ripple-ready" href="#">1 MT</a>
                                </div>
                              </div>



                            </td>
                            <td>
<div class="form-check">
    <label class="form-check-label">
        <input class="form-check-input" type="checkbox" value="">
        <span class="checkbox-icon"></span>
        <span class="form-check-description">sam</span>
    </label>

</div>
<div class="form-check">
    <label class="form-check-label">
        <input class="form-check-input" type="checkbox" value="">
        <span class="checkbox-icon"></span>
        <span class="form-check-description">sam</span>
    </label>
    
</div>           


<div class="form-check">
    <label class="form-check-label">
        <input class="form-check-input" type="checkbox" value="">
        <span class="checkbox-icon"></span>
        <span class="form-check-description">Raj</span>
    </label>
    
</div>  
</td>
                            <td> <button type="button" class="btn btn-secondary fuse-ripple-ready" onclick="window.location='warehouselist.html';">Initiate</button></td>
                            
                          </tr> -->

										</tbody>




									</table>
									<!-- content ends here -->












								</div>
							</div>
						</div>


						<!-- add user form ends here -->

					</div>


				</div>
			</div>
			<!-- content ends here -->
		</div>
		<script type="text/javascript"
			src="../assets/js/apps/dashboard/project.js"></script>
	</div>

</div>
</div>
</div>
<!-- </body> -->
