`
<div class="content pageup" ng-app="App">

	<div id="project-dashboard" class="page-layout simple  tabbed">

		<!-- content stats here  -->
		<div class="page-content">

			<div class="tab-content">
				<div class="tab-pane fade show active" id="home-tab-pane"
					role="tabpanel" aria-labelledby="home-tab">
					<!-- add user form -->
					<div class="widget widget-7 card">
						<div class="description bg-purble-custom-100">
							<div class="description-text ">
								<h5 class="text-white-500">
									<span class="text-white-500 icon-format-page-break"></span>
									Process Order	<span ng-show="!isPOAvaiable" style="color:red;">:No process order to initiate</span>
								</h5>
							</div>

						</div>
						

						<div ng-repeat="processOrder in processOrderList">
							<div class="widget-content p-4">
								<!-- from here you need to copy -->
								<div id="exampleAccordion" data-children=".item">
									<div class="item">
										<div class="linkshow">
											<a class="nav-link ripple with-arrow" data-toggle="collapse"
												data-parent="#exampleAccordion" data-target="#{{$index}}"
												ng-Click="showDetails(processOrder.processOrderId)"
												aria-expanded="false" aria-controls="exampleAccordion1 "><p>
													{{processOrder.processOrder}} :
													{{processOrder.plant.plantName}}</p> </a>
										</div>
										<div id="{{$index}}" class="collapse" role="tabpanel">
											<div class="row">
												<div class="col-md-6">
													<table class=" table-responsive optable">
														<thead>
															<tr>
																<td>Plant id :</td>
																<td>{{processOrderListDetails[0].plant.plantId}}</td>
															</tr>
														</thead>
														<tbody>
															<tr class="table-active">
																<td>Product name</td>
																<td>{{processOrderListDetails[0].product.productName}}</td>
															</tr>
															<tr class="table">
																<td>Order type</td>
																<td>{{processOrderListDetails[0].processOrderType.processOrderTypeName}}</td>
															</tr>
															<tr class="table-active">
																<td>Order status</td>
																<td>{{processOrderListDetails[0].status.statusDescription}}</td>
															</tr>
															<tr class="table">
																<td>Reservation</td>
																<td>{{processOrderListDetails[0].reservation}}</td>
															</tr>
														</tbody>
													</table>
													<div class="space1x"></div>
												</div>
												<div class="col-md-6">
													<table class="table table-responsive optable">
														<thead>
															<tr>
																<td>Plant :</td>
																<td>{{processOrderListDetails[0].plant.plantName}}</td>
															</tr>
															<tr>
																<td><img
																	src="../../resources/assets/images/img/001002136214-02.jpg">
																	<br></td>
															</tr>
															<tr>
																<th>Batch No</th>
																<th>{{processOrderListDetails[0].batch.batchNumber}}</th>
															</tr>
														</thead>
														<tbody>
															<tr class="table-active">
																<td>Batch Date</td>
																<td>{{processOrderListDetails[0].orderRecievedDate}}</td>
															</tr>
															<tr class="table">
																<td>Material group</td>
																<td>7053</td>
															</tr>
															<tr class="table-active">
																<td>Total Qty.</td>
																<td>{{processOrderListDetails[0].quantity}}</td>
															</tr>
															<tr class="table">
																<td>Volume</td>
																<td>{{processOrderListDetails[0].volumeInLtrs}}</td>
															</tr>
															<tr class="table-active">
																<td>Wght/Pckg</td>
																<td>{{processOrderListDetails[0].quantity}}</td>
															</tr>
															<tr class="table">
																<td>Storage</td>
																<td>{{processOrderListDetails[0].storageCode}}</td>
															</tr>
														</tbody>
													</table>
													<div class="space1x"></div>







													<div class="row">
														<div class="col-md-6">
															<button type="button"
																class="btn btn-dark fuse-ripple-ready left">Find
																the Team</button>

														</div>

														<div class="col-md-6">
															<a>
																<button type="button"
																	ng-click="initiateOrder(processOrder.processOrderId)"
																	class="btn btn-secondary right">Initiate Order</button>
															</a>
														</div>

													</div>
												</div>
											</div>
										</div>
									</div>

								</div>
							</div>

						</div>























					</div>
					<!-- add user form ends here -->

				</div>


			</div>
		</div>
		<!-- content ends here -->
	</div>
	<script type="text/javascript"
		src="../assets/js/apps/dashboard/project.js"></script>
</div>