<div ng-app="App">
	<style>

  .fixmetab > tr {
    display : none;
       border-bottom: 1px solid #dfdfdf;
    }
    .fixmetab > tr.parent {
    display : table-row;
        border-bottom: 1px solid #dfdfdf;
    }
   .fixmetab > tr.open {
       display: table-row;
    background: #3e4684;
    color: white;
    }



</style>

<div id="packingInfoModal" class="modal fade" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalPopoversLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header bg-purble-custom-100">
					<h5 class="modal-title text-white" id="exampleModalPopoversLabel ">
						Process Order No:{{vesselHrsProcess}}</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					
				
				<div class="source-preview-wrapper"><div class="preview"><div class="preview-elements">
                <table class="table">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Package Order No packhffgf:</th>
                            <th>Process Start Time</th>
                            <th>Process End Time</th>
                            <th>Lead Time(minutes)</th>
                        </tr>
                    </thead>
                    <tbody  class="modelme">
                        
                        <tr ng-repeat="packing in packingVesselHrs ">
                            <td scope="row">{{packing.processorderPackageNumber}}</td>
                            <td>{{packing.packingStartTime}}</td>
                            <td>{{packing.packingEndTime}}</td>
                            <td>{{packing.packingLeadTime}}</td>
                        </tr>
                        <!-- <tr>
                          <td>gfgfgfgfg</td>
                          <td>gfgfgfgfg</td>
                          <td>gfgfgfgfg</td>
                          <td>gfgfgfgfg</td>
                        </tr> -->
                        
                    </tbody>
                </table>

              
                </div></div>
               
               
               
                <!-- @formatter:off -->
                <div class="source"></div>
                <!-- @formatter:on --></div>
				
				
				
				
				</div>
				<div ng-show="showButtons" class="modal-footer">

					
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
				</div>
				<div ng-show="showClose" class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<div id="project-dashboard" class="page-layout simple  tabbed">

		<!-- content stats here  -->
		<div class="page-content">

			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<nav class="breadcrumb">
					<a class="breadcrumb-item" ui-sref="processOrders">Orders</a> <span
						class="breadcrumb-item active">Raw Materials </span>
				</nav>

			</ul>

			<div class="tab-content">
				<div class="tab-pane fade show active" id="home-tab-pane"
					role="tabpanel" aria-labelledby="home-tab">
					<!-- add user form -->
					<div class="widget widget-7 card">
						<div class="description bg-purble-custom-100">
							<div class="container">
								<div class="row">
									<div class="col-md-6">
										<div class="description-text ">
											<h5 class="text-white-500">
												<span class="text-white-500 icon-format-page-break"></span>
												Process Orders for RM posting
											</h5>

										</div>

									</div>
									<div class="col-md-6 "></div>
								</div>

							</div>

						</div>
						<div class="widget-content p-4">

							<div class="container">

								<div class="row">
									<div class="col-md-6">

										<h6 class="text-black-500">Process Orders :
											{{processOrderRecipeList[0].processorderProd.processorderProdNumber}}
										</h6>
										<h6 class="text-black-500">Material Number :
											{{processOrderRecipeList[0].productTable.productNumber}}</h6>
										<h6 class="text-black-500">Material Description :
											{{processOrderRecipeList[0].productTable.productDescription}}</h6>
										<!-- <h6 class="text-black-500">Material Description :
											{{processOrderRecipeList[0].productTable.productDescription}}</h6> -->
										<div class="col-md-12">
											<h6
												style="color: #3e4684; background: #f1f0f0; padding: 10px; border-radius: 8px;">Extra
												RM Used</h6>
										</div>
										<div class="col-md-12 labelextra extracf" ng-if="processOrderRecipeList[0].extraRm !=null">
											<label for="exampleFormControlSelect1">
												<h6>{{processOrderRecipeList[0].extraRm}}</h6>
											</label>
										</div>
										<div class="col-md-12 labelextra extracf" ng-if="processOrderRecipeList[0].extraRm ==null">
											<label for="exampleFormControlSelect1">
												<h6>No Extra RM is used</h6>
											</label>
										</div>
									</div>


									<div class="col-md-6">

										<button type="button" data-toggle="modal"
											data-target="#packingInfoModal"
											class="btn btn-secondary left fuse-ripple-ready"
											ng-click="getVesselHrs(processOrderRecipeList[0].processorderProd.processorderProdNumber)">View
											Packing Hours</button>

									</div>

								</div>

							</div>




							<table id="products" class="table table-responsive optable repmesd">
								<thead class="thead-inverse">
									<tr>
									<th class="secondary-text">
											<div class="">
												<span class="column-title">#</span>
											</div>
										</th>
				

										<th class="secondary-text">
											<div class="">
												<span class="column-title">R.M. Number</span>
											</div>
										</th>



										<th class="secondary-text">
											<div class="">
												<span class="column-title">R.M Name</span>
											</div>
										</th>
										<th class="secondary-text">
											<div class="">
												<span class="column-title">Type</span>
											</div>
										</th>
										<th class="secondary-text">
											<div class="">
												<span class="column-title">Quantity</span>
											</div>
										</th>




										<th></th>


									</tr>
								</thead>
								<tbody class="fixmetab"  ng-repeat="processorderRec in processOrderRecipeList track by $index" >
									<tr class="parent">
									<td>{{$index+1}}</td>
										
										<td><span class="">{{processorderRec.rawmaterialTable.rawmaterialNumber}}</span></br>
										    
										    <span><img class="img-fluid"
											style="display: block;"
											src="http://10.174.84.35:8080/static/{{processorderRec.rawmaterialTable.rawmaterialNumber}}.png" /><span></td>
										<td><span class="barcode-des">{{processorderRec.rawmaterialTable.rawmaterialDescription}}</span>
										    <span><img class="img-fluid"
											style="display: block;"
											src="http://10.174.84.35:8080/static/{{processorderRec.rawmaterialTable.rawmaterialNumber}}.png" /><span>
											</td>
										<td>{{processorderRec.type}}</td>
										<td><span class="barcode-des">{{processorderRec.quantity}}</span>
										    <span><img class="img-fluid"
											style="display: block;"
											src="http://10.174.84.35:8080/static/{{processorderRec.rawmaterialTable.rawmaterialNumber}}.png" /><span></td>

										<td>
											<button type="button" onclick="toggleChevron(this)"
												class="btn btn-icon  fuse-ripple-ready exploder">
												<span class=" text-purble-custom-100   icon-chevron-down"></span>
											</button>
										</td>

									</tr>
									<tr class="table-primary" ng-if="processorderRec.rawmaterialTable.rawmaterialNumber !=5947">

										<th>Location</th>
										<th>Batch Number</th>
										<th>Qty</th>
										<th colspan="6"></th>
									</tr>


									<tr ng-repeat="loc in processorderRec.locationRm" ng-if="processorderRec.rawmaterialTable.rawmaterialNumber !=5947  && processorderRec.rawmaterialTable.rawmaterialNumber !=9570 && processorderRec.rawmaterialTable.rawmaterialNumber !=9527 ">


										<td>{{loc.location}}<img class="img-fluid"
											style="display: block;"
											src="http://10.174.84.35:8080/static/{{loc.location}}.png" />
										</td>

										<td>{{loc.batchNumber}}<img class="img-fluid"
											style="display: block;"
											src="http://10.174.84.35:8080/static/{{loc.batchNumber}}.png" /></td>

										<td>{{loc.quantityTaken}}<img class="img-fluid"
											style="display: block;"
											src="http://10.174.84.35:8080/static/{{loc.quantityTaken}}.png" /></td>


										<td colspan="5"></td>


									</tr>
								</tbody>
							</table>

							<div class="col-md-6 right">

								<button type="button" style="float: right"
									class="btn bg-purble-custom-100 text-white-500 right fuse-ripple-ready"
									ng-click="InventoryDone()" ng-disabled="validate.$invalid">RM posting
									Done</button>


							</div>
							<script>
                      $("#products").on("click","button",function(e) {
                      e.preventDefault();
                      $(this).closest("tr").nextUntil(".parent").toggleClass("open");
                      });
                      </script>
							<script>
                      window.toggleChevron = function(button) {
                      $(button).find('span').toggleClass('icon-chevron-down icon-chevron-up');
                      }
                      </script>

							<div class="space1x"></div>
							<button type="button" data-toggle="modal"
								data-target="#doneModal"
								class="btn btn-secondary right fuse-ripple-ready"
								ng-show="showDone"
								ng-click="done(processOrderDetails[0].processorderProd.processorderProdNumber)">RM posting
								Checked</button>
							<script type="text/javascript">
                                    $('#sample-data-table').DataTable({
                                    responsive: true
                                    });
                                    </script>

						</div>
					</div>


				</div>





				<script>
                   
         function remove(button)
        {
             $(button).closest("td").parent().remove();
        }

                            
                        </script>

			</div>


		</div>
	</div>
	<!-- content ends here -->
</div>
<script type="text/javascript"
	src="../assets/js/apps/dashboard/project.js"></script>

</div>