
<div class="container" ng-app="myApp" >

  <div class="modal show"  >
    <div class="modal-dialog" >
    
      <!-- Modal content-->
      <div class="modal-content">
       <div class="modal-header">
				
				
				
		</div>
      </div>
    </div>
  </div> 
</div>
