<div ng-app="App">	
	<div id="barcode" class="modal fade" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content ">
				<div class="modal-header bg-purble-custom-100 text-white-500">
					<h5 class="modal-title" id="exampleModalLiveLabel">Modal title</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div id="owl-demo">

						<div class="item">
							<img class="img-fluid center-block owl_block"
								src="../assets/images/barcode/26717313021.png" alt="Owl Image">
						</div>


					</div>

					<script type="text/javascript">
						$("#owl-demo").owlCarousel({

							items : 1,
							itemsDesktop : [ 1199, 3 ],
							itemsDesktopSmall : [ 979, 3 ],
						/*  afterMove : function() {
						alert("after move!");
						}*/
						});
					</script>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>

				</div>
			</div>
		</div>
	</div>








	<div class="content pageup" ng-show="showProcess">
		<div id="project-dashboard" class="page-layout simple  tabbed">

			<!-- content stats here  -->
			<div class="page-content">

				<div class="tab-content" style="    padding-bottom: 100px;">
					<div class="tab-pane fade show active" id="home-tab-pane"
						role="tabpanel" aria-labelledby="home-tab">
						<!-- add user form -->
						<div class="tab-pane fade show active" id="home-tab-pane"
							role="tabpanel" aria-labelledby="home-tab">
							<!-- add user form -->
							<div class=" widget widget-7 card ">
								<div class="description bg-purble-custom-100  ">

									<div class="container">
										<div class="row">
											<div class="col-md-6">
												<div class="description-text ">
													<h5 class="text-white-500">
														<span class="text-white-500 icon-format-page-break"></span>RM Released Process Orders
													</h5>
												</div>

											</div>
											<div class="col-md-5"></div>
											<div class="col-md-1 right"></div>

										</div>

									</div>


								</div>
								<!-- filter button -->
								
						
								
								<div>
									<div ng-if="responselength == 0" class="widget-content p-4">
										<!-- the real content inside widger -->
										<div id="exampleAccordion" data-children=".item">
											<div class="item">
												<div class="linkshow" style="color: white !important;">
													<a class="nav-link ripple fuse-ripple-ready collapsed">
														<b>No Process Order to release</b>
													</a>
												</div>
											</div>
											<div class="space2x"></div>
										</div>
									</div>
								</div>
								<div class="widget-content p-4" ng-if="responselength !=0 ">
								
								
								
								
					
		
				
								
								
								
								
								
								
								
								
								
								
								
								
								
								
								
								
								
								
								
								
								
								
									<div class="row">
										<div class="col-md-3 p-4">


											<span class="title font-weight-bold h5 mr-2">Order</span> <span
												class="result-count text-muted"> <span>{{responselength}}</span>
												<span>Results</span>
											</span>

										</div>
										<div class="col-md-5 p-4">

											<flash-message class="flash-custom" duration="5000"></flash-message>

										</div>
										
											<div class="col-md-4 p-4">		
								   <div id="sample-data-table_filter" class="dataTables_filter ">
                                 <label>Search:<input type="search"
                                    class="search-border " ng-model="Search"
                                    placeholder="Search" aria-controls="sample-data-table"></label>
                              </div>
								</div>
										
										
										
										<!-- <div class="col-md-4 p-4">

											<div id="sample-data-table_filter" class="dataTables_filter ">
												<label>Search:<input type="search"
													class="search-border " placeholder="search"
													ng-model="Search" aria-controls="sample-data-table"></label>
											</div>
										</div> -->


									</div>






									<!-- content starts here -->
									<table id="" class="display table table-responsive optable tableme" cellspacing="0" width="100%">
										<thead class="thead-inverse">
											<tr>
												<th class="text-white-500"></th>
												<th class="text-white-500">Batch Date</th>
												<th>Process Order No.</th>
												<th>Material Code</th>
												<th>Material Description</th>
												<th>Quantity</th>
												<th>Batch No.</th>
												<th>Status</th>
													<th>PDF's</th>
												<th style="text-align: center">Reactor</th>
												<th style="text-align: center">Shift</th>
												<th>Select Team</th>
												<th>Action</th>


											</tr>
										</thead>
									<tbody class="table-border "
                                    dir-paginate="processOrder in processOrderList | filter : Search | itemsPerPage:8">  
											
											
								
							
											<tr >
												<td>
													<button type="button" id="exploder"
														class="btn btn-icon fuse-ripple-ready">
														<i class=" text-red-A700 icon-barcode-scan"></i>
													</button>
												</td>



												<td>{{processOrder.batchDate}}</td>
												<td>{{processOrder.processorderProdNumber}}</td>
												<td>{{processOrder.productTable.productNumber}}</td>
												<td>{{processOrder.productTable.productDescription}}</td>
												<td>{{processOrder.totalQuantity}}</td>
												<td>{{processOrder.batchNumber}}</td>
												       <td>
												       <div class="labels">
                                                                    
                                                                    <div class="label badge badge-success">
                                                                        {{processOrder.status.statusDescription}}
                                                                    </div>
                                                                    
                                                                    <!-- <div class="label badge badge-danger">
                                                                        Blender Error
                                                                    </div> -->
                                                                </div>
                                                                </td>

												<td>

													<button type="button"
														class="btn btn-primary fuse-ripple-ready"
														ng-click="sixMilInfo(processOrder.processorderProdNumber)"
														data-toggle="modal" data-target="#exampleModaldemo">


														6 mil</button> <a
													href="http://10.174.84.35:8080/5ML-PDf/{{processOrder.pdfDate}}/{{processOrder.processorderProdNumber}}.pdf"
													target="_blank" class="linkbtn" data-toggle="tooltip"
													title="" data-original-title="Find the Order PDF">5MIL</a>
													<a
													href="http://10.174.84.35:8080/Instruction-PDF/00{{processOrder.processorderProdNumber}}.pdf"
													target="_blank" class="linkbtn" data-toggle="tooltip"
													title="" data-original-title="Find the Order PDF">INST</a>

												</td>
												<td>
													<!-- <div class="input-group-btn dropdown" ng-if="processOrder.status.statusId ==8">
														<button type="button"
															class="btn btn-secondary dropdown-toggle fuse-ripple-ready"
															data-toggle="dropdown" aria-haspopup="true"
															aria-expanded="false">Reactor</button>
														<div class="dropdown-menu" x-placement="bottom-start"
															style="position: absolute; transform: translate3d(0px, 36px, 0px); top: 0px; left: 0px; will-change: transform;">
															<a class="dropdown-item fuse-ripple-ready"
																ng-click="reactor5()"> 5 MT</a>
															<div role="separator" class="dropdown-divider"></div>

															<a class="dropdown-item fuse-ripple-ready" 
																ng-click="reactor1()">1 MT</a>
														</div>
													</div> -->
													<div ng-repeat="vessel in vessels" ng-if="processOrder.isSelected !=1">
														<div class="form-check">
															<label class="form-check-label"> <input
																class="form-check-input" type="checkbox" value=""
																ng-click="toggleReactor(vessel)"> <span
																class="checkbox-icon"></span> <span
																class="form-check-description icores">{{vessel.name}}</span>
															</label>

														</div>
														</div>
													<!-- <div class="custom-dropdown"
														ng-if="processOrder.isSelected !=1">


														<select id="foo">
															<option value="" selected disabled hidden>Reactor</option>
															<option value="first" data-id="5 MT">5 MT</option>

															<option value="second" data-id="1 MT">1 MT</option>
														</select>
													</div> -->
													<div class="labels"
														ng-if="processOrder.isSelected ==1">

														<div  class="center" >{{processOrder.reactor}}
														</div>
													</div>
													
<!-- <script>$(".dropdown-menu a").click(function(){
  $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
  $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
});</script> -->

													
													
													
												</td>
												<td>
													<!-- <div class="input-group-btn dropdown" >
														<button type="button"
															class="btn btn-secondary dropdown-toggle fuse-ripple-ready"
															data-toggle="dropdown" aria-haspopup="true"
															aria-expanded="false" >Shift</button>
														<div class="dropdown-menu" x-placement="bottom-start"
															style="position: absolute; transform: translate3d(0px, 36px, 0px); top: 0px; left: 0px; will-change: transform;">
															<a class="dropdown-item fuse-ripple-ready"
															   ng-click="general()">General</a>
															
															<div role="separator" class="dropdown-divider"></div>
															<a class="dropdown-item fuse-ripple-ready"
																ng-click="shift1()">1st Shift</a>
															<div role="separator" class="dropdown-divider"></div>

															<a class="dropdown-item fuse-ripple-ready"
																ng-click="shift2()">2nd Shift</a>
																
														</div>
													</div> -->
													<div ng-repeat="shift in shifts" ng-if="processOrder.isSelected !=1">
														<div class="form-check">
															<label class="form-check-label"> <input
																class="form-check-input" type="checkbox" value=""
																ng-click="toggleShift(shift)"> <span
																class="checkbox-icon"></span> <span
																class="form-check-description icores">{{shift.name}}</span>
															</label>

														</div>
														</div>
													<!-- <div class="custom-dropdown "
														ng-if="processOrder.isSelected !=1">														
														
														<select id="sii">
															<option value="" selected disabled hidden>Shift</option>
															<option value="first" data-id="3">General</option>

															<option value="second" data-id="1">1St Shift</option>
															<option value="third" data-id="2">2St Shift</option>
														</select>
													</div> --> 
													<div class="labels"
														ng-if="processOrder.isSelected ==1">

														<div class="center" ng-if="processOrder.sift !=3" >{{processOrder.sift}}
														</div>
														<div class="center" ng-if="processOrder.sift ==3" >General
														</div>
													</div>


												</td>
												<td>
													<div ng-repeat="ListOfUser in ListOfUsers" ng-if="processOrder.isSelected !=1">
														<div class="form-check">
															<label class="form-check-label"> <input
																class="form-check-input" type="checkbox" value=""
																ng-click="toggleSelection(ListOfUser)"> <span
																class="checkbox-icon"></span> <span
																class="form-check-description icores">{{ListOfUser.userName}}</span>
															</label>

														</div>
														</div>
														<div class="labels"
														ng-if="processOrder.isSelected ==1">

														<div class="label badge badge-success">Selected
														</div>

														<!-- <div class="label badge badge-danger">
                                                                        Blender Error
                                                                    </div> -->
													</div>
												</td>


												<td>
													<button type="button"
														class="btn btn-secondary fuse-ripple-ready"
														ng-click="initiateOrder(processOrder)">Initiate</button>
												</td>


											</tr>
											<tr class="explode hide">
												<td colspan="4"><span class="barcode-des">Process
														Order</span> 
														<img class="img-fluid"
													src="http://10.174.84.35:8080/static/{{processOrder.processorderProdNumber}}.png">
												</td>
												<td colspan="4"><span class="barcode-des">
														Product No</span> 
														<img class="img-fluid" src="http://10.174.84.35:8080/static/{{processOrder.productTable.productNumber}}.png">
													</td>
												<td colspan="4"><span class="barcode-des">Batch
														No</span>
														<img class="img-fluid"
													src="http://10.174.84.35:8080/static/{{processOrder.batchNumber}}.png">
													</td>
											</tr>


										</tbody>




									</table>
									<!-- content ends here -->

								</div>
								<nav aria-label="pagination" class="my-8">
										<dir-pagination-controls max-size="8" direction-links="true"
											class="paddingme  right" boundary-links="true">
										</dir-pagination-controls>
										<style>
.pagination>li>a, .pagination>li>span {
	position: relative;
	float: right;
	padding: 6px 12px;
	margin-left: 1px;
	line-height: 1.42857143;
	color: #428bca;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
}

.pagination>li>a:hover {
	color: white;
	text-decoration: none;
	background-color: blue;
}
</style>
									</nav>
							</div>
						</div>


						<!-- add user form ends here -->

					</div>


				</div>
			</div>
			<!-- content ends here -->
		</div>

	</div>
	
<!-- 	###333333333333333333333333333333333333333333333333333333333333333 -->
	
		<div class="content pageup" ng-show="showPackage">
		
		
		
		
		
		
		<div id="project-dashboard" class="page-layout simple  tabbed">

			<!-- content stats here  -->
			<div class="page-content">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<nav class="breadcrumb">
					<a class="breadcrumb-item" href=""  ng-click ="refresh()" >
					Back
</a>  
			</ul>
			

				<div class="tab-content" style="    padding-bottom: 100px;">
					<div class="tab-pane fade show active" id="home-tab-pane"
						role="tabpanel" aria-labelledby="home-tab">
						<!-- add user form -->
						<div class="tab-pane fade show active" id="home-tab-pane"
							role="tabpanel" aria-labelledby="home-tab">
							<!-- add user form -->
							<div class=" widget widget-7 card ">
								<div class="description bg-purble-custom-100  ">



									<div class="container">
										<div class="row">
											<div class="col-md-6">
												<div class="description-text ">
													<h5 class="text-white-500">
														<span class="text-white-500 icon-format-page-break"></span>Packing Process Orders
													</h5>
												</div>

											</div>
											<div class="col-md-5"></div>
											<div class="col-md-1 right"></div>

										</div>

									</div>


								</div>
								<!-- filter button -->
						<!-- 		<div>
									<div class="widget-content p-4">
										the real content inside widger
										<div id="exampleAccordion" data-children=".item">
											<div class="item">
												<div class="linkshow" style="color: white !important;">
													<a class="nav-link ripple fuse-ripple-ready collapsed">
														<b>No Process Order to release</b>
													</a>
												</div>
											</div>
											<div class="space2x"></div>
										</div>
									</div>
								</div> -->
								<div class="widget-content p-4" >
									<div class="row">
									
									
									
									
									
									
										
<!-- 	here -->
	<!-- 55555555555555555555555
	
	
	
	
	
	
	
	<table id="" class="display table table-responsive optable tableme" cellspacing="0" width="100%">
										<thead class="thead-inverse">
											
	
	<tr>
                                                                <td  class="secondary-text">
                                                                    <div class="table-header">
                                                                        <span class="column-title">Batch Date </span>
                                                                    </div>
                                                           </td>
                                                                
                                                                <td  class="secondary-text">
                                                                    <div class="table-header">
                                                                        <span class="column-title">Product Process Order</span>
                                                                    </div>
                                                                </td>
                                                               <td  class="secondary-text">
                                                                    <div class="table-header">
                                                                        <span class="column-title">Batch Number</span>
                                                                    </div>
                                                                </td>
                                                                <td  class="secondary-text">
                                                                    <div class="table-header">
                                                                        <span class="column-title">Material Number</span>
                                                                    </div>
                                                                </td>
                                                                <td  class="secondary-text">
                                                                    <div class="table-header">
                                                                        <span class="column-title">Material Description</span>
                                                                    </div>
                                                                </td>
                                                                
                                                                
                                                                
                                                                <td  class="secondary-text">
                                                                    <div class="table-header">
                                                                        <span class="column-title">Quantity</span>
                                                                    </div>
                                                                </td>
                                                                                                                                
                                                       

                                                                 <td  class="secondary-text">
                                                                   
                                                                        <span class="column-title">Status</span>
                                                                    
                                                                </td>
                                                                  <td class="secondary-text">
                                                                   
                                                                        <span class="column-title">Start RM Posting head</span>
                                                                    
                                                                </td>
                                                                
                                                                   <td>  
                                                                   
                                                                   
                                             
                                                                   
                                                                   
                            
                             </td>
                                                                
                                                                
                                                                
                            </tr>
										</thead>
										<tbody class="table-border">
											<tr ng-repeat ="sixMillionInfoData in sixMillionInfoDatas" class="result-item user thead-white table-border">
												<td>
													<button type="button" id="exploder"
														class="btn btn-icon fuse-ripple-ready">
														<i class=" text-red-A700 icon-barcode-scan"></i>
													</button>
												</td>




												<td>{{sixMillionInfoData.batchDate}}</td>
												<td>{{sixMillionInfoData.processorderPckgNumber}}</td>
												<td>fdsdfdsfdsfdsf</td>
												<td>dfsdfsdfdsf</td>
												<td>fdfsfsdf</td>
												<td>dsdsdsds</td>
												       <td>cdfdsfsdfsdfsdf</td>
                                                                
                                                                <td>jghjghjhgjhgj
                                                                </td>
												<td>
													fhgdfghfdgfdgdfgfd
													
													
													
												</td>
												

											</tr>
											
											<tr class="explode hide parent">
												<td colspan="4"><span class="barcode-des">Process
														Order</span> 
														czxczxczxczxczxczxc
												</td>
												<td colspan="4"><span class="barcode-des">
														Product No</span> 
														xvzvxvxvxcvxv
													</td>
												<td colspan="4"><span class="barcode-des">Batch
														No</span>
														xcvxcvxcvcxvcxvxcvcxvx
													</td>
											</tr>


										</tbody>




									</table>
									content ends here
	
	
	
	
	
	
	
	
	
	
	55555555555555555555555
	 -->
	
	
	
	
	
	
	
	
	
	
	
<!-- 	here ends here -->
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
										<div class="col-md-3 p-4">


											<span class="title font-weight-bold h5 mr-2">Order</span> <span
												class="result-count text-muted"> <span>{{sixMillionInfoDatasLength}}</span>
												<span>Results</span>
											</span>

										</div>
										<div class="col-md-5 p-4">

											<flash-message class="flash-custom" duration="5000"></flash-message>

										</div>
										<!-- <div class="col-md-4 p-4">

											<div id="sample-data-table_filter" class="dataTables_filter ">
												<label>Search:<input type="search"
													class="search-border " placeholder="search"
													ng-model="Search" aria-controls="sample-data-table"></label>
											</div>
										</div> -->


									</div>






									<!-- content starts here -->
						  <table id="sample-data-table " class="table table table-responsive optable">
                                                        <thead class="table-inverse">
                                                            <tr>
                                                                <th class="secondary-text">
                                                                    <div class="table-header">
                                                                        <span class="column-title">Batch Date </span>
                                                                    </div>
                                                           </th>
                                                                
                                                                <th class="secondary-text">
                                                                    <div class="table-header">
                                                                        <span class="column-title">Product Process Order</span>
                                                                    </div>
                                                                </th>
                                                                <th class="secondary-text">
                                                                    <div class="table-header">
                                                                        <span class="column-title">Batch Number</span>
                                                                    </div>
                                                                </th>
                                                                <th class="secondary-text">
                                                                    <div class="table-header">
                                                                        <span class="column-title">Material Number</span>
                                                                    </div>
                                                                </th>
                                                                <th class="secondary-text">
                                                                    <div class="table-header">
                                                                        <span class="column-title">Material Description</span>
                                                                    </div>
                                                                </th>
                                                                
                                                                
                                                                
                                                                <th class="secondary-text">
                                                                    <div class="table-header">
                                                                        <span class="column-title">Quantity</span>
                                                                    </div>
                                                                </th>
                                                                                                                                
                                                       

                                                                 <th class="secondary-text">
                                                                   
                                                                        <span class="column-title">Pack PDF</span>
                                                                    
                                                                </th>
                                                                 <th class="secondary-text">
                                                                   
                                                                        <span class="column-title">Inst PDF</span>
                                                                    
                                                                </th>
                                                             
                                                             
                                                                
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                           
                                                         
                                                            
                                                         
                                                             <tr ng-repeat ="sixMillionInfoData in sixMillionInfoDatas"> 
                                                                <td>{{sixMillionInfoData.batchDate}}</td>
                                                                <td>{{sixMillionInfoData.processorderPckgNumber}}</td>
                                                                <td>{{sixMillionInfoData.batchNumber}}</td>
                                                                <td>{{sixMillionInfoData.sixmlNumber}}</td>
                                                                <td>{{sixMillionInfoData.materialMemo}}</td>
                                                                <td>{{sixMillionInfoData.totalQuantity}}</td>
												    <td>

													<div class="">
														<a
															href="http://10.174.84.35:8080/static1/{{sixMillionInfoData.pdfDate}}/{{sixMillionInfoData.processorderPckgNumber}}.pdf"
															target="_blank" data-toggle="tooltip"
															data-placement="left" title=""
															data-original-title="Find the Order PDF"><i
															class="text-red-500 s-9 icon-file-pdf"></i> </a>
													</div>



												  </td>
												  <td>

													<div class="">
														<a
															href="http://10.174.84.35:8080/Instruction-PDF/00{{sixMillionInfoData.processorderPckgNumber}}.pdf"
															target="_blank" data-toggle="tooltip"
															data-placement="left" title=""
															data-original-title="Find the Order PDF"><i
															class="text-red-500 s-9 icon-file-pdf"></i> </a>
													</div>



												  </td>

												<!--            <td>
                                                                
                                                                
                                     
                                                 <div class="">
                                                            <a href="http://localhost:8080/static/1002135791.pdf" target="_blank" data-toggle="tooltip" data-placement="left" title="" data-original-title="Find the Order PDF"><i class="text-red-500 s-9 icon-file-pdf"></i>   </a>
                                                        </div>
                                                                
                                                                
                                                                
                                                                </td> -->
                                                          <!--       <td><button type="button"
														class="btn bg-purble-custom-100 text-white-500 fuse-ripple-ready"
														ng-click="initiateInventory(sixMillionInfoData.processorderProdNumber)">Initiate
														RM Posting</button></td> -->
                                                            
                                                            </tr>
                                                            
                                                            
                                                            
                                                            
                                                            
                                                            
                                                            
                                                            
                                                        </tbody>
                                                    </table>
                 
									<!-- content ends here -->
								</div>
							</div>
						</div>
						<!-- add user form ends here -->

					</div>
				</div>
			
			</div>
			<!-- content ends here -->
			
		</div>

	</div>
	<!-- <nav aria-label="pagination" class="my-8">
		<dir-pagination-controls max-size="8" direction-links="true"
			class="paddingme  right" boundary-links="true">
		</dir-pagination-controls>
		<style>
.pagination>li>a, .pagination>li>span {
	position: relative;
	float: right;
	padding: 6px 12px;
	margin-left: 1px;
	line-height: 1.42857143;
	color: #428bca;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
}

.pagination>li>a:hover {
	color: white;
	text-decoration: none;
	background-color: blue;
}
</style>
	</nav> -->


















</div>


<!-- <script>
                      $("#products").on("click","button",function(e) {
                      e.preventDefault();
                      $(this).closest("tr").nextUntil(".parent").toggleClass("open");
                      });
                      </script> -->
                      
                      <script>
                      window.toggleChevron = function(button) {
                      $(button).find('span').toggleClass('icon-chevron-down icon-chevron-up');
                      }
                      </script>


<script>
    $(document).ready(function() {
    $('#sample-data-table').DataTable({
        responsive : true
    })

   /* $('#sample-data-table').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'print'
        ]
    } );*/
} 



);    
</script>
<!-- <script type="text/javascript" src="controllers/ProductOperatorController.js"></script> -->

<!-- <script type="text/javascript" src="js/planner.js"></script> -->

