<div ng-app="App">
	<div class="content">
		<div id="project-dashboard" class="page-layout simple  tabbed">

			<!-- content stats here  -->
			<div class="page-content pageup">

				<div class="tab-content">
					<div class="tab-pane fade show active" id="home-tab-pane"
						role="tabpanel" aria-labelledby="home-tab">
						<!-- add user form -->
						<div class="tab-pane fade show active" id="home-tab-pane"
							role="tabpanel" aria-labelledby="home-tab">
							<!-- add user form -->
							<div class=" widget widget-7 card ">
								<div class="description bg-purble-custom-100  ">

									<div class="container">
										<div class="row">
											<div class="col-md-6">
												<div class="description-text ">
													<h5 class="text-white-500">
														<span class="text-white-500 icon-format-page-break"></span>Packaging
														Order
													</h5>
												</div>

											</div>
											<div class="col-md-5"></div>
											<div class="col-md-1 right"></div>

										</div>

									</div>


								</div>
								<!-- filter button -->
								<div class="widget-content p-4">
									<div class="row">
										<div class="col-md-8 p-4"></div>
										<div class="col-md-4 p-4"></div>


									</div>

									<!-- content starts here -->
									<table class="table table-responsive optable">
										<thead class="thead-inverse">
											<tr>
											<!-- 	<th class="text-white-500"></th> -->
												<th class="text-white-500"></th>
												<th class="text-white-500">Batch Date </th>
												<th>Process Order No.</th>
												<th>Material Code</th>
												<th>Material Description</th>
												<th>Volume</th>
												<th>Weight/Package(K.G.)</th>
												<th>Batch No.</th>
												<th>Action</th>


											</tr>
										</thead>
										<tbody class="table-border "
											ng-repeat="packingdetail in packingdetails">



											<tr class="result-item user thead-white table-border">

												<td>
													<button type="button" id="exploder"
														class="btn btn-icon fuse-ripple-ready">
														<i class=" text-red-A700 icon-barcode-scan"></i>
													</button>
												</td>
											<!-- 	<td>
													<button type="button"
															class="btn btn-icon fuse-ripple-ready ">
															<a
																href="/suez/file/fileDownload?productNumber={{packingdetail.sixmlNumber}}&productType=pack"
																target="_blank" data-toggle="tooltip"
																data-placement="left" title=""
																data-original-title="Find the Order PDF"> <i
																class=" text-red-A700 icon-file-pdf"> </i>
															</a>
													</button>
												</td> -->
												<td>{{packingdetail.batchDate}}</td>
												<td>{{packingdetail.processorderPckgNumber}}</td>
												<td>{{packingdetail.sixmlNumber}}</td>
												<td>{{packingdetail.materialMemo}}</td>
												<td>{{packingdetail.volume}}</td>
												<td>{{packingdetail.wghtPckg}}</td>
												<td>{{packingdetail.batchNumber}}</td>


												<td>
													<button type="button"
														class="btn bg-purble-custom-100 text-white-500 fuse-ripple-ready"
														ng-click="initiatePacking(packingdetail.processorderPckgNumber,packingdetail.packingStartTime)">Initiate
														package</button>
												</td>


											</tr>
											<tr class="explode hide">
												<td colspan="4"><span class="barcode-des">Process
														Order</span>
														<img class="img-fluid"
													src="http://10.174.84.35:8080/static/{{packingdetail.processorderPckgNumber}}.png">
													<!--<img class="img-fluid"
													src="http://10.174.84.35:8080/static/6090976.png">-->
												</td>
												<td colspan="4"><span class="barcode-des">
														Product No</span>
														<img class="img-fluid" src="http://10.174.84.35:8080/static/{{packingdetail.sixmlNumber}}.png">
													<!-- <img class="img-fluid"
													src="http://10.174.84.35:8080/static/6090976.png">-->
													</td>
												<td colspan="4"><span class="barcode-des">Batch
														No</span>
														<img class="img-fluid" src="http://10.174.84.35:8080/static/{{packingdetail.batchNumber}}.png">
													<!-- <img class="img-fluid"
													src="http://10.174.84.35:8080/static/6090976.png"> -->
													</td>
											</tr>








										</tbody>

<tbody>
<tr>
<td colspan="5"></td>
<td colspan="3"></td>
<td colspan="1"><button type="button" data-toggle="modal" data-target="#successModal" class="btn btn-secondary right fuse-ripple-ready" ng-show="packingDoneButton" ng-click="packDone()">Packaging Done</button>
</td>


</tr>
</tbody>

									</table>
									
									
									
									<!-- content ends here -->



								</div>
							</div>
						</div>


						<!-- add user form ends here -->

					</div>


				</div>
			</div>
			<!-- content ends here -->
		</div>

	</div>
</div>