<div ng-app="App">
	<div class="content">
		<div id="project-dashboard" class="page-layout simple  tabbed">
			<!-- content stats here  -->
			<div class="page-content pageup">
				<div class="tab-content">
					<div class="tab-pane fade show active" id="home-tab-pane"
						role="tabpanel" aria-labelledby="home-tab">
						<!-- add user form -->
						<div class="tab-pane fade show active" id="home-tab-pane"
							role="tabpanel" aria-labelledby="home-tab">

							<ul class="nav nav-tabs ng-scope" id="myTab" role="tablist">
								<nav class="breadcrumb" ng-click="goBack()">

									<a class="breadcrumb-item white_button "
										style="text-decoration: none; text-transform: none;"> <span
										class="icon-arrow-left s-4

" style="padding-right: 7px;">
									</span><span class="Back">Back</span>
									</a>

								</nav>
							</ul>


							<!-- add user form -->
							<div class=" widget widget-7 card ">




								<div class="description bg-purble-custom-100">
									<div class="container">
										<div class="row">
											<div class="col-md-6">
												<div class="description-text ">
													<h5 class="text-white-500">
														<span class="text-white-500 icon-comment-check
"></span>
														Quality Check
													</h5>

												</div>

											</div>
											<div class="col-md-6 "></div>
										</div>

									</div>

								</div>
								<!-- filter button -->
								<div class="widget-content p-4">


									<div class="row p-4" name="validate" novalidate>

										<div class="container p-4">










											<div class="row">





												<div class="col-md-12 bordertab">

													<div class="row">

														<div class="col-md-6">

															<label> Process Order Number:
																{{qulaityCheckProcessNo}} </label><br> <label>
																Batch Number: {{qulaityCheckBatchNumber}} </label><br> <label>Batch
																Date: {{qulaityCheckBatchDate}} </label><br>
															<div class="space2x"></div>

															<a target="_self"
																href="http://10.174.84.35:8080/static2/{{qulaityCheckBatchNumber}}.pdf"
																download="{{qulaityCheckBatchNumber}}.pdf"
																style="margin-bottom: 10px; margin-right: 19px"
																type="button" class="btn btn-primary fuse-ripple-ready">
																<span class="icon-box-download"> </span>Download
															</a>



														</div>

														<div class="col-md-6">

															<input type="file" text="resubmit" file-model="myFile">

															<button type="button"
																style="float: left; margin-right: -24px; margin-top: 59px;"
																ng-click="inspectionLotUpload()"
																class="btn btn-secondary text-white-500 left fuse-ripple-ready">Re-Upload</button>

														</div>

													</div>


												</div>






												<div class="col-md-3">


													<div class="space2x"></div>
													<input type="radio" ng-model="Quality" value="ok">Inspected
													as per quality check List and found ok <br>
													<br> <input type="radio" ng-model="Quality"
														value="notOk">Quality Not Ok

													<!--     <input type="radio" name="Quality" value="ok" checked> Quality Ok<br><br>
                                                     <input type="radio" name="Quality" value="not"> Quality Not Ok<br> -->

												</div>
												<div class="col-md-4 ">
													<div class="space2x"></div>
													<input type="checkbox" ng-model="checkboxValue">If
													Additional Quantity Added
													<textarea rows="4" cols="50" ng-disabled="!checkboxValue"
														style="border: 1px solid #929292;"
														ng-model="QualityRemark">
												
												</textarea>

												</div>

												<div class="col-md-5">


													<button type="button"
														style="float: right; margin-top: 68px;"
														class="btn bg-purble-custom-100 text-white-500 right fuse-ripple-ready"
														ng-click="showPackingInformation(rem)"
														ng-disabled="validate.$invalid">Quality Checked</button>

												</div>



												<div class="col-md-6">

													<flash-message class="flash-custom" duration="5000"></flash-message>

												</div>

												<div class="col-md-2 right"></div>




											</div>

										</div>

										<div class="p-3"></div>

									</div>
								</div>
							</div>
							<!-- add user form ends here -->
						</div>
					</div>
				</div>
				<!-- content ends here -->
			</div>
		</div>
	</div>

</div>