
 
            <!-- modal -->
            <div id="remarks" class="modal fade" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-purble-custom-100 text-white-500 description-text-modal ">
                            <h5 class="modal-title" id="exampleModalLabel"> <i class="text-white-500 icon-pencil-circle-outline
"></i>  Remarks</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">x </span>
                            </button>
                        </div>
                        <div class="modal-body">
                           <div class="form-group">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" ng-model="rem"></textarea>
                        <label for="exampleFormControlTextarea1">Please enter your Remarks Here</label>
                    </div>
                    
                        </div>
                        <div class="modal-footer">
                          <!--   <button type="button" class="btn btn-success   text-white-500 fuse-ripple-ready">Send</button> -->
                                 <button type="button" class="btn btn-primary fuse-ripple-ready" data-dismiss="modal">Done</button>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- modal ends  -->
            

<div ng-app="App">




	<div class="content">
		<div id="project-dashboard" class="page-layout simple  tabbed">
			<!-- content stats here  -->
			<div class="page-content pageup">
				<div class="tab-content">
					<div class="tab-pane fade show active" id="home-tab-pane"
						role="tabpanel" aria-labelledby="home-tab">
						<!-- add user form -->
						<div class="tab-pane fade show active" id="home-tab-pane"
							role="tabpanel" aria-labelledby="home-tab">
							<!-- add user form -->
							<div class=" widget widget-7 card ">
								<div class="description bg-purble-custom-100  ">
									<div class="container">
										<div class="row">
											<div class="col-md-6">
												<div class="description-text ">
													<h5 class="text-white-500">
														<span class="text-white-500 icon-file-check"></span>Inspection
														Instruction
													</h5>
												</div>






											</div>
											<div class="col-md-5"></div>
											<div class="col-md-1 right"></div>



										</div>
									</div>
								</div>




								<!-- filter button -->
								<div class="widget-content p-4">

									<div class="row p-4" name="validate" novalidate>


										<table class="table table-responsive optable">
											<tbody>
												<tr class=" spacetab">
													<th>Inspecton Lo :</th>
													<td>2792742</td>



												</tr>


												<tr class=" spacetab">
													<td></td>
													<td>89</td>
												</tr>


												<tr class=" spacetab">

													<th>inspection Period</th>

													<td>12/15/2017 - 12/15/2017</td>
												</tr>





												<tr class=" spacetab">
													<th>Material</th>
													<td>5016305 GENERIC 18548</td>

												</tr>


												<tr class=" spacetab">
													<td></td>
													<td>18548</td>
												</tr>



												<tr class=" spacetab">
													<th sss="">Batch</th>
													<td>2671734904</td>

												</tr>


											</tbody>
										</table>








<div class="space1x"></div>



										<table class="table table-bordered table-responsive optable">

											<thead>
												<tr class="bg-grey-700 text-auto">
													<td colspan="1"><h6>Inspection</h6></td>
													<td colspan="1"><h6>0010</h6></td>
													<td colspan="6"><h6>Plant Testing</h6></td>

												</tr>
											</thead>


											<thead class="thead-inverse ">
												<tr>
													<th colspan="3">Characteristics</th>
													<th>Method</th>
													<th>Range</th>
													<th colspan="5">Result</th>
												</tr>
											</thead>
											<tbody ng-repeat="QualityChecks in QualityCheckData" >
												<div>
													<tr class="bordertab" >
														<td rowspan="range1.lenght">{{QualityChecks.charNumber}}</td>
														<td rowspan="range1.lenght" colspan="2">{{QualityChecks.discription}}</td>
														<td rowspan="range1.lenght">{{QualityChecks.method}}</td>
														<td><span
															ng-repeat="QualityChecksRange in QualityChecks.range1">{{QualityChecksRange}}<br /></span></td>
														<td rowspan="range1.lenght"
															ng-if="QualityChecks.type == 1">
															<div class="input-group">
																<span class="input-group-addon" id="basic-addon1"></span>
																<input type="text" class="form-control"
																	placeholder="Remarks" aria-label="Username"
																	aria-describedby="basic-addon1" 
																	ng-model="QualityChecks.result" required style="width:200px">
															</div>
														</td>
														<!-- ?fv -->
														<td ng-if="QualityChecks.type == 2"><span
															ng-repeat="QualityChecksRange1 in QualityChecks.range2 track by $index">
																<input type="radio" name="gender{{$parent.$index}}"
																ng-click="loadFromMenu($parent.$index,$index)" required>
																{{QualityChecksRange1}}<br />
														</span></td>
														<!-- ?fv -->

													</tr>





												</div>
												<!-- 
<div  ng-if="QualityChecks.type == 2">

												<tr class="bordertab">
													<td rowspan="3">{{QualityChecks.id}}</td>

													<td rowspan="3" colspan="2">LIQUID</td>
													<td rowspan="3"></td>

													<td>possible Attribute Codes:</td>
													<td></td>


												</tr>



												<tr class="bordertab">

													<td>LIQUID - A</td>
													<td>
														<div class="form-check form-check-inline">
															<label class="form-check-label"> <input
																class="form-check-input" type="checkbox"
																id="inlineCheckbox1" checked="checked" value="option1">
																<span class="checkbox-icon fuse-ripple-ready"></span> <span
																class="form-check-description">Yes</span>
															</label>
														</div>
														<div class="form-check form-check-inline">
															<label class="form-check-label"> <input
																class="form-check-input" type="checkbox"
																id="inlineCheckbox2" value="option2"> <span
																class="checkbox-icon fuse-ripple-ready"></span> <span
																class="form-check-description">No</span>
															</label>
														</div>
													</td>
												</tr>

												<tr class="bordertab">

													<td>OTHER - R</td>

													<td rowspan=""><div
															class="form-check form-check-inline">
															<label class="form-check-label"> <input
																class="form-check-input" type="checkbox"
																id="inlineCheckbox1" checked="checked" value="option1">
																<span class="checkbox-icon fuse-ripple-ready"></span> <span
																class="form-check-description">Yes</span>
															</label>
														</div>
														<div class="form-check form-check-inline">
															<label class="form-check-label"> <input
																class="form-check-input" type="checkbox"
																id="inlineCheckbox2" value="option2"> <span
																class="checkbox-icon fuse-ripple-ready"></span> <span
																class="form-check-description">No</span>
															</label>
														</div></td>

												</tr>
												</div>

 
 -->






											</tbody>
										</table>
                      
										<div class="container p-4">
											
											<div class="row">
											<div class="col-md-8">
									
											                                           <flash-message class ="flash-custom" duration="5000"></flash-message>
											
											</div>
											<div class="col-md-2">
											<button type="button" class="btn btn-icon fuse-ripple-ready " data-placement="right" data-toggle="modal" data-target="#remarks" title="Send the remarks in here ">
                                                                
                                                                <i class=" text-red-A700 icon-email-alert"></i> Remarks
                                                                
                                                                </button>
											</div>
												<div class="col-md-2 right">
											
											<button type="button" style="float: right"
												class="btn bg-purble-custom-100 text-white-500 right fuse-ripple-ready"
												ng-click="showPackingInformation(rem)" ng-disabled="validate.$invalid">Quality Checked</button>
											
											
											</div>
											
											
											
											
											</div>
											
										</div>

										<div class="p-3"></div>
										<!-- text ends here -->
										<!-- content ends here -->
										<!-- the real content inside widger -->
									</div>
								</div>
							</div>
							<!-- add user form ends here -->
						</div>
					</div>
				</div>
				<!-- content ends here -->
			</div>
		</div>
	</div>

</div>