<div ng-app="App">

<div class="content-wrapper">
        <div class="content ">
          <div id="project-dashboard" class="page-layout simple right-sidebar tabbed">
            <div class="page-content-wrapper pageup">
              <!-- CONTENT -->
              
              <div class="row p-4">
                
                <div class="col-md-6 p-3">
                  <div class="col-md-7">

                  <div class="widget widget5 card bg-blue text-auto">
                    <div class="widget-header pl-4 pr-2 row no-gutters align-items-center justify-content-between">
                      <div class="col">
                        <div class="row no-gutters align-items-center">
                          <i class="icon-thermometer-lines mr-2"></i>
                          <span class="h6">5 MT REACTOR
                          </span>
                        </div>
                      </div>
                      <button type="button" class="btn btn-icon fuse-ripple-ready" data-placement="right" data-toggle="modal" data-target="#exampleModalLivetemp">
                      <i class="icon icon-dots-vertical"></i>
                      </button>
                    </div>
                    <div class="widget-content p-4 align-items-center">
                      <span class="h5">{{TempDataVal1}} &nbsp; &#176;C</span>
                      <i class="ml-2 "></i>
                    </div>
                    <div class="widget-footer p-4 text-muted">
                      Lower than average
                    </div>
                  </div>
                
                  </div>
                </div>
                <div class="col-md-6 p-3">
                  <div class="col-md-7">

                  <div class="widget widget5 card bg-indigo-400 text-auto">
                    <div class="widget-header pl-4 pr-2 row no-gutters align-items-center justify-content-between">
                      <div class="col">
                        <div class="row no-gutters align-items-center">
                          <i class="icon-thermometer-lines mr-2"></i>
                          <span class="h6">1 MT REACTOR
                          </span>
                        </div>
                      </div>
                      <button type="button" class="btn btn-icon fuse-ripple-ready" data-placement="right" data-toggle="modal" data-target="#exampleModalLivetemp">
                      <i class="icon icon-dots-vertical"></i>
                      </button>
                    </div>
                    <div class="widget-content p-4 align-items-center">
                      <span class="h5">{{TempDataVal2}} &nbsp; &#176;C</span>
                      <i class="ml-2 "></i>
                    </div>
                    <div class="widget-footer p-4 text-muted">
                      Lower than average
                    </div>
                  </div>
                
                  </div>
                </div>
                </div> <!-- row  ends here -->




                <!-- table starts here -->
<div class="row">
  


                <div class="tab-pane fade show active p-6  col-md-6 " id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab">

                      <!-- add user form -->
                      <div class="widget widget-7 card">
                        <div class="description bg-blue">
                          <div class="description-text ">
                            
                            <div class="row">
                              <div class="col-md-12">
                                
                                <h5 class="text-white-500">  <span class="text-white-500 icon-format-page-break"></span> OPEN PROCESS ORDERS - 5 MT REACTOR
                                </h5>
                                
                              </div>
                              
                              <div class="col-md-1 ">
                                
                              </div>
                            </div>
                          </div>
                          
                        </div>
                        <div class="widget-content p-4">
                          
                          <!-- the real content inside widger -->
                          
                          
                          <!-- table starts here  -->
                          
                          <!-- the real content inside widger -->
                          <table id="sample-data-table" class="table table table-responsive optable">
                            <thead  class="thead-dark" style="background-color: #202528; color: white;">
                              <tr>	
                                <th class="secondary-text">
                                  <div class="">
                                    <span class="column-title">Date  </span>
                                  </div>
                                </th>
                                
                                <th class="secondary-text">
                                  <div class="">
                                    <span class="column-title">Order Number</span>
                                  </div>
                                </th>
                                
                                <th class="secondary-text">
                                  <div class="">
                                    <span class="column-title">Material Memo</span>
                                  </div>
                                </th>
                                
                                
                            
                                <th class="secondary-text">
                                  <div class="">
                                    <span class="column-title">Qty.</span>
                                  </div>
                                </th>
                                
                                
                                <th class="secondary-text">
                                  <div class="">
                                    <span class=""></span>
                                  </div>
                                </th>
                             
                                
                                
                                
                              </tr>
                            </thead>
                            <tbody>
                              
                              
                              
                              <tr ng-repeat="DailyProcessOrder in Rec5">
                                   <td>{{DailyProcessOrder.batchDate}}</td>
                                <td>
                                   <b>{{DailyProcessOrder.processorderProdNumber}}</b>
                                   <div class="badge badge-success">{{DailyProcessOrder.status.statusDescription}}</div>
                                </td>
                                
                                <td>{{DailyProcessOrder.productTable.productDescription}}</td>
                                
                                
                                
                                <td>{{DailyProcessOrder.totalQuantity}}</td>
                                <td>
                                  <a href="http://10.174.84.35:8080/5ML-PDf/{{DailyProcessOrder.pdfDate}}/{{DailyProcessOrder.processorderProdNumber}}.pdf" target="_blank" data-toggle="tooltip" 
                                  data-placement="right" title="" data-original-title="Find the Order PDF" 
                                  style="float: RIGHT; padding-top: 12px;"><i class="text-red-500 s-9 icon-file-pdf"></i> </a>
                                  
                                </td>
                             
                                
                              </tr>
                              
                              
                              <tr class="explode hide " >
                                <td >
                                  <label for="inputPassword1 " class="label-custom">Batch Number</label>
                                  <input type="Number" id="day1" class="form-control md-has-value" value="0" >
                                </td>
                                <td><label for="inputPassword1 " class="label-custom">Location</label>
                              <input type="text" id="day1" class="form-control md-has-value" value="0" ></td>
                              <td ><label for="inputPassword1 " class="label-custom">Qty</label>
                              <input type="text" id="day1" class="form-control md-has-value" value="0" >
                              <!--   <span class="input-group-addon">MT</span>   --></td>
                              <td></td>
                              
                              
                              <td>
                                
                                
                                <button type="button" class="btn btn-secondary fuse-ripple-ready" onclick="displayResult()">+ Add New</button>
                                
                              </td>
                              
                              <td></td>
                              <td>
                              </td>
                              
                              
                              
                              <td>
                              </td>
                              
                            </tr>
                            
                            
                            
                            
                            
                          </tbody>
                        </table>
          
                        
                      </div>
                    </div>
                    
                    
                  </div>
                  
             
                
<!-- second table -->





<div class="tab-pane fade show active p-6 col-md-6 " id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab">

                      <!-- add user form -->
                      <div class="widget widget-7 card">
                        <div class="description bg-indigo-400">
                          <div class="description-text ">
                            
                            <div class="row">
                              <div class="col-md-12 ">
                                
                                <h5 class="text-white-500 ">  <span class="text-white-500 icon-format-page-break"></span> OPEN PROCESS ORDERS - 1 MT REACTOR
                                </h5>
                                
                              </div>
                              
                              <div class="col-md-1 ">
                                
                              </div>
                            </div>
                          </div>
                          
                        </div>
                        <div class="widget-content p-4">
                          
                          <!-- the real content inside widger -->
                          
                          
                          <!-- table starts here  -->
                          
                          <!-- the real content inside widger -->
                          <table id="sample-data-table" class="table table-striped table table-responsive optable">
                            <thead  class="thead-dark" style="background-color: #202528; color: white;">
                              <tr>
                                <th class="secondary-text">
                                  <div class="">
                                    <span class="column-title">Date  </span>
                                  </div>
                                </th>
                                
                                <th class="secondary-text">
                                  <div class="">
                                    <span class="column-title">Order Number</span>
                                  </div>
                                </th>
                                
                                <th class="secondary-text">
                                  <div class="">
                                    <span class="column-title">Material Memo</span>
                                  </div>
                                </th>
                                
                                
                            
                                <th class="secondary-text">
                                  <div class="">
                                    <span class="column-title">Qty.</span>
                                  </div>
                                </th>
                                
                                
                                <th class="secondary-text">
                                  <div class="">
                                    <span class=""></span>
                                  </div>
                                </th>
                               
                                
                                
                                
                              </tr>
                            </thead>
                            <tbody>
                              
                              
                              
                              <tr ng-repeat="DailyProcessOrder in Rec1">
                                <td>{{DailyProcessOrder.batchDate}}</td>
                                <td><b>{{DailyProcessOrder.processorderProdNumber}}</b>
                                <div class="badge badge-success">{{DailyProcessOrder.status.statusDescription}}</div>
                                </td>
                                
                                <td>{{DailyProcessOrder.productTable.productDescription}}</td>
                                
                                
                                
                                <td>{{DailyProcessOrder.totalQuantity}}</td>
                                <td>
                                  <a href="http://10.174.84.35:8080/5ML-PDf/{{DailyProcessOrder.pdfDate}}/{{DailyProcessOrder.processorderProdNumber}}.pdf" target="_blank" data-toggle="tooltip" 
                                  data-placement="right" title="" data-original-title="Find the Order PDF" 
                                  style="float: RIGHT; padding-top: 12px;"><i class="text-red-500 s-9 icon-file-pdf"></i> </a>
                                </td>
                                
                              
                                
                                
                              </tr>
                              
                              
                              <tr class="explode hide " >
                                <td >
                                  <label for="inputPassword1 " class="label-custom">Batch Number</label>
                                  <input type="Number" id="day1" class="form-control md-has-value" value="0" >
                                </td>
                                <td><label for="inputPassword1 " class="label-custom">Location</label>
                              <input type="text" id="day1" class="form-control md-has-value" value="0" ></td>
                              <td ><label for="inputPassword1 " class="label-custom">Qty</label>
                              <input type="text" id="day1" class="form-control md-has-value" value="0" >
                              <!--   <span class="input-group-addon">MT</span>   --></td>
                              <td></td>
                              
                              
                              <td>
                                
                                
                                <button type="button" class="btn btn-secondary fuse-ripple-ready" onclick="displayResult()">+ Add New</button>
                                
                              </td>
                              
                              <td></td>
                              <td>
                              </td>
                              
                              
                              
                              <td>
                              </td>
                              
                            </tr>
                            
                            
                            
                            
                            
                          </tbody>
                        </table>
                        
                      </div>
                    </div>
                    
                    
                  </div>

</div>










                  
                </div>
              </div>
            </div>



              <!-- //table ends here -->
              
              

            </div>



</div>