<div ng-app="App">
	<div id="barcode" class="modal fade" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content ">
				<div class="modal-header bg-purble-custom-100 text-white-500">
					<h5 class="modal-title" id="exampleModalLiveLabel">Modal title</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div id="owl-demo">

						<div class="item">
							<img class="img-fluid center-block owl_block"
								src="../assets/images/barcode/26717313021.png" alt="Owl Image">
						</div>


					</div>

					<script type="text/javascript">
						$("#owl-demo").owlCarousel({

							items : 1,
							itemsDesktop : [ 1199, 3 ],
							itemsDesktopSmall : [ 979, 3 ],
						/*  afterMove : function() {
						alert("after move!");
						}*/
						});
					</script>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>

				</div>
			</div>
		</div>
	</div>





	<div class="content pageup">
		<div id="project-dashboard" class="page-layout simple  tabbed">

			<!-- content stats here  -->
			<div class="page-content">

				<div class="tab-content">
					<div class="tab-pane fade show active" id="home-tab-pane"
						role="tabpanel" aria-labelledby="home-tab">
						<!-- add user form -->
						<div class="tab-pane fade show active" id="home-tab-pane"
							role="tabpanel" aria-labelledby="home-tab">
							<!-- add user form -->
							<div class=" widget widget-7 card ">
								<div class="description bg-purble-custom-100  ">

									<div class="container">
										<div class="row">
											<div class="col-md-6">
												<div class="description-text ">
													<h5 class="text-white-500">
														<span class="text-white-500 icon-format-page-break"></span>RM Released Re-Packing Process Orders
													</h5>
												</div>

											</div>
											<div class="col-md-5"></div>
											<div class="col-md-1 right"></div>

										</div>

									</div>


								</div>
								<!-- filter button -->
								<div>
									<div ng-if="responselength == 0" class="widget-content p-4">
										<!-- the real content inside widger -->
										<div id="exampleAccordion" data-children=".item">
											<div class="item">
												<div class="linkshow" style="color: white !important;">
													<a class="nav-link ripple fuse-ripple-ready collapsed">
														<b>No Process Order to release</b>
													</a>
												</div>
											</div>
											<div class="space2x"></div>
										</div>
									</div>
								</div>
								<div class="widget-content p-4" ng-if="responselength !=0 ">
									<div class="row">
										<div class="col-md-3 p-4">


											<span class="title font-weight-bold h5 mr-2">Order</span> <span
												class="result-count text-muted"> <span>{{responselength}}</span>
												<span>Results</span>
											</span>

										</div>
										<div class="col-md-5 p-4">

											<flash-message class="flash-custom" duration="5000"></flash-message>

										</div>
										<!-- <div class="col-md-4 p-4">

											<div id="sample-data-table_filter" class="dataTables_filter ">
												<label>Search:<input type="search"
													class="search-border " placeholder="search"
													ng-model="Search" aria-controls="sample-data-table"></label>
											</div>
										</div> -->


									</div>






									<!-- content starts here -->
									<table id="" class="display table table-responsive optable tableme" cellspacing="0" width="100%">
										<thead class="thead-inverse">
											<tr>
												<th class="text-white-500"></th>
												<th class="text-white-500">Batch Date</th>
												<th>Process Order No.</th>
												<th>Material Code</th>
												<th>Material Description</th>
												<th>Quantity</th>
												<th>Batch No.</th>
												<th>Status</th>
												<th style="text-align: center">Reactor</th>
												<th style="text-align: center">Shift</th>
												<th>Select Team</th>
												<th>Action</th>


											</tr>
										</thead>
										<tbody class="table-border"
											ng-repeat="processOrder in processOrderList | filter : Search">
											<tr class="result-item user thead-white table-border">
												<td>
													<button type="button" id="exploder"
														class="btn btn-icon fuse-ripple-ready">
														<i class=" text-red-A700 icon-barcode-scan"></i>
													</button>
													
													<a
												href="http://10.174.84.35:8080/static1/{{processOrder.pdfDate}}/{{processOrder.processorderPckgNumber}}.pdf"
												target="_blank" data-toggle="tooltip" data-placement="right"
												title="" data-original-title="Find the Order PDF"
												style="float: RIGHT; padding-top: 12px;"><i
												class="text-red-500 s-9 icon-file-pdf"></i> </a>
												</td>

<!-- 
												<td>
													<button type="button"
														class="btn btn-icon fuse-ripple-ready ">
														<a
															href="/suez/file/fileDownload?productNumber={{processOrder.productTable.productNumber}}"
															target="_blank" data-toggle="tooltip"
															data-placement="left" title=""
															data-original-title="Find the Order PDF"> <i
															class=" text-red-A700 icon-file-pdf"> </i>
														</a>
													</button>
												</td> -->


												<td>{{processOrder.batchDate}}</td>
												<td>{{processOrder.processorderPckgNumber}}</td>
												<td>{{processOrder.productNumber}}</td>
												<td>{{processOrder.productName}}</td>
												<td>{{processOrder.totalQuantity}}</td>
												<td>{{processOrder.batchNumber}}</td>
												       <td><div class="labels">
                                                                    
                                                                    <div class="label badge badge-success">
                                                                        {{processOrder.status.statusDescription}}
                                                                    </div>
                                                                    
                                                                    <!-- <div class="label badge badge-danger">
                                                                        Blender Error
                                                                    </div> -->
                                                                </div></td>
												<td>
													<!-- <div class="input-group-btn dropdown" >
														<button type="button"
															class="btn btn-secondary dropdown-toggle fuse-ripple-ready"
															data-toggle="dropdown" aria-haspopup="true"
															aria-expanded="false">Reactor</button>
														<div class="dropdown-menu" x-placement="bottom-start"
															style="position: absolute; transform: translate3d(0px, 36px, 0px); top: 0px; left: 0px; will-change: transform;">
															<a class="dropdown-item fuse-ripple-ready"
																ng-click="reactor5()"> 5 MT</a>
															<div role="separator" class="dropdown-divider"></div>

															<a class="dropdown-item fuse-ripple-ready" ng-if="processOrder.totalQuantity < 2000"
																ng-click="reactor1()">1 MT</a>
																<div role="separator" class="dropdown-divider"></div>

															<a class="dropdown-item fuse-ripple-ready" ng-if="processOrder.totalQuantity < 2000"
																ng-click="pack()">Pack</a>
														</div>
													</div> --> 
													<!-- <div class="labels"
														ng-if="processOrder.status.statusId !=8">

														<div class="label badge badge-danger">Not Required
														</div>

														<div class="label badge badge-danger">
                                                                        Blender Error
                                                                    </div>
													</div> -->
													<!-- <div class="custom-dropdown"
														ng-if="processOrder.isSelected !=1">
														<select id="reactorInfo">
															<option value="" selected disabled hidden>Reactor</option>
															<option value="5 MT">5 MT</option>
															<option value="1 MT" >1 MT</option>
															<option value="Pack">Pack</option>
														</select>
													</div> -->
													<div ng-repeat="vessel in vessels" ng-if="processOrder.isSelected !=1">
														<div class="form-check">
															<label class="form-check-label"> <input
																class="form-check-input" type="checkbox" value=""
																ng-click="toggleReactor(vessel)"> <span
																class="checkbox-icon"></span> <span
																class="form-check-description icores">{{vessel.name}}</span>
															</label>

														</div>
														</div>
													<div class="labels"
														ng-if="processOrder.isSelected ==1">

														<div >{{processOrder.reactor}}
														</div>

														<!-- div class="label badge badge-danger">
                                                                        Blender Error
                                                                    </div> -->
													</div>
													<!-- <script>$(".dropdown-menu a").click(function(){
  $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
  $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
});</script> -->
													<!-- <script>
														$(".dropdown-menu a")
																.click(
																		function() {
																			$(
																					this)
																					.parents(
																							".dropdown")
																					.find(
																							'.btn')
																					.html(
																							$(
																									this)
																									.text()
																									+ ' <span class="caret"></span>');
																			$(
																					this)
																					.parents(
																							".dropdown")
																					.find(
																							'.btn')
																					.val(
																							$(
																									this)
																									.data(
																											'value'));
																		});
													</script> -->
												</td>
												<td>
												<!-- <div class="custom-dropdown "
														ng-if="processOrder.isSelected !=1">
														<select id="shiftt">
															<option value="" selected disabled hidden>Shift</option>
															<option value="3" >General</option>
															<option value="1" >1St Shift</option>
															<option value="2">2St Shift</option>
														</select>
													</div>  -->
													<div ng-repeat="shift in shifts" ng-if="processOrder.isSelected !=1">
														<div class="form-check">
															<label class="form-check-label"> <input
																class="form-check-input" type="checkbox" value=""
																ng-click="toggleShift(shift)"> <span
																class="checkbox-icon"></span> <span
																class="form-check-description icores">{{shift.name}}</span>
															</label>

														</div>
														</div>
													<div class="labels"
														ng-if="processOrder.isSelected ==1">

														<div ng-if="processOrder.shift !=3" >{{processOrder.shift}}
														</div>
														<div ng-if="processOrder.shift ==3" >General
														</div>

														<!-- <div class="label badge badge-danger">
                                                                        Blender Error
                                                                    </div> -->
													</div>
													<!-- <div class="input-group-btn dropdown" >
														<button type="button"
															class="btn btn-secondary dropdown-toggle fuse-ripple-ready"
															data-toggle="dropdown" aria-haspopup="true"
															aria-expanded="false">Shift</button>
														<div class="dropdown-menu" x-placement="bottom-start"
															
															style="position: absolute; transform: translate3d(0px, 36px, 0px); top: 0px; left: 0px; will-change: transform;">
															<a class="dropdown-item fuse-ripple-ready"
															   ng-click="general()">General</a>
															<div role="separator" class="dropdown-divider"></div>
															<a class="dropdown-item fuse-ripple-ready"
																ng-click="shift1()">1st Shift</a>
															<div role="separator" class="dropdown-divider"></div>

															<a class="dropdown-item fuse-ripple-ready"
																ng-click="shift2()">2nd Shift</a>
														</div>
													</div> -->
													<!-- <div class="labels"
														ng-if="processOrder.status.statusId !=8">

														<div class="label badge badge-danger">Not Required
														</div>

														<div class="label badge badge-danger">
                                                                        Blender Error
                                                                    </div>
													</div> -->
													 <!-- <script>
														$(".dropdown-menu a")
																.click(
																		function() {
																			$(
																					this)
																					.parents(
																							".dropdown")
																					.find(
																							'.btn')
																					.html(
																							$(
																									this)
																									.text()
																									+ ' <span class="caret"></span>');
																			$(
																					this)
																					.parents(
																							".dropdown")
																					.find(
																							'.btn')
																					.val(
																							$(
																									this)
																									.data(
																											'value'));
																		});
													</script> -->
												</td>
												<td>
													<div ng-repeat="ListOfUser in ListOfUsers" ng-if="processOrder.isSelected !=1" >
														<div class="form-check">
															<label class="form-check-label"> <input
																class="form-check-input" type="checkbox" value=""
																ng-click="toggleSelection(ListOfUser)"> <span
																class="checkbox-icon"></span> <span
																class="form-check-description icores">{{ListOfUser.userName}}</span>
															</label>

														</div>
														</div>
														<div class="labels"
														ng-if="processOrder.isSelected ==1"">

														<div class="label badge badge-success">Selected
														</div>

														<!-- <div class="label badge badge-danger">
                                                                        Blender Error
                                                                    </div> -->
													</div>
												</td>


												<td>
													<button type="button"
														class="btn btn-secondary fuse-ripple-ready"
														ng-click="initiateOrder(processOrder)">Initiate</button>
												</td>


											</tr>
											<tr class="explode hide">
												<td colspan="4"><span class="barcode-des">Packing Process
														Order</span> 
														<img class="img-fluid"
													src="http://10.174.84.35:8080/static/{{processOrder.processorderPckgNumber}}.png">
												</td>
												<td colspan="4"><span class="barcode-des">
														Product No</span> 
														<img class="img-fluid" src="http://10.174.84.35:8080/static/{{processOrder.productNumber}}.png">
													</td>
												<td colspan="4"><span class="barcode-des">Batch
														No</span>
														<img class="img-fluid"
													src="http://10.174.84.35:8080/static/{{processOrder.batchNumber}}.png">
													</td>
											</tr>


										</tbody>


	

									</table>
									<!-- content ends here -->

								</div>
							</div>
						</div>


						<!-- add user form ends here -->

					</div>


				</div>
			</div>
			<!-- content ends here -->
		</div>

	</div>
</div>

<script>
    $(document).ready(function() {
    $('#sample-data-table').DataTable({
        responsive : true
    })

   /* $('#sample-data-table').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'print'
        ]
    } );*/
} 



);
</script>

