<div class="content pageup" ng-app="App">
	<div id="project-dashboard" class="page-layout simple  tabbed">

		<!-- content stats here  -->
		<div class="page-content">

			<div class="tab-content">
				<div class="tab-pane fade show active" id="home-tab-pane"
					role="tabpanel" aria-labelledby="home-tab">
					<!-- add user form -->
					<div class="tab-pane fade show active" id="home-tab-pane"
						role="tabpanel" aria-labelledby="home-tab">
						<div class="tab-pane fade show active" id="home-tab-pane"
							role="tabpanel" aria-labelledby="home-tab">
							<div class="row">

								<div class="col-md-3" ng-repeat="reactor in reactors">
									<div class="widget widget5 card bg-deep-purple-500 text-auto">
										<div
											class="widget-header pl-4 pr-2 row no-gutters align-items-center justify-content-between">
											<div class="col">
												<div class="row no-gutters align-items-center p-2">
													<i class="icon-factory mr-2 "></i> <span class="h6">
														Reactor {{reactor.reactorName}}</span>
												</div>
											</div>

										</div>
										<div class="space2x"></div>
										<div class="row">
											<div class="col-md-12 "></div>
											<div class="col-md-12 widget-divider-right ">
												<div class="widget-content  align-items-center p-3 ">
													<p>Thershold temperature</p>
													<p>
														<label class="h5" ng-model="threashold">{{reactor.maxThreashold}}
														</label><span style="font-size: 1.5em;"> &#176;C </span>
														<!-- <input type="text" class="form-control" ng-model="threashold"> -->
														<button type="button"
															class="btn btn-icon  fuse-ripple-ready "
															ng-click="edit(reactor)" data-placement="right"
															data-toggle="modal" data-target="#exampleModalLive1">
															<i class=" text-white-500  icon-pencil-circle"></i>
														</button>

														<button type="button"
															class="btn btn-secondary  fuse-ripple-ready hide"
															id="save">Save</button>

													</p>
												</div>
											</div>

										</div>
										<!-- row ends here -->

									</div>

								</div>
							</div>
						</div>

						<script>
$('#ale').click(function(){

$('#ale').hide();

$('#save').show();

    var name = $('#fullname').text();
    $('#fullname').html('');
    $('<input></input>')
        .attr({
            'type': 'text',
            'name': 'fname',
            'id': 'txt_fullname',
            'size': '20',
            'value': name
        })
        .appendTo('#fullname');
    $('#txt_fullname').focus();
});

$(document).on('blur','#txt_fullname', function(){
    var name = $(this).val();
    //alert('Make an AJAX call and pass this parameter >> name=' + name);
    $('#fullname').text(name);
    $('#ale').show();

$('#save').hide();






});





</script>

						<!-- add user form -->

						<!-- <div class="space1x"></div> -->
						<div class=" widget widget-7 card  ">
							<div class="description bg-purble-custom-100  ">

								<div class="container">
									<div class="row">
										<div class="col-md-6">
											<div class="description-text ">
												<h5 class="text-white-500">
													<span class="text-white-500 icon-format-page-break"></span>
													Re-Packing Process Orders for RM Posting
												</h5>
											</div>

										</div>
										<div class="col-md-6 "></div>
									</div>

								</div>


							</div>
							<!-- filter button -->
							<div class="widget-content p-4">

								<!-- <div ng-if="processOrderListForInventory.length == 0"><b> No process Orders for Inventory Check</b></div> -->


								<div ng-if="processOrderListForInventory.length == 0"
									class="widget-content p-4">
									<!-- the real content inside widger -->
									<div id="exampleAccordion" data-children=".item">
										<div class="item">
											<div class="linkshow" style="color: white !important;">
												<a class="nav-link ripple fuse-ripple-ready collapsed">
													<b> No Re-Packing Process Orders for RM Posting</b>
												</a>
											</div>
										</div>
										<div class="space2x"></div>
									</div>
								</div>


								<div ng-if="processOrderListForInventory.length != 0">
									<!-- the real content inside widger -->
									<table id="sample-data-table "
										class="table table table-responsive optable">
										<thead class="table-inverse">
											<tr>
												<th class="secondary-text">
													<div class="table-header">
														<span class="column-title">Batch Date </span>
													</div>
												</th>

												<th class="secondary-text">
													<div class="table-header">
														<span class="column-title">Packing Process Order</span>
													</div>
												</th>
												<th class="secondary-text">
													<div class="table-header">
														<span class="column-title">Batch Number</span>
													</div>
												</th>
												<th class="secondary-text">
													<div class="table-header">
														<span class="column-title">Material Number</span>
													</div>
												</th>
												<th class="secondary-text">
													<div class="table-header">
														<span class="column-title">Material Memo</span>
													</div>
												</th>



												<th class="secondary-text">
													<div class="table-header">
														<span class="column-title">Quantity</span>
													</div>
												</th>



												<th class="secondary-text"><span class="column-title">Status</span>

												</th>
												<th class="secondary-text"><span class="column-title">Start
														RM Posting</span></th>

											</tr>
										</thead>
										<tbody>




											<tr ng-repeat="pendingOrder in processOrderListForInventory">
												<td>{{pendingOrder.batchDate}}</td>
												<td><b>{{pendingOrder.processorderPckgNumber}}</b></td>
												<td>{{pendingOrder.batchNumber}}</td>
												<td>{{pendingOrder.productNumber}}</td>
												<td>{{pendingOrder.materialMemo}}</td>
												<td>{{pendingOrder.totalQuantity}}</td>
												<td><div class="labels">

														<div class="label badge badge-success">
															{{pendingOrder.status.statusDescription}}</div>

														<!-- <div class="label badge badge-danger">
                                                                        Blender Error
                                                                    </div> -->
													</div></td>
												<td><button type="button"
														class="btn bg-purble-custom-100 text-white-500 fuse-ripple-ready"
														ng-click="initiateInventory(pendingOrder.processorderPckgNumber)">Initiate
														RM Posting</button></td>
												<td><script>$(".dropdown-menu a").click(function(){
  $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
  $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
});</script></td>
											</tr>








										</tbody>
									</table>

								</div>
								<script type="text/javascript">
                                                    $('#sample-data-table').DataTable({
                                                    responsive: true
                                                    });
                                                    </script>

								<!-- the real content ends here  -->
							</div>


						</div>
					</div>

					<!-- add user form ends here -->
				</div>
			</div>
		</div>
		<!-- content ends here -->
	</div>
	<script type="text/javascript"
		src="../assets/js/apps/dashboard/project.js"></script>
</div>
