<div class="content" ng-App="App">
 

  <div class="modal show" id="myModal" role="dialog">
    <div class="modal-dialog" >
    
      <!-- Modal content-->
      <div class="modal-content">
       <div class="modal-header">
					<div class="row">
						<div class="col-md-3">
							<img src="img/64-64-ge.png" >	
						</div>
						<div class="col-md-6">
							
							<h3 align="center" class="style2">Tool Management</h3>
						</div>
						<div class="col-md-3">
							<img src="">
						</div>
					</div>
				</div>
        <div class="modal-body">
          <form role="form" ng-submit="checkLogin(user)">
		  <flash-message duration="5000"></flash-message>
		  
            <div class="form-group">
              <input type="text" class="form-control" id="usrname" placeholder="SSO ID" ng-model="user.ssoId" required>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="pass" placeholder="Enter password" ng-model="user.password" required>
            </div>
         
			<div class="col-sm-offset-4 col-sm-4">
			   <div class="form-group">
              <button type="submit" class="btn btn-block" style="background-color:#076cb4; color:white;" > Login</button>
			  </div>
			  </div>
          </form>
        </div>
		
     
      </div>
      
    </div>
  </div> 
</div>