.login_container{
background-color: white;
-webkit-box-shadow: 10px 10px 14px -4px rgba(0,0,0,0.11);
-moz-box-shadow: 10px 10px 14px -4px rgba(0,0,0,0.11);
box-shadow: 10px 10px 14px -4px rgba(0,0,0,0.11);
margin:auto;
vertical-align: middle;
margin-top: 50px;
}
.center{
    text-align: center;	
}

.link{
	
	
	color:blue;
text-decoration: underline;}


td{
   text-align:center!important;
	
}




.purple-textar{
	

}

.purple-btnsd {
     float: left;

        margin-top: 46px;
    
}

#project-dashboard .page-content .tab-content #home-tab-pane .widget-group .widget .widget-content .sub-title {
    font-weight: 500;
    font-size: 13px!important;
}

.icocent{
margin:auto;
text-align:center;
display:block;
	
	

}

.icores{
	font-size:12px;
	
	
}


.rejali{
	
	
	 right: 11px;
}
.tdside{
	
    color: #fff;
    background-color: #212529!important;

}
.linkbtn{
	
	
    display: block;
    text-align: center;
    margin-top: 9px;
    border: 1px solid #2780b1;
    padding: 5px;
}

.green{
	
	color:green;
	
	
}





.livetab > td {
    border: 1px solid #dfdfdf;
}




a.dropdown-item.fuse-ripple-ready:hover {
    background-color:#3e4684!important;
}
  .pagination>li>a, .pagination>li>span {
                           position: relative;
                           float: right;
                           padding: 6px 12px;
                           margin-left: 1px;
                           line-height: 1.42857143;
                           color: #428bca;
                           text-decoration: none;
                           background-color: #fff;
                           border: 1px solid #ddd;
                           }
                           .pagination>li>a:hover {
                           color: white;
                           text-decoration: none;
                           background-color: blue;
                           }


/* table  */






.fixme>table
{
	width:100%;
	
}

.fixme > thead
{
	display: block;
	width:100%;
	overflow: auto;
	

	
	
}



th.secondary-text {
    text-align: center;
}
th{
	
	
	text-align: center!important;
}


td{
	text-align: center;
	
}

.table-primary>th {
  background-color: #535456;
  color:white;	
}


.fixme > tbody
{
	display: block;
	width: 100%;
	height: 300px;
	overflow: auto;
	
}

.fixme > th, .fixme > td
{
	
	
	vertical-align: top;

}
tr.result-item.user.thead-white.table-border.ng-scope>td {
    font-size: 14px;
    padding: 22px;
    text-align: left!important;
}


/* table ends here */
.blue{
  border:2px solid #1ABC9C;
}

.blue thead{
  background:#1ABC9C;
}

.purple{
  border:2px solid #9B59B6;
}

.purple thead{
  background:#9B59B6;
}

thead{
  color:white;
}

th,td{
  text-align:center;
  padding:5px 0;
}

tbody tr:nth-child(even){
  background:#ECF0F1;
}

tbody tr:hover{
background:#BDC3C7;
  color:#000;
}

.fixed{
  top:0;
  position:fixed;
  width:auto;
  display:none;
  border:none;
}

.scrollMore{
  margin-top:600px;
}

.up{
  cursor:pointer;
}
/* table fiexd ends here */
/* Custom dropdown */
.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 10px; /* demo only */
}
.big {
  font-size: 1.2em;
}


.table-fixed thead {
  width: 97%;
}


.custom-dropdown select {
  background-color: #2196f3;
  color: #fff;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em;	
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.custom-dropdown::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
  color: rgba(0,0,0,.3);
}

.custom-dropdown select[disabled]::after {
  color: rgba(0,0,0,.1);
}

.custom-dropdown::before {
  background-color: rgba(0,0,0,.15);
}

.custom-dropdown::after {
  color: rgba(0,0,0,.4);
}


.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
	
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}
 
.noti{
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 1px 6px;
 
  
}

.blink {
      animation: blink 2s steps(5, start) infinite;
      -webkit-animation: blink 1s steps(5, start) infinite;
      
    }
    @keyframes blink {
      to {
        visibility: hidden;
      }
    }
    @-webkit-keyframes blink {
      to {
        visibility: hidden;
      }
    }
 

button.btn.btn-light.btn-fab.btn-sm.fuse-ripple-ready {
    margin-right: 3px;
}

.sub-text-logo{
display:block;
	  font-size: 1rem;
	      line-height: 1;
    font-weight: 100;
}
.logo-text{
 margin-left: 16px;
    font-size: 2.6rem!important;
    font-weight: 600;

}


.error{
	
	    color: red!important;
    font-size: 14px;
    position: absolute;
    top: 45px;
    float: right;
    right: 0px;
}

.btn{
	
	font-size: 0.9em!important;
   
}



.white_button{
	    background: white;
    padding: 10px 21px;
    border: 1px solid #dfdfdf;
    font-size: 13px;
}

.dropdown-item:hover{
	
	color:white!important;
}



.white_button:hover{
	    background:#5964b5;
    padding: 10px 21px;
    border: 1px solid #5964b5;
    font-size: 13px;
    color:white!important;
    
    
}
.paddingme{
	
	    margin-top: -37px;
    padding-right: 24px;
}


.admin-pan{
	
  padding-top: 10px;
}


.col-md-1.edit-btn {
    display: inline;
}
.adli {
	
	    padding-top: 0;
    font-size: 1.6rem!important;
    line-height: normal;font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}



.error-down{
	
	    color: red;
    font-size: 14px;
    position: absolute;
 
    float: right;
   
}

.login_container h4{
padding-top: 20px;
padding-bottom: 20px;
color: #828181;
}
.no_login_container{
padding: 0px;
width: 100%;
background-size: cover;
}
.no_login_container img{
float: right;
}
.login_container_box{
padding: 44px 35px;
}
.thead-white{
background-color: white;
}
.space1x{
padding:20px 20px;
}
.space2x{
padding:10px 10px;
}
.right{
float: right;
}
.btn_default{
background-color: #3c4252;
padding: 10px 20px;
color: white;
font-size: 17px;
}
.description-text{
border-bottom: 1px solid rgba(0,0,0,.12);
}


.description-text h5{

    padding: 15px;
    padding-left: 10px;
    font-weight: 300;
    margin: 0px;

}


.table-fixedme tbody {
  height: 400px;
  overflow-y: auto;

}
.table-fixedme thead, .table-fixedme tbody{
display: inline-block;

}
.table-fixedme tbody td, th {
	
	width: 250px;
	text-align:center;
	
 
}
.table-fixedme  th{
	text-align:center;
	
	
}


.table-fixedme thead tr th {

}


.description-text-modal h5{

    padding: 15px;
    padding-left: 10px;
    font-weight: 300;
    margin: 0px;

}





.dataTables_wrapper .dataTables_filter input {
margin-left: .5em;
border: 1px solid rgba(0,0,0,.12);
padding: 4px 8px;
}
.white{
color: white!important;
}
.red{
color: red!important;
}
.push_right{
float: right;
}
.push_left {
float: left;
}
.space_down{
margin-top: 40px;
}
.breadcrumb{
padding-top: 20px;
}
.list_group{

padding: 10px!important;
}
.rawborder{
border: 1px solid #d9dadb;
}
.rawborder p{
text-align: left;
/* display: none; */

}
.rawborder img{
text-align: right;
}

.subheading{
padding:10px;
}
.modal-header{
background-color: #e9ecef;
}


.bordertab{

border:1px solid #dfdfdf;
padding:20px;

}
.inline_button{
display: inline-block;
}
.linkshow a{
color: #3c4252;
text-decoration: none;
width: 100%;
font-size: 17PX;
color: white;
border-color: #3c4252;
}
.linkshow {
background-color: #5964B5;
    padding: 10px;

}
.space_width_05x{
width: 30px;
}
.space_width_1x{
width: 100px;
}
.space_width_3x{
width: 300px;
}
.temperature{
font-size: 1.6em!important;
margin-right: 11px;
font-weight: 200;
}
.temperatureimg img{
padding-right: 7px;
padding-left: 10px;

}
.date{
color: #8b8888;
font-size: 0.9em;
}
.wel{
float: left;
font-size: 2em;
font-weight: 100;
text-align: center;
margin-top: 14px;;
}
.name_ava{
font-size: 1.2em!important;
font-weight: bolder;
font-weight: 400;
}
.sub_ava
{
color: #8b8888;
}



.layout #wrapper>.aside>.aside-content-wrapper>.aside-content>#sidenav .nav-link.post_active{
    background-color: #3B427D;
    color: #fff;
}
.form-pad{

    padding-right:50px;
    padding-left: 50px; 
}

.table-header-grey {
    background-color: #cecece;
    color: #000;
}

.form-pad1x{

    padding-right:30px;
    padding-left: 30px; 
}





.no-bg{

    background-color: white;
}


.table-border-grey{
background: #fafafa;
    
}

.table-border{


/*      */
    position: relative;
      border-left: 1px solid rgba(0,0,0,0);
      border-right: 1px solid rgba(0,0,0,0);
       
    border-top: 1px solid rgba(0,0,0,0);
    border-bottom: 1px solid rgba(0,0,0,.12);
    cursor: pointer;
}
.search_cus{

        margin-right: -0px!important;
    margin-top: -5px!important;



}

.des_fixed{

       position: fixed;
    z-index: 9;

   width: 81.6%; 
}



.filter{
float: right;
    padding-top: 20px;

}


.filter1x {
    float: right;
    padding-top: 14px;
}

.filter1x {
opacity: 0.9;

}
.statuscheck{

background-color: #C5C6CB;
border-bottom:1px solid white;
}


.filter1x:hover {
opacity: 1;

}






.pop-over-def{

    will-change: transform;position: absolute;transform: translate3d(236px, 14px, 0px)!important; top: 0px;left: 0px;
}



/* this content is for modal/popup */
.hide{

    display: none;
}

/* <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.min.js"> </script> */

.center{

text-align: center;
display: block;
 
}


.pageup{

    margin-top: 6.4rem;
}


.card1x{

position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    -webkit-border-radius: 0;
    border-radius: 0;

}


.reddot{

background-color: red;
width: 200px;
height: 20px;


}


.bell{

width: 25px;
height: 25px;



}


.unstyled li{

border-bottom: 1px solid #cccccc;

padding-top: 20px;
text-decoration: none;
list-style: none;

    padding-bottom: 13px;


}
.unstyled {

  
color: white;
    padding: 0px;

}

.post_active {
	background-color:#272d5f;
	
	
}

.unstyled li{

    background-color:white;
    padding: 10px;



}
.active_pop a {

  
    color:white!important;
}
.active_pop {

    background-color:#979ed4!important;
    
}

.popover-body {
    padding: 0px 0px!important;
    color: #212529;
}

.popover{

border: 1px solid #dfdfdf;
}


.unstyled :hover{

    background-color: #5964B5;
color: white;
text-decoration: none;


}


.inline{

    display:inline-block;
}


.tagline{

   color: #8c8c8c;
    margin-top: -9px;
    padding-left: 35px;


}
.header_wid{

    border-bottom: 1px solid #dcdada;
}

.header_wid_icons{
 text-align: center;
 vertical-align: middle;
margin: auto;

}



.pageup1x{

    margin-top: 4.4rem;
}

.card-pro-head{


}


/* carosel here */

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 8px!important;
    height: 8px!important;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #3E4684!important;
}
.link-in a{

font-size: 15px;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    margin-left: 11px;
    margin-top: 11px;

}


.fademe{

background-color: rgba(255, 255, 255, 0.2);
padding:20px;

}


.link-in a : hover{

color: red!important;
/* opacity:0.5; */



}




.boxsuez{

width: 10px;
height: 10px;

}

#bg-green-600{
background-color: #43A047!important;
color:#fff!important;


}


#bg-yellow-600{
background-color: #e5c129!important;
color:#000!important;

}




#bg-white-600{
background-color: #c5c6cb!important;


}

#bg-white-600 p,i{

color:#000;

}



#bg-red-600{
background-color: #E53935!important;
color:#fff!important;

}

#bg-red-600 p,i{

color:#fff;

}
.pushdown{

       margin-top: 23px;
}

.headline{

    font-weight: 200;
    padding-bottom: 5px;
   

}

.underline{

     border-bottom: 1px solid #dfdfdf;
}

.divider-box{

    border-right: 2px solid red;

    
}
.search-border{

    margin-left: .5em!important;
    border: 1px solid rgba(0, 0, 0, .12)!important;
    padding: 4px 8px!important;
}


.checkbox-des{

font-size: 13px!important;
font-weight: 500;
}

.link{


    font-weight: 600;
}


.up{

    margin-top: 7px;
}

.boxdes{

        border: 1px solid #dfdfdf;
    background-color: white!important;
    padding: 5px;
    font-weight: 400;
    color: black;
}



#fileuploader{
width: 900px;
padding:50px;
background-color: white;
margin:auto;
text-align: center;
}



table.optable tr:hover {
    background-color: #a6afee!important;
  


}

.input-group-btn {
     position: relative; 
    font-size:0.9em;
    white-space: nowrap; 
}




table.optable a{
   
    color: black;



}


.widget-button{

   width: 100%;
   margin-top: 5px;

}

.widget-divider-right{

border-right: 1px solid rgba(255, 255, 255, 0.5);
text-align: center;

}

.widget-divider-center{

margin:auto;
text-align: center;

}
.widget-footer1x{


padding-left: 10px;
padding-bottom: 10px;
padding-top: 10px;
}


.form1x{



    padding-top: 1.6rem;
    margin-bottom: 1.6rem;

}


.right-divider{

    border-right:1px solid #dfdfdf;
}

.top-right-divider{
border-top:1px solid #dfdfdf;
    border-right:1px solid #dfdfdf;
}
.top-divider{
border-top:1px solid #dfdfdf;
  
}

.inline{
s

   display: block;
}

.link {
color: #5c6bc0;


}


.link:hover{
color:#3e4684;


}



/* form wizard */

#regForm {
 

}

#nextBtn{
font-family: Roboto, "Helvetica Neue", sans-serif;

}

/* Hide all steps by default: */
.tab {
  display: none;
}


#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(62, 70, 132);

  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5; 
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #5c6bc0;
}
.circle
{
background-color: #5e6ab1;
    width: 30px;
    height: 30px;
    padding: 2px;


}
.arrow{
top: 71px;    right: 56px;
    position: absolute;
    z-index: 1;

}
.arrow1{
top: 100px;    right:0px;
    position: absolute;
    z-index: 1;

}

.right{

    float:right;
}

.owl_block{
        padding-top: 50px;
}


.barcode-des{

display: block;

padding-bottom: 10px;

}



.top-nav{

    background-color: white;
    margin-top: 60px;
}
.top-nav ul{

    list-style-type: none; 

    margin:0;
    padding: 0;
    overflow: hidden;

}


.top-nav li{

   float: left;

}


.br-break{

   border-right: 1px solid  #dfdfdf;
   height: 60%;

}
.top-nav li a{


    font-size: 1.2em;
    padding-right: 20px;
  


}

.or{
background-color: #aaa9a9;
    /* height: 73px; */
    /* width: 34px; */
    border-radius: 24px;
    padding: 3px 6px;
    text-align: center;
    /* margin-top: 30px; */
    color: white;
    text-align: center;
    font-size: 1.2em;
}


.custom-select-up{

        margin-top: 20px;
}
   
.label-custom{


font-size: 15.2px;

}


    .box-card{

    height: 100%;
    width: 100%;
   
    color: white;
    font-size: 1em;
    margin: 6px;
   
  


    }



.box-main{

       
    border: 0.5px solid #c7c7c7;
    padding: 21px;
}



.myclass{
color:#66bb6a!important;
}


.dropme{


    background-color: rgba(255, 255, 255, 0.6);
    color: black!important;
    -moz-appearance: none;
    appearance: none;
    margin: auto;
    text-align: center;
    display: inherit;
    margin-bottom: 18px;
    
}


.drop-custom{
  font-size: 1.2em;
    margin-top: -12px;
}


.box-inside{
 text-align: justify; display: block; padding-left: 20px;
 word-wrap: break-word;
 width: 100%;
}

.cards{
margin-right: 2px;

}

.timeline {
    list-style: none;
    padding: 10px 0;
    position: relative;
    font-weight: 300;
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content:" ";
    width: 2px;
    background: #d6dcd7!important;
           left: 7.2%;
    margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 0px;
    position: relative;
    width: 93%;
    float: left;
    clear: left;
}
.timeline > li:before, .timeline > li:after {
    content:" ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li:before, .timeline > li:after {
    content:" ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li > .timeline-panel {
    width: calc(100% - 25px);
    width: -moz-calc(100% - 25px);
    width: -webkit-calc(100% - 25px);
    float: left;
    border: 1px solid #dcdcdc;
    background: #ffffff;
    position: relative;
}
.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #dcdcdc;
    border-right: 0 solid #dcdcdc;
    border-bottom: 15px solid transparent;
    content:" ";
}
.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #ffffff;
    border-right: 0 solid #ffffff;
    border-bottom: 14px solid transparent;
    content:" ";
}
.timeline > li > .timeline-badge {
    color: #ffffff;
    width: 24px;
    height: 24px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 16px;
    right: -12px;
    z-index: 100;
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-badge > a {
    color: #ffffff !important;
}
.timeline-badge a:hover {
    color: #dcdcdc !important;
}
.timeline-title {
    margin-top: 0;
    color: inherit;
}
.timeline-heading h4 {
    font-weight: 400;
    padding: 0 15px;
    color: #4679bd;
}

.timeline-body{
margin-top: 22px;


}

.timeline-body > p, .timeline-body > ul {
    padding: 10px 15px;
    margin-bottom: 0;
}
.timeline-footer {
    padding: 5px 15px;
    background-color:#f4f4f4;
}
.timeline-footer p { margin-bottom: 0; }
.timeline-footer > a {
    cursor: pointer;
    text-decoration: none;
}



.extracf h6{
	   
	
	font-size: 15px;
    padding-bottom: 2px;
    padding-right: 20px;
    margin-top: 0px;

}




.labelextra {
    left: 17px;
    border-bottom: 1px solid #978585; 
    margin-top: 10px;
    background: #fbfafa;
    padding-right: 20px;
    margin-right: 20px;
        padding-top: 8px;
    padding-bottom: 8px;
}

.padh h6{
	
	font-size:14px;
	padding-bottom: 2px;

}
.timeline > li.timeline-inverted {
    float: right;
    clear: right;
}
.timeline > li:nth-child(2) {

}
.timeline > li.timeline-inverted > .timeline-badge {
    left: -12px;
}
.no-float {
    float: none !important;
}

@media (max-width: 886px)  {
	thead.thead-inverse.reme {
       width: 1080px;
}
 table-fixedme{
 
 display:none;
 }

}



@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }
    ul.timeline > li {
        margin-bottom: 0px;
        position: relative;
        width:100%;
        float: left;
        clear: left;
    }
    ul.timeline > li > .timeline-panel {
        width: calc(100% - 65px);
        width: -moz-calc(100% - 65px);
        width: -webkit-calc(100% - 65px);
    }
    ul.timeline > li > .timeline-badge {
        left: 28px;
        margin-left: 0;
        top: 16px;
    }
    ul.timeline > li > .timeline-panel {
        float: right;
    }
    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }
    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
    .timeline > li.timeline-inverted {
        float: left;
        clear: left;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .timeline > li.timeline-inverted > .timeline-badge {
        left: 28px;
    }
}

.time{

        font-size: smaller;
    color: #868888;
}



.bordertab td{

  border:1px solid black;
}

.bordertab th{

  border:1px solid black;
}

.spacetab th, td { 
padding:10px;


}


main .notification i{
  width: 10em;
  height: 10em;
}
main .notification svg > path {
  fill: #FFFFFF;
}
main .notification--bell {
  animation: bell 2.2s linear infinite;
  transform-origin: 50% 0%;
}
main .notification--bellClapper {
  animation: bellClapper 2.2s 0.1s linear infinite;
}
main .notification--num {
position: absolute;
    top: 5%;
    left: 45%;
    font-size: 1.5rem;
    border-radius: 82%;
    width: 1.2em;
    height: 1.2em;
    background-color: #FF4C13;
    border: -4px solid #FF4C13;
    color: #FFFFFF;
    text-align: center;
    animation: notification 2.2s linear;
}

@keyframes bell {
  0%, 25%, 75%, 100% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(10deg);
  }
  45% {
    transform: rotate(-10deg);
  }
  55% {
    transform: rotate(8deg);
  }
  60% {
    transform: rotate(-8deg);
  }
}
@keyframes bellClapper {
  0%, 25%, 75%, 100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-0.15em);
  }
  45% {
    transform: translateX(0.15em);
  }
  55% {
    transform: translateX(-0.1em);
  }
  60% {
    transform: translateX(0.1em);
  }
}
@keyframes notification {
  0%, 25%, 75%, 100% {
    opacity: 1;
  }
  30%, 70% {
    opacity: 0;
  }
}



/* 
Generic Styling, for Desktops/Laptops 
*/
table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
.tableme tr:nth-of-type(odd) { 
  background: #eee; 
}
.tableme th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
.tableme td, th { 
  padding: 6px; 

  text-align: left; 
}


/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

.rejali{
	
	
	 right: 0px;
}
	

	.table-responsive {
    display: block;
    width: 747px;
      overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
     -webkit-overflow-scrolling: touch;
  overflow: auto;
}

	

	
} */



.listme ul{



    padding: 0px;
      
}

.listme li{ 


    list-style: none;
    background-color:#d8ddf5;
    padding: 20px;
    cursor:pointer;
}





.listme li:hover{ 

    background-color: #3E4684;
    color: white;
}



.popovers{

        margin-top: 62px;
    padding: 8px;
    /* background-color: #00FFFF; */
    /* width: 100px; */
    height: 350px;
    overflow: scroll;
    overflow-x: hidden;
}


.popovers::-webkit-scrollbar {
 width: 10px;
}

.popovers::-webkit-scrollbar-track {
    background-clip: content-box;   /* THIS IS IMPORTANT */

border-radius: 10px;
   border: 4px solid transparent;
background-color:rgba(255,2556,255,0.5);
}

.popovers::-webkit-scrollbar-thumb:vertical {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(86,66,145,0.5);
background-color:rgba(62,70,132,0.8);
height:100px;

}



/* multi select doropdown */
span.multiselect-native-select {
    position: absolute;
}
span.multiselect-native-select select {
    border: 0!important;
    clip: rect(0 0 0 0)!important;
    height: 1px!important;
    margin: -1px -1px -1px -3px!important;
    overflow: hidden!important;
    padding: 0!important;
    position: relative!important;
    width: 1px!important;
    left: 50%;
    top: 30px;
    z-index:1;
}
.multiselect-container {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0
}
.multiselect-container .input-group {
    margin: 5px
}
.multiselect-container>li {
    padding: 0
}
.multiselect-container>li>a.multiselect-all label {
    font-weight: 700
}
.multiselect-container>li.multiselect-group label {
    margin: 0;
    padding: 3px 20px 3px 20px;
    height: 100%;
    font-weight: 700
}
.multiselect-container>li.multiselect-group-clickable label {
    cursor: pointer
}
.multiselect-container>li>a {
    padding: 0
}
.multiselect-container>li>a>label {
    margin: 0;
    height: 100%;
    cursor: pointer;
    font-weight: 400;
    padding: 3px 0 3px 5px
}
.multiselect-container>li>a>label.radio, .multiselect-container>li>a>label.checkbox {
    margin: 0
}
.multiselect-container>li>a>label>input[type=checkbox] {
    margin-bottom: 5px
}
.btn-group>.btn-group:nth-child(2)>.multiselect.btn {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}
.form-inline .multiselect-container label.checkbox, .form-inline .multiselect-container label.radio {
    padding: 3px 20px 3px 40px
}
.form-inline .multiselect-container li a label.checkbox input[type=checkbox], .form-inline .multiselect-container li a label.radio input[type=radio] {
    margin-left: -20px;
    margin-right: 0
}
.multise ul{
	
	    position: relative!important;
    transform: translate3d(0px, 35px, 0px);
    top: -223px;
    left: 0px;
    will-change: transform;
   
    
}




.bell{
     
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    color: white;
    position: relative;
    right: 10px;
    top: -5px;
    /* z-index: 1; */

}

/* code upadted 5th feb dropdown */

.left{

left:75px!important

}



.inactive{
	
	background-color: #dad9d9!important;
}

.collapse{
	
	background-color: #363d78;
	
}


/* code added 3152018 */

.overflowsuez {
    /* display: none!important; */
    display: inline-block;
    width: 104px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-device-width: 1600px)  {


.box-inside {
    font-size: 13px;
    text-align: left;
}
.table-responsive {
   display: block;
    width: 100%;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
	
	
	}




@media only screen and (device-width: 768px) {

.rejali{
	
	
	 right: 11px;
}
	
	
 .login_container_box img{
	
width:90%;
	
}
	
.no_login_container img{
	
	 width: 100%;
    height:100%;
    background-size:cover;
}	
   
			
	
	
	
	
.admin-pan{
	
  padding-top:0px;
}
	
	.yearme{
	    margin-top: 2px;}
	
	
.box-inside {
    font-size: 13px;
    text-align: left;
}
.table-responsive {

    width: 100%;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

}





@media only screen and (device-width: 1024px) {
	.col-md-1.edit-btn {
    display: block;
}
button.btn.edit-btnup.btn-light.btn-fab.btn-sm.fuse-ripple-ready {
    margin-top: 6px;
}
.box-inside {
    font-size: 13px;
    text-align: left;
}
.table-responsive {
    display: block;
    width: 747px;
      overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
     -webkit-overflow-scrolling: touch;
  overflow: auto;
}


@media only screen and (device-width: 1073px) {
.box-inside {
    font-size: 13px;
    text-align: left;
}
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}


}








