

<div class="container" ng-app="myApp">
	<div class="row login_container">
		<div class="col-md-4 col-sm-6  login_container_box">
			<img  src="assets/images/logos/logo.png">
			<h5 style="padding-top: 20px;">Login</h5></br>
			<form name="myForm" novalidate>

				<div class="preview-elements" >
					<div class="form-group">
						<label for="exampleInputEmail1">SSOID</label> <input type="text"  tabindex="1"
							class="form-control" id="exampleInputEmail1"
							aria-describedby="emailHelp" name="ssoid" ng-model="user.ssoid"
							placeholder="Enter your SSOID" required> <span
							style="color: red"
							ng-show="myForm.ssoid.$dirty && myForm.ssoid.$invalid"> <span
							ng-show="myForm.ssoid.$error.required"class="error-down" >SSOID is required.</span>
							<!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.
                        </small> -->
					</div>

					<div class="form-group" style="padding:0px;">
						<label for="exampleInputPassword1">Password</label> <input tabindex="2"
							type="password"  class="form-control md-has-value"
							 name="password" placeholder="Enter your Password"
							ng-model="user.password" id="exampleInputPassword1"
           class="form-control"
           type="password"
           value="password"
           data-toggle="password"  required >
           
						<span ng-show="myForm.password.$dirty && myForm.password.$invalid" >
							<span ng-show="myForm.password.$error.required" class="error-down">Password is required.</span> <span></span>
					</div>

					<div ng-show="isLabelVisible" style="color: red;     margin-top: -31px;">Invalid
						UserName/Password Combination</div>
						
					<div ng-show="isLabelVisible1" style="color: red;">User is deactivated</div>
				</div>
				

				<button  tabindex="3" type="button"  class="btn btn-secondary fuse-ripple-ready"
					ng-click="checkLogin(user)" >Log in</button>
		</div>
		</form>
		<div class="col-sm-6  col-md-8 no_login_container">
			<img src="assets/images/backgrounds/bg.png" style="
    width: 100%;
    height:100%;
    background-size:cover;
			">
		</div>
	</div>
</div>

<script src="assets/js/bootstrap-show-password.js"></script>
