
<div id="exampleModalLive23" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-purble-custom-100 text-white  ">
                <h5 class="modal-title" id="exampleModalLiveLabel">Add Role</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
        
       <div ng-repeat="role in allRoles" class="form-check" style="font-size: 15px;">
														<label class="form-check-label"> <input
															class="form-check-input" type="checkbox"
															ng-click="toggleSelection(role)">
															<span class="checkbox-icon fuse-ripple-ready"></span> <span
															class="form-check-description">{{ role.roleName }}</span>
														</label>
													</div>           

            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                <button type="button" class="btn btn-primary" data-dismiss="modal">Save </button>
            </div>
        </div>
    </div>
</div>



<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/css/bootstrap-formhelpers.min.css"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script src="../assets/js/bootstrap-formhelpers.js"></script>

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
	integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
	crossorigin="anonymous"></script>

      <script src="../assets/js/multiselect.js"> </script>


<div ng-app="myAdmin" class="">
	<div class="content pageup">
		<div id="project-dashboard"
			class="page-layout simple right-sidebar tabbed">

			<!-- content stats here  -->

			<div class="page-content">
				<div class="tab-content">
					<div class="tab-pane fade show active" id="home-tab-pane"
						role="tabpanel" aria-labelledby="home-tab">
						<!-- add user form -->
						<div class="widget widget-2   card">
							<div class="description bg-purble-custom-100">
								<div class="description-text ">
									<h5 class="text-white-500">
										<span class="text-white-500 icon-account-multiple-plus"></span>
										Add User
									</h5>
								</div>
							</div>
							<div class="widget-content p-4">
								<div class="list-group">
									<form class="form-pad" name="userForm" novalidate>
										<div class="form-row">
									
											<div class="form-group col-md-6 "  >
												<label for="inputEmail4" class="col-form-label">User
													Name</label> <input type="text" name="userName"
													class="form-control" ng-model="userDetails.username"
													placeholder="Enter User Name" required> <span
													class="error"
													ng-show="userForm.userName.$error.required && userForm.userName.$touched ">Name
													is required.</span>
											</div>
											<div class=" form-group col-md-6"  >
												<label for="inputEmail4" class="col-form-label">SSO</label>
												<input type="text" name="sso" class="form-control" ng-pattern="/^[a-zA-Z0-9]{9,9}$/"
													ng-model="userDetails.ssoid" placeholder="Enter SSO"
													required> <span class="error"
													ng-show="userForm.sso.$error.required && userForm.sso.$touched">SSO
													is required.</span><span class="error-down"
													ng-show="userForm.sso.$dirty&&userForm.sso.$error.pattern">Length of SSO should be 9</span>
											</div>
											<div class=" form-group col-md-6">
												<label class="col-form-label">Email</label> <input
													type="text" name="email" class="form-control"
													ng-pattern="/^[a-zA-Z]+[a-zA-Z0-9._]+@[a-zA-Z]+\.[a-zA-Z.]{2,5}$/"
													ng-model="userDetails.email" placeholder="Enter Email"
													required> <span class="error"
													ng-show="userForm.email.$error.required && userForm.email.$touched">Email
													is required.</span> <span style="color: Red"
													ng-show="userForm.email.$dirty&&userForm.email.$error.pattern">Invalid Email
													 </span><br /> <br />
											</div>
											
											
											
											
											
											<div class="form-group col-md-6">
												<div class="form-row">								
												
													<div class=" col-md-12">													
													 <label for="inputState" class="col-form-label">Phone Number</label>
													    
														<input type="text" class="form-control bfh-phone" value="" ng-model="userDetails.phonenumber"
															data-format="+91 (ddd) dd-ddd-dd" required
														  style="border-bottom:0.1px solid #dfdfdf;
">

													</div>
												</div>
												<span class="error-down"
													ng-show="userForm.mobile.$error.required && userForm.mobile.$touched"">Mobile
													No Required!</span> <span style="color: Red" class="error"
													ng-show="userForm.mobile.$error.minlength">Mobile Number
													not less that 10 char.</span> <span style="color: Red"
													class="error" ng-show="userForm.mobile.$error.maxlength">Phone
													no not more than 11 char.</span> <br>
												<span class="error-down"
													ng-show="showPhone">Invalid Mobile Number
													</span>
											</div>
											
													<div class="form-group col-md-6 "  >

		
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLive23">
Add Roles
</button>

</button><span class="error-down" ng-show="showRole">Please select role</span>

		</div>
		
		<div class="form-group col-md-6 "  >
		<h6 class="text-purble"style="    border-bottom: 2px solid #d9dbe4;
    padding: 4px;
    width: 27%;" >Seleted Roles </h6>
			<ul >
			<li class="adli" ng-repeat="selects in selected">{{ selects.roleName }}</li>
			
			
			</ul>						
		
				</div>							
											
											
											
											<div class="form-group col-md-12">
												<label for="inputAddress" class="col-form-label">Address </label>
												<input type="text" name="address" class="form-control"
													ng-model="userDetails.address" placeholder="1234 Main St"
													> <!-- <span class="error"
													ng-show="userForm.address.$error.required && userForm.address.$touched">Address
													is required.</span> -->
											</div>


   <!-- <div class="form-row col-md-12">
                                                
                                                <div class="form-group col-md-8">
                                                    <label for="inputAddress2" class="col-form-label">Address 2</label>
                                                    <input type="text" class="form-control" ng-model="userDetails.address2" id="inputAddress2" placeholder="Apartment, studio, or floor" required>
                                                    
                                                </div>
                                                <div class="form-group col-md-4" style=" margin-top: 7px;">
                                                    <label for="inputState" class="col-form-label">Country</label>
                                                <select id="countries_states1" ng-change="getStateByCountry()" ng-model="userDetails.country" class="form-control bfh-countries" ></select>
                                                <span class="error-down"
													ng-show="showCountry">Please Select Country
													</span>
                                                
                                            </div>
                                        </div> -->

      <!-- <div class="form-row col-md-12">
                                                <div class="form-group col-md-4" style="    margin-top: 7px;">
                                                    <label for="inputState" class="col-form-label">State</label>
                                                <select id="state" class="form-control bfh-states"  ng-model="userDetails.state" ng-change="getState()" data-country="countries_states1" ></select>
                                                <span class="error-down"
													ng-show="showState">Please Select
													State</span>
                                            </div>
                                            <div class="form-group col-md-4">
                                              <label for="inputCity" class="col-form-label">City</label>
                                                <input type="text" name="city" class="form-control" ng-model="userDetails.city" id="inputCity" required>
                                                <span class="error-down"
													ng-show="userForm.city.$error.required && userForm.city.$touched">City
													is required.</span>
                                              
                                            </div>
                                            
                                           <div class="form-group col-md-4" >
												<label for="inputZip" class="col-form-label">
													Pincode / Zipcode</label> <input type="text" class="form-control"
													name="pincode" ng-pattern="/^[0-9]{1,12}$/"
													ng-model="userDetails.pincode" placeholder="Enter Pincode"
													required> <span class="error"
													ng-show="userForm.pincode.$error.required && userForm.pincode.$touched">Pincode
													is required.</span> <span class="error-down"
													ng-show="userForm.pincode.$dirty&&userForm.pincode.$error.pattern">Only
													Numbers Allowed and max length is 12</span>
											</div>
                                        </div> -->
											
										</div>
										<!-- endof form row -->
										<div class="form-row"></div>
										<div class="row">
										<div class="col-md-8 ">
												<flash-message class="flash-custom" duration="10000"></flash-message>
											</div> 
											<div class="col-md-2">
												<button type="submit"
													class="btn text-white-500 bg-blue-400 fuse-ripple-ready"
													ng-disabled="userForm.$invalid"
													ng-click="addUser(userDetails)">Submit</button>
											</div>
											<div class="col-md-2">
												<button type="submit"
													class="btn text-white-500 bg-purble-custom-100 fuse-ripple-ready"
													ng-click="refresh()">Reset</button>
											</div>
											
										</div>
									</form>
								</div>
							</div>
						</div>
						<!-- add user form ends here -->
						<!-- / WIDGET GROUP -->
					</div>
				</div>
			</div>
			<!-- content ends here -->
		</div>
	</div>

</div>
