<div class="content-wrapper" ng-app="myAdmin">
<div class="content">
        <div id="project-dashboard" class="page-layout simple  tabbed">
          <!-- content stats here  -->
          <div class="page-content">
            <div class="tab-content">
              <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab">
                <!-- add user form -->
                <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab">
                  <!-- add user form -->
                  <div class=" widget widget-7 card ">
                    <div class="description bg-purble-custom-100  ">
                      <div class="container">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="description-text ">
                              <h5 class="text-white-500">  <span class="text-white-500 icon-file-check"></span>To be filled before packing</h5>
                            </div>
                          </div>
                          <div class="col-md-5">
                          </div>
                          <div class="col-md-1 right">
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- filter button -->
                    <div class="widget-content p-4">
                      <table class="table table-bordered">
                        <thead class="thead-inverse ">
                          <th>S No</th>
                          <th>Process </th>
                          <th>Observations</th>
                          <th>Tick as applicable</th>
                        </tr>
                      </thead>
                      <tbody>

<tr class="bordertab">
  <td rowspan="8">1</td>
<td rowspan="7">Drums/ Pails/ Totes</td>
<td >Dents</td>
<td><div class="form-check form-check-inline">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1"  checked="checked"   value="option1"/>
                                <span class="checkbox-icon"></span>
                                <span class="form-check-description">Yes</span>
                              </label>
                            </div>
                            <div class="form-check form-check-inline">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2"/>
                                <span class="checkbox-icon"></span>
                                <span class="form-check-description">No</span>
                              </label>
                            </div></td>

</tr>


<tr class="bordertab">


<td>Is it for export? (Consult  Alagar for export)
Ensure Hazard Label, UN approved drums included</td>
<td><div class="form-check form-check-inline">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1"  checked="checked"   value="option1"/>
                                <span class="checkbox-icon"></span>
                                <span class="form-check-description">Yes</span>
                              </label>
                            </div>
                            <div class="form-check form-check-inline">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2"/>
                                <span class="checkbox-icon"></span>
                                <span class="form-check-description">No</span>
                              </label>
                            </div></td>

</tr>


<tr class="bordertab">
  <td >Paint/ Corrosion Spot</td>

<td><div class="form-check form-check-inline">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1"  checked="checked"   value="option1"/>
                                <span class="checkbox-icon"></span>
                                <span class="form-check-description">Yes</span>
                              </label>
                            </div>
                            <div class="form-check form-check-inline">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2"/>
                                <span class="checkbox-icon"></span>
                                <span class="form-check-description">No</span>
                              </label>
                            </div></td>

</tr>

<tr class="bordertab">
 
<td>Colour (HDPE-  Blue, Steel- Black)</td>
<td><div class="form-check form-check-inline">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1"  checked="checked"   value="option1"/>
                                <span class="checkbox-icon"></span>
                                <span class="form-check-description">Yes</span>
                              </label>
                            </div>
                            <div class="form-check form-check-inline">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2"/>
                                <span class="checkbox-icon"></span>
                                <span class="form-check-description">No</span>
                              </label>
                            </div></td>

</tr>

<tr class="bordertab">
  
<td>Caps (Check if with broken seals)</td>
<td><div class="form-check form-check-inline">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1"  checked="checked"   value="option1"/>
                                <span class="checkbox-icon"></span>
                                <span class="form-check-description">Yes</span>
                              </label>
                            </div>
                            <div class="form-check form-check-inline">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2"/>
                                <span class="checkbox-icon"></span>
                                <span class="form-check-description">No</span>
                              </label>
                            </div></td>

</tr>



<tr class="bordertab">

<td>Weight of the drums (Random check, fill weight in column)</td>
<td></td>

</tr>


<tr class="bordertab">
 
<td>Is it for P-3800, LT19 or DM? Is Tote resuse procedure followed?</td>

<td><div class="form-check form-check-inline">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1"  checked="checked"   value="option1"/>
                                <span class="checkbox-icon"></span>
                                <span class="form-check-description">Yes</span>
                              </label>
                            </div>
                            <div class="form-check form-check-inline">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2"/>
                                <span class="checkbox-icon"></span>
                                <span class="form-check-description">No</span>
                              </label>
                            </div></td>
</tr>


<tr class="bordertab">
  <td rowspan="">Pallet</td>
<td>Physical observation (Broken pallets)</td>

<td> <div class="form-check form-check-inline">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1"  checked="checked"   value="option1"/>
                                <span class="checkbox-icon"></span>
                                <span class="form-check-description">Yes</span>
                              </label>
                            </div>
                            <div class="form-check form-check-inline">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2"/>
                                <span class="checkbox-icon"></span>
                                <span class="form-check-description">No</span>
                              </label>
                            </div></td>
</tr>

                      
                      </tbody>
                    </table>
                  <div class="p-3">
                    
                  </div>
                <!-- text ends here -->
                <!-- content ends here -->
                <!-- the real content inside widger -->
              </div>
              </div>
              </div>
</div>
</div>
</div>
</div>
</div>

</div>