
<div class="content pageup" ng-app="myAdmin">
	<div id="project-dashboard"
		class="page-layout simple right-sidebar tabbed">
		<!-- content stats here  -->
		
		
	
		<div class="page-content container">
			<div class="tab-content ">
				<div class="tab-pane fade show active" id="home-tab-pane"
					role="tabpanel" aria-labelledby="home-tab">
					<!-- add user form -->


					<ul class="nav nav-tabs" id="myTab" role="tablist"
						ng-show="packaging" ng-if="packageLength != 0">
						<nav class="breadcrumb">
							
							<a class="breadcrumb-item white_button " ng-click="refresh()" style="text-decoration: none; text-transform: none;">
								
								 <span class="icon-arrow-left s-4

" style="padding-right: 7px;">
							</span><span class="Back">Back</span>
							</a>
							
						</nav>
					</ul>
					
				
					
					<div class="widget widget-7 card">

						<div class="description bg-purble-custom-100  ">

							<div class="container">
								<div class="row">
									<div class="col-md-12">
									
									<div class="col-md-6">
										<div class="description-text ">
											<h5 class="text-white-500">
												<span class="text-white-500 icon-box-shadow
"></span>
												Production list to associate
											</h5>
										</div>

									</div>
									<div class="col-md-6 "></div>
								</div></div>

							</div>


						</div>




						<div class="widget-content p-4">

							<!-- the real content inside widger -->
							<div class="row" ng-if=" productLength == 0">
								<div class="col-12">
									<div id="exampleAccordion" data-children=".item">
										<div class="item">
											<div class="linkshow" style="color: white !important;">
												<a class="nav-link ripple fuse-ripple-ready collapsed">
													<b>No Process Order To Associate</b>
												</a>
											</div>
										</div>
										
									</div>
								</div>
							</div>

							<div ng-show="production" ng-if="productLength != 0"
								class="tab-pane fade active show form-pad1x" id="users-tab-pane"
								role="tabpanel" aria-labelledby="users-tab" aria-expanded="true">
								<div
									class="result-info row no-gutters align-items-center justify-content-center justify-content-sm-between pb-4">


									<!-- buttion dropdown here -->

									<div class="col-md-12">
										<flash-message class="flash-custom" duration="5000"></flash-message>

									</div>

								</div>
								<div class="results">

									 <table class="table table-responsive optable">
										<thead class="thead-inverse">
											<tr>

												<th>Production Process Order</th>
												<th>Material</th>
												<th>Material Memo</th>
												<th class="text-left">Batch No.</th>
												<th>Total Qty.</th>
											</tr>

										</thead>
										<tbody class="table-border">
											<tr ng-repeat="productOrder in productOrders"
												class="result-item user thead-white table-border "
												ng-click="associateProduction(productOrder)">
												<td class="name"><b>{{productOrder.processorderProdNumber}}</b></td>
												<td class="position">{{productOrder.productTable.productNumber}}</td>
												<td>{{productOrder.productTable.productDescription}}</td>
												<td class="office">{{productOrder.batchNumber}}</td>
												<td class="age text-left">{{productOrder.totalQuantity}}
													KG</td>
												</div>
												</td>
											</tr>
										</tbody>
									</table> 
								</div>
							</div>



							<div ng-show="packaging" ng-if="packageLength != 0"
								class="tab-pane fade active show form-pad1x" id="users-tab-pane"
								role="tabpanel" aria-labelledby="users-tab" aria-expanded="true">
								<div
									class="result-info row no-gutters align-items-center justify-content-center justify-content-sm-between pb-4">


									<div class="col-md-1"></div>

									<!-- buttion dropdown here  -->

									<div class="col-md-2"></div>
									<!--  ends here  -->
								</div>
								<div class="col-md-12">
									<flash-message id="1" class="flash-custom" duration="5000"></flash-message>
								</div>

								<div class="results">


									<div class="row p-2">
										<div class="col-md-3">
											<p>Production Order : {{productProcess}}</p>

										</div>
										<div class="col-md-2">
											<p>Material : {{materialNumber}}</p>

										</div>
										<div class="col-md-4">
											<p>Material Memo : {{materialMemo}}</p>
										</div>

										<div class="col-md-3">
											<button type="button"
												class="btn btn-secondary fuse-ripple-ready"
												ng-click="association(productProcess)">Submit</button>


										</div>
									</div>

									<table class="table table-responsive ">
										<thead class="thead-inverse">
											<tr>


												<th class="text-left">Package Order</th>
												<th>Packing Material</th>
												<th>Packing Material Memo</th>
												<th>Wght/Pckg</th>

											</tr>
										</thead>
										<tbody class="table-border">
											<tr class="result-item user thead-white  table-border"' >

												<!-- 	<td class="name">{{productProcess}}</td>
												<td class="position">{{materialNumber}}</td>
												<td class="position">{{materialMemo}}</td> -->
												<td>
													<div ng-repeat="packageOrder in packageOrders"
														class="form-check" style="font-size: 15px;">
														<label class="form-check-label"> <input
															class="form-check-input" type="checkbox"
															ng-click="toggleSelection(packageOrder.processorderPckgNumber)">
															<span class="checkbox-icon fuse-ripple-ready"></span> <span
															class="form-check-description">{{packageOrder.processorderPckgNumber}}</span>
														</label>
													</div>


												</td>
												<td>
													<div ng-repeat="packageOrder in packageOrders"
														class="form-check" style="font-size: 15px;">
														<label class="form-check-label"> <input
															class="form-check-input" type="checkbox"
															ng-click="toggleSelection(packageOrder.processorderPckgNumber)">
															<span class=" fuse-ripple-ready"></span> <span
															class="form-check-description">{{packageOrder.sixmlNumber}}</span>
														</label>
													</div>
												</td>
												<td>
													<div ng-repeat="packageOrder in packageOrders"
														class="form-check" style="font-size: 15px;">
														<label class="form-check-label"> <input
															class="form-check-input" type="checkbox"
															ng-click="toggleSelection(packageOrder.processorderPckgNumber)">
															<span class="fuse-ripple-ready"></span> <span
															class="form-check-description">{{packageOrder.productName}}</span>
														</label>
													</div>


												</td>
												<td>
													<div ng-repeat="packageOrder in packageOrders"
														class="form-check" style="font-size: 15px;">
														<label class="form-check-label"> <input
															class="form-check-input" type="checkbox"
															ng-click="toggleSelection(packageOrder.processorderPckgNumber)">
															<span class=" fuse-ripple-ready"></span> <span
															class="form-check-description">{{packageOrder.wghtPckg}}</span>
														</label>
													</div>
												</td>

												</div>
												</td>
											</tr>
										</tbody>

									</table>
								</div>

							</div>
							<!-- the real content ends here  -->
						</div>
					</div>
					<!-- add user form ends here -->
					<!-- / WIDGET GROUP -->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- content ends here -->