<div class="content-wrapper" ng-app="myAdmin">

<div class="content pageup">
                <div id="project-dashboard" class="page-layout simple  tabbed">
                    
                    <!-- content stats here  -->
                    <div class="page-content">
                        
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab">
                                <!-- add user form -->
                                <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            
                                                </div>
                                            </div>


                                            <!-- add user form -->
                                            
                                          
                                            <div class=" widget widget-7 card  ">
                                                <div class="description bg-purble-custom-100  ">
                                                    
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="description-text ">
                                                                    <h5 class="text-white-500">  <span class="text-white-500 icon-delete-forever"></span>Delete Package Order</h5>
                                                                </div>
                                                                
                                                            </div>
                                                            <div class="col-md-6 ">
                                                                
                                                            
                                                                
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                    
                                                    
                                                </div>
                                                <!-- filter button -->
                                                <div class="widget-content p-4">
                                                
                                                <div class="row" ng-if=" packageOrdersForDeletion.length == 0" >
										<div class="col-12">
											<div id="exampleAccordion"  data-children=".item">
												<div class="item">
													<div class="linkshow" style="color: white !important;">
														<a class="nav-link ripple fuse-ripple-ready collapsed">
															<b>No Orders to Delete</b>
														</a>
													</div>
												</div>
												<div class="space2x"></div>
											</div>
										</div>
									</div>
                                                    
<div class="col-md-12 p-4">
                              <div id="sample-data-table_filter" class="dataTables_filter ">
                                 <label>Search:<input type="search"
                                    class="search-border " ng-model="Search"
                                    placeholder="Search" aria-controls="sample-data-table"></label>
                                                    
                                                    <!-- the real content inside widger -->
                                                    <div ng-if="packageOrdersForDeletion.length != 0">
                                                    <table   class="table" class="table table-responsive"  >
                                                        <thead class="thead-inverse">
                                                            <tr>
                                                            <th class="secondary-text">
                                                                    <div class="table-header">
                                                                        <span class="column-title"># </span>
                                                                    </div>
                                                                </th>
                                                                <th class="secondary-text">
                                                                    <div class="table-header">
                                                                        <span class="column-title">Batch Date </span>
                                                                    </div>
                                                                </th>
                                                                 <th class="secondary-text">
                                                                    <div class="table-header">
                                                                        <span class="column-title">Packing Order No </span>
                                                                    </div>
                                                                </th>
                                                                
                                                                 <th class="secondary-text">
                                                                    <div class="table-header">
                                                                        <span class="column-title">Batch Number</span>
                                                                    </div>
                                                                </th>
                                                                
                                                               
                                                               
                                                                <th class="secondary-text">
                                                                    <div class="table-header">
                                                                        <span class="column-title">Product No</span>
                                                                    </div>
                                                                </th>
                                                                  <th class="secondary-text">
                                                                    <div class="table-header">
                                                                        <span class="column-title">Product Name</span>
                                                                    </div>
                                                                </th>
                                                                <th class="secondary-text">
                                                                    <div class="table-header">
                                                                        <span class="column-title">Quantity</span>
                                                                    </div>
                                                                </th>
                                                                
                                                                
                                                                
                                                                <th class="secondary-text">
                                                                    <div class="table-header">
                                                                        <span class="column-title">Remarks</span>
                                                                    </div>
                                                                </th>
                                                                       
                                                                       
                                                                                                                                
                                                                <!-- <th class="secondary-text">
                                                                    <div class="table-header">
                                                                        <span class="column-title">Reactor</span>
                                                                    </div>
                                                                </th> -->

                                                                 <th class="secondary-text">
                                                                   
                                                                   
                                                                    
                                                                </th>
                                                                
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                           
                                                         
                                                            
                                                            
                                                            <tr dir-paginate="packingOrderForDeletion in packageOrdersForDeletion | filter : Search | itemsPerPage:5 "
                                                            >
                                                            <td>{{$index+1}}</td>
                                                                <td>{{packingOrderForDeletion.batchDate}}</td>
                                                                <td><b>{{packingOrderForDeletion.processorderPckgNumber}}</b></td>
                                                                <td>{{packingOrderForDeletion.batchNumber}}</td>
                                                                <td>{{packingOrderForDeletion.productNumber}}</td>
                                                                <td>{{packingOrderForDeletion.materialMemo}}</td>
                                                                <td>{{packingOrderForDeletion.processQuant}}</td>
                                                               
                                                                
                                                                
                                                               <td> <div class="form-group">
                                                               <label for="exampleFormControlTextarea1">Remarks</label>
                        <textarea class="form-control" id="remarks{{packingOrderForDeletion.processorderPckgNumber}}" rows="3"></textarea>
                        
                    </div>
                                                               </td>
                                                                
                                                                
                                                        <td> <button type="button"  ng-click="deletePackageOrder(packingOrderForDeletion.processorderPckgNumber)" class="btn btn-danger" data-toggle="modal" data-target="deleteModal">
Delete
</button>
                                                               </td>
                                                                                    
       
                                                            </tr>
                                                            
                                                            
                                                            
                                                            
                                                            
                                                            
                                                            
                                                            
                                                        </tbody>
                                                    </table>
                                                  
                                     
                                              
                                                  
                                            
                                                    </div>
                                               
                                                    
                                                    <!-- the real content ends here  -->
                                                </div>
                                                
                                            </div>
                                        </div>
                                        
                                        <!-- add user form ends here -->
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            
                                  
                                                    <nav aria-label="pagination" class="my-8">
                      <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" class="paddingme right"> 
                      </dir-pagination-controls>
                        <style>
                           .pagination>li>a, .pagination>li>span {
                           position: relative;
                           float: right;
                           padding: 6px 12px;
                           margin-left: 1px;
                           line-height: 1.42857143;
                           color: #428bca;
                           text-decoration: none;
                           background-color: #fff;
                           border: 1px solid #ddd;
                           }
                           .pagination>li>a:hover {
                           color: white;
                           text-decoration: none;
                           background-color: blue;
                           }
                        </style>
                     </nav>
                            
                            <!-- content ends here -->
                        </div>
                        
                        
                        <script type="text/javascript" src="../assets/js/apps/dashboard/project.js"></script>
                    </div>



</div>