
<div class="content pageup" ng-app="myAdmin">
	<div id="project-dashboard"
		class="page-layout simple right-sidebar tabbed">
		<!-- content stats here  -->
		
		
	
		<div class="page-content space1x">
			<div class=" ">
				<div class="tab-pane fade show active" id="home-tab-pane"
					role="tabpanel" aria-labelledby="home-tab">
					<!-- add user form -->


				
					
					<div class="widget widget-7 card">

						<div class="description bg-purble-custom-100  ">

							<div class="container">
								<div class="row">
									<div class="col-md-12">
									
									<div class="col-md-6">
										<div class="description-text ">
											<h5 class="text-white-500">
												<span class="text-white-500  icon-delete

												
"></span>
												Deleted Production Process Orders
											</h5>
										</div>

									</div>
									<div class="col-md-6 "></div>
								</div></div>

							</div>


						</div>




						<div class="widget-content p-4">

							<!-- the real content inside widger -->
							<div class="row" ng-if="deletedOrders.length == 0">
								<div class="col-12">
									<div id="exampleAccordion" data-children=".item">
										<div class="item">
											<div class="linkshow" style="color: white !important;">
												<a class="nav-link ripple fuse-ripple-ready collapsed">
													<b>No Deleted Process Order </b>
												</a>
											</div>
										</div>
										
									</div>
								</div>
							</div>

							<div 
								class="tab-pane fade active show form-pad1x" id="users-tab-pane"
								role="tabpanel" aria-labelledby="users-tab" aria-expanded="true">
								<div
									class="result-info row no-gutters align-items-center justify-content-center justify-content-sm-between pb-4">


									<!-- buttion dropdown here -->

									<div class="col-md-12">
										<flash-message class="flash-custom" duration="5000"></flash-message>

									</div>

								</div>
								<div class="col-md-4 p-4">
                              <div id="sample-data-table_filter" class="dataTables_filter ">
                                 <label>Search:<input type="search"
                                    class="search-border " ng-model="Search"
                                    placeholder="Search" aria-controls="sample-data-table"></label>
                              </div>
                           </div>
								<div class="results" ng-if="deletedOrders.length != 0">

									 <table class="table table-responsive optable fixme" >
										<thead class="thead-inverse">
											<tr>
                                                <th>Batch Date</th>
												<th>Production Process Order</th>
												<th>Material</th>
												<th>Batch Number</th>
												<th class="text-left">Total Quantity</th>
												<th>Volume</th>
												<th>Remarks</th>
							
											</tr>

										</thead>
										<tbody class="table-border">
											<tr dir-paginate="deletedOrder in deletedOrders | filter : Search | itemsPerPage:7"
												class="result-item user thead-white table-border">
												  
										
												
												
										<td class=""  style="width: 123px;" ><b>{{deletedOrder.batchDate}}</b></td>
												<td class=""   style="width: 151px;">{{deletedOrder.processorderPckgNumber}}</td>
												<td>{{deletedOrder.productNumber}}</td>
												<td class="office">{{deletedOrder.materialMemo}}</td>
												<td class=" ">{{deletedOrder.batchNumber}}</td>
												<td class=" " style="width: 178px; 
     padding-left: 78px;">{{deletedOrder.totalQuantity}}</td>
												<td class=" ">{{deletedOrder.volume}}</td>
												<td class=" ">{{deletedOrder.remarks}}</td>
												
												</td>
											</tr>
										</tbody>
									</table> 
									
								
									
								</div>
							</div>

							
							
							
							<!-- the real content ends here  -->
						</div>
					</div>
					<!-- add user form ends here -->
					<!-- / WIDGET GROUP -->
					
					
				</div>
			</div>
			
			
			
									
								
		</div>
		

									
							
	</div>
</div>
 <nav aria-label="pagination" class="my-8">
                        <dir-pagination-controls max-size="5" direction-links="true" class="paddingme right"
                           boundary-links="true"> </dir-pagination-controls>
                        <style>
                           .pagination>li>a, .pagination>li>span {
                           position: relative;
                           float: right;
                           padding: 6px 12px;
                           margin-left: 1px;
                           line-height: 1.42857143;
                           color: #428bca;
                           text-decoration: none;
                           background-color: #fff;
                           border: 1px solid #ddd;
                           }
                           .pagination>li>a:hover {
                           color: white;
                           text-decoration: none;
                           background-color: blue;
                           }
                        </style>
                     </nav>
<!-- content ends here -->