


<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/css/bootstrap-formhelpers.min.css"
	crossorigin="anonymous">
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
	<script>
$.noConflict();
// Code that uses other library's $ can follow here.
</script> -->
<script src="../assets/js/bootstrap-formhelpers.js"></script>

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
	integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
	crossorigin="anonymous"></script>

<div class="content-wrapper" ng-app="myAdmin">


<style>
tr.result-item.user.thead-white.table-border.ng-scope > td {
    padding: 0px!important;
}
</style>
	<!-- modal -->
	<div>
		<div id="editModal" class="modal fade" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header bg-purble-custom-100">
						<h5 class="modal-title text-white-500" id="exampleModalLabel">Edit
							User</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close" ng-click="removeModal()">

							<span aria-hidden="true"><i
								class="text-white-500 icon-close"></i></span>
						</button>

					</div>
					<div class="modal-body">
						<form class="form-pad1x" name="userForm">
							<div class="form-row">
								<div class="form-group col-md-12">
									<label for="inputEmail4" class="col-form-label"
										style="padding-bottom: 19px;">Please Select the Roles</label>
									<div ng-repeat="role in allRoles" class="form-check"
										style="font-size: 15px;">
										<label class="form-check-label"> <input
											class="form-check-input" type="checkbox"
											ng-click="toggleRoles(role.roleName)"
											ng-checked="findIt(role.roleName)"> <span
											class="checkbox-icon fuse-ripple-ready"></span> <span
											class="form-check-description">{{role.roleName}}</span>
										</label>
									</div>
									<!-- <div ng-repeat="role in allRoles" class="form-check" style="font-size: 15px;">
									       <input type="checkbox" ng-checked="findIt(role.name)">{{role.roleName}}
									       <input type="checkbox" ng-checked="response.indexOf(role.roleId) !== -1" id="{{role.roleId}}" ng-model="selectedList[role.roleId]">{{ role.roleName }}
									       <label for="{{role.roleId}}">{{role.roleId}}</label>
														<label class="form-check-label"> <input
															class="form-check-input" type="checkbox"
															ng-click="toggleSelection(role)" ng-checked="findIt(role.roleId)">
															<span class="checkbox-icon fuse-ripple-ready"></span> <span
															class="form-check-description">{{ role.roleName }}</span>
														</label>
													</div> -->

								</div>

								<div class="form-group col-md-12">
									<label for="inputEmail4" class="col-form-label">User
										Name</label> <input type="text" class="form-control"
										ng-model="editForm.userName" placeholder="Enter User Name"
										required>
								</div>
								<div class="form-group col-md-12">
									<label for="inputPassword4" class="col-form-label">SSO</label>
									<input type="text" class="form-control inactive"
										ng-disabled="editForm.ssoid" ng-model="editForm.ssoid"
										placeholder="SSO" disabled>
								</div>
								<div class="form-group col-md-12">
									<label for="inputEmail4" class="col-form-label">Email</label> <input
										type="email" class="form-control" ng-model="editForm.email"
										name="email"
										ng-pattern="/^[a-zA-Z]+[a-zA-Z0-9._]+@[a-zA-Z]+\.[a-zA-Z.]{2,5}$/"
										placeholder="Email" required> <span class="error"
										ng-show="userForm.email.$error.required && userForm.email.$touched">Email
										is required.</span> <span style="color: Red"
										ng-show="userForm.email.$dirty&&userForm.email.$error.pattern">Invalid
										Email </span>
								</div>
							</div>

							<div class="form-row">
								<div class="form-group col-md-12">
									<label for="inputCity" class="col-form-label ">Mobile</label> <input
										type="text" class="form-control bfh-phone"
										data-format="+91 (ddd) dd-ddd-dd"
										ng-model="editForm.phoneNumber"
										style="border-bottom: 0.1px solid #dfdfdf;" required>
								</div>
								<span class="error-down" ng-show="showPhone">Invalid
									Phone Number </span>
							</div>
							<div class="form-row">

								<!--  replace your code here -->
								<flash-message class="flash-custom" duration="10000"></flash-message>
								<div class="alert  alert-success alert-dismissible fade show"
									role="alert" ng-if="updateSuccess">
									<button type="button" class="close" data-dismiss="alert"
										aria-label="Close">
										<span aria-hidden="true"><i class="icon-close"> </i></span>
									</button>
									<strong>{{updateSuccess}}</strong>
								</div>

								<!--  // replace your code here -->
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button"
							class="btn bg-purble-custom-100 text-white-500 fuse-ripple-ready"
							data-dismiss="modal" ng-click="update(editForm)">Submit</button>

					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- modal ends  -->


	<!--  reset password modal -->
	<div>
		<div id="Modalreset" class="modal fade" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLivereset" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header bg-purble-custom-100">
						<h5 class="modal-title text-white-500" id="exampleModalLabel">Rest
							Password</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">

							<span aria-hidden="true"><i
								class="text-white-500 icon-close"></i></span>
						</button>

					</div>
					<div class="modal-body">
						<form class="form-pad1x" name="userForm">
							<h5 ng-show="showHead">Are you sure you want to Rest
								password ?</h5>
							</br>
							<div ng-show="showSso" class="form-row">



								<label for="inputCity" class="col-form-label "> User
									Name : {{resetName}} </label> <input type="text" readonly=""
									class="form-control-plaintext">
							</div>

							</br>


							<div ng-show="showSso" class="form-row">
								<label for="inputCity" class="col-form-label "> SSO :
									{{resetSso}} </label> </br> <input type="text" readonly=""
									class="form-control-plaintext">

							</div>

							<p ng-show="showSuccess">New password is sent to your email</p>
							<p ng-show="showFailed">Please try again</p>
						</form>
					</div>
					<div class="modal-footer">

						<button ng-show="showYes"
							class="btn btn-secondary fuse-ripple-ready" type="button"
							ng-click="resetPassword()">Yes</button>
						<button ng-show="showNo" class="btn btn-danger fuse-ripple-ready "
							data-dismiss="modal" type="button">Close</button>

					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- reset password modal ends  -->


</div>

<div class="content pageup">
	<div id="project-dashboard" class="page-layout simple  tabbed">

		<!-- content stats here  -->
		<div class="page-content">

			<div class="tab-content">
				<div class="tab-pane fade show active" id="home-tab-pane"
					role="tabpanel" aria-labelledby="home-tab">
					<!-- add user form -->
					<div class="widget widget-7 card">
						<div class="description bg-purble-custom-100">
							<div class="description-text ">
								<h5 class="text-white-500">
									<span class="text-white-500 icon-account-edit"></span> Edit
									users
								</h5>
							</div>

						</div>
						<div class="widget-content p-4">

							<!-- the real content inside widger -->

							<div class="tab-pane fade active show form-pad1x"
								id="users-tab-pane" role="tabpanel" aria-labelledby="users-tab"
								aria-expanded="true">
								<div
									class="result-info row no-gutters align-items-center justify-content-center justify-content-sm-between pb-4">


									<div class="col-md-2">
										<span class="title font-weight-bold h5 mr-2">Users</span> <span
											ng-show="allUserCounts" class="result-count text-muted">
											<span>{{counts}}</span> <span>Results</span>
										</span> <span ng-show="deActiveCounts"
											class="result-count text-muted"> <span>{{deActiveLength}}</span>
											<span>Results</span>
										</span> <span ng-show="activeCounts" class="result-count text-muted">
											<span>{{activeLength}}</span> <span>Results</span>
										</span>
									</div>
									<div class="col-md-6">
										<form class="form-inline my-2 my-lg-0">
											<div class="search-bar">
												<div class="input-group">
													<span class="input-group-btn search_cus">
														<button type="button"
															class="btn btn-icon fuse-ripple-ready ">
															<i class="text-purble-custom-100   icon icon-magnify"></i>
														</button>
													</span> <input type="text" ng-model="search"
														class="search-input form-control" placeholder="Search.."
														aria-label="Search..">
												</div>
											</div>
											<div class="col-md-7">
												<!--  replace your code here -->
												<flash-message duration="5000"></flash-message>
												<div class="alert alert-warning alert-dismissible fade show"
													role="alert" ng-if="selectedUsers">
													<button type="button" class="close" data-dismiss="alert"
														aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
													<strong>{{selectedUsers}}</strong>
												</div>

												<div
													class="alert  alert-warning alert-dismissible fade show"
													role="alert" ng-if="missMatch">
													<button type="button" class="close" data-dismiss="alert"
														aria-label="Close">
														<span aria-hidden="true"><i class="icon-close">
														</i></span>
													</button>
													<strong>{{missMatch}}</strong>
												</div>

												<div
													class="alert  alert-warning alert-dismissible fade show"
													role="alert" ng-if="emptyUsers">
													<button type="button" class="close" data-dismiss="alert"
														aria-label="Close">
														<span aria-hidden="true"><i class="icon-close">
														</i></span>
													</button>
													<strong>{{emptyUsers}}</strong>
												</div>

												<div
													class="alert  alert-success alert-dismissible fade show"
													role="alert" ng-if="activation">
													<button type="button" class="close" data-dismiss="alert"
														aria-label="Close">
														<span aria-hidden="true"><i class="icon-close">
														</i></span>
													</button>
													<strong>{{activation}}</strong>
												</div>
												<!--  // replace your code here -->
											</div>
										</form>

									</div>

									<div class="col-md-2">
										<button type="button" class="btn btn-icon  fuse-ripple-ready "
											id="" data-toggle="dropdown" aria-haspopup="true"
											aria-expanded="false">
											Filter<i
												class=" text-purble-custom-100  icon-filter-outline
                                            ">
											</i>
										</button>

										<div class="dropdown-menu" aria-labelledby=""
											x-placement="bottom-start"
											style="position: absolute; transform: translate3d(0px, 36px, 0px); top: 0px; left: 0px; will-change: transform;">
											<button class="dropdown-item fuse-ripple-ready" type="button"
												ng-click=showAll()>All Users</button>
											<button class="dropdown-item fuse-ripple-ready" type="button"
												ng-click=active()>Active Users</button>
											<button class="dropdown-item fuse-ripple-ready" type="button"
												ng-click=deActive()>Deactive Users</button>

										</div>
									</div>

									<!-- buttion dropdown here  -->

									<div class="col-md-2">

										<div class="preview-elements">
											<div class="dropdown">
												<button
													class="btn btn-secondary  bg-purble-custom-100  dropdown-toggle fuse-ripple-ready"
													type="button" id="action" data-toggle="dropdown"
													aria-haspopup="true" aria-expanded="false">Action
												</button>

												<div class="dropdown-menu" aria-labelledby="action"
													x-placement="bottom-start"
													style="position: absolute; transform: translate3d(0px, 36px, 0px); top: 0px; left: 0px; will-change: transform;">
													<button class="dropdown-item fuse-ripple-ready"
														type="button" ng-click="activateUser()">Activate
													</button>
													<button class="dropdown-item fuse-ripple-ready"
														type="button" ng-click="deActivateUser()">Deactivate</button>

												</div>
											</div>
										</div>
									</div>

									<!--  ends here  -->
								</div>
								<div class="results">


									<!-- <p id="multiline-snackbar" >Multiline</p> -->


									<table class="table table-responsive ">
										<thead class="table-header-grey thead-inverse">
											<tr>
												<th></th>
												<th class="text-left">Name</th>	
												<th>SSO</th>
												<th class="text-left">Role</th>
												<th>Email</th>
												<th class="" >Contact
													No.</th>

												<th class="text-left">Status</th>
												<th style="text-align:center" >Action</th>

											</tr>
										</thead>
										<tbody ng-show="AllUsers">
											<tr
												dir-paginate="user in allUsers | filter: search | itemsPerPage:5"
												class="result-item user thead-white table-border">
												<td><label
													class="col-auto custom-control custom-checkbox"> <input
														type="checkbox" class="custom-control-input"
														ng-click="toggleSelection(user)"> <span
														class="custom-control-indicator fuse-ripple-ready"></span>
												</label></td>
												<td class="name">{{user.userName}}</td>
												<td class="position">{{user.ssoid}}</td>
												<td class="office">{{user.role.roleName}}</td>
												<td class="age text-left">{{user.email}}</td>
												<td class="start-date" style="width:1000px;">{{user.phoneNumber}}</td>
												<td class="email text-left"><div class="labels">
														<div
															ng-class="{'badge badge-danger': user.status.statusDescription === 'DeActivated','badge badge-success': user.status.statusDescription === 'Active'}">
															{{user.status.statusDescription}}</div>
													</div></td>

												<th style="width: 822px;">

													<div class="col-md-1 edit-btn" >
													
									
													
													
													
													<button type="button" class="btn btn-light btn-fab btn-sm fuse-ripple-ready"  data-toggle="modal"
																data-target="#editModal" data-toggle="tooltip" title="Edit this user"       ng-click=edit(user)>
																<i class="icon-account-edit"></i>
															</button>
													
															
													<button type="button" class="btn edit-btnup btn-light btn-fab btn-sm fuse-ripple-ready" data-toggle="modal"
																data-target="#Modalreset" data-toggle="tooltip" title="Reset Password" 
																ng-click="confirm(user.ssoid,user.userName,user.email)"  >
																<i class="icon-lock-reset"></i>
															</button>
				
													


													</div> 
												</th>
											</tr>
										</tbody>
										<tbody ng-show="ActiveUsers">
											<tr
												dir-paginate="active in allActiveUsers | filter: search | itemsPerPage:5"
												class="result-item user thead-white table-border">
												<td><label
													class="col-auto custom-control custom-checkbox"> <input
														type="checkbox" class="custom-control-input"
														ng-click="toggleSelection(active)"> <span
														class="custom-control-indicator fuse-ripple-ready"></span>
												</label></td>
												<td class="name">{{active.userName}}</td>
												<td class="position">{{active.ssoid}}</td>
												<td class="office">{{active.role.roleName}}</td>
												<td class="age text-left">{{active.email}}</td>

												<td class="start-date text-right"  style="width:1000px;">{{active.phoneNumber}}</td>

												<td class="email text-left"><div class="labels">

														<div
															ng-class="{'badge badge-danger': active.status.statusDescription === 'DeActivated','badge badge-success': active.status.statusDescription === 'Active'}">
															{{active.status.statusDescription}}</div>
													</div></td>
										
												
												
													<td style="width:1522px;">

													<div class="col-md-1 edit-btn" >
													
									
													
													
													
													<button type="button" class="btn btn-light btn-fab btn-sm fuse-ripple-ready"  data-toggle="modal"
																data-target="#editModal" data-toggle="tooltip" title="Edit this user"       ng-click=edit(user)>
																<i class="icon-account-edit"></i>
															</button>
													
															
													<button type="button" class="btn edit-btnup btn-light btn-fab btn-sm fuse-ripple-ready" data-toggle="modal"
																data-target="#Modalreset" data-toggle="tooltip" title="Reset Password" 
																ng-click="confirm(user.ssoid,user.userName,user.email)"  >
																<i class="icon-lock-reset"></i>
															</button>
				
													


													</div> 
												</td>

												</th>
											</tr>
										</tbody>
										<tbody ng-show="DeActiveUsers">
											<tr
												dir-paginate="deactive in alldeActiveUsers | filter: search | itemsPerPage:5"
												class="result-item user thead-white table-border">
												<td><label
													class="col-auto custom-control custom-checkbox"> <input
														type="checkbox" class="custom-control-input"
														ng-click="toggleSelection(deactive)"> <span
														class="custom-control-indicator fuse-ripple-ready"></span>
												</label></td>
												<td class="name">{{deactive.userName}}</td>
												<td class="position">{{deactive.ssoid}}</td>
												<td class="office">{{deactive.role.roleName}}</td>
												<td class="age text-left">{{deactive.email}}</td>

												<td class="start-date text-right"  style="width:1000px;">{{deactive.phoneNumber}}</td>

												<td class="email text-left">
													<div class="labels">

														<div
															ng-class="{'badge badge-danger': deactive.status.statusDescription === 'DeActivated','badge badge-success': deactive.status.statusDescription === 'Active'}">
															{{deactive.status.statusDescription}}</div>


													</div>
												</td>
										


												<td style="width: 822px;">

													<div class="col-md-1 edit-btn" >
													
									
													
													
													
													<button type="button" class="btn btn-light btn-fab btn-sm fuse-ripple-ready"  data-toggle="modal"
																data-target="#editModal" data-toggle="tooltip" title="Edit this user"       ng-click=edit(user)>
																<i class="icon-account-edit"></i>
															</button>
													
															
													<button type="button" class="btn edit-btnup btn-light btn-fab btn-sm fuse-ripple-ready" data-toggle="modal"
																data-target="#Modalreset" data-toggle="tooltip" title="Reset Password" 
																ng-click="confirm(user.ssoid,user.userName,user.email)"  >
																<i class="icon-lock-reset"></i>
															</button>
				
													


													</div> 
												</td>


 <!-- <button type="button" 
														class="btn bg-purble-custom-100 text-white-500 fuse-ripple-ready"
														data-toggle="modal" data-target="exampleModalLive1"
														>Reset 
														<i class=" text-purble-custom-100  icon-account-edit" ></i>
													</button> -->
												</th>
											</tr>
										</tbody>
									</table>
								</div>

								<nav aria-label="pagination" class="my-8 right">
									<dir-pagination-controls max-size="5" direction-links="true"
										boundary-links="true"> </dir-pagination-controls>


									<style>
.pagination>li>a, .pagination>li>span {
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #428bca;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
}

.pagination>li>a:hover {
	color: white;
	text-decoration: none;
	background-color: blue;
}
</style>
									<!-- <pagination 
  ng-model="currentPage"
  total-items="todos.length"
  max-size="maxSize"  
  boundary-links="true">
</pagination> -->
								</nav>
							</div>
							<!-- the real content ends here  -->
						</div>
					</div>
					<!-- add user form ends here -->
				</div>
			</div>
		</div>
		<!-- content ends here -->
	</div>
</div>