<div class="content-wrapper" ng-app="myAdmin">
<!-- modal -->
            <div id="exampleModalLive1" class="modal fade" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-purble-custom-100 text-white-500 description-text-modal ">
                            <h5 class="modal-title" id="exampleModalLabel"> <i class="text-white-500 icon-pencil-circle-outline
"></i>  Edit Threshold temperature for {{threashold.reactorName}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">x</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            
                            <div class=" form-group ">
                            <p ng-show="updated" class="text-green"  style="  text-align: center;font-size: 1.4em;padding-top: 20px;">Threshold temperature of Reactor {{threashold.reactorName}} is Successfully Updated</p>
                            <p ng-show="failed" class="text-red"  style="  text-align: center;font-size: 1.4em;padding-top: 20px;">Updating Reactor {{threashold.reactorName}} is Failed</p>
                            
                            <div ng-show="showText">
                            
												<label for="inputEmail4" class="col-form-label" style="padding-bottom:36px">Please Enter New Threshold temperature for {{threashold.reactorName}}

												</label>
												
												
												<div class="input-group col-md-6">
    
  
           	<input type="number"  class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" ng-model="maxThresh" placeholder="" required=""><span class="input-group-addon" id="basic-addon1" style="    font-size: 1.2em;">&#176;C</span>
</div>
											
											
											
												 <span class="error" ng-show="userForm.sso.$error.required &amp;&amp; userForm.sso.$touched">New Threshold temperature</span>
											</div>											
							</div>		
                        </div>
                        <div class="col-md-10 ">
												<flash-message class="flash-custom" duration="10000"></flash-message>
											</div> 
                        <div class="modal-footer">
                        
                            <button ng-show="showSave" type="button" class="btn btn-primary  bg-purble-custom-100 text-white-500 fuse-ripple-ready" ng-click="update(threashold)">Save</button>
                            <button ng-show="showClose" type="button" class="btn btn-primary  bg-purble-custom-100 text-white-500 fuse-ripple-ready" ng-click="close()" data-dismiss="modal">Close</button>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- modal ends  -->
	




<div class="content pageup">
                <div id="project-dashboard" class="page-layout simple  tabbed">
                    
                    <!-- content stats here  -->
                    <div class="page-content">
                        
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab">
                                <!-- add user form -->
                                <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab">
                                    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            
                                                <div class="col-md-3" ng-repeat ="reactor in reactors">
                                                    <div class="widget widget5 card bg-deep-purple-500 text-auto" >
                                                        <div class="widget-header pl-4 pr-2 row no-gutters align-items-center justify-content-between">
                                                            <div class="col">
                                                                <div class="row no-gutters align-items-center p-2">
                                                                    <i class="icon-factory mr-2 "></i>
                                                                    <span class="h6"> Reactor {{reactor.reactorName}}</span>
                                                                </div>
                                                            </div>
                                                            
                                                        </div>
                                                        <div class="space2x"></div>
                                                        <div class="row">
                                                            <div class="col-md-12 ">
                                                            </div>
                                                            <div class="col-md-12 widget-divider-right ">
                                                                <div class="widget-content  align-items-center p-3 ">
                                                                    <p>Thershold temperature</p><p>
                                               <label class="h5" ng-model="threashold" >{{reactor.maxThreashold}}  </label><span style="font-size: 1.5em;">	&#176;C </span>
                                               
                                            <button type="button" class="btn btn-icon  fuse-ripple-ready " ng-click ="edit(reactor)" data-placement="right" data-toggle="modal" data-target="#exampleModalLive1"  >
                                                                <i class=" text-white-500  icon-pencil-circle" ></i></button>

                                                             <button type="button" class="btn btn-secondary  fuse-ripple-ready hide" id="save" >
                                                        Save</button>

                                                                </p></div>
                                                            </div>
                                                            
                                                            </div> <!-- row ends here -->
                                                            
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>

<script>
$('#ale').click(function(){

$('#ale').hide();

$('#save').show();

    var name = $('#fullname').text();
    $('#fullname').html('');
    $('<input></input>')
        .attr({
            'type': 'text',
            'name': 'fname',
            'id': 'txt_fullname',
            'size': '20',
            'value': name
        })
        .appendTo('#fullname');
    $('#txt_fullname').focus();
});

$(document).on('blur','#txt_fullname', function(){
    var name = $(this).val();
    //alert('Make an AJAX call and pass this parameter >> name=' + name);
    $('#fullname').text(name);
    $('#ale').show();

$('#save').hide();






});





</script>

                                            <!-- add user form -->
                                            
                                            <div class="space1x"></div>
                                            <div class=" widget widget-7 card  ">
                                                <div class="description bg-purble-custom-100  ">
                                                    
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="description-text ">
                                                                    <h5 class="text-white-500">  <span class="text-white-500 icon-format-page-break"></span> Completed Process Orders</h5>
                                                                </div>
                                                                
                                                            </div>
                                                            <div class="col-md-6 ">
                                                                
                                                            
                                                                
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                    
                                                    
                                                </div>
                                                <!-- filter button -->
                                                <div class="widget-content p-4">
                                                
                                                <div class="row" ng-if=" productLength == 0" >
                                                
                                                
                                                
                                                <div class="container">
                                                <div class="row">
										<div class="col-md-3 p-4">


											<span class="title font-weight-bold h5 mr-2">Order</span> <span class="result-count text-muted"> <span ></span>
												<span>Results</span>
											</span>

										</div>
										<div class="col-md-5 p-4">


										</div>
										
											<!-- <div class="col-md-4 p-4" ng-if=" productLength != 0">		
								   <div id="sample-data-table_filter" class="dataTables_filter ">
                                 <label>Search:<input type="search" class="search-border ng-pristine ng-valid ng-empty ng-touched" ng-model="Search" placeholder="Search" aria-controls="sample-data-table"></label>
                              </div>
								</div> -->
										
										
										
										<!-- <div class="col-md-4 p-4">

											<div id="sample-data-table_filter" class="dataTables_filter ">
												<label>Search:<input type="search"
													class="search-border " placeholder="search"
													ng-model="Search" aria-controls="sample-data-table"></label>
											</div>
										</div> -->


									</div>
                                                
                                                </div>
                                                
                                                
                                                
                                                
                                                
                                                
										<div class="col-12">
											<div id="exampleAccordion"  data-children=".item">
												<div class="item">
													<div class="linkshow" style="color: white !important;">
														<a class="nav-link ripple fuse-ripple-ready collapsed">
															<b>No Completed Process Order</b>
														</a>
													</div>
												</div>
												<div class="space2x"></div>
											</div>
										</div>
									</div>
									
									<div class="col-md-4 p-4" >		
								   <div id="sample-data-table_filter" class="dataTables_filter ">
                                 <label>Search:<input type="search" class="search-border " ng-model="searchByPo" placeholder="Search" aria-controls="sample-data-table"></label>
                              </div>
								</div>
								
                                                    
                                                    <!-- the real content inside widger -->
                                                    <table ng-if=" productLength != 0 " class="table table-responsive optable  ">
                                                        <thead class="table-header-grey thead-inverse">
                                                            <tr>
                                                                <th class="secondary-text">
                                                                    <div class="table-header">
                                                                        <span class="column-title">Batch Date </span>
                                                                    </div>
                                                                </th>
                                                                
                                                                <th class="secondary-text">
                                                                    <div class="table-header">
                                                                        <span class="column-title">Product Process Order</span>
                                                                    </div>
                                                                </th>
                                                                <th class="secondary-text">
                                                                    <div class="table-header">
                                                                        <span class="column-title">Batch Number</span>
                                                                    </div>
                                                                </th>
                                                                <th class="secondary-text">
                                                                    <div class="table-header">
                                                                        <span class="column-title">Material Number</span>
                                                                    </div>
                                                                </th>
                                                                <th class="secondary-text">
                                                                    <div class="table-header">
                                                                        <span class="column-title">Material Memo</span>
                                                                    </div>
                                                                </th>
                                                                
                                                                
                                                                
                                                                <th class="secondary-text">
                                                                    <div class="table-header">
                                                                        <span class="column-title">Quantity</span>
                                                                    </div>
                                                                </th>
                                                                                 
                                                                                                                            
                                                                <th class="secondary-text">
                                                                    <div class="table-header">
                                                                        <span class="column-title">Completed Time</span>
                                                                    </div>
                                                                </th>
                                                                
                                                                <th class="secondary-text">
                                                                    <div class="table-header">
                                                                        <span class="column-title">Packed Time</span>
                                                                    </div>
                                                                </th>

                                                                 <th class="secondary-text">
                                                                   
                                                                        <span class="column-title">Status</span>
                                                                    
                                                                </th>
                                                                <th></th>
                                                                <th></th>
                                                                
                                                            </tr>
                                                        </thead>
                                                        <tbody class="table-border">
                                                           
                                                         	
                                                            
                                                            
                                                            <tr dir-paginate ="pendingOrder in pendingOrders | filter : searchByPo | itemsPerPage:5">
                                                                <td>{{pendingOrder.batchDate}}</td>
                                                                <td><b>{{pendingOrder.processorderProdNumber}}</b></td>
                                                                <td>{{pendingOrder.batchNumber}}</td>
                                                                <td>{{pendingOrder.productTable.productNumber}}</td>
                                                                <td>{{pendingOrder.productTable.productDescription}}</td>
                                                                <td>{{pendingOrder.totalQuantity}}</td>
                                                                <td style="width">{{pendingOrder.completedDate}}<span style="display:block;">{{pendingOrder.completedTime}}</span></td>
                                                                <td style="width">{{pendingOrder.packedDate}}<span style="display:block;">{{pendingOrder.packedTime}}</span></td>
                                                                <td><div class="labels">
                                                                    
                                                                    <div class="label badge badge-success">
                                                                        {{pendingOrder.status.statusDescription}}
                                                                    </div>
                                                                    
                                                                    <!-- <div class="label badge badge-danger">
                                                                        Blender Error
                                                                    </div> -->
                                                                </div></td>
                                                                <td>
                                                                  <a href="http://10.174.84.35:8080/static2/{{pendingOrder.batchNumber}}.pdf" target="_blank" data-toggle="tooltip" data-placement="right" title="" data-original-title="Find the Order PDF" style="float: RIGHT; padding-top: 12px;"><i class="text-red-500 s-9 icon-file-pdf"></i> </a>
                                                                </td>
                                                                <td> 

<!--  <button type="button" class="btn btn-secondary  fuse-ripple-ready" >Cancel  </button>
-->

<!-- 
                                                                 <div class="input-group-btn dropdown">
                                <button type="button" class="btn btn-secondary dropdown-toggle fuse-ripple-ready" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select   </button>
                                <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 36px, 0px); top: 0px; left: 0px; will-change: transform;">
                                  <a class="dropdown-item fuse-ripple-ready" href="#"> Delete</a>
                                  <div role="separator" class="dropdown-divider"></div>
                                  
                                  <a class="dropdown-item fuse-ripple-ready" href="#">Freez</a>
                                </div>
                              </div> -->

<script>$(".dropdown-menu a").click(function(){
  $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
  $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
});</script>

</td>
                                                            </tr>
                                                            
                                                            
                                                            
                                                            
                                                            
                                                            
                                                            
                                                            
                                                        </tbody>
                                                    </table>
                                                    <script type="text/javascript">
                                                    $('#sample-data-table').DataTable({
                                                    responsive: true
                                                    });
                                                    </script>
                                                    
                                                    <!-- the real content ends here  -->
                      
                      
                      
                      
                      
                                                
                                                    
                                                </div>
     
     
                                                             
                                                                                     
   
      <nav aria-label="pagination" class="my-8">
									  <ul class="pagination">
                                    </ul>  
									<dir-pagination-controls max-size="5" direction-links="true"
										class="paddingme  right" boundary-links="true"> </dir-pagination-controls>

<style>
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: right;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #428bca;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination>li>a:hover{
   
  
    color: white;
    text-decoration: none;
    background-color: blue;
   
}

</style>
</nav>
                            
     
  
                                            </div>
                                        </div>
                                        
                                        
                                        <!-- add user form ends here -->
                                    </div>
                                </div>
                            </div>
                            
                            
            
                            
                            <!-- content ends here -->
                        </div>
                        <script type="text/javascript" src="../assets/js/apps/dashboard/project.js"></script>
                    </div>



</div>