
<div ng-app="myAdmin" class=""> <!-- ng-app ends here -->


<div class="content-wrapper">
            
            
            
            
            <!-- pagecontent  -->
            <div class="content pageup">
                <div id="project-dashboard" class="page-layout simple  tabbed">
                    
                    <!-- content stats here  -->
                    <div class="page-content">
                        
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab">
                                <!-- add user form -->
                                <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab">
                                    <!-- add user form -->
                                    <div class=" widget widget-7 card ">
                                        <div class="description bg-purble-custom-100  ">
                                            
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="description-text ">
                                                            <h5 class="text-white-500">  <span class="text-white-500 icon-format-page-break"></span>Quarterly Production  Planner </h5>
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="col-md-5">
                                                        
                                                    </div>
                                                    <div class="col-md-1 right">
                                                        
                                                    </div>
                                                    
                                                </div>
                                                
                                            </div>
                                            
                                            
                                        </div>
                                        <!-- filter button -->
                                        <div class="widget-content p-4">
                                            
                                            
                                            <!-- content starts here -->
                                            <div class="form">
                                                <div class="row">
                                                    <div class="col-md-12 p-6" >
                                                        <h5>1. Select Quarter</h5>
                                                    </div>
                                                    <div class="col-md-3" admin-pan>
                                                        <label for="" > Please select the  year &nbsp;</label>
                                                        <select id="year" class="custom-select yearme drop-custom text-purble-custom-100 year "  >
                                                           
                                                        </select>
                                                        
                                                        
                                                        <style>
                                                        .year option{
                                                   height:30px!important;
                                                        
                                                        }
                                                        </style>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="">Please select the Quarter to Continue &nbsp; </label>
                                                        <select id="quarter" class="custom-select  drop-custom text-purble-custom-100">
                                                            <option value="1" >January - March</option>
                                                            <option value="2" >April - June</option>
                                                            <option value="3" >July - September </option>
                                                            <option value="4">October - December</option>
                                                        </select>
                                                        
                                                        <button type="button"  class="btn btn-icon  fuse-ripple-ready" data-toggle="modal" data-target="#exampleModalLive" toggle-tip="dfjdskfj" onclick="window.location.reload()" >
                                                        <i class=" text-purble-custom-100  icon-reload
                                                        "></i>
                                                        </button>
                                                        
                                                        
                                                        
                                                    </div>
                                                    
                                                    
                                                    
                                                </div>
                                                <div class="dropdown-divider"></div>
                                                <div class="row">
                                                    <div class="col-md-12 p-6" >
                                                        <h5>2. Select the Working days </h5>
                                                    </div>



												<div class="col-md-12 col-lg-12    col-sm-12 col-xs-12 cal ">
													<div class="my-info-1">
														<div id="mdp-demo1" style="display: none;"></div>
														<div id="mdp-demo2" style="display: none;"></div>
														<div id="mdp-demo3" style="display: none;"></div>
														<div id="mdp-demo4" style="display: none;"></div>
													</div>
												</div>

												<div class="col-md-5 p-6 col-lg-5 col-sm-12 col-xs-12  ">
                                                    <button type="button" id="totalDate" class="btn btn-secondary fuse-ripple-ready">Get Date Count</button>
                                                    <div class="space1x"></div>
                                                    <div class="preview">
                                                        <div class="preview-elements">
                                                            
                                                            <!-- Dates in the 'value' attribute of the altField are automatically added to the calendar -->
                                                            <label for="inputPassword1">Number of working days</label>
                                                            <input type="number"  id="daycount" value="04/19/2017, 04/21/2017"  class="form-control" disabled>
                                                            <small id="passwordHelpBlock" class="form-text text-muted">
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="dropdown-divider"></div>
                                            <div class="row">
                                                
                                                <div class="col-md-12 p-6 " >
                                                    <h5>3. Production Qty  </h5>
                                                </div>
                                                <div class="col-md-12 col-lg-5	 col-xl-5  p-6" id="plannedProd">
                                                    <div class="input-group">
                                                        <label for="inputPassword1"class="label-custom">Planned Production this Quarter</label>
                                                        <span class="input-group-addon"></span>
                                                        <input type="number" id="qty" value="0" class="form-control"><span class="input-group-addon" disabled>MT</span>
                                                    </div>
                                                    <span class="center">
                                                        
                                                    </span>
                                            </div>
                                                <div class="col-md-12 p-6 col-lg-5 col-xl-5" id="addtionalPlannedProd">
                                                    <div class="input-group">
                                                        <label for="inputPassword1" class="label-custom">Additional Production this Quarter</label>
                                                        <span class="input-group-addon"></span>
                                                        <input type="number" id="addQty" value="0" class="form-control"><span class="input-group-addon">MT</span>
                                                        <input type="number" id="datesInp" style="display:none;" value="0" class="form-control"/>
                                                        <!-- </br> -->
                                                       
                                                        
                                                    </div>
                                                    <!-- <span class="center" >
                                                         <div class=" error-down" style="display="block"> Invalid additional quantity
                                                        </div>
                                                    </span> -->
                                            </div>
                                            
                                            <div class="col-md-5 p-6" >
                                                <button type="button" id="totalDate" class="btn btn-secondary fuse-ripple-ready" onclick="addme();">Calculate</button>
                                            </div>                                          
                                            </div> 
                                        </div>
                                        <div class="dropdown-divider"></div>
                                        <div class="container p-6">
                                            <div class="row">
                                                
                                                <div class="col-md-12 p-6 col-lg-5 col-xl-5" >
                                                    <div class="preview"><div class="preview-elements">
                                                        <label for="inputPassword1"  id="pppDay" class="label-custom">Planned Production Per day</label>
                                                        <input type="text" id="day1"  class="form-control"  value="0" disabled="disabled">
                                                        <small id="passwordHelpBlock" class="form-text text-muted">
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 p-6 col-lg-5 col-xl-5" >
                                                <div class="preview"><div class="preview-elements">
                                                    <label for="inputPassword1" id="pppWeek" class="label-custom">Planned Production Per week</label>
                                                    <input type="text" id="week"value="0"  class="form-control"  value="0" disabled="disabled">
                                                    <small id="passwordHelpBlock" class="form-text text-muted">
                                                    
                                                    </small>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-3 p-6" >
                                            <button type="button" id="totalDate" class="btn btn-secondary fuse-ripple-ready" onclick ="addPlanner();">Save</button>
                                        </div>
                                          <!-- <div class="col-md-5 p-6" id="added">
                                            </div> -->
                                    </div>
                                </div>
                                
                                
                            </div>
                        </div>
                    </div>
                    <!-- content ends here -->
                    
                </div>
            </div>
        </div>
      
    </div>
</div>
</div>
</div>
</div>
<input type="hidden" id="planExist"/>
<script type="text/javascript" src="js/planner.js"></script>

