
<div ng-app="myAdmin" class="">

<div id="bd-example-modal-lg" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header  bg-purble-custom-100 text-auto text-white-500">
                <h4 class="modal-title" id="myLargeModalLabel" >Temperature Deviation Details </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" >
            <div class="row">
<div class="col-md-6"><p>Process Order : {{tempProcessOrder}}</p></div>
<div class="col-md-6">   <button class="btn btn-primary right" style="margin-bottom:10px; margin-right:19px" ng-click="temperatureReport()">   <i class="icon-cloud-download
mx-1 "></i>Download</button></div>

</div>
       
               <!-- <button class="btn btn-primary right" style="margin-bottom:10px; margin-right:19px" ng-click="temperatureReport()">Download</button>
               <button ng-show="showPackDownload" class="btn btn-primary right" style="margin-bottom:10px; margin-right:19px" ng-click="temperatureReport()">Download</button> -->
               
  <table class="table table-fixedme thead-inverse">
    <thead>
         
              <tr>
             <th>Serial No</th>
              <th>Temperature</th>
               <th>Time</th>
         
              </tr>
              
    </thead>
    <tbody>
   
              <tr ng-repeat="tempDetail in tempDetails track by $index">
              <td>{{$index+1}}</td>
              <td>{{tempDetail.temperature}}</td>
               <td>{{tempDetail.time}}</td>
              </tr>  
    </tbody>
  </table>
               
               
               
               
            </div>
        </div>
    </div>
</div>
	<div class="content pageup">
		<div id="project-dashboard" class="page-layout simple  tabbed">

			<!-- content start here -->


			<div class="page-content">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item"><a
						class="nav-link btn active fuse-ripple-ready" id="home-tab"
						data-toggle="tab" role="tab" aria-controls="home" ng-click ="goToRmDetails()"
						aria-expanded="true"> Raw Material Charging </a></li>
					<li class="nav-item"><a class="nav-link btn fuse-ripple-ready"
						id="profile-tab" data-toggle="tab" role="tab" ng-click ="goToPackDetails()"
						aria-controls="profile"> Packaging </a></li>
				</ul>
				<div class="tab-content" id="myTabContent">
					<div role="tabpanel" class="tab-pane fade show active" id="home"
						aria-labelledby="home-tab">
						
						
						
						<div class="container" ng-show = "showRm"
							style="background-color: white; padding: 20px; border-top: 0.5px solid #dfdfdf; border-right: 0.5px solid #dfdfdf; border-left: 0.5px solid #dfdfdf;">

							<div class="row">


								<div class="form-group col-md-4">
									<input class="form-control md-has-value" type="date"
										value="2011-08-19" id="example-date-input" ng-model="formDate"> <label
										for="example-date-input">From Date</label>
								</div>

								<div class="form-group col-md-3">
									<input class="form-control md-has-value" type="date"
										value="2011-08-19" id="example-date-input"ng-model="toDate" > <label
										for="example-date-input">To Date</label>
								</div>
								<div class="form-group col-md-2 " style="margin-top: -2px;">
											
									<button type="submit" class="btn btn-primary fuse-ripple-ready" ng-click="getEmailDataWithRange(formDate,toDate)">Go</button>
								</div>
								<div class="form-group col-md-3">
								<div class="input-group">
								<span class="input-group-addon" id="basic-addon1">
										<i class="icon-search-web 	
    											"></i></span>
										 <input
											type="text" class="form-control" ng-model="searchFor"
											aria-label="Username" aria-describedby="basic-addon1" value="Search..."  Placeholder="Search..">
									</div>
									
							
								</div>
								
								
									
				<div class =" col-md-12">
				<div class="col-md-6 ">
				<flash-message style="text-align:center" class="flash-custom" duration="10000"></flash-message>
				<!-- <p style="text-align:center">sdfsmfklsjfksef j ds jfnkdsf ndskjf js kdjsdkfjskdjskfjskfjsf jnfdsjknfjks 
				</p> -->
				</div>
				
				</div>
				
				
		
								
								
								
							</div>
						</div>
						
						
		
						
						
						<div class="linkshow" style="color: white !important;" ng-show ="showRmMessage">
														<a class="nav-link ripple fuse-ripple-ready collapsed">
															<b>No results found while RM charging</b>
														</a>
													</div>








						<table class="table" ng-show = "showRmTable">
							<thead class="thead-inverse">
								<tr>
									<th>Date</th>
									<th>Po - Order</th>

									<th>SSO</th>
									<th>User Name</th>
									<th>No. of Alerts</th>
									<th>Reactor</th>
									<th>Details</th>
								</tr>
							</thead>
							<tbody style="background-color: white; padding: 20px; border-top: 0.5px solid #dfdfdf;border-bottom: 0.5px solid #dfdfdf; border-right: 0.5px solid #dfdfdf; border-left: 0.5px solid #dfdfdf;">
								<tr ng-repeat="EmailData in EmailDatas | filter: searchFor">
									<!-- <th scope="">
									
									   <div  data-toggle="modal" data-target="#bd-example-modal-lg"  class=" text-purble-custom-100" >  {{EmailData.time}}  </div>
	
									
									      </th> -->
									     
									<td>{{EmailData.time}}</td>
									<td>{{EmailData.processOrder}} </td>
									<td>{{EmailData.sso}} </td>
									<td>{{EmailData.userName}} </td>
									<td>{{EmailData.noOfAlert}}  </td>
									<td>{{EmailData.reactor}}  </td>
									<td>
									<button class="btn btn-primary" data-toggle="modal" data-target="#bd-example-modal-lg" ng-click ="tempDetailsOfRm(EmailData.processOrder,EmailData)" >Show Details</button>
									</td>
									
									</tr>
									
									
									
							
									
									
									
							</tbody>
						</table>
						
						<!-- <div class="space1x"></div> -->
						
						<!-- this start this  -->
						
						
						
						<div class="container " ng-show = "showPack"
							style="background-color: white; padding: 20px; border-top: 0.5px solid #dfdfdf; border-right: 0.5px solid #dfdfdf; border-left: 0.5px solid #dfdfdf;">

							<div class="row">


								<div class="form-group col-md-4">
									<input class="form-control md-has-value" type="date"
										value="2011-08-19" id="example-date-input" ng-model="fromDate"> <label
										for="example-date-input">From Date</label>
								</div>

								<div class="form-group col-md-3">
									<input class="form-control md-has-value" type="date"
										value="2011-08-19" id="example-date-input"ng-model="endDate" > <label
										for="example-date-input">To Date</label>
								</div>
								<div class="form-group col-md-2 " style="margin-top: -2px;">
											
									<button type="submit" class="btn btn-primary fuse-ripple-ready" ng-click="filterByDates(fromDate,endDate)">Go</button>
								</div>
								<div class="form-group col-md-3">
								<div class="input-group">
								<span class="input-group-addon" id="basic-addon1">
										<i class="icon-search-web 	
    											"></i></span>
										 <input
											type="text" class="form-control" ng-model="searchBy"
											aria-label="Username" aria-describedby="basic-addon1" value="Search..." >
									</div>
									
							
								</div>
								<div class =" col-md-12">
				<div class="col-md-6 ">
				<flash-message style="text-align:center" class="flash-custom" duration="10000"></flash-message>
				<!-- <p style="text-align:center">sdfsmfklsjfksef j ds jfnkdsf ndskjf js kdjsdkfjskdjskfjskfjsf jnfdsjknfjks 
				</p> -->
				</div>
				
				</div>
							</div>
						</div>
						<div class="linkshow" style="color: white !important;" ng-show = "showMessage">
														<a class="nav-link ripple fuse-ripple-ready collapsed">
															<b>No results found while Packing</b>
														</a>
													</div>

						<table class="table" ng-show = "showPackTable"	>
							<thead class="thead-inverse">
								<tr>
									<th>Date</th>
									<th>Po - Order</th>

									<th>SSO</th>
									<th>User Name</th>
									<th>No. of Alerts</th>
									<th>Reactor</th>
									<th>Details</th>
								</tr>
							</thead>
							<tbody style="background-color: white; padding: 20px; border-top: 0.5px solid #dfdfdf;border-bottom: 0.5px solid #dfdfdf; border-right: 0.5px solid #dfdfdf; border-left: 0.5px solid #dfdfdf;">
								<tr ng-repeat="packingAlert in packingAlerts | filter: searchBy">
									<!-- <th scope="">
									
									   <div  data-toggle="modal" data-target="#bd-example-modal-lg"  class=" text-purble-custom-100" >  {{EmailData.time}}  </div>
	
									
									      </th> -->
									     
									<td>{{packingAlert.time}} </td>
									<td>{{packingAlert.processOrder}} </td>
									<td>{{packingAlert.sso}} </td>
									<td>{{packingAlert.userName}} </td>
									<td>{{packingAlert.noOfAlert}}  </td>
									<td>{{packingAlert.reactor}} </td>
									<td>
									<button class="btn btn-primary" data-toggle="modal" data-target="#bd-example-modal-lg" ng-click ="tempDetailsOfPack(packingAlert.processOrder)">Show Details</button>
									</td>
									
									</tr>
									
									
									
							
									
									
									
							</tbody>
						</table>
						<!-- ends here  -->
						
						
						

					</div>



					
				</div>
			</div>
			<!-- content ends here  -->
		</div>
	</div>
	<!-- content ends here -->

</div>