<div class="content" ng-controller="myCtrl">
	<div id="project-dashboard"
		class="page-layout simple right-sidebar tabbed">
		<!-- content stats here  -->
		<div class="page-content ">
			<div class="tab-content">
				<div class="tab-pane fade show active" id="home-tab-pane"
					role="tabpanel" aria-labelledby="home-tab">
					<!-- add user form -->
					<div class="widget widget-7 card pageup">
						<div class="description bg-purble-custom-100 "
							style="width: 1000px;">
							<div class="description-text ">
								<h5 class="text-white-500">
									<span class="text-white-500 icon-auto-upload"></span>
									Upload Production Process Order
								</h5>
							</div>
						</div>
						<div class="widget-content p-4">


							<div class="list-group">
								<div class="row">
									<div class="col-md-12 ">
										<div class="colorme"">
											<!--upload starts here -->
											<div class="form-group">
												<label for="exampleFormControlFile1">File
													input</label> 
													<input type="file" class="form-control-file" file-model="myFile">
											</div>
											<!-- <div class="form-group" style="color: red;" ng-show="msgForSuccess">
												Process Order Uploaded Successfully
											</div> -->
											<div class="form-group col-md-7" >
												<flash-message class="flash-custom" duration="5000"></flash-message>
											</div>
											<!-- <div class="form-group" style="color: red;" ng-show="msgForError">
												Unable to upload. Please contact
											</div> -->
											<button type="button"
												class="btn btn-secondary  fuse-ripple-ready"
												ng-click="uploadFileForProd()">Upload</button>


											<!-- //upload starts here -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- add user form ends here -->
					<!-- / WIDGET GROUP -->
				</div>
			</div>
		</div>
	</div>

	<!-- -------------------------- -->

	