


<div id="delete" class="modal fade" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">

			<div class="modal-header bg-purble-custom-100">
				<h5 class="modal-title text-white-500" id="exampleModalLabel">Confirm To
					Delete User : {{ deleteInfo.userName }}</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close" ng-click="removeModal()">

					<span aria-hidden="true"><i
						class="text-white-500 icon-close"></i></span>
				</button>

			</div>


			<div class="modal-body">
				<p>Do you want to delete this person? You can't Undo this Action</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary fuse-ripple-ready"
					data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary fuse-ripple-ready" data-dismiss="modal"
				 ng-click="deleteUser(deleteInfo.userId)">Confirm</button>
			</div>
		</div>
	</div>
</div>




<div id="editModal" class="modal fade" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header bg-purble-custom-100">
				<h5 class="modal-title text-white-500" id="exampleModalLabel">Edit
					User</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close" ng-click="removeModal()">

					<span aria-hidden="true"><i
						class="text-white-500 icon-close"></i></span>
				</button>

			</div>
			<div class="modal-body">


				<form name="editForm" class="form-pad1x" novalidate>
					<div class="form-row">
						<div class="form-group col-md-12  ">
							<label for="inputEmail4" class="col-form-label">User Name</label>
							<input type="text" name="userName"
								class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched"
								ng-model="editInfo.userName" placeholder="Enter User Name"
								required> <span class="error-down"
								ng-show="editForm.userName.$error.required &amp;&amp; editForm.userName.$touched ">Name
								is required.</span>
						</div>
						<div class="form-group col-md-12 ">
							<label for="inputEmail4" class="col-form-label">Email </label> <input
								type="text" name="email" class="form-control"
								ng-pattern="/^[a-zA-Z]+[a-zA-Z0-9._]+@[a-zA-Z]+\.[a-zA-Z.]{2,5}$/"
								ng-model="editInfo.email" placeholder="Enter Email" required>
							<span class="error-down"
								ng-show="editForm.email.$error.required && editForm.email.$touched">Email
								is required.</span> <span style="color: Red"
								ng-show="editForm.email.$dirty&&editForm.email.$error.pattern">Invalid
								Email </span>
						</div>
						<div class="form-group col-md-12">
							<label for="inputEmail4" class="col-form-label">Mobile
								Number </label> <input type="text" name="mobile"
								data-format="+91 (ddd) dd-ddd-dd" required
								class="form-control bfh-phone" ng-pattern="/^[0-9]{10,10}$/"
								ng-model="editInfo.phoneNumber"
								placeholder="Enter Mobile Number" required> <span
								class="error-down"
								ng-show="editForm.mobile.$error.required &amp;&amp; editForm.mobile.$touched ">Mobile
								is required.</span> <span class="error-down"
								ng-show="editForm.mobile.$dirty&&editForm.mobile.$error.pattern">Invalid
								Mobile Number </span>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button"
					class="btn bg-purble-custom-100 text-white-500 fuse-ripple-ready" ng-disabled="editForm.$invalid"
					data-dismiss="modal" ng-click="upadteUserInfo(editInfo.userId)">Update</button>
			</div>
		</div>
	</div>
</div>


<div class="content ">
	<div id="project-dashboard"
		class="page-layout simple right-sidebar tabbed">
		<!-- content stats here  -->
		<div class="page-content">
			<div class="tab-content">
				<div class="tab-pane fade show active" id="home-tab-pane"
					role="tabpanel" aria-labelledby="home-tab">
					<!-- add user form -->
					<div class="widget widget-7 card pageup">
						<div class="description bg-purble-custom-100 ">
							<div class="description-text ">
								<h5 class="text-white-500">
									<span class="text-white-500 icon-message-alert"></span>&nbsp;Users
									Details for Alerts
								</h5>
							</div>
						</div>
						<div class="widget-content p-4">
							<div class="list-group">
								<div class="row">
									<div class="col-md-12 ">
										<div class="colorme"">
											<!--upload starts here -->
											<div class="row">
												<div class="col-md-12">
													<form name="userForm" novalidate>
														<div class="form-row">
															<div class="form-group col-md-3  ">
																<label for="inputEmail4" class="col-form-label">User
																	Name</label> <input type="text" name="userName"
																	class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched"
																	ng-model="userDetails.userName"
																	placeholder="Enter User Name" required> <span
																	class="error-down"
																	ng-show="userForm.userName.$error.required &amp;&amp; userForm.userName.$touched ">Name
																	is required.</span>
															</div>
															<div class="form-group col-md-3 ">
																<label for="inputEmail4" class="col-form-label">Email
																</label> <input type="text" name="email" class="form-control"
																	ng-pattern="/^[a-zA-Z]+[a-zA-Z0-9._]+@[a-zA-Z]+\.[a-zA-Z.]{2,5}$/"
																	ng-model="userDetails.email" placeholder="Enter Email"
																	required> <span class="error-down"
																	ng-show="userForm.email.$error.required && userForm.email.$touched">Email
																	is required.</span> <span style="color: Red"
																	ng-show="userForm.email.$dirty&&userForm.email.$error.pattern">Invalid
																	Email </span>
															</div>
															<div class="form-group col-md-3">
																<label for="inputEmail4" class="col-form-label">Mobile
																	Number </label> <input type="text" name="mobile"
																	data-format="+91 (ddd) dd-ddd-dd" required
																	class="form-control bfh-phone"
																	ng-pattern="/^[0-9]{10,10}$/"
																	ng-model="userDetails.phoneNumber"
																	placeholder="Enter Mobile Number" required> <span
																	class="error-down"
																	ng-show="userForm.mobile.$error.required &amp;&amp; userForm.mobile.$touched ">Mobile
																	is required.</span> <span class="error-down"
																	ng-show="userForm.mobile.$dirty&&userForm.mobile.$error.pattern">Invalid
																	Mobile Number </span>
															</div>
															<div class="form-group col-md-3 ">

																<button type="submit" ng-disabled="userForm.$invalid"
																	ng-click="addUser()"
																	class="btn btn-primary fuse-ripple-ready center">Add
																	User</button>
															</div>
														</div>
													</form>
												</div>

												<div class="space1x"></div>
												<hr>
											</div>
											<table id="sample-data-table" class=" table table-responsive optable ">
												<thead class="thead-dark"
													style="background-color: #202528; color: white;">
													<tr>
														<th class="secondary-text">
															<div class="">
																<span class="column-title">User Name </span>
															</div>
														</th>

														<th class="secondary-text">
															<div class="">
																<span class="column-title">Email</span>
															</div>
														</th>

														<th class="secondary-text">
															<div class="">
																<span class="column-title">Phone</span>
															</div>
														</th>
														<th class="secondary-text">
															<div class="">
																<span class="column-title">Action</span>
															</div>
														</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="user in users">
														<td>{{user.userName}}</td>
														<td>{{user.email}}</td>
														<td>{{user.phoneNumber}}</td>
														<td>
															<button type="button" data-toggle="modal"
																data-target="#editModal" ng-click="editUser(user)"
																class="btn btn-light btn-fab btn-sm fuse-ripple-ready">
																<i class="icon-account-edit"></i>
															</button>

															<button type="button" data-toggle="modal"
																data-target="#delete" ng-click="confirm(user)"
																class="btn btn-danger btn-fab btn-sm fuse-ripple-ready">
																<i class="icon-delete-forever"></i>
															</button>
														</td>
													</tr>
												</tbody>
											</table>
											<!-- //upload starts here -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- add user form ends here -->
					<!-- / WIDGET GROUP -->
				</div>
			</div>
		</div>
		<!-- content ends here -->
	</div>

</div>